<template>
    <a-modal :visible="openModal" :width="'95%'"
        :ok-button-props="{ style: { display: 'none' } }" @cancel="closeModal"
        cancel-text="Cerrar" :z-index="1200" @ok="closeModal">
        <div class="header-modal-report">
            <div class="header-modal-report--right">
                <span style="font-size: 1.5em; font-weight: bold;">Reporte de deuda por conductor</span>
            </div>
        </div>
        <br>
        <a-table :columns="columns_modal_by_month_in_stand" :row-key="(record, index) => index"
            :data-source="listAccountStatusByMonthInStand" :pagination="false">
            <span slot="ene" slot-scope="text,record">{{ record[1].total }}
                {{ Number.isInteger(record[1].fractionary_id) ? '-F' : Number.isInteger(record[1].coactive_id) ? '-C' :
                    '' }}</span>
            <span slot="feb" slot-scope="text,record">{{ record[2].total }}
                {{ Number.isInteger(record[2].fractionary_id) ? '-F' : Number.isInteger(record[2].coactive_id) ? '-C' :
                    '' }}</span>
            <span slot="mar" slot-scope="text,record">{{ record[3].total }}
                {{ Number.isInteger(record[3].fractionary_id) ? '-F' : Number.isInteger(record[3].coactive_id) ? '-C' :
                    '' }}</span>
            <span slot="abr" slot-scope="text,record">{{ record[4].total }}
                {{ Number.isInteger(record[4].fractionary_id) ? '-F' : Number.isInteger(record[4].coactive_id) ? '-C' :
                    '' }}</span>
            <span slot="may" slot-scope="text,record">{{ record[5].total }}
                {{ Number.isInteger(record[5].fractionary_id) ? '-F' : Number.isInteger(record[5].coactive_id) ? '-C' :
                    '' }}</span>
            <span slot="jun" slot-scope="text,record">{{ record[6].total }}
                {{ Number.isInteger(record[6].fractionary_id) ? '-F' : Number.isInteger(record[6].coactive_id) ? '-C' :
                    '' }}</span>
            <span slot="jul" slot-scope="text,record">{{ record[7].total }}
                {{ Number.isInteger(record[7].fractionary_id) ? '-F' : Number.isInteger(record[7].coactive_id) ? '-C' :
                    '' }}</span>
            <span slot="ago" slot-scope="text,record">{{ record[8].total }}
                {{ Number.isInteger(record[8].fractionary_id) ? '-F' : Number.isInteger(record[8].coactive_id) ? '-C' :
                    '' }}</span>
            <span slot="set" slot-scope="text,record">{{ record[9].total }}
                {{ Number.isInteger(record[9].fractionary_id) ? '-F' : Number.isInteger(record[9].coactive_id) ? '-C' :
                    '' }}</span>
            <span slot="oct" slot-scope="text,record">{{ record[10].total }}
                {{ Number.isInteger(record[10].fractionary_id) ? '-F' : Number.isInteger(record[10].coactive_id) ? '-C'
                    : '' }}</span>
            <span slot="nov" slot-scope="text,record">{{ record[11].total }}
                {{ Number.isInteger(record[11].fractionary_id) ? '-F' : Number.isInteger(record[11].coactive_id) ? '-C'
                    : '' }}</span>
            <span slot="dic" slot-scope="text,record">{{ record[12].total }}
                {{ Number.isInteger(record[12].fractionary_id) ? '-F' : Number.isInteger(record[12].coactive_id) ? '-C'
                    : '' }}</span>

            <!-- <template slot="footer"  slot-scope="currentPageData">
                    <div class="table-footer"><b>Suma Total:</b> {{Number.parseFloat(titular.total).toFixed(2)}}</div>
                </template> -->

        </a-table>
    </a-modal>
</template>
<script>
import Repository from "../../repositories/RepositoryFactory";
const StandRepository = Repository.get("stand");

const columns_modal_by_month_in_stand = [
    { title: 'Año', dataIndex: 'year', key: 'year', align: 'center' },
    { title: 'Ene', dataIndex: 1, key: 1, scopedSlots: { customRender: "ene" }, align: 'right' },
    { title: 'Feb', dataIndex: 2, key: 2, scopedSlots: { customRender: "feb" }, align: 'right' },
    { title: 'Mar', dataIndex: 3, key: 3, scopedSlots: { customRender: "mar" }, align: 'right' },
    { title: 'Abr', dataIndex: 4, key: 4, scopedSlots: { customRender: "abt" }, align: 'right' },
    { title: 'May', dataIndex: 5, key: 5, scopedSlots: { customRender: "may" }, align: 'right' },
    { title: 'Jun', dataIndex: 6, key: 6, scopedSlots: { customRender: "jun" }, align: 'right' },
    { title: 'Jul', dataIndex: 7, key: 7, scopedSlots: { customRender: "jul" }, align: 'right' },
    { title: 'Ago', dataIndex: 8, key: 8, scopedSlots: { customRender: "ago" }, align: 'right' },
    { title: 'Set', dataIndex: 9, key: 9, scopedSlots: { customRender: "set" }, align: 'right' },
    { title: 'Oct', dataIndex: 10, key: 10, scopedSlots: { customRender: "oct" }, align: 'right' },
    { title: 'Nov', dataIndex: 11, key: 11, scopedSlots: { customRender: "nov" }, align: 'right' },
    { title: 'Dic', dataIndex: 12, key: 12, scopedSlots: { customRender: "dic" }, align: 'right' },
    { title: 'Total', dataIndex: 'total', key: 'total', align: 'right' },
];

export default {
    props: ['filters'],
    data() {
        return {
            openModal: true,
            listAccountStatusByMonthInStand: [],
            columns_modal_by_month_in_stand,
            censusFilters: {}
        }
    },
    mounted() {
        this.censusFilters = {...this.filters}
        this.censusFilters.payment_status = '0'
        delete this.censusFilters.paginate;
        this.onLoad();
	},
    methods: {
        closeModal() {
            this.openModal = false;
            this.$emit('updateShowCensusByMonthModal', false);
        },
        async onLoad() {
            this.listAccountStatusByMonthInStand = [];
            let { data } = await StandRepository.getAccountStatusByMonth(this.censusFilters);
            this.listAccountStatusByMonthInStand = StandRepository.dataStatusAccounFormatInTable(data);
            this.listAccountStatusByMonthInStand = StandRepository.sumTotalDebtxYear(this.listAccountStatusByMonthInStand);
        }
    }
}
</script>