<template>
    <a-modal :visible="openModal" :key="censusModal" :width="'95%'"
        :dialogStyle="{ 'top': '10px' }" :ok-button-props="{ style: { display: 'none' } }"
        @cancel="closeModal" cancel-text="Cerrar" @ok="closeModal">
        <div class="list-debts">
            <div class="header-modal-report">
                <div class="header-modal-report--left">
                    <img src="/images/logomuni.png" alt="image logo">
                </div>
                <div class="header-modal-report--right">
                    <span style="font-size: 1.5em;font-weight: bold;">{{ company.name }} </span>
                    <span style="font-size: 1.3em;">{{ company.city }} - RUC. {{ company.ruc }}</span>
                    <span style="font-size: 1.3em;">Relación de Deudas del Mercado -
                        <strong>{{ currentMarket.name }}</strong></span>
                </div>
            </div>

            <div class="table-operations">
                <a-form layout="inline">
                   
                    <a-select @change="fetchResumeMarketByStands()" v-model="market_by_stand_filters.payment_status"
                        style="width: 150px" size="small" placeholder="Seleccione">
                        <a-select-option value="1">Pagado</a-select-option>
                        <a-select-option value="0">Deuda</a-select-option>
                        <a-select-option value="-1">Todos</a-select-option>
                    </a-select>
                    <a-divider type="vertical" />
                    <!-- Mercado-->
                    <a-select v-model="market_by_stand_filters.market_id" size="small" placeholder="Mercado"
                        @change="handleChangeMarketInModal()" style="width: 150px" :allowClear="false">
                        <a-select-option v-for="market in marketsTemp" :key="market.market_id">
                            {{ market.name }}
                        </a-select-option>
                    </a-select>
                    <!-- Sector -->
                    <a-divider type="vertical" />
                    <select-sector-component style="width:200px" :size="'small'"
                        :sector_id="market_by_stand_filters.sector_id" v-on:handleSelectSectors="changeSelectSectors" ref="sectorComponentInCensusModal"/>
                    <!-- Concepto -->
                    <select-concept-component :id="market_by_stand_filters.concept_id" size="small" style="width:200px"
                        v-on:handleChange="handleResumeChangeConcept" />
                    <!-- SELECT YEAR MHONT -->
                    <a-divider type="vertical" />
                    <a-select v-model="datePickerMode" style="width: 120px" @change="handleDatePickerModeChange" placeholder="Seleccione.." size="small" :allowClear="false" >
                       <a-select-option value="month">Mes</a-select-option>
                       <a-select-option value="year">Año</a-select-option>
                    </a-select>

                    <!-- Años -->
                    <a-divider type="vertical" />
                  
                        <a-range-picker :locale="locale" :placeholder="datePickerMode === 'month' ? ['Mes Inicio', 'Mes Final'] : ['Año Inicio', 'Año Final']"
                          style="width: 240px" size="small" :format="datePickerMode == 'month' ? 'YYYY-MM-DD' : 'YYYY'"  :mode="mode2" :value="value_market_by_stands"
                          :picker="datePickerMode" @change="handlePanelChangeMarketByStand" @panelChange="handlePanelChangeMarketByStand" @openChange="handleOpenChangeStands"
                          :open="rangepickerstate.isopestands"
                          />
                    <a-button type="primary" size="small" @click="fetchResumeMarketByStands"><a-icon
                            type="reload" /></a-button>
                    <a-divider type="vertical" />
                    <a-dropdown-button type="primary" size="small">
                        Exportar
                        <a-menu slot="overlay" @click="handleExportMarketByStandsClick">
                            <a-menu-item key="pdf"><a-icon type="file-pdf" /> PDF </a-menu-item>
                            <a-menu-item key="excel"><a-icon type="file-excel" /> Excel </a-menu-item>
                        </a-menu>
                    </a-dropdown-button>
                </a-form>
            </div>
            <!--  prop in a-table :scroll="{x: '90%', y: 600 }" -->
            <a-table :data-source="listAccountStatusStandsMarket" :scroll="{ x: '100%', y: 400 }"
                :customRow="customRowStand" :columns="columns_market_by_stands" :row-key="(record, index) => index"
                :pagination="paginationMarketStandDebt" @change="handleMarketStandTableChange" :loading="loadingModal">
                <span slot="name" slot-scope="text,record">{{ record.titular_lastname }}, {{ record.titular_name }}</span>
                <template slot="year" slot-scope="year"> {{ Intl.NumberFormat('en-US', {
                    style: 'decimal',
                    minimumFractionDigits: 2, maximumFractionDigits: 2
                }).format(year).replace(/,/g, "'") }} </template>
                <template slot="footer" slot-scope="currentPageData">
                    <!-- <div class="table-footer"><b>Suma Total:</b> {{Number.parseFloat(totalSector).toFixed(2)}}</div> -->
                    <div className="ant-table ant-table-default ant-table-scroll" style="overflow-x:scroll">
                        <table v-if="isyear">
                            <thead className="ant-table-thead">
                                <tr>
                                    <th v-for="(item, index) in name_years_of_debt" style="width:120px ">
                                        {{ name_years_of_debt[(name_years_of_debt.length - 1) - index].year }}
                                    </th>
                                </tr>
                                <tr>
                                    <td v-for="(item, index) in name_years_of_debt" style="width:120px ">
                                        {{ Intl.NumberFormat('en-US', {
                                            style: 'decimal', minimumFractionDigits:
                                                2, maximumFractionDigits: 2
                                        }).format(name_years_of_debt[(name_years_of_debt.length - 1) -
                                            index].total).replace(/,/g, "'") }}
                                    </td>
                                </tr>
                            </thead>
                        </table>
                        <table v-if="!isyear">
                            <thead className="ant-table-thead">
                                <tr>
                                    <th v-for="(item, index) in name_years_of_debt" style="width:120px"> {{ monthsName[item.month-1] }}</th>
                                </tr>
                                <tr>
                                    <td v-for="(item, index) in name_years_of_debt" style="width:120px">
                                        {{ Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 2, maximumFractionDigits: 2}).format(item.total).replace(/,/g, "'") }}
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </template>
            </a-table>
        </div>

        <CensusByMonthModalComponent v-if="showModalResumeStatusAccountStandByMonth"
            :filters="filtersForCensusByMonth"
            @updateShowCensusByMonthModal="showModalResumeStatusAccountStandByMonth=false">
        </CensusByMonthModalComponent>
    </a-modal>
</template>
<script>
import CensusByMonthModalComponent from "./CensusByMonthModalComponent.vue";
import moment from 'moment';
import 'moment/locale/es';
moment.locale('es');
import locale from 'ant-design-vue/es/date-picker/locale/es_ES';
import Repository from "../../repositories/RepositoryFactory";
const StandRepository = Repository.get("stand");
const MarketRepository = Repository.get("market");
const { BAJP_CONCEPT_ID, COMPANY_ID, DEBT_TYPE_NORMAL } = require("../../constants");

const key = 'updatable';
const columns_data_market = [
    { title: 'Puesto', dataIndex: 'stand_code', key: 'stand_code', width: '60px' },
    { title: 'Sector', dataIndex: 'sector_name', key: 'sector_name', width: '100px' },
    { title: 'DNI', dataIndex: 'titular_dni', key: 'titular_dni', width: '100px' },
    { title: 'Titular', key: 'name', scopedSlots: { customRender: "name" }, width: '285px' },
    { title: 'Tasa', dataIndex: 'rate_amount', key: 'rate_amount', align: 'right', width: '85px' },
    { title: 'Total', dataIndex: 'total', key: 'total', align: 'right', width: '85px' },
];

const columns_data_month = [
    { title: 'Puesto', dataIndex: 'stand_code', key: 'stand_code', width: '60px' },
    { title: 'Sector', dataIndex: 'sector_name', key: 'sector_name', width: '100px' },
    { title: 'DNI', dataIndex: 'titular_dni', key: 'titular_dni', width: '100px' },
    { title: 'Titular', dataIndex: 'titular_name', key: 'name', scopedSlots: { customRender: "name" }, width: '285px' },
   /* { title: 'Apellidos', dataIndex: 'titular_lastname', key: 'titular_lastname', scopedSlots: { customRender: "titular_lastname" }, width: '285px' },*/
    { title: 'Tasa', dataIndex: 'rate_amount', key: 'rate_amount', align: 'right', width: '85px' },
    { title: 'Total', dataIndex: 'total', key: 'total', align: 'right', width: '85px' },
];
const monthsName = ['ENE','FEB','MAR','ABR','MAY','JUN','JUL','AGO','SET','OCT','NOV','DIC'];

const dataFormatInTable = ({data, columns, tableName='principal', groupField='name'}) => {
    
    let list = []
    data.forEach(element => {
        let index = (tableName == 'principal')
            ? list.findIndex(item => item[groupField] == element[groupField])
            : list.findIndex(item => item.stand_code == element.stand_code); // Ubicamos el indice del año
        if (index > -1) {
            // existe año registrado
            list[index][`year${element.year}`] = Number.parseFloat(element.total);
        } else {
            // no existe año registrado. registrar!!
            let dataObjet = {};
            columns.map(item => item.dataIndex).forEach(element => {
                dataObjet[`${element}`] = 0;
            });
            const sizeList = list.push(dataObjet) // agregamos la estructura del objeto
            switch (tableName) {
                case 'principal':
                    // propiedadess para la tabla de la vista principal
                    list[sizeList - 1]['name'] = element.name;
                    if (list[sizeList - 1].hasOwnProperty('sectorname')) {
                        list[sizeList - 1]['sectorname'] = element.sectorname;
                    }
                    if (list[sizeList - 1].hasOwnProperty('gyrename')) {
                        list[sizeList - 1]['gyrename'] = element.gyrename;
                    }
                    list[sizeList - 1]['code'] = element.code;
                    list[sizeList - 1]['address'] = element.address;
                    list[sizeList - 1]['market_id'] = element.market_id;
                    list[sizeList - 1][`year${element.year}`] = Number.parseFloat(element.total);

                    break;
                case 'modal':
                    // propiedadess para la tabla del modal
                    list[sizeList - 1]['stand_code'] = element.stand_code;
                    list[sizeList - 1]['sector_name'] = element.sector_name;
                    /*list[sizeList - 1]['gyre_name'] = element.gyre_name;*/
                    list[sizeList - 1]['titular_name'] = element.titular_name;
                    list[sizeList - 1]['titular_lastname'] = element.titular_lastname;
                    list[sizeList - 1]['titular_dni'] = element.titular_dni;
                    list[sizeList - 1]['rate_amount'] = element.concept_id == BAJP_CONCEPT_ID ? element.rate_amount_secondary : element.rate_amount;
                    list[sizeList - 1]['stand_id'] = element.stand_id;
                    list[sizeList - 1][`year${element.year}`] = Number.parseFloat(element.total).toFixed(2);
                    break;
            }
        }
    });
    return list;
};


const dataFormatInTable2 = ({dataSource, columns, tableName='principal', groupField='titular_name'}) => {
    let list = [];
    //console.log( "table", dataSource , tableName, groupField );
    //principal, titular_name
    dataSource.forEach(element => {

        const index = (tableName == 'principal')
            ? list.findIndex(item => item[groupField] == element[groupField])
            : list.findIndex(item => item.stand_code == element.stand_code); 
        if (index > -1) {
            // existe año registrado
            list[index][`month${element.month}`] = Number.parseFloat(element.total);
        } else {
            // no existe año registrado. registrar!!
            let dataObjet = {};
            columns.map(item => item.dataIndex).forEach(element => {
                dataObjet[`${element}`] = 0;
            });
            /*dataObjet['stand_code'] = element.stand_code;
            dataObjet['sector_name'] = element.sector_name;
            dataObjet['titular_fullname'] = element.titular_lastname + ' ' + element.titular_name;
            dataObjet['titular_lastname'] = element.titular_lastname;
            dataObjet['titular_name'] = element.titular_name;
            dataObjet['titular_dni'] = element.titular_dni;
            dataObjet['rate_amount'] = element.concept_id == BAJP_CONCEPT_ID ? element.rate_amount_secondary : element.rate_amount;
            dataObjet['stand_id'] = element.stand_id;
            dataObjet[`month${element.month}`] = Number.parseFloat(element.total).toFixed(2);*/
            //list.push(dataObjet) 
            const sizeList = list.push(dataObjet);
            
            switch (tableName) {
                case 'principal':
                    list[sizeList - 1]['stand_code'] = element.stand_code;
                    list[sizeList - 1]['sector_name'] = element.sector_name;
                    list[sizeList - 1]['titular_name'] = element.titular_name;
                    list[sizeList - 1]['titular_lastname'] = element.titular_lastname;
                    list[sizeList - 1]['titular_fullname'] = element.titular_lastname + ' ' + element.titular_name;
                    list[sizeList - 1]['titular_dni'] = element.titular_dni;
                    list[sizeList - 1]['rate_amount'] = element.concept_id == BAJP_CONCEPT_ID ? element.rate_amount_secondary : element.rate_amount;
                    list[sizeList - 1]['stand_id'] = element.stand_id;
                    list[sizeList - 1][`month${element.month}`] = Number.parseFloat(element.total).toFixed(2);
                    break;
               
            }
        }
      
    });
    return list;
};



const totalCalculationByMarketAndStands = (list, name_table) => {
    //console.log(list);
    list.forEach(item => {
        let accum = 0;
        switch (name_table) {
                 case 'principal':
                 for (const key in item) {
                    if (key == 'market_id') continue; // Para que no sume este valor
                    accum += (parseFloat(item[key]) ? parseFloat(item[key]) : 0);
                }
                break;

                case 'modal':
                for (const key in item) {
                    if (key == 'titular_dni' || key == 'rate_amount' || key == 'stand_id' || key == 'stand_code' ||
                        key == 'sector_name' || key == 'name' || key == 'titular_name' || key == 'titular_lastname' || key == 'total') continue;
                        accum += (parseFloat(item[key]) ? parseFloat(item[key]) : 0);
                }
                break
                case 'month':
                for (const key in item) {
                    if (key == 'titular_dni' || key == 'rate_amount' || key == 'stand_id' || key == 'stand_code' ||
                        key == 'sector_name' || key == 'name' || key == 'titular_name' || key == 'titular_lastname' || key == 'total') continue;
                        accum += (parseFloat(item[key]) ? parseFloat(item[key]) : 0);
                }
                break
                
            }
            item.total = Number.parseFloat(accum).toFixed(2);
        });
    return list;
};

const columnsFormatInTable = ({dataSource, column, staticColumns=1}) => {
    // ordernar por año y mes en forma ascendente
   
    dataSource = dataSource.sort((a, b) => {
        if (a.year !== b.year)
            return b.year - a.year;
        return b.month - a.month;
    });
    // limpia las columnas de años, sirve cuando se selecciona un rango de años
    // para que no se quede pegado los años anteriores
    column = column.filter(col => col.title.split('-').length==1);
    
    // agregar meses a las columnas
    dataSource.forEach(element => {
        const columnTitle = `${monthsName[element.month-1]}-${element.year.toString().slice(-2)}`
        const index = column.findIndex(item => item.title == columnTitle);
        if (index == -1) {
            // no existe mes registrado. registrar!!
            column.splice(staticColumns, 0,
                { title: columnTitle, dataIndex: `month${element.month}`, key: columnTitle, align: 'right', width: '150px', scopedSlots: { customRender: 'month' } }
            );
        }
    });
    return column;
};



export default {
    props: ['market_id','company','markets'],
    components: {
        CensusByMonthModalComponent
    },
    data() {
        return {
            openModal: true,
            datePickerMode: 'year',
            censusModal: 'census-modal',
            market_by_stand_filters: { payment_status: "0" },
            listAccountStatusStandsMarket: [],
            columns_market_by_stands: [{}],
            list_a_sector_debt_or_paid: 'DEUDAS',
            paginationMarketStandDebt: { pageSize: 30 },
            rangepickerstate: { isopenmarket:false, markettime: null,isopestands:false, standstime: null },
            marketsTemp: [],
            value_market_by_stands: [],

            locale,
             mode2: ['year', 'year'],
            loadingModal: false,
            name_years_of_debt: [],
            isyear:true,//VERIFICAR SI EL FITRO ESTA ECHO POR AÑOS O MESES
            columns_data_market,
            columns_data_month,
            currentMarket: {},
            showModalResumeStatusAccountStandByMonth: false,
            filtersForCensusByMonth: {},
            monthsName: monthsName,

        }
    },
    mounted() {
        this.marketsTemp = [...this.markets];
		this.market_by_stand_filters.market_id = this.market_id;
        //this.setMarketByFilter();
		this.fetchResumeMarketByStands();
	},
    methods: {
        closeModal() {
            this.openModal = false;
            this.$emit('updateShowCensusModal', false);
        },
        handleDatePickerModeChange(value) {
           this.datePickerMode = value;
            if (this.datePickerMode === 'month') {
            this.mode2 = ['month', 'month'];
             this.value_market_by_stands= [moment(`${moment().year()}-01-01`),moment(`${moment().year()}-12-31`)];

              this.market_by_stand_filters.date_init= moment(this.value_market_by_stands[0]).format('YYYY-MM-DD');
              this.market_by_stand_filters.date_end =moment(this.value_market_by_stands[1]).format('YYYY-MM-DD');

           } else if (this.datePickerMode === 'year') {
            this.mode2 = ['year', 'year'];

              this.market_by_stand_filters.date_init=moment(this.value_market_by_stands[0]).format('YYYY');
              this.market_by_stand_filters.date_end =moment(this.value_market_by_stands[1]).format('YYYY');
             }

           // Aquí puedes realizar acciones adicionales según tus necesidades
           //this.value_market_by_stands = [];
           //this.market_by_stand_filters.date_init=null;
           //this.market_by_stand_filters.date_end =null;
           this.$message.warning({content: 'Ingrese el ' + (this.datePickerMode === 'month' ? 'Mes' : 'Año') + ' a consultar.', key, duration: 2});
         },
        setMarketByFilter() {
            this.currentMarket = this.marketsTemp.find(market=>market.market_id==this.market_by_stand_filters.market_id);
        },
        handleResumeChangeConcept(data) {
            this.market_by_stand_filters.concept_id = data ? data.id : undefined;
            this.concept_name_resumen = data ? data.code : '';
            //this.fetchResumeMarketByStands();
        },
        handleOpenChangeStands(status) {
            if(status){
                this.rangepickerstate.isopestands =  true
            } else {
                this.rangepickerstate.isopestands = false
            }
        },
        handlePanelChangeMarketByStand(value, mode) {
            this.value_market_by_stands = value;

           
            if(this.datePickerMode === 'month'){
             this.market_by_stand_filters.date_init = value[0] ? moment(value[0]).format('YYYY-MM-DD') : null;
             this.market_by_stand_filters.date_end = value[1] ? moment(value[1]).format('YYYY-MM-DD') : null;
            
            }else{
              this.market_by_stand_filters.date_init = value[0] ? moment(value[0]).format('YYYY') : null;
              this.market_by_stand_filters.date_end = value[1] ? moment(value[1]).format('YYYY') : null;  
            }

            
            this.rangepickerstate = {standstime:value,isopestands:false}
           // this.handleMarketByStands();
        },
        fetchResumeMarketByStands() {
           // this.list_a_sector_debt_or_paid = this.market_by_stand_filters.payment_status == "1" ? 'PAGOS' : 'DEUDAS';
            if(this.market_by_stand_filters.payment_status =="1") this.list_a_sector_debt_or_paid='PAGOS';
            if(this.market_by_stand_filters.payment_status =="0") this.list_a_sector_debt_or_paid='DEUDAS';
            if(this.market_by_stand_filters.payment_status =="-1") this.list_a_sector_debt_or_paid='TODOS';

            if(this.datePickerMode=='year'){this.handleMarketByStands();} 
            else{ /* this.handleMarketByStandsMonth(); this.isyear=false;}/*{*/
                if (moment(this.market_by_stand_filters.date_init).year() === 
                    moment(this.market_by_stand_filters.date_end).year()) {
                    this.handleMarketByStandsMonth();
                    this.isyear=false;
                
                  }else this.$message.warning({ content: 'Para visualizar un reporte por meses, debes seleccionar solo un rango de años.', key, duration: 2 });  
            }
        },
        handleChangeMarketInModal() {
            this.setMarketByFilter();
            this.$refs.sectorComponentInCensusModal.handleSearchSectors('', '', this.market_by_stand_filters.market_id);
           // this.handleMarketByStands();
        },
        handleExportMarketByStandsClick(e) {
            this.$message.loading({ content: 'Cargando...', key });
            if (e.key == 'pdf') this.exportMarketByStandsPdf();
            if (e.key == 'excel') this.exportMarketByStandsExcel();
        },
        changeSelectSectors(sector) {
            this.market_by_stand_filters.sector_id = sector ? sector.id : undefined;
            this.sector_name = sector ? sector.name : '';
           // this.fetchResumeMarketByStands();
        },
        //meses
         async handleMarketByStandsMonth() {
            this.listAccountStatusStandsMarket = [];
            this.$message.loading({ content: 'Cargando...', key });
            try {
                let payload = { type: DEBT_TYPE_NORMAL, ...this.market_by_stand_filters };
                const { data } = await MarketRepository.getAccountStatusByStands(payload);
                const dataSource=data.data.map( e=> ({...e, titular_fullname:e.titular_lastname + ' ' + e.titular_name }));
                console.log("ds", dataSource);
                this.name_years_of_debt = data.total;
                this.columns_data_month = columnsFormatInTable({dataSource, column:this.columns_data_month, staticColumns:5});
                this.columns_market_by_stands= this.columns_data_month;
                let formateedData = dataFormatInTable2({dataSource, columns:this.columns_data_month, groupField:'titular_fullname'});
                this.listAccountStatusStandsMarket = totalCalculationByMarketAndStands(formateedData, 'month');
                this.listAccountStatusStandsMarket = formateedData;
                const pagination = { ...this.paginationMarketStandDebt };
                pagination.total = this.listAccountStatusStandsMarket.length;
                this.paginationMarketStandDebt = pagination;
                } catch (error) {
                console.log(error);
                this.error();
            }
            this.$message.success({ content: 'Cargado!', key, duration: 2 });
         },
        

        async handleMarketByStands(record, is_paginate) {
         
            this.$message.loading({ content: 'Cargando...', key });
            /*if (record) {
                this.name_market_for_months = record.name;
                this.value_market_by_stands = [];
                if (Object.keys(record).length != 0 && !is_paginate) {
                    this.market_by_stand_filters = { 'market_id': record.market_id, 'payment_status': this.market_by_year_filters.payment_status }
                }; // para cuando cambiamos al estado pagado, usemos el this.titular.id
            }*/
          
           // let handleStandPaginate = { market_id: this.market_by_stand_filters.market_id, number_paginate: 30, sector_id: this.market_by_stand_filters.sector_id,date_init:this.market_by_stand_filters.date_init ,date_end:this.market_by_stand_filters.date_end};
            
          //  if (is_paginate) handleStandPaginate = { ...handleStandPaginate, ...record };
            try {
               /* let payload = { type: DEBT_TYPE_NORMAL, ...this.market_by_stand_filters };
                let stands = [];
                let stands_id = [];
                // #########  names years  ##############
                //                 this.name_years_of_debt =  await MarketRepository.getNameYearsOfDebt(payload);

                // ############  stands  ###############

                stands = await StandRepository.list(handleStandPaginate);
                payload.stands_id = stands.data.data.map(item => item.id);
                // ###########  debts markets  #################
                  //trabajar a base de esto

                */

                  //esto ya contiene todo los nesesarios
                  let payload = { type: DEBT_TYPE_NORMAL, ...this.market_by_stand_filters };
                const { data } = await MarketRepository.getAccountStatusByStands(payload);

                this.name_years_of_debt = data.total;
                this.listAccountStatusStandsMarket = []; // deudas de todos los puestos del mercado formateado
                this.columns_market_by_stands = [...this.columns_data_market];

                // Agregar las columnas de la tabla principal 
                //                this.columns_market_by_stands = columnsFormatInTable(data,this.columns_market_by_stands,5);
                this.name_years_of_debt.forEach(element => {
                    this.columns_market_by_stands.splice(5, 0, { title: element.year, dataIndex: `year${element.year}`, key: `year${element.year}`, align: 'right', width: '150px', scopedSlots: { customRender: 'year' } })
                });

                // Agregar datos a la tabla principal
                this.listAccountStatusStandsMarket = dataFormatInTable({data:data.data, columns:this.columns_market_by_stands, tableName:'modal'});

                // Calculo total general por año
                this.listAccountStatusStandsMarket = totalCalculationByMarketAndStands(this.listAccountStatusStandsMarket, 'modal');

                // Calculo total
                //                this.listAccountStatusStandsMarket=totalCalculationByYear(this.columns_market_by_stands,this.listAccountStatusStandsMarket, 'modal')

                const pagination = { ...this.paginationMarketStandDebt };
                pagination.total = this.listAccountStatusStandsMarket.length;
                this.paginationMarketStandDebt = pagination;
                 this.isyear=true;
            } catch (error) {
                console.log(error);
                this.error();
            }
            this.$message.success({ content: 'Cargado!', key, duration: 2 });
        },
        handleMarketStandTableChange(pagination, filters, sorter) {
            const pager = { ...this.paginationMarketStandDebt };
            pager.current = pagination.current;
            this.paginationMarketStandDebt = pager;
            if(this.isyear){
               this.handleMarketByStands(null, {
                results: pagination.pageSize,
                page: pagination.current,
                sortField: sorter.field,
                sortOrder: sorter.order,
                ...filters,
            }, true); 
           }else{
            this.handleMarketByStandsMonth();
           }
         
            
        },
        // ##### event modal inner tabla ####
        customRowStand(record, index) {
            return {
                on: {
                    click: async () => {
                        this.filtersForCensusByMonth = { ...this.market_by_stand_filters }
                        this.filtersForCensusByMonth.stand_id = record.stand_id;
                        this.filtersForCensusByMonth.type = DEBT_TYPE_NORMAL
                        this.showModalResumeStatusAccountStandByMonth = true;
                    }
                }
            };
        },
         formatNameColumns(list) {
            let name_columns = list.map(item => [item.title, item.dataIndex]);
            return name_columns;
        },
        async exportMarketByStandsPdf() {

            let search_names = (this.concept_name_resumen && this.sector_name) ? (this.concept_name_resumen + ', ' + this.sector_name) : ((this.concept_name_resumen || this.sector_name) ? (this.concept_name_resumen + ' ' + this.sector_name) : '');
            search_names = search_names ? this.name_market_for_months + ', ' + search_names : this.name_market_for_months;
            search_names = this.market_by_stand_filters.payment_status == 0 ? 'DEUDAS: ' + search_names : 'PAGOS: ' + search_names;
            this.market_by_stand_filters.type = DEBT_TYPE_NORMAL;
            this.market_by_stand_filters.search_names = search_names;


            if (!this.market_by_stand_filters.date_init || !this.market_by_stand_filters.date_end) {
                this.$message.warning({ content: 'Ingrese un rango de años para visualizar el reporte.', key, duration: 3 });
                return;
            }

            let yearDiff =  parseInt(this.market_by_stand_filters.date_end, 10) - parseInt(this.market_by_stand_filters.date_init, 10);
            if (!(!isNaN(yearDiff) && yearDiff >= 0 && yearDiff <= 10)){
                this.$message.warning({ content: 'Los años deben estar en un rango de distancia menores a 10', key, duration: 3 }); 
                return;
            }
           
            if(this.isyear){
            let url = MarketRepository.statusAccountByStandsExportPdf(this.market_by_stand_filters);
            window.open(url);

             }else{
               
             let payment_status = (this.market_by_stand_filters.payment_status == -1)
             ? 'TODOS' : (this.market_by_stand_filters.payment_status == 0) ? 'DEUDAS' : 'PAGOS';

              let name_columns = this.formatNameColumns(this.columns_data_month );
               let { data } = await MarketRepository.statusAccountByMonthPdf({ 'payment_status': payment_status, 'column': name_columns, 'data':this.listAccountStatusStandsMarket,'search_names':search_names});
               window.open(data);

            }
            this.$message.success({ content: 'Cargado!', key, duration: 2 });
        },
        async exportMarketByStandsExcel() {
            let search_names = (this.concept_name_resumen && this.sector_name) ? (this.concept_name_resumen + ', ' + this.sector_name) : ((this.concept_name_resumen || this.sector_name) ? (this.concept_name_resumen + ' ' + this.sector_name) : '');
            search_names = search_names ? this.name_market_for_months + ', ' + search_names : this.name_market_for_months;

            //search_names = this.market_by_stand_filters.payment_status == 0 ? 'DEUDAS: ' + search_names : 'PAGOS: ' + search_names;

            search_names = this.market_by_stand_filters.payment_status == -1 ? 'TODOS: ' + search_names
                           : this.market_by_stand_filters.payment_status == 0 ? 'DEUDAS: ' + search_names : 'PAGOS: ' + search_names;

            this.market_by_stand_filters.type = DEBT_TYPE_NORMAL;
            this.market_by_stand_filters.search_names = search_names;

            if(this.isyear){
              let url = MarketRepository.statusAccountByStandsExportExcel(this.market_by_stand_filters);
               window.open(url);
              
            }else{
               
             let payment_status = (this.market_by_stand_filters.payment_status == -1)
             ? 'TODOS' : (this.market_by_stand_filters.payment_status == 0) ? 'DEUDAS' : 'PAGOS';

              let name_columns = this.formatNameColumns(this.columns_data_month );
               let { data } = await MarketRepository.statusAccountByMonthExcel({ 'payment_status': payment_status, 'column': name_columns, 'data':this.listAccountStatusStandsMarket,'search_names':search_names});
               window.open(data);

            }
             this.$message.success({ content: 'Cargado!', key, duration: 2 });  
           
        },
        error(message) {
            this.$message.error(message || 'Error al procesar');
        },
        success(message) {
            this.$message.success(message || 'Proceso Correcto');
        },
    }
}
</script>