<template>
<div>
	<div class="content">
	  	<h1 class="content__title">LISTADO DE PAGOS DETALLADO</h1> 
	  	<hr class="content__divider"/>
	  	<div >
		 <div class="table-operations" style="padding-left:5px;">
			<a-form layout="inline" :model="transaction">
				  
				<a-input v-model="filter.search" v-on:keyup.enter="fetchTransaction()" style="width:150px; margin:5px 0px 5px 0px;" size="small" placeholder="Buscar..."/>
				<a-range-picker :locale="locale"   @change="changeDate" format="DD/MMM/YYYY" style="width:250px; margin:0px 0px 5px 0px;" size="small" :placeholder="['Fecha Inicio', 'Fecha Final']" :default-value="[filter.date_init, filter.date_end]">
				</a-range-picker>
				
				<select-market-component style="width:180px; margin:0px 0px 5px 0px;" :size="'small'" :market_id="filter.market_id" v-on:handleSelectMarkets="changeSelectMarkets" />
				<select-concept-component size="small" style="width:200px; margin:0px 0px 5px 0px;" v-on:handleChange="handleChangeConcept" />
			  	<select-sector-component style="width:150px; margin:0px 0px 5px 0px;" :size="'small'" :sector_id="filter.sector_id" v-on:handleSelectSectors="changeSelectSectors" />
				<a-select size="small" allowClear style="width:200px" v-model="filter.user_id" @change="changeCashiersAndCommissionAgent()"  placeholder="Cobrador">
					<a-select-option v-for="(item,index) in cashiersAndCommissionAgent" :value="item.id" :key="index" >
						{{item.name}}
					</a-select-option>
				</a-select>
				<a-button type="primary" size="small" @click="fetchTransaction()" style="margin:0px 0 5px 0;">Buscar</a-button>
				
				<a-divider type="vertical" />

				<a-dropdown-button type="primary" size="small" style="margin:0px 0px 5px 0px;">
				Exportar
					<a-menu slot="overlay" @click="handleDetailedExportClick" >
						<a-menu-item key="pdf" ><a-icon type="file-pdf" /> PDF </a-menu-item>
						<a-menu-item key="excel"><a-icon type="file-excel" /> Excel </a-menu-item>
					</a-menu>
				</a-dropdown-button>

			</a-form>
		  </div>
		<a-table
		:columns="columns"
		:row-key="(record,index) => index"
		:data-source="lisTransactions"
		:pagination="pagination"
		:loading="loading"
		@change="handleTableChange">
			<span slot="client" slot-scope="text,record">{{record.client.name}} {{record.client.lastname}}</span>
			<span slot="user" slot-scope="text,record">{{record.user.name}} - {{record.user.username}}</span>
			<span slot="client_dni" slot-scope="text,record"> {{record.client.dni}}</span>
			<span slot="status" slot-scope="text,record">{{record.status == '1' ? 'Pagado' : 'Extornado'}}</span>

			<template slot="footer"  slot-scope="currentPageData">
				<div class="table-footer-principal"><b>Suma Total:</b> {{transactions_total}}</div>  
			</template>
		</a-table>
		</div>

  	</div>    
</div>    
</template>
<script>

import moment from "moment";
import 'moment/locale/es';
moment.locale('es');
import locale from 'ant-design-vue/es/date-picker/locale/es_ES';


import Repository from "../../repositories/RepositoryFactory";
const ConceptRepository = Repository.get("concept");
const TransactionRepository = Repository.get("transaction");
const UserRepository = Repository.get("user");
const {ROLE_ADMINS} = require("../../constants");
const columns = [
  { title: 'Correlativo',dataIndex: 'code',key:'code'},
  { title: 'Fecha',dataIndex: 'date_at',key:'date_at'},
  { title: 'Responsable', key:'user',scopedSlots: { customRender: "user" } },
  { title: 'Cliente', key:'client',scopedSlots: { customRender: "client" } },
  { title: 'DNI', key:'client_dni',scopedSlots: { customRender: "client_dni" } },
  { title: 'Detalle',dataIndex: 'detail',key:'detail'},
  { title: 'Cod. Clasifi.',dataIndex: 'code_clas',key:'code_clas'},
  { title: 'Monto',dataIndex: 'total',key:'total',align:'right'},
  { title: 'Estado', key:'status',scopedSlots: { customRender: "status" } },
];

/*---------- */
export default {
	data(){
		return {
			// Controlador de deudaas seleccionadas
			lisTransactions: [],
			value: [],
			// saveTransaction data transaction
			transaction: {transactiondetails:[],client:[]},
			cashiersAndCommissionAgent:[],
			moment,
			locale,
			filter:{date_init:moment(),date_end:moment()},
			rules:{
			  name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			pagination: {},
			transactions_total:0,
			loading: false,
			columns,
			// manejo de fechas
			market_name_filter:'',
			concept_name_filter:'',
			sector_name_filter:'',
			userID:'',
		}
	},
	async mounted() {
		this.filter.date_init=moment().format('YYYY-MM-DD');
		this.filter.date_end=moment().format('YYYY-MM-DD');

		this.userID=window.USER_ID;
		await this.fetchCashiersAndCommissionAgent();

		if( this.cashiersAndCommissionAgent.find(e=>e.id==this.userID) ){

			this.filter.user_id=Number(this.userID);
		}
		this.fetchTransaction();

		console.log(this.ID)
	},
	methods:{
		async fetchTransaction(params){
			//params = {...params,user_id:window.USER_ID,...this.filter};
			params = {...params,...this.filter};
			/*if( !ROLE_ADMINS.includes(window.ROLE_ID) ){
				params.user_id=this.filter.user_id?this.filter.user_id:'';
				params.user_logeado_id=window.USER_ID;
			}*/
			this.loading = true;
			try {
				const {data} = await TransactionRepository.allDetailsByConcepts(params);
				this.lisTransactions = [];
				data.data.data.forEach(transaction => {
						this.lisTransactions.push({
							code:transaction.code,
							date_at:moment(transaction.date_at).format('DD-MM-YYYY'),
							user: transaction.user,
							detail: transaction.detail,
							code_clas: transaction.classifier_ref,
							total: transaction.total.toFixed(2),
							status: transaction.status,
							client: transaction.client,
						})		
				});
				const pagination = { ...this.pagination };
				pagination.total = data.data.total;
				this.pagination = pagination;
				this.transactions_total = Number.parseFloat(data.transactions_total ? data.transactions_total : 0).toFixed(2);
				this.loading = false;
			} catch(error) {
				this.error();
			}
		},
		// Evento tabla
		handleTableChange(pagination, filters, sorter){
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetchTransaction({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				sortOrder: sorter.order,
				...filters,
			});
		},
		// Evento filtro fecha
		changeDate(value, dateString) {
			this.filter.date_init = value[0] ? moment(value[0]).format('YYYY-MM-DD') : null;
			this.filter.date_end = value[1] ? moment(value[1]).format('YYYY-MM-DD') : null;
			this.fetchTransaction();
		},
		async fetchCashiersAndCommissionAgent(params = {}) {
	 		const {data} =  await UserRepository.cashiersAndCommissionAgent(params);
			this.cashiersAndCommissionAgent = data;
		},
		changeCashiersAndCommissionAgent(){

		},
		error (message) {
			this.$message.error(message||'Error al procesar');
		},
		success (message) {
			this.$message.success(message||'Proceso Correcto');
		},
		handleDetailedExportClick(e) {
			if(e.key == 'pdf') this.detailedExportPdf();
			if(e.key == 'excel') this.detailedExportExcel();
		},
		detailedExportPdf() {
			let search_concept_sector=(this.concept_name_filter && this.sector_name_filter) ? (this.concept_name_filter+', '+this.sector_name_filter) : ((this.concept_name_filter || this.sector_name_filter) ? (this.concept_name_filter+' '+this.sector_name_filter) : 'TODOS');
			let search_names;
			if(this.market_name_filter && search_concept_sector!='TODOS') search_names = this.market_name_filter+', '+search_concept_sector;
			else if(!this.market_name_filter) search_names = search_concept_sector;
			else if(this.market_name_filter) search_names = this.market_name_filter;
			else search_names='TODOS';
			
			let filter_export={...this.filter};
			/*if( !ROLE_ADMINS.includes(window.ROLE_ID) ){
				filter_export.user_id= this.filter.user_id || '';
				filter_export.user_logeado_id=window.USER_ID;
			}*/
			
			filter_export.search_names=search_names;
			let url = TransactionRepository.getUrlDetailedPaymentsExportPdf(filter_export);
			window.open(url);
		},
		async detailedExportExcel(){
			let search_concept_sector=(this.concept_name_filter && this.sector_name_filter) ? (this.concept_name_filter+', '+this.sector_name_filter) : ((this.concept_name_filter || this.sector_name_filter) ? (this.concept_name_filter+' '+this.sector_name_filter) : 'TODOS');
			let search_names;
			if(this.market_name_filter && search_concept_sector!='TODOS') search_names = this.market_name_filter+', '+search_concept_sector;
			else if(!this.market_name_filter) search_names = search_concept_sector;
			else if(this.market_name_filter) search_names = this.market_name_filter;
			else search_names='TODOS';
			let filter_export={...this.filter};
			/*if( !ROLE_ADMINS.includes(window.ROLE_ID) ){
				filter_export.user_id=this.filter.user_id?this.filter.user_id:'';
				filter_export.user_logeado_id=window.USER_ID;
			}*/
			filter_export.search_names=search_names;
			let url = TransactionRepository.getUrlDetailedPaymentsExportExcel(filter_export);
			window.open(url);
		},
		handleChangeConcept(value){
			this.filter.concept_id=value ? value.id : undefined;
			this.concept_name_filter=value? value.code : '';
			this.fetchTransaction()
		},
		// evento del combo sectors
		changeSelectSectors(sector) {
			this.filter.sector_id = sector ? sector.id : undefined;
			this.sector_name_filter= sector ? sector.name : '';
            this.fetchTransaction()
		},
		// evento del combo markets
		changeSelectMarkets(market) {
			this.filter.market_id = market ? market.id : undefined;
			this.market_name_filter=market ? market.name : '';
            this.fetchTransaction()
        },
	}
}
</script>
<style scoped>
	.table-operations{
		padding: 0;
	}
	.table-operations-title {
		margin-bottom: 0;
	}
	.table-operations-message i {
		color: greenyellow;
	}
	
	.table-operations-message {
		color: #ffffff;
		font-weight: bold;
	}

	.mt-0 {
		margin-top: 0;
	}

	.pt-0 form {
		padding-top: 5px;
	}

	.list-debts {
		padding: 5px;
		border-radius: 3px;
		border: 1px solid rgba(0,0,0,.2);
		-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
		box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
	}

	.table-footer-principal {
		text-align: center;
	}
	.table-footer-modal {
		text-align: right;
		margin-right: 80px;
	}

</style>
