<template>
<div>
	<div class="content">
	  <h1 class="content__title">ADMINISTRACIÓN DE COMISIONISTAS</h1> 
	  <hr class="content__divider"/>
	  <a-button v-show="editAllowed" type="primary" size="small" @click="nuevo()">Nuevo</a-button>
	 <div class="table-operations" >
            <a-form layout="inline">
                  
              <a-input v-model="agent.search" v-on:keyup.enter="fetch({search:agent.search})" style="width:200px" size="small" placeholder="Buscar..."/>
              <a-button type="primary" @click="fetch({search:agent.search})" size="small">Buscar</a-button>

            </a-form>
          </div>
	<a-table
	:columns="columns"
	:row-key="record => record.id"
	:data-source="data"
	:pagination="pagination"
	:loading="loading"
	@change="handleTableChange">
	  	<span slot="titular" slot-scope="text,record"> {{record.lastname}}, {{record.name}}</span>
	  	<span slot="range" slot-scope="text,record">
			  {{record.contract_start}} - {{record.contract_end}}
	  	</span>
	  	<span slot="action" slot-scope="text,record">
		  <a-divider type="vertical" />
		  <a href="javascript:;" @click="showUser(record.id)" title="Dependencia"><a-icon type="user" /></a>
		  <a-divider type="vertical" />
		  <a href="javascript:;" v-show="editAllowed" @click="edit(record.id)" title="Editar"><a-icon type="edit" /></a>
		  <a-divider type="vertical" />
		  <a-popconfirm v-if="data.length" title="Seguro?" @confirm="() => remove(record.id)">
			  <a href="javascript:;" v-show="editAllowed" title="Eliminar"><a-icon type="delete" /></a>
			</a-popconfirm>
			<a-divider type="vertical" />
		</span>
	  </a-table>

	<a-modal 
	:key="showModal+1" 
	:width="'80%'" 
	title="Comisionista" 
	:visible="showModal" 
	@ok="save" 
	@cancel="showModal = false" 
	cancelText="Cancelar" 
	okText="Guardar" >
		<a-form-model layout="vertical" ref="agentForm" :model="agent" :rules="rules">
			
			<a-row :gutter="16">
						
			  	<a-col class="gutter-row" :span="12">
					<a-form-model-item label="Codigo" prop="code">
						<a-input v-model="agent.code" />
					</a-form-model-item>

					<a-form-model-item label="Nombre:" prop="name">
							<select-people-component :person_id="agent.responsable_id" :size="'default'" v-on:handleSelectPeople="changeSelectPeople" />
					</a-form-model-item>
					
					<a-form-model-item label="Rango Contrato" prop="range_contract">
						<a-range-picker @change="onChangeRangeDate" :placeholder="['Fecha Inicio', 'Fecha Final']" :default-value="[agent.contract_start, agent.contract_end]">
						</a-range-picker>
					</a-form-model-item>
				</a-col>
				<a-col class="gutter-row" :span="12">
					<a-form-model-item label="Contrato Adjunto" prop="adjudication">
						<file-component :files="agent.files" v-on:changeFile="onChangeFile" :key="agent.files.length" />
					</a-form-model-item>

				</a-col>
			</a-row>
		</a-form-model>
	</a-modal>

	<a-modal
	title="Usuario" 
	cancelText="Cancelar" 
	okText="Guardar" 
	:key="showModalUser" 
	:visible="showModalUser" 
	@ok="saveUser" 
	@cancel="showModalUser = false">
        <a-form-model ref="userForm" :model="user" :rules="rulesUser" :label-col="{span: 8}" :wrapper-col="{ span: 14 }">
            <a-form-model-item label="Nombre" prop="name" :hasFeedback="true" >
                <a-input v-model="user.name" />
            </a-form-model-item>
            <a-form-model-item label="Email" prop="email" :hasFeedback="true" >
                <a-input v-model="user.email" />
            </a-form-model-item>

            <a-form-model-item  label="Rol" prop='role_id'>
            <a-select :disabled="true" v-model="user.role_id" placeholder="Seleccione Rol"  :hasFeedback="true" >
                <a-select-option value="2">DRE</a-select-option>
                <a-select-option value="3">Ugel</a-select-option>
            </a-select>
            </a-form-model-item>

            <a-form-model-item label="Nuevo Password" prop="password" :hasFeedback="true" >
                <a-input v-model="user.password" type="password" autocomplete="off" />
            </a-form-model-item>
            <a-form-model-item label="Confirme Password" prop="checkPassword" :hasFeedback="true" >
                <a-input v-model="user.password2" type="password" autocomplete="off" />
            </a-form-model-item>
        </a-form-model>
    </a-modal>

  </div>      
</div>    
</template>
<script>
import Repository from "../../repositories/RepositoryFactory";
import moment from "moment";
import UserRepository from '../../repositories/UserRepository';
moment.locale('es');
import Utils from "../../Utils.js";
const CobratorTicketRepository = Repository.get("agent");
const PersonRepository = Repository.get("person");
const FileRepository = Repository.get("file");
const can_access=['rt_cobra'];

const columns = [
  { title: 'Codigo',dataIndex: 'code'},
  { title: 'DNI',dataIndex: 'dni'},
  { title: 'Titular',key: 'titular',scopedSlots: { customRender: "titular" }},
  { title: 'Rango Contrato',key:'range',scopedSlots: { customRender: "range" } },
  {title:'-',key:'action',scopedSlots: { customRender: "action" } }
];

/*---------- */
export default {
	data(){
		let validatePassword = (rule, value, callback) => {
			if(this.user.password.length<5){ callback(new Error('Password debe ser tener mas de 5 caracteres'));}
			callback();
		};
		let validatePass2 = (rule, value, callback) => {
		if (this.user.password2 === '') { callback(new Error('Ingrese Password nuevamente'));
		} else if (this.user.password !== this.user.password2 ) { callback(new Error("Password no coincide!"));
		} else { callback();}
		};
		return {
			editAllowed:false,
			formData:{},
			moment,
		  // ############  Club #########
			agent: {
			  name: '',
			  files:[],
			},
			rules:{
			  name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			userForm: {
                name: "",
                email: "",
                password: "",
			},
			rulesUser: {
                name: [{ required: true, message: 'Ingrese Nombre', trigger: ['blur'] }],
                email: [{required: true,  message: 'Ingrese Email', trigger: ['blur'] }],
                password: [{required: true, validator: validatePassword, trigger: 'change' }],
                checkPassword: [{required: true, validator:validatePass2, trigger: 'change' }]
            },
			data:[],
			user: {},
			pagination: {},
			loading: false,
			columns,
			showModal:false,
			showModalUser:false,
			//agent:{},
		}
	},
	mounted() {
		this.editAllowed= Utils.checkEditMode();
		 this.fetch();
	},
	methods:{
		 handleTableChange(pagination, filters, sorter){
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				sortOrder: sorter.order,
				...filters,
			});
		},
		async fetch(params = {}){
			this.loading = true;
			try {
				const {data} =  await CobratorTicketRepository.list(params)
				const pagination = { ...this.pagination };
				pagination.total = data.total;
				this.pagination = pagination;
				this.loading = false;
				this.data = data.data;
			} catch (error) {
				this.error();
			}
		},
		error (message) { this.$message.error(message||'Error al procesar');},
		success (message) { this.$message.success(message||'Proceso Correcto');},
		async save(){
			this.showModal=false;
			this.loading=true;
			let payload = this.agent;
			payload.contract_start = this.agent.contract_start ? this.agent.contract_start.format('YYYY-MM-DD') : "";
			payload.contract_end = this.agent.contract_end ? this.agent.contract_end.format('YYYY-MM-DD') : "";
			try {
				let data = await CobratorTicketRepository.save(payload);
				this.success();
				this.fetch();
			} catch (error) {
				this.error();
			}
		},
		nuevo(){
			this.showModal=true;
			this.agent={files:[]};
		},

		async edit(id){
			let d = {...this.data.find(item => item.id === id)};
			d.contract_start = moment(d.contract_start);
			d.contract_end = moment(d.contract_end);
			this.agent = d;
			this.agent.files=[];
			this.agent.files = await this.getFilesStand(this.agent);
			this.showModal = true;
		},
		async getFilesStand(stand) {
			let {data} = await FileRepository.list({type:'agent','reference_id':stand.id});
			return data.data;  
		},
		async remove(id){
			let payload_remove = {...this.data.find(item => item.id === id)};
			payload_remove.status = 0;
			this.loading=true;
			try {
				let data = await CobratorTicketRepository.save(payload_remove);
				this.success();
				this.fetch();
			} catch (error) {
					this.loading = false;
				this.error();
			}
		},
		saveUser() {
            // var payload = {...this.user};
            // delete(payload.password2);
            // DependencyRepository.assignUser(payload,this.type,this.dependency.id).then((data)=>{
            //     this.success();
            //     this.showModalUser = false;
            //     this.fetch();
            // }).catch(err=>{ this.error();});
		},
		async showUser(id) {
            // this.$refs.userForm.resetFields();
            // this.dependency = this.data.find(item => item.id === id);
            // const person = this.dependency.responsable
            // this.user = person ? {name: person.name, email: person.email, person: person} : {};
            this.showModalUser = true;
		},
		// File
		onChangeFile(data){
			this.agent.files = data;
		},
		// Range Date
		getCurrentStyle(current, today) {
            const style = {};
            if (current.date() === 1) {
                style.border = '1px solid #1890ff';
                style.borderRadius = '50%';
            }
            return style;
		},
		// Range Date Picker
		onChangeRangeDate(date, dateString) {
			this.agent.contract_start = date[0];
			this.agent.contract_end = date[1];
		},
		changeSelectPeople(person_data){
			this.agent.responsable_id = person_data.id;
		}
	}
}
</script>
