<template>
	<div>
		<div class="content">
			<h1 class="content__title">CONCEPTOS</h1>
			<hr class="content__divider" />
			<!-- <a-button type="primary" size="small"  @click="nuevo">Nuevo</a-button> -->
			<div>

				<a-table :columns="columns" :row-key="record => record.id" :data-source="data" :pagination="pagination"
					:loading="loading" @change="handleTableChange">
					<span slot="status" slot-scope="text,record">{{ record.status == 1 ? 'Activo' : 'Inactivo' }}</span>
					<span slot="action" slot-scope="text,record">
						<a-divider type="vertical" />
						<a href="javascript:;" v-show="editAllowed" @click="edit(record.id)" title="Editar"><a-icon type="edit" /></a>
						<!-- <a-divider type="vertical" /> -->
						<!-- <a-popconfirm v-if="data.length" title="Seguro?" @confirm="() => remove(record.id)">
			  <a href="javascript:;" title="Eliminar"><a-icon type="delete" /></a>
			</a-popconfirm> -->
					</span>
				</a-table>
			</div>


			<a-modal :width="900" title="Conceptos" :visible="showModal" @ok="save" @cancel="showModal = false">

				<a-form-model ref="modelForm" :model="model" :rules="rules" layout="vertical" :label-col="labelCol"
					:wrapper-col="wrapperCol">

					<a-form-model-item label="Codigo:" prop="code">
						<a-input v-model="model.code" style="width:300px" placeholder="..."></a-input>
					</a-form-model-item>

					<a-form-model-item label="Numero:" prop="number">
						<a-input v-model="model.number" style="width:300px" placeholder="..."></a-input>
					</a-form-model-item>
					<a-form-model-item label="Nombre:" prop="name">
						<a-input v-model="model.name" style="width:300px" placeholder="..."></a-input>
					</a-form-model-item>
					<a-form-model-item label="Clasificador:" prop="classificator">
						<a-input v-model="model.classificator" style="width:300px" placeholder="..."></a-input>
					</a-form-model-item>

				</a-form-model>
			</a-modal>


		</div>
	</div>
</template>
<script>
import moment from "moment";
import Utils from "../../Utils.js";
import Repository from "../../repositories/RepositoryFactory";
const ConceptRepository = Repository.get("concept");
const can_access = ['ti_admin'];

const columns = [
	{ title: 'Codigo', dataIndex: 'code' },
	{ title: 'Numero', dataIndex: 'number' },
	{ title: 'Nombre', dataIndex: 'name' },
	{ title: 'Clasif.', dataIndex: 'classificator' },
	{ title: 'Estado', key: 'status', scopedSlots: { customRender: "status" } },
	{ title: '-', key: 'action', scopedSlots: { customRender: "action" } },
];

/*---------- */
export default {
	data() {
		return {
			editAllowed:false,
			model: {},
			labelCol: { span: 4 },
			wrapperCol: { span: 14 },
			rules: {
				name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			data: [],
			pagination: {},
			loading: false,
			columns,
			showModal: false,
		}
	},
	mounted() {
		this.editAllowed= Utils.checkEditMode();
		this.fetch();
	},
	methods: {
		handleTableChange(pagination, filters, sorter) {
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				sortOrder: sorter.order,
				...filters,
			});
		},
		async fetch(params = {}) {
			this.loading = true;
			const { data } = await ConceptRepository.list(params);
			const pagination = { ...this.pagination };
			console.log(pagination);
			pagination.total = data.total;
			pagination.pageSize = 20;
			this.pagination = pagination;
			this.data = data.data;
			this.loading = false;
		},
		error(message) { this.$message.error(message || 'Error al procesar'); },
		success(message) { this.$message.success(message || 'Proceso Correcto'); },
		async save() {
			this.loading = true;
			this.showModal = false;
			this.loading = true;
			let payload = this.model;
			ConceptRepository.save(payload).then((data) => {
				this.success();
				this.fetch();
			}).catch(err => { this.error(); });
		},
		nuevo() {
			this.showModal = true;
			this.model = {};

			// setTimeout(()=>{
			//   this.$refs.userForm.resetFields();
			// },5);
		},

		edit(id) {
			let d = this.data.find(item => item.id === id);
			this.model = d;
			this.showModal = true;


		},
		async remove(id) {
			let payload = this.data.find(item => item.id === id);
			payload.status = 0;
			this.save();
		},

	}
}
</script>
<style scoped></style>