<template>
<div>
	<div class="content">
	  <h1 class="content__title">CONFIGURACIONES</h1> 
	  <hr class="content__divider"/>
	  <div>
		  Se configura: logo, nombre, ruc. direccion inst.,
		   cabeceras de fracc.
		  [nombre, cargo y firmas para notificaciones].
		 
	  </div>

  </div>    
</div>    
</template>
<script>
import moment from "moment";

/*---------- */
export default {
	data(){
		return { 
		  	model:{},
		}
	},
	mounted() {
	},
	methods:{


	}
}
</script>
<style scoped>

</style>
