<template>
	<div>
		<div class="content">
			<h1 class="content__title">DEUDAS DE DERECHOS DE MESA</h1>
			<hr class="content__divider" />
			<a-button v-show="editAllowed" type="primary" size="small" @click="newDebt()">Nuevo</a-button>
			<div class="table-operations">
				<a-form layout="inline">
					<a-input v-model="filter.search" v-on:keyup.enter="fetch({ search: filter.search })" style="width:200px"
						size="small" placeholder="Buscar..." />
					<a-button type="primary" @click="fetch({ search: debts.search })" size="small">Buscar</a-button>
					<a-divider type="vertical" />
					<a-range-picker :locale="locale" @change="changeFilterDate" format="DD/MMM/YYYY" style="width:250px;"
						size="small" :placeholder="['Fecha Inicio', 'Fecha Final']"
						:default-value="[filter.date_init, filter.date_end]">
					</a-range-picker>
					<a-divider type="vertical" />
					<a-select style="width: 150px" v-model="filter.payment_status" size="small" placeholder="Seleccione"
						@change="changeSelectPaymentsOrDebts" :allowClear="true">
						<a-select-option value="1">Pagado</a-select-option>
						<a-select-option value="0">Deuda</a-select-option>
					</a-select>
				</a-form>
			</div>
			<a-table :columns="columns" :row-key="record => record.id" :data-source="debts" :pagination="pagination"
				:loading="loading" @change="handleTableChange">
				<span slot="titular" slot-scope="text,record">{{ record.titular_name.toUpperCase() }}
					{{ record.titular_lastname.toUpperCase() }} - {{ record.titular_dni }}</span>
				<span slot="payment_status" slot-scope="text,record">{{ record.payment_status == 0 ? 'Deuda' :
					'Pagado' }}</span>
				<span slot="status" slot-scope="text,record">{{ record.status == 0 ? 'Anulado' : 'Activo' }}</span>
				<span slot="action" slot-scope="text,record" style="display:flex; align-items: center;">
					<a href="javascript:;" v-show="editAllowed" @click="edit(record.id)" title="Editar"><a-icon type="edit"
							v-if="record.status != '0'" /></a>
					<a-divider type="vertical" />
					<a-popconfirm title="Seguro?" @confirm="() => remove(record.id)" v-if="record.status != '0'">
						<a href="javascript:;" v-show="editAllowed" title="Eliminar"><a-icon type="delete" /></a>
					</a-popconfirm>
				</span>
			</a-table>
		</div>
		<a-modal :key="showModal" :width="900" :title="(debt.id ? 'Editar' : 'Nuevo ') + ' Deuda de Derecho de Mesa'"
			:visible="showModal" @ok="saveDebt" @cancel="showModal = false" cancelText="Cancelar" okText="Guardar">
			<!-- Observación: El ancho de los inputs estan dimensionados segun el tamaño del modal 900 -->
			<a-form-model ref="ruleDebt" :model="debt" :rules="rules">
				<!--:label-col="labelCol" :wrapper-col="wrapperCol" -->
				<div class="debt-form">
					<div v-if="!debt.id">
						<a-form-model-item label="Deudas por padrón">
							<a-switch v-model="debt.multiple" @change="handleSwitchMultipleDebt" />
						</a-form-model-item>
					</div>
					<div v-if="debt.multiple">
						<div class="debt-form__autor__data__name">
							<a-form-model-item label="Fecha:" prop="date">
								<a-date-picker format="DD-MM-YYYY HH:mm:ss" v-model="debt.date_at" />
							</a-form-model-item>
						</div>
						<div style="overflow-y: auto; height: 400px;">
							<table class="table-debt__header__code">
								<thead style="background-color: #ccc;">
									<tr>
										<th>Señor</th>
										<th>Puesto</th>
										<th>Código</th>
										<th>Menudencia</th>
										<th>Carne Vacuno</th>
										<th>Carne Porcino</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item, index) in census" :key="item.id">
										<td>{{ item.name + ' ' + item.lastname }}</td>
										<td>{{ item.code }}</td>
										<td>{{ item.code_manual }}</td>
										<td><input type="checkbox" v-model="item.is_menudencia" @change="onChangeflesh(index,'menudencia')"></td>
										<td><input type="checkbox" v-model="item.is_carne_vacuno" @change="onChangeflesh(index,'carne-vacuno')"></td>
										<td><input type="checkbox" v-model="item.is_carne_porcino" @change="onChangeflesh(index,'carne-porcino')"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div v-if="!debt.multiple">
						<div class="debt-form__autor">
							<div class="debt-form__autor__data">
								<div class="debt-form__autor__data__name">
									<a-form-model-item label="Señor:" prop="name">
										<div style="width:400px">
											<select-people-component :person_id="debt.client_id" :size="'default'"
												v-on:handleSelectPeople="changeSelectPeople" :disabled="debt.id ? true : false" />
										</div>
									</a-form-model-item>
								</div>
								<div class="debt-form__autor__data__address">
									<a-form-model-item label="Puesto:" prop="stand_id">
										<!-- <a-input style="width:210px" v-model="debt.address" /> -->
										<a-select style="width:275px" v-model="debt.stand_id" :key="debt.stand_id"
											placeholder="Seleccione.." :disabled="debt.id ? true : false">
											<a-select-option v-for="(item, index) in stands" :value="item.id" :key="index">
												{{ item.code }} {{ item.name }}
											</a-select-option>
										</a-select>
									</a-form-model-item>
								</div>
							</div>
						</div>
						<div class="debt-form__autor">
							<div class="debt-form__autor__data">
								<div class="debt-form__autor__data__name">
									<a-form-model-item label="Fecha:" prop="date">
										<a-date-picker format="DD-MM-YYYY HH:mm:ss" v-model="debt.date_at" />
									</a-form-model-item>
								</div>
								<div class="debt-form__autor__data__address">
									<a-form-model-item prop="menudencia" v-if="!debt.id">
										<!-- <a-input style="width:210px" v-model="debt.address" /> -->
										<a-checkbox @change="onChangeMenudencia" v-model="debt.is_menudencia"
											:checked="false"><span>Menudencia(M)</span></a-checkbox>
										<a-divider type="vertical" />
										<a-checkbox @change="onChangeCarneVacuno" v-model="debt.is_carne_vacuno"
											:checked="false"><span>Carne Vacuno (CV)</span></a-checkbox>
										<a-divider type="vertical" />
										<a-checkbox @change="onChangeCarnePorcino" v-model="debt.is_carne_porcino"
											:checked="false"><span>Carne Porcino (CP)</span></a-checkbox>
									</a-form-model-item>
								</div>
							</div>
						</div>
						<div class="debt-form__autor">
							<div class="debt-form__autor__data">
								<div class="debt-form__autor__data__name">
									<a-form-model-item label="Codigo:" prop="codigo">
										<div style="width:400px">
											<a-input placeholder="codigo..." v-model="debt.code_manual" disabled />
										</div>
									</a-form-model-item>
								</div>
								<div class="debt-form__autor__data__address">
									<a-form-model-item label="Total:" prop="total">
										<!-- <a-input style="width:210px" v-model="debt.address" /> -->
										<a-input v-model="debt.total"
											onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
									</a-form-model-item>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a-form-model>

		</a-modal>
	</div>
</template>
<script>
import moment from "moment";
import 'moment/locale/es';
moment.locale('es');
import Utils from "../../Utils.js";
import locale from 'ant-design-vue/es/date-picker/locale/es_ES';

import Repository from "../../repositories/RepositoryFactory";
const { DDM_CONCEPT_ID,DERECHO_MESA_ID } = require("../../constants");
const DebtRepository = Repository.get("debt");
const StandRepository = Repository.get("stand");
const columns = [
	{ title: 'Cod.', dataIndex: 'code', key: 'code' },
	{ title: 'Titular', key: 'titular', scopedSlots: { customRender: "titular" } },
	{ title: 'Fecha', dataIndex: 'date_at', key: 'date_at' },
	{ title: 'Monto', dataIndex: 'total', key: 'total' },
	{ title: 'Vigencia', key: 'payment_status', scopedSlots: { customRender: "payment_status" } },
	{ title: 'Estado', key: 'status', scopedSlots: { customRender: "status" } },
	{ title: '-', key: 'action', scopedSlots: { customRender: "action" } }
];

/*---------- */
export default {
	data() {
		return {
			editAllowed: false,
			stand_key: 0,
			stands: [],
			// lista de multas
			debts: [],
			pagination: {},
			debt: {},
			rules: {
				name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			moment,
			locale,
			filter: { date_init: moment().subtract(7, 'days'), date_end: moment() },
			loading: false,
			showModal: false,
			columns,
			type: 'normal',
			census: []
		}
	},
	mounted() {
		this.editAllowed = Utils.checkEditMode();
		this.filter.date_init = moment().subtract(7, 'days').format('YYYY-MM-DD');
		this.filter.date_end = moment().format('YYYY-MM-DD');
		this.fetch();
	},
	methods: {
		handleTableChange(pagination, filters, sorter) {
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				search: this.filter.search,
				sortOrder: sorter.order,
				...filters,
			});
		},
		async handleSwitchMultipleDebt() {
			this.census = []
			// TODO CARGAR PADRON DE MERCADO DERECHO DE MESA
			const {data} = await StandRepository.getListStandWithTitular({market_id:DERECHO_MESA_ID,nopaginate:true});
			this.census = data;
		},
		onChangeflesh(index,flesh) {
			const {total,code_manual} = this.totalAmount(this.census[index]);
			this.census[index].total = total;
			this.census[index].code_manual = code_manual;
		},
		async fetch(params = {}) {
			params.concept_id = DDM_CONCEPT_ID;
			params.status = -1;
			params = { ...params, ...this.filter };
			this.loading = true;
			console.log("params", params);
			try {
				const { data } = await DebtRepository.list(params, this.type);
				const pagination = { ...this.pagination };
				pagination.total = data.total;
				this.pagination = pagination;
				this.loading = false;
				this.debts = data.data;
				this.debts.forEach(e => { e.date_at = moment(e.date_at).format('DD-MM-YYYY HH:mm:ss'); e.total = Number.parseFloat(e.total).toFixed(2) });
			} catch (error) {
				this.error();
			}
		},
		error(message) { this.$message.error(message || 'Error al procesar'); },
		success(message) { this.$message.success(message || 'Proceso Correcto'); },
		warning(message) { this.$message.warning(message || 'No se puede ejecutar el proceso'); },

		saveDebt() {
			if (this.debt.multiple) this.saveMultipleDebt();
			else this.saveIndividualDebt();
		},
		async saveIndividualDebt() {
			if (!this.isValidatedDebt()) { return; }
			this.showModal = false;
			let payload;
			if (!this.debt.id) {
				payload = {
					date_at: moment(this.debt.date_at).format('YYYY-MM-DD hh:mm:ss'),
					type: 'normal',
					client_id: this.debt.client_id,
					stand_id: this.debt.stand_id,
					code_manual: this.debt.code_manual,
					total: this.debt.total,
					concept_id: DDM_CONCEPT_ID
				}
			} else {
				payload = {
					id: this.debt.id,
					total: this.debt.total,
					date_at: moment(this.debt.date_at).format('YYYY-MM-DD hh:mm:ss'),
					code_manual: this.debt.code_manual,
					stand_id: this.debt.stand_id,
					concept_id: DDM_CONCEPT_ID
				}
			}
			this.loading = true;
			try {
				let data = await DebtRepository.save(payload);
				this.success();
				this.fetch();
			} catch (error) {
				this.error();
			}
		},
		async saveMultipleDebt() {
			this.showModal = false;
			try {
				let payload = { debts: [] };
				payload.debts = this.census
					.filter(debt=>debt.is_menudencia||debt.is_carne_vacuno||debt.is_carne_porcino)
					.map(debt=>{
						return {
							client_id: debt.titular_id,
							code_manual: debt.code_manual,
							concept_id: DDM_CONCEPT_ID,
							stand_id: debt.id,
							total: debt.total,
							type: 'normal',
							date_at: moment(this.debt.date_at).format('YYYY-MM-DD hh:mm:ss')
						}
					});
				const {data} = await DebtRepository.saveMultiple(payload);
				this.success();
				this.fetch();
			} catch (e) {
				console.log(e);
				this.error(e);
			}
		},
		isValidatedDebt() {
			let isValid = true;
			if (!this.debt.date_at) { this.$message.warning('Seleccione una fecha!!!'); isValid = false; }
			if (!this.debt.client_id) { this.$message.warning('Seleccione al señor!!!'); isValid = false; }
			if (!this.debt.stand_id) { this.$message.warning('Seleccione un Puesto.!!!'); isValid = false; }
			if (!this.debt.total) { this.$message.warning('Seleccione un checklist.!!!!!!'); isValid = false; }
			if (!this.stands.find(item => item.id == this.debt.stand_id)) { this.$message.warning('Asigne el Puesto correspondiente.!!!!!!'); isValid = false; }
			return isValid;
		},
		newDebt() {
			this.showModal = true;
			this.debt = {};
			this.stands = [];
			this.debt.date_at = moment();
			// setTimeout(()=>{
			//   this.$refs.userForm.resetFields();
			// },5);
		},

		async edit(id) {
			let debt = { ...this.debts.find(item => item.id === id) };
			debt.date_at = moment(debt.date_at, 'DD-MM-YYYY hh:mm:ss');
			this.debt = debt;
			await this.getStandsByClientIDRepository(this.debt.client_id);
			this.showModal = true;
		},
		async remove(id) {
			let payload = {
				id: id,
				status: 0
			};
			this.loading = true;
			try {
				let data = await DebtRepository.save(payload);
				this.success();
				this.fetch();
			} catch (error) {
				this.loading = false;
				this.error();
			}
		},
		onChangeMenudencia(e) {
			this.debt.is_menudencia = e.target.checked;
			const {total,code_manual} = this.totalAmount(this.debt);
			this.debt.total = total
			this.debt.code_manual = code_manual
		},
		onChangeCarneVacuno(e) {
			this.debt.is_carne_vacuno = e.target.checked;
			const {total,code_manual} = this.totalAmount(this.debt);
			this.debt.total = total
			this.debt.code_manual = code_manual
		},
		onChangeCarnePorcino(e) {
			this.debt.is_carne_porcino = e.target.checked;
			const {total,code_manual} = this.totalAmount(this.debt);
			this.debt.total = total
			this.debt.code_manual = code_manual
		},
		totalAmount(debt) {
			let response = { total: '', code_manual: ''}
			if (debt.is_menudencia && debt.is_carne_vacuno && debt.is_carne_porcino) {
				response.total = 12;
				response.code_manual = 'M-' + 'CV-' + 'CP';
			} else if (debt.is_menudencia && debt.is_carne_vacuno && !debt.is_carne_porcino) {
				response.total = 12;
				response.code_manual = 'M-' + 'CV';
			} else if (debt.is_menudencia && !debt.is_carne_vacuno && debt.is_carne_porcino) {
				response.total = 12;
				response.code_manual = 'M-' + 'CP';
			} else if (!debt.is_menudencia && debt.is_carne_vacuno && debt.is_carne_porcino) {
				response.total = 6;
				response.code_manual = 'CV-' + 'CP';
			} else if (!debt.is_menudencia && !debt.is_carne_vacuno && !debt.is_carne_porcino) {
				response.total = '';
				response.code_manual = '';
			} else {
				response.total = 6;
				response.code_manual = debt.is_menudencia ? 'M' : debt.is_carne_vacuno ? 'CV' : 'CP';
			}
			return response;
		},

		// Evento cuando se realiza cambios en el select de personas
		async changeSelectPeople(person_data) {
			this.debt.stand_location = "";
			this.debt.client_id = person_data.id;
			await this.getStandsByClientIDRepository(person_data.id);
		},
		async getStandsByClientIDRepository(client_id) {
			let { data } = await StandRepository.getStandsByClientID({ titular_id: client_id })
			this.stands = data.data;
			// this.cleanFieldsFineLocationAndStandID();
		},


		findStand(id) {
			return this.stands.find(item => item.id == id);
		},
		changeFilterDate(value, dateString) {
			this.filter.date_init = value[0] ? moment(value[0]).format('YYYY-MM-DD') : null;
			this.filter.date_end = value[1] ? moment(value[1]).format('YYYY-MM-DD') : null;
			this.fetch();
		},
		changeSelectPaymentsOrDebts() {
			this.fetch();
		}
	}
}
</script>
<style scoped>
.ant-col.ant-form-item-label {
	padding-bottom: 0;
}

.debt-form .ant-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 0;
}

.debt-form__header {
	display: flex;
}

.debt-form__header__left {
	display: flex;
	flex-basis: 50%;
}

.debt-form__header__left__logo img {
	width: 50px
}

.debt-form__header__left__municipality {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.debt-form__header__right {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
}

.debt-form__header__right__title {
	text-align: center;
}

.debt-form__header__right__date__numeration {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.debt-form__header__right__numeration {
	width: 150px;
}

.debt-form__autor {
	display: flex;
	flex-direction: column;
}

.debt-form__autor__data {
	display: flex;
}

.debt-form__autor__data__name {
	flex-basis: 60%
}

.debt-form__table {
	display: flex;
}


.table-debt__header__code,
.table-debt__header__total {
	border: 1px solid rgba(0, 0, 0, .5)
}

.table-debt__header__code {
	border-top-left-radius: 1px;
	border-bottom-left-radius: 1px;
}

.table-debt__header__total {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.table-debt__header__code .ant-row,
.table-debt__header__total .ant-row {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.table-debt__header--border-top {
	border-top: 1px solid rgba(0, 0, 0, .5)
}

.table-debt__header__code .ant-col {
	height: 30px;
}

.debt-form__observation {
	margin-top: 20px;
}

.ant-form-item-label label {
	margin-bottom: 0rem;
}

.test_code>div {
	background: red;
	color: blue;
}</style>