<template>
<div>
	<div class="content">
		<h1 class="content__title">ADMINISTRACIÓN DE GIROS </h1> 
		<hr class="content__divider"/>
		<a-button v-show="editAllowed" type="primary" size="small" @click="nuevo()">Nuevo</a-button>
  		<div class="table-operations" >
                  
			<a-input v-model="gyre.search" style="width:200px" v-on:keyup.enter="fetch({search:gyre.search})" size="small" placeholder="Buscar..."/>
			<a-button type="primary" size="small" @click="fetch({search:gyre.search})" >Buscar</a-button>

		</div>
	  <a-table
	  :columns="columns"
	  :row-key="record => record.id"
	  :data-source="gyres"
	  :pagination="pagination"
	  :loading="loading"
	  @change="handleTableChange">
		  <span slot="action" slot-scope="text,record">
			<a-divider type="vertical" />
			<a href="javascript:;"  v-show="editAllowed" @click="edit(record.id)" title="Editar"><a-icon type="edit" /></a>
			<a-divider type="vertical" />
			<a-popconfirm title="Seguro?" @confirm="() => remove(record.id)">
			  <a href="javascript:;"  v-show="editAllowed" title="Eliminar"><a-icon type="delete" /></a>
			</a-popconfirm>
			<a-divider type="vertical" />
		  </span>
		</a-table>

	  <a-modal title="Giro" :key="gyre.id" :visible="showModal" @ok="save" @cancel="showModal = false" cancelText="Cancelar" okText="Guardar" >
	  
		<a-form-model layout="vertical" ref="gyreForm" :model="gyre" :rules="rules" >
		  <a-form-model-item label="Codigo" prop="code">
			<a-input v-model="gyre.code" />
		  </a-form-model-item>
		  <a-form-model-item label="Nombre" prop="name">
			<a-input v-model="gyre.name" />
		  </a-form-model-item>
		</a-form-model>
	  </a-modal>

  </div>    
</div>    
</template>
<script>
import Utils from "../../Utils.js";
import Repository from "../../repositories/RepositoryFactory";
const GyreRepository = Repository.get("gyre");

const columns = [
  { title: 'Codigo',dataIndex: 'code'},
  { title: 'Nombre',dataIndex: 'name'},
  {title:'-',key:'action',scopedSlots: { customRender: "action" } }
];
/*---------- */
export default {
	data(){
		return {
			editAllowed:false,
		  // ############  Club #########
		 formData:{},
			gyre: {
			  name: '',
			},
			rules:{
			  name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			gyres:[],
			pagination: {},
			loading: false,
			columns,
			showModal:false,
		}
	},
	mounted() {
		this.editAllowed= Utils.checkEditMode();
		 this.fetch();
	},
	methods:{
		 handleTableChange(pagination, filters, sorter){
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				search: this.gyre.search,
				sortOrder: sorter.order,
				...filters,
			});
		},
		async fetch(params = {}){
			this.loading = true;
			try {
				const {data} =  await GyreRepository.list(params)
				const pagination = { ...this.pagination };
				console.log("data",data);
				pagination.total = data.total;
				this.pagination = pagination;
				this.loading = false;
				this.gyres = data.data;
			} catch (error) {
				this.error();
			}
		},
		error (message) {
		this.$message.error(message||'Error al procesar');
	},
	success (message) {
		this.$message.success(message||'Proceso Correcto');
	},
	async save(){
		if(!this.isValidatedForm()){ return;}
		this.showModal=false;
		this.loading=true;
		let payload = this.gyre;
		try {
			let data = await GyreRepository.save(payload);
			this.success();
			this.fetch();
		} catch (error) {
			this.error();
		}
	},
	isValidatedForm(){
		let isValid = true;
		if(!this.gyre.code){this.$message.warning('Ingrese codigo del giro!!!'); isValid=false;}
		if(!this.gyre.name){this.$message.warning('Ingrese nombre del giro.!!!'); isValid=false;}
		return isValid;
	},
	nuevo(){
	  this.showModal=true;
	  this.gyre={};
	  // setTimeout(()=>{
	  //   this.$refs.userForm.resetFields();
	  // },5);
	},
	edit(id){
	  let d = this.gyres.find(item => item.id === id);
	   this.gyre = d;
	   this.showModal = true;
	},
   async remove(id){
		let payload = this.gyres.find(item => item.id === id);
		payload.status = 0;
		this.loading=true;
		try {
			let data = await GyreRepository.save(payload);
			this.success();
			this.fetch();
		} catch (error) {
			this.loading = false;
			this.error();
		}
	},

	}
}
</script>
