<template>
<div>
	<div class="content">
		<h1 class="content__title">ADMINISTRACIÓN DE LOCALES</h1> 
		<hr class="content__divider"/> 
		<a-button  v-show="editAllowed" type="primary" size="small" @click="newStand">Nuevo</a-button>
		<div class="table-operations" >
            <a-form layout="inline">
                  
              <a-input v-model="stand.search" style="width:200px"  v-on:keyup.enter="fetch({search:stand.search})" size="small" placeholder="Buscar..."/>
              <a-button type="primary" size="small" @click="fetch({search:stand.search})" >Buscar</a-button>

			</a-form>
	</div>
	<a-table
	:columns="columns"
	:row-key="record => record.id"
	:data-source="stands"
	:pagination="pagination"
	:loading="loading"
	@change="handleTableChange">
		<span slot="titular" slot-scope="text,record"> {{record.titular.lastname.toUpperCase()}}, {{record.titular.name.toUpperCase()}} - {{record.titular.dni}}</span>
	  	<span slot="action" slot-scope="text,record">
			<a-divider type="vertical" />
			<a href="javascript:;"   v-show="editAllowed" @click="editStand(record.id)" title="Editar"><a-icon type="edit" /></a>
			<a-divider type="vertical" />
			<a-popconfirm :title="record.status==1 ? 'Seguro de desactivar?':'Seguro de activar?'" @confirm="() => removeStand(record.id)">
				<a href="javascript:;"  v-show="editAllowed" :title="record.status==1 ? 'desactivar': 'activar'">
					<a-icon :type="record.status==1 ? 'delete' : 'check-circle'" />
				</a>
			</a-popconfirm>
			<a-divider type="vertical" />
		</span>
	  </a-table>

	<a-modal 
	:width="'90%'" 
	:key="stand.id" 
	title="Local" 
	:visible="showModal" 
	@ok="saveStand" 
	@cancel="showModal = false" 
	cancelText="Cancelar" 
	okText="Guardar">
		  	<a-form-model layout="vertical" ref="userForm" :model="stand" :rules="rules" > <!--:label-col="labelCol" :wrapper-col="wrapperCol" -->
				<a-row :gutter="16">
					<a-col class="gutter-row" :span="9">
			
						<a-form-model-item label="Nombre" prop="name">
							<a-input v-model="stand.name" />
						</a-form-model-item>

						<a-form-model-item label="Titular" prop="titular_id">
							<select-people-component :person_id="stand.titular_id" v-on:handleSelectPeople="changeSelectTitulars" :key="stand.titular_id" />
						</a-form-model-item>

						<a-form-model-item label="Ubicación" prop="location">
							<a-input v-model="stand.location" />
						</a-form-model-item>

					</a-col>
					<a-col class="gutter-row" :span="8">
						<a-form-model-item label="Adjunto" prop="adjudication">
							<file-component :files="stand.files" v-on:changeFile="onChangeFile" :key="stand.files.length" />
						</a-form-model-item>
					</a-col>
					<a-col class="gutter-row" :span="7">
						<a-form-model-item label="Imagen" prop="photo">
							<picture-component :photo="stand.photo" v-on:changeImage="onChangePhoto" key="photo"  />
						</a-form-model-item>
					</a-col>

			</a-row>
		</a-form-model>
	</a-modal>

  </div>      
</div>    
</template>
<script>
import Utils from "../../Utils.js";
import Repository from "../../repositories/RepositoryFactory";
import moment from "moment";
moment.locale('es');
const {LOCAL_ID} = require("../../constants");
const PersonRepository = Repository.get("person");
const StandRepository = Repository.get("stand");
const FileRepository = Repository.get("file");

const columns = [
  { title: 'Nombre',dataIndex: 'name'},
  { title: 'Titular',key: 'titular',scopedSlots: { customRender: "titular" }},
  { title: 'Ubicación',dataIndex: 'location'},
  {title:'-',key:'action',scopedSlots: { customRender: "action" } }
];
let have_debts = async(person_id,Repository,stand_id) => {
	const have_debts =  await Repository.getStandWithDebts(person_id,0,{stand_id:stand_id,concept_id:1});
	return have_debts.data.length > 0;
}
/*---------- */
export default {
	data(){
		return {
			editAllowed:false,
			stands:[],
			columns,
			stand: {files:[]},
			rules:{
			  name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			pagination: {},
			loading: false,
			showModal:false,
			tmpNameLocal:'',
			person_select_edit:''
			//stand:{},
		}
	},
	async mounted() {
		this.editAllowed= Utils.checkEditMode();
		this.fetch();
	},
	methods:{
		handleTableChange(pagination, filters, sorter){
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				search: this.stand.search,
				sortOrder: sorter.order,
				...filters,
			});
		},
		async fetch(params = {}){
			this.loading = true;
			params.type = 'local';
			try {
				const {data} =  await StandRepository.list(params)
				const pagination = { ...this.pagination };
				pagination.total = data.total;
				this.pagination = pagination;
				this.loading = false;
				this.stands = data.data;
			} catch (error) {
				this.error();
			}
		},
		error (message) {
		this.$message.error(message||'Error al procesar');
		},
		success (message) {
			this.$message.success(message||'Proceso Correcto');
		},
		async saveStand(){
			if(!this.isValidatedDirectFine()){ return;}
			this.showModal=false;
			this.loading=true;
			let payload = this.stand;
			payload.market_id = LOCAL_ID;
			if(this.tmpNameLocal!=payload.name){
				payload.isEditNameLocal=true;
			}
			if(this.person_select_edit!=this.stand.titular_id){
				payload.is_edit_titular=true;
			}
			this.saveStandRepository(payload);
		},
		isValidatedDirectFine(){
			let isValid = true;
			if(!this.stand.name){this.$message.warning('Ingrese nombre del local!!!'); isValid=false;}
			if(!this.stand.titular_id){this.$message.warning('Seleccione al titular.!!!'); isValid=false;}
			if(!this.stand.location){this.$message.warning('Ingrese Ubicación.!!!'); isValid=false;}
			return isValid;
		},
		newStand(){
			this.showModal=true;
			this.stand={files:[]};
		// setTimeout(()=>{
		//   this.$refs.userForm.resetFields();
		// },5);
		},
		onChangeFile(data){
            this.stand.files = data;
		},
		onChangePhoto(data){
			this.stand.photo = data;
		},

		async editStand(id){
			let stand = this.findStand(id);
			this.stand = stand;
			this.tmpNameLocal=stand.name;
			this.person_select_edit=this.stand.titular_id;
			this.stand.files=[];
			this.stand.files = await this.getFilesStand(this.stand);
			this.showModal = true;
		},
		async getFilesStand(stand) {
			let {data} = await FileRepository.list({type:'local','reference_id':this.stand.id});
			return data.data;  
		},
		findStand(id){
			 return this.stands.find(item => item.id === id);
		},
		setRateValue(){
			if(!this.existMarketIdAndStandId()) return;
			const rate = this.rates.filter(item => item.gyre_id == this.stand.gyre_id && item.market_id == this.stand.market_id)[0];
			this.stand.rate_amount = rate ? rate.amount : 0;
			this.stand.rate_id = rate ? rate.id : null;
		},

		existMarketIdAndStandId() {
			let exist = true;
			if(!this.stand.market_id) {this.$message.warning('Por favor asigne mercado para para mostrar la Tarifa!!!'); exist = false; }
			if(!this.stand.gyre_id) {this.$message.warning('Por favor asigne giro para para mostrar la Tarifa!!!'); exist = false;}
			return exist;
		},
		async removeStand(id){
			let payload = this.findStand(id);
			if (await have_debts(payload.titular_id,StandRepository,payload.id)) {
				this.error(` aún tiene deudas pendientes el puesto, y no se puede eliminar!!`); this.loading = false; return;};
			
			payload.status = payload.status==1 ? 0 : 1;
			payload.type = 'local';
			this.loading=true;
			this.saveStandRepository(payload);
		},
		async saveStandRepository(payload) {
			try {
				let data = await StandRepository.save(payload);
				this.success(); 
				this.fetch();
				this.loading = false;
			} catch (error) {
				console.log(error);
				this.error();
			}
		},
		// Evento cuando se realiza cambios en el select de personas
		changeSelectTitulars(person_titular) {
			this.stand.titular_id = person_titular.id;
		},
		changeSelectDrivers(driver_id) {
			this.stand.driver_id = driver_id;
		},
		changeSelectGyres(gyre_id) {
			this.stand.gyre_id = gyre_id;
			this.setRateValue();
		},
		changeSelectSectors(sector_id) {
			this.stand.sector_id = sector_id;
		},

	}
}
</script>
