<template>
	<div>
		<div class="content">
			<h1 class="content__title">MERCADOS</h1>
			<hr class="content__divider" />
			<a-button type="primary"  v-show="editAllowed" size="small" @click="nuevo()">Nuevo</a-button>
			<div class="table-operations">
				<a-form layout="inline">
					<a-input v-model="market.search" v-on:keyup.enter="fetch({ search: market.search })" style="width:200px"
						size="small" placeholder="Buscar..." />
					<a-button type="primary" @click="fetch({ search: market.search })" size="small">Buscar</a-button>
				</a-form>
			</div>
			<a-table :columns="columns" :row-key="(record, index) => index" :data-source="data" :pagination="pagination"
				:loading="loading" @change="handleTableChange">
				<span slot="photo" slot-scope="text,record"> <img :src="record.photo + '?' + Math.random()"
						style="width: 35px; height: 35px; object-fit: cover;" /> </span>
				<span slot="action" slot-scope="text,record">
					<a href="javascript:;"  v-show="editAllowed" @click="edit(record.id)" title="Editar"><a-icon type="edit" /></a>
					<a-divider type="vertical" />
					<a-popconfirm v-if="data.length" v-show="record.id != LOCAL_ID && record.id != DERECHO_MESA_ID"
						title="Seguro?" @confirm="() => remove(record.id)">
						<a href="javascript:;"  v-show="editAllowed" title="Eliminar"><a-icon type="delete" /></a>
					</a-popconfirm>
					<a-divider type="vertical" />
					<a v-if="editAllowed && record.id != LOCAL_ID && record.id != DERECHO_MESA_ID" href="javascript:;"
						@click="prepareGenerateDebts(record)" title="Generar Deudas"><a-icon type="dollar" /></a>

				</span>
			</a-table>
		</div>
		<a-modal :key="market.id" :width="700" title="Mercado" :visible="showModal" @ok="save" @cancel="showModal = false"
			cancelText="Cancelar" okText="Guardar">
			<a-form-model layout="vertical" ref="userForm" :model="market" :rules="rules">
				<!--:label-col="labelCol" :wrapper-col="wrapperCol" -->
				<a-row :gutter="16">

					<a-col class="gutter-row" :span="12">

						<a-form-model-item label="Codigo" prop="code">
							<a-input v-model="market.code" />
						</a-form-model-item>

						<a-form-model-item label="Nombre" prop="name">
							<a-input v-model="market.name" />
						</a-form-model-item>

						<a-form-model-item label="Dirección" prop="address">
							<a-input v-model="market.address" />
						</a-form-model-item>

						<a-form-model-item label="Adjunto" prop="adjudication">
							<file-component :files="market.files" v-on:changeFile="onChangeFile"
								:key="market.files.length" />
						</a-form-model-item>

					</a-col>
					<a-col class="gutter-row" :span="12">
						<a-form-model-item label="Imagen" prop="photo">
							<picture-component :photo="market.photo" v-on:changeImage="onChangePhoto" :key="pictureKey" />
						</a-form-model-item>
					</a-col>

				</a-row>
			</a-form-model>
		</a-modal>

		<a-modal :visible="showModalGenDebts" @cancel="showModalGenDebts = false" @ok="generateDebts" okText="Generar"
			cancelText="Cerrar" :key="showModalGenDebts">
			<div>Crear Deudas Para: {{ debts_for_market.name }}</div>
			<a-form-model layout="inline" v-model="debts_for_market">
				<a-form-model-item label="Sector:" prop="sector_id">
					<select-sector-component :size="'small'" :sector_id="debts_for_market.sector_id"
						v-on:handleSelectSectors="fetchStandsOfMarket" style="width:200px;" />
				</a-form-model-item>
				<!--<a-form-model-item label="Puesto:" v-if="debts_for_market.id">
					<a-select v-model="debts_for_market.stand_id" size="small" placeholder="..." style="width:200px" :allowClear="true" :disabled="debts_for_market.sector_id?false:true">
						<a-select-option v-for="(item,index) in stands_of_market" :value="item.id" :key="index" >
							{{item.code}} - {{item.titular_name}} {{item.titular_lastname}} ({{item.titular_dni}})
						</a-select-option>
					</a-select>			
				</a-form-model-item>-->

				<a-form-model-item label="Puesto:" prop="stand_id">
					<select-stand-component :size="'small'" :disabled="debts_for_market.sector_id ? false : true"
						:stand_id="debts_for_market.stand_id" :sector_id="debts_for_market.sector_id"
						:market_id="debts_for_market.id" v-on:handleSelectStands="changeSelectStands" style="width:300px;"
						:key="asignsector" />
				</a-form-model-item>

				<a-form-model-item label="Concepto:" prop="concept_id">
					<a-select v-model="debts_for_market.concept_id" size="small" placeholder="..." style="width:200px"
						:allowClear="true" @change="showStandConcepts">
						<a-select-option v-for="(item, index) in concepts" :value="item.id" :key="index">
							{{ item.code }} - {{ item.name }}
						</a-select-option>
					</a-select>
				</a-form-model-item>

				<a-form-model-item label="Desde">
					<a-date-picker v-model="debts_for_market.date_init" size="small" format="DD-MM-YYYY" :disabledDate="disabledDebtDate" />
				</a-form-model-item>
				<a-form-model-item label="Hasta">
					<a-date-picker v-model="debts_for_market.date_finish" size="small" format="DD-MM-YYYY"  :disabledDate="disabledDebtDate" />
				</a-form-model-item>
				<a-checkbox @change="() => { debts_for_market.is_debt_daily = !debts_for_market.is_debt_daily; }"
					:checked="debts_for_market.is_debt_daily">
					Deudas Diarias
				</a-checkbox>
				<div>Son {{ moment(debts_for_market.date_finish).diff(debts_for_market.date_init, 'months') + 1 }} deudas.
				</div>
				<a-alert v-if="generatingMessage" message="Generando..." type="success" />
			</a-form-model>
		</a-modal>
	</div>
</template>
<script>
import Utils from "../../Utils.js";
import moment from 'moment';
import Repository from "../../repositories/RepositoryFactory";
const MarketRepository = Repository.get("market");
const FileRepository = Repository.get("file");
const SectorRepository = Repository.get("sector");
const StandRepository = Repository.get("stand");
const ConceptRepository = Repository.get("concept");
const { LOCAL_ID, SISA_ID, PACOPMAR_ID, DERECHO_MESA_ID, SISA_CONCEPT_ID, MRCD_CONCEPT_ID } = require("../../constants");
const columns = [
	{ title: 'Imagen', key: 'photo', scopedSlots: { customRender: "photo" } },
	{ title: 'Nombre', dataIndex: 'name' },
	{ title: 'Dirección', dataIndex: 'address' },
	{ title: '-', key: 'action', scopedSlots: { customRender: "action" } }
];

/*---------- */
export default {
	data() {
		return {
			editAllowed:false,
			moment,
			formData: {},
			pictureKey: 0,
			data: [],
			pagination: {},
			loading: false,
			columns,
			showModal: false,
			// ############  Club #########
			labelCol: { span: 4 },
			wrapperCol: { span: 14 },
			market: { name: '', files: [], },
			rules: {
				name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			showModalGenDebts: false,
			debts_for_market: {},
			sectors: [],
			sectors_of_market: [],
			stands_of_market: [],
			concepts: [],
			generatingMessage: false,
			LOCAL_ID,
			DERECHO_MESA_ID,
			asignsector: 0,
			is_update_market: 1,
		}
	},
	mounted() {
		this.editAllowed= Utils.checkEditMode();
		this.fetchConcepts();
		this.fetch();
	},
	methods: {
		async fetchSectorsOfMarket(params = {}) {
			const { data } = await SectorRepository.list_by_market({ market_id: this.debts_for_market.id });
			this.sectors_of_market = data;
		},
		async fetchStandsOfMarket(sector) {//fetchStandsOfMarket(params={})	
			this.debts_for_market.sector_id = sector ? sector.id : undefined;
			const { data } = await StandRepository.list({ market_id: this.debts_for_market.id, sector_id: this.debts_for_market.sector_id });
			this.stands_of_market = data.data;
			this.asignsector++;
		},
		changeSelectStands(stand) {
			this.debts_for_market.stand_id = stand.id;
		},
		async fetchConcepts() {
			const { data } = await ConceptRepository.list({ no_paginate: true });
			this.concepts = data;

		},
		handleTableChange(pagination, filters, sorter) {
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				search: this.market.search,
				sortOrder: sorter.order,
				...filters,
			});
		},
		async fetch(params = {}) {
			this.loading = true;
			try {
				const { data } = await MarketRepository.list(params)
				const pagination = { ...this.pagination };
				pagination.total = data.total;
				this.pagination = pagination;
				this.loading = false;
				this.data = data.data;
			} catch (error) {
				this.error();
			}
		},
		error(message) { this.$message.error(message || 'Error al procesar'); },
		success(message) { this.$message.success(message || 'Proceso Correcto'); },
		async save() {
			if (!this.isValidatedForm()) { return; }
			this.showModal = false;
			this.loading = true;
			let payload = this.market;
			if (!this.is_update_market) { payload.type = 'merced'; }

			try {
				let data = await MarketRepository.save(payload);
				this.success();
				this.fetch();
			} catch (error) {
				this.error();
			}
		},
		isValidatedForm() {
			let isValid = true;
			if (!this.market.code) { this.$message.warning('Ingrese codigo del mercado!!!'); isValid = false; }
			if (!this.market.name) { this.$message.warning('Ingrese nombre del mercado.!!!'); isValid = false; }
			if (!this.market.address) { this.$message.warning('Ingrese la dirección mercado.!!!'); isValid = false; }
			return isValid;
		},
		nuevo() {
			this.showModal = true;
			this.market = { files: [] };
			this.is_update_market = 0;
			// setTimeout(()=>{ 
			//   this.$refs.userForm.resetFields();
			// },5);
		},

		async edit(id) {
			let d = this.data.find(item => item.id === id);
			this.market = d;
			this.market.files = [];
			let { data } = await FileRepository.list({ type: 'market', 'reference_id': this.market.id });
			this.market.files = data.data;
			this.showModal = true;
			this.is_update_market = 1;
		},
		async remove(id) {
			let payload = this.data.find(item => item.id === id);
			payload.status = 0;
			this.loading = true;
			try {
				let data = await MarketRepository.save(payload);
				this.success();
				this.fetch();
			} catch (error) {
				this.loading = false;
				this.error();
			}
		},
		showStandConcepts() {
			this.concepts.find(item => item.id == this.debts_for_market.concept_id);
		},
		// File
		onChangeFile(data) {
			this.market.files = data;
		},
		// Photo
		onChangePhoto(data) {
			this.market.photo = data;
		},
		onChangeDebtsDaily(e) {
			this.debts_for_market.is_debt_daily = e.target.checked;
		},
		async prepareGenerateDebts(market_) {
			//this.debts_for_market ={...market_};
			await this.fetchSectorsOfMarket();
			await this.fetchStandsOfMarket();
			var date = new Date();
			/*this.debts_for_market.concept_id=1; ///
			this.debts_for_market.date_init = moment(date.getFullYear()+'-01-01');
			this.debts_for_market.date_finish = moment(date.getFullYear()+'-12-31');*/
			let concept_id = (market_.id == SISA_ID || market_.id == PACOPMAR_ID) ? SISA_CONCEPT_ID : MRCD_CONCEPT_ID; 
			
			this.debts_for_market = {
				concept_id: concept_id,
				date_init: moment(date.getFullYear() + '-01-01'),
				date_finish: moment(date.getFullYear() + '-12-31'),
				address: market_.address,
				code: market_.code,
				created_at: market_.created_at,
				id: market_.id,
				is_debt_daily: (market_.is_debt_daily ? true : false),
				name: market_.name,
				photo: market_.photo,
				status: market_.status,
				type: market_.type,
				updated_at: market_.updated_at,
			}
			this.showModalGenDebts = true;
			this.generatingMessage = false;
			// this.market = this.market.
		},
		disabledDebtDate(current) {
			const currentYear = moment().year();
			const yearStart = moment().year(currentYear).startOf('year');
			const yearEnd = moment().year(currentYear).endOf('year');
			return (
				current && 
				(current.isAfter(yearEnd, 'day'))
				//(current.isBefore(yearStart, 'day') || current.isAfter(yearEnd, 'day'))
			);
		},
		async generateDebts() {
			//            this.showConfirm();
			

			const params = {
				market_id: this.debts_for_market.id,
				date_init: this.debts_for_market.date_init.format("YYYY-MM-DD"),
				date_finish: this.debts_for_market.date_finish.format("YYYY-MM-DD"),
				concept_id: this.debts_for_market.concept_id,
				is_debt_daily: this.debts_for_market.is_debt_daily ? 1 : 0,
			};
			if (this.debts_for_market.sector_id) params.sector_id = this.debts_for_market.sector_id;
			if (this.debts_for_market.stand_id) params.stand_id = this.debts_for_market.stand_id;
			//si sector esta vacio entonces el puesto tambien debe estar vacio
			if (!this.debts_for_market.sector_id) this.debts_for_market.stand_id = '';
		


			let message_generate = params.is_debt_daily ? "por días" : "por meses";
			let confirm = await {
				title: 'Generar deudas',
				okText: 'Confirmar',
				cancelText: 'Cancelar',
				content: (h) => {
					return <div>
						<h4>Esta seguro de Generar deudas {message_generate}?</h4>
					</div>
				},
				okButtonProps: {
					props: { disabled: false },
				},
				onOk: async () => {
					return await this.confirmGenerateDebts(params);
				},
				onCancel() {
					console.log('Cancel');
				},
			}
			this.$confirm(confirm);
		},
		async confirmGenerateDebts(params) {
			try {
				this.generatingMessage = true;
				await MarketRepository.generateDebts(params).catch(e => { throw e.response; });
				this.success("Se Generaron las deudas.");
				this.showModalGenDebts = false;
				this.fetch();
			} catch (error) {
				if (error.status == 500 && error.data) { this.showModalGenDebts = false; this.error(error.data.message); }
				else this.error();
			}
			this.generatingMessage = false;
		},
		showConfirm() {
			this.$confirm({
				title: 'Esta ?',
				content: h => <div style="color:red;">Some descriptions</div>,
				onOk() {
					console.log('OK');
				},
				onCancel() {
					console.log('Cancel');
				},
				class: 'test',
			});
		}

	}
}
</script>
<style>
.ant-col.ant-form-item-label {
	padding-bottom: 0;
}
</style>
