<template>
	<div>
		<div class="content">
			<h1 class="content__title">ADMINISTRACIÓN DE PERSONAS</h1>
			<hr class="content__divider" />
			<a-button type="primary" v-show="editAllowed" size="small" @click="newPerson()">Nuevo</a-button>
			<div class="table-operations">

				<a-input v-model="person.search" style="width:200px" v-on:keyup.enter="fetch({ search: person.search })"
					size="small" placeholder="Buscar..." />
				<a-button type="primary" size="small" @click="fetch({ search: person.search })">Buscar</a-button>

			</div>
			<a-table :columns="columns" :row-key="record => record.id" :data-source="persons" :pagination="pagination"
				:loading="loading" @change="handleTableChange">

				<!-- <span slot="number" slot-scope="text,record">
				{{record.id}} 
			</span> -->
				<span slot="nombre" slot-scope="text,record"> {{ record.name.toUpperCase() }}</span>
				<span slot="status" slot-scope="text,record"> {{ record.status ? 'Activo' : 'Anulado' }}</span>
				<span slot="apellido" slot-scope="text,record"> {{ record.lastname.toUpperCase() }}</span>
				<span slot="action" slot-scope="text,record">
					<a-divider type="vertical" />
					<a href="javascript:;" v-show="editAllowed" @click="editPerson(record.id)" title="Editar"><a-icon
							type="edit" /></a>
					<a-divider type="vertical" />
					<a-popconfirm :title="record.status == 1 ? 'Seguro de desactivar?' : 'Seguro de activar?'"
						@confirm="() => removePerson(record)">
						<a href="javascript:;" v-show="editAllowed" :title="record.status == 1 ? 'desactivar' : 'activar'">
							<a-icon :type="record.status == 1 ? 'delete' : 'check-circle'" />
						</a>
					</a-popconfirm>
					<a-divider type="vertical" />
				</span>
			</a-table>

			<a-modal :key="showModal" :width="900" title="Miembro" :visible="showModal" @ok="savePerson"
				@cancel="showModal = false" cancelText="Cancelar" okText="Guardar">

				<a-form-model layout="vertical" ref="userForm" :model="person" :rules="rules">
					<!--:label-col="labelCol" :wrapper-col="wrapperCol" -->
					<a-row :gutter="16">
						<a-col class="gutter-row" :span="8">

							<a-form-model-item label="Nombre" prop="name">
								<a-input v-model="person.name" />
							</a-form-model-item>

							<a-form-model-item label="Apellido" prop="lastname">
								<a-input v-model="person.lastname" />
							</a-form-model-item>

							<a-form-model-item label="Dni" prop="dni">
								<a-input v-model="person.dni" />
							</a-form-model-item>

							<a-form-model-item label="Nacimiento" prop="birth">
								<a-date-picker format="DD-MM-YYYY" v-model="person.birth" />
							</a-form-model-item>

						</a-col>
						<a-col class="gutter-row" :span="8">

							<a-form-model-item label="Teléfono 1" prop="phone1">
								<a-input v-model="person.phone1" />
							</a-form-model-item>

							<a-form-model-item label="Teléfono 2" prop="phone2">
								<a-input v-model="person.phone2" />
							</a-form-model-item>

							<a-form-model-item label="Domicilio" prop="address1">
								<a-input v-model="person.address1" />
							</a-form-model-item>

							<a-form-model-item label="Correo" prop="email">
								<a-input v-model="person.email" />
							</a-form-model-item>

							<!--<a-form-model-item label="Domicilio" prop="address2">
							<a-input v-model="person.address2" />
						</a-form-model-item>-->
						</a-col>
						<a-col class="gutter-row" :span="8">

							<a-form-model-item label="Imagen" prop="photo">
								<picture-component :photo="person.photo" v-on:changeImage="onChangePhoto" key="photo" />
							</a-form-model-item>

						</a-col>
					</a-row>
				</a-form-model>
			</a-modal>

		</div>
	</div>
</template>
<script>
import Utils from "../../Utils.js";
import esES from 'ant-design-vue/es/locale-provider/es_ES';
import moment from 'moment';
import 'moment/locale/es';
moment.locale('es');

import Repository from "../../repositories/RepositoryFactory";
import UserRepository from '../../repositories/UserRepository';
const DebtRepository = Repository.get("debt");
const PersonRepository = Repository.get("person");

const can_access = ['rt_admin', 'sp_admin'];

const columns = [
	//   { title: 'N°',key:'number',scopedSlots: { customRender: "number" } },
	{ title: 'Nombre', scopedSlots: { customRender: "nombre" } },
	{ title: 'Apellido', scopedSlots: { customRender: "apellido" } },
	{ title: 'Dni', dataIndex: 'dni' },
	{ title: 'Teléfono 1', dataIndex: 'phone1' },
	{ title: 'Teléfono 2', dataIndex: 'phone2' },
	{ title: 'Estado', scopedSlots: { customRender: "status" } },
	{ title: '-', key: 'action', scopedSlots: { customRender: "action" } }
];

let have_debts = async (person_id, Repository) => {
	const have_debts = await Repository.getAccountStatusByTitular(person_id, 0, {});
	return have_debts.data.data.length > 0;
}

/*---------- */
export default {
	data() {
		return {
			editAllowed: false,
			// ############  Club #########
			formData: {},
			person: {
				name: '',
			},
			rules: {
				name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			persons: [],
			pagination: {},
			loading: false,
			columns,
			// manejo de fechas
			moment,
			showModal: false,
			esES,
			//person:{},
		}
	},
	mounted() {
		this.editAllowed = Utils.checkEditMode();
		//console.log(app);
		//UserRepository.checkAccess(can_access);
		this.fetch();
	},
	methods: {
		handleTableChange(pagination, filters, sorter) {
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				search: this.person.search,
				sortOrder: sorter.order,
				...filters,
			});
		},
		async fetch(params = {}) {
			this.loading = true;
			try {
				const { data } = await PersonRepository.list(params);
				const pagination = { ...this.pagination };
				pagination.total = data.total;
				this.pagination = pagination;
				this.loading = false;
				this.persons = data.data;
			} catch (error) {
				this.error();
			}
		},
		error(message) {
			this.$message.error(message || 'Error al procesar');
		},
		warning(message) {
			this.$message.warning(message || 'No se puede ejecutar el proceso');
		},
		success(message) {
			this.$message.success(message || 'Proceso Correcto');
		},
		async savePerson() {
			if (!this.isValidatedPersons()) { return; }
			this.showModal = false;
			this.loading = true;
			let payload = this.person;
			//payload.birth = moment(this.person.birth).format('YYYY-MM-DD');
			payload.birth = moment(this.person.birth);
			try {
				if (!payload.id) { //registrando a people
					let dataduplicatedni = await PersonRepository.verifyDuplicateDNI(payload.dni);
					if (dataduplicatedni.data) {
						this.warning("DNI duplicado, active la persona");
					} else { await PersonRepository.save(payload); this.success(); }
				} else { //edit
					await PersonRepository.save(payload);
					this.success();
				}
				this.fetch();
			} catch (error) {
				this.error();
				this.loading = false;
			}
		},
		isValidatedPersons() {
			let isValid = true;
			if (!this.person.name) { this.$message.warning('Ingrese nombre!!!'); isValid = false; }
			if (!this.person.lastname) { this.$message.warning('Ingrese apellido.!!!'); isValid = false; }
			//if(!this.person.dni){this.$message.warning('Ingrese Dni.!!!'); isValid=false;}
			if (!this.person.birth) { this.$message.warning('Ingrese año de nacimiento.!!!'); isValid = false; }
			//if(!this.person.phone1){this.$message.warning('Ingrese un numero telefonico.!!!'); isValid=false;}
			//if(!this.person.address1){this.$message.warning('Ingrese Domicilio Fiscal.!!!'); isValid=false;}
			//if(!this.person.address1){this.$message.warning('Ingrese Domicilio.!!!'); isValid=false;}
			return isValid;
		},
		newPerson() {
			this.showModal = true;
			this.person = {};
			this.person.birth = moment();
			// setTimeout(()=>{
			//   this.$refs.userForm.resetFields();
			// },5);
		},

		editPerson(id) {
			let d = this.persons.find(item => item.id === id);
			d.birth = moment(d.birth);
			this.person = d;
			this.showModal = true;
		},
		async removePerson(person) {
			if (await have_debts(person.id, DebtRepository)) { this.error(`${person.name} ${person.lastname} aún tiene deudas pendientes!!`); return; };

			person.status = person.status == 1 ? 0 : 1;
			this.loading = true;
			try {
				let data = await PersonRepository.save(person);
				this.success();
				this.fetch();
			} catch (error) {
				this.loading = false;
				this.error();
			}
		},
		onChangePhoto(data) {
			this.person.photo = data;
		},

	}
}
</script>
<style scoped></style>