<template>
<div>
	<div class="content">
		<h1 class="content__title">ADMINISTRACIÓN DE TARIFAS</h1> 
		<hr class="content__divider"/>
	  	<a-button type="primary" v-show="editAllowed" size="small" @click="newRate()">Nuevo</a-button>
	 	<div class="table-operations" >
                  
			<a-input v-model="rate.search" v-on:keyup.enter="fetch({search:rate.search})" style="width:200px" size="small" placeholder="Buscar..."/>
			<a-button type="primary" @click="fetch({search:rate.search})" size="small">Buscar</a-button>

		</div>
	  <a-table
	  :columns="columns"
	  :row-key="record => record.id"
	  :data-source="rates"
	  :pagination="pagination"
	  :loading="loading"
	  @change="handleTableChange">

	  <!-- <span slot="number" slot-scope="text,record">
		  {{record.id}}
	  </span> -->

	  <span slot="action" slot-scope="text,record">
		<a-divider type="vertical" />
		<a href="javascript:;" v-show="editAllowed" @click="editRate(record.id)" title="Editar"><a-icon type="edit" /></a>
		<a-divider type="vertical" />
		<a-popconfirm  title="Seguro?" @confirm="() => removeRate(record.id)">
			<a href="javascript:;" v-show="editAllowed" title="Eliminar"><a-icon type="delete" /></a>
		</a-popconfirm>
		<a-divider type="vertical" />
	  </span>
	</a-table>

	<a-modal :key="rate.id" title="Tarifa" :visible="showModal" @ok="save" @cancel="showModal = false" cancelText="Cancelar" okText="Guardar">
	  <a-form-model layout="vertical" ref="rateForm" :model="rate" :rules="rules">
		
		<a-row :gutter="16">
			<a-col class="gutter-row" :span="24">

				<a-form-model-item label="Mercado" prop="market">
					<a-select v-model="rate.market_id" placeholder="Seleccione..">
						<a-select-option v-for="(item,index) in markets" :value="item.id" :key="index" >
							{{item.name}}
						</a-select-option>
					</a-select>
				</a-form-model-item>

				<!-- <a-form-model-item label="Puesto" prop="stand">
					<a-select v-model="rate.stand_id" placeholder="Seleccione..">
						<a-select-option v-for="(item,index) in stands" :value="item.id" :key="index" >
							{{item.name}}
						</a-select-option>
					</a-select>
				</a-form-model-item> -->

				<a-form-model-item label="Giro" prop="gyre">
					<select-gyre-component :gyre_id="rate.gyre_id" v-on:handleSelectGyres="changeSelectGyres" :key="rate.gyre_id" />
				</a-form-model-item>

				<a-form-model-item label="Monto Tarifa" prop="amount">
					<a-input v-model="rate.amount" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"/>
				</a-form-model-item>

				<!-- <a-form-model-item label="Codigo" >
					<a-input v-model="rate.code" />
				</a-form-model-item> -->
					
			</a-col>
			<!-- <a-col class="gutter-row" :span="12">
				
				
			</a-col> -->
		</a-row>
	</a-form-model>
	</a-modal>

  </div>
</div>    
</template>
<script>
import Utils from "../../Utils.js";
import moment from "moment";
moment.locale('es');
import Repository from "../../repositories/RepositoryFactory";
const MarketRepository = Repository.get("market");
const GyreRepository = Repository.get("gyre");
const RateRepository = Repository.get("rate");
const StandRepository = Repository.get("stand");

const columns = [
//   { title: 'N°',key:'count',scopedSlots: { customRender: "count" }},
//   { title: 'Codigo',dataIndex: 'code'},
  { title: 'Mercado',dataIndex: 'market.name'},
  { title: 'Giro',dataIndex: 'gyre.name'},
  { title: 'Monto Tarifa',dataIndex: 'amount'},
  {title:'-',key:'action',scopedSlots: { customRender: "action" } }
];

/*---------- */
export default {
	data(){
		return {
			editAllowed:false,
			markets:[],
			gyres:[],
			stands:[],
		 	formData:{}, 
		  	labelCol: { span: 4 },
			wrapperCol: { span: 14 },
			rate: {
			  amount: '',
			},
			rules:{
			  amount: [{ required: true, message: 'Ingrese Monto Tarifa', trigger: 'blur' }],
			},
			rates:[],
			pagination: {},
			loading: false,
			columns,
			showModal:false,
			//rate:{},
		}
	},
	mounted() {
		this.editAllowed= Utils.checkEditMode();
		 this.fetch();
		 this.getMarkets();
		 this.getGyres();
		 this.getStands();
	},
	methods:{
		async getMarkets(params = {}) {
			const {data} =  await MarketRepository.list(params)
			this.markets = data.data;
		},
		async getGyres(params = {}) {
			const {data} =  await GyreRepository.list(params);
			this.gyres = data.data;
		},
		async getStands(params = {}) {
			const {data} =  await StandRepository.list(params)
			this.stands = data.data;
		},
		 handleTableChange(pagination, filters, sorter){
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				search: this.rate.search,
				sortOrder: sorter.order,
				...filters,
			});
		},
		async fetch(params = {}){ 
			this.loading = true;
			try {
				const {data} =  await RateRepository.list(params)
				const pagination = { ...this.pagination };
				pagination.total = data.total;
				this.pagination = pagination;
				this.loading = false;
				this.rates = data.data;
		  } catch (error) {
			this.error();
		  }
		},
		error (message) {
			this.$message.error(message||'Error al procesar');
		},
		success (message) {
			this.$message.success(message||'Proceso Correcto');
		},
		async save(){
			if(!this.isValidateform()){ return;}
			this.showModal=false;
			this.loading=true;
			let payload = this.rate;
			try {
				let data = await RateRepository.save(payload);
				this.success();
				this.fetch();
			} catch (error) {
				this.error();
			}
		},
		isValidateform(){
			let isValid = true;
			if(!this.rate.market_id){this.$message.warning('Seleccione Mercado!!!'); isValid=false;}
			if(!this.rate.gyre_id){this.$message.warning('Seleccione Giro.!!!'); isValid=false;}
			if(!this.rate.amount){this.$message.warning('Ingrese un monto de tarifa.!!!'); isValid=false;}
			return isValid;
		},
		newRate(){
			this.showModal=true;
			this.rate={};
		},
		editRate(id){
		let d = this.rates.find(item => item.id === id);
		this.rate = d;
		this.showModal = true;
		},
		async removeRate(id){
			let payload = this.rates.find(item => item.id === id);
			payload.status = 0;
			this.loading=true;
			try {
				let data = await RateRepository.save(payload);
				this.success();
				this.fetch();
			} catch (error) {
					this.loading = false;
				this.error();
			}
		},
		// evento del combo gyre
		changeSelectGyres(gyre_id) {
			this.rate.gyre_id = gyre_id;
		},

	}
}
</script>
