<template>
<div>
	<div class="content">
	  <h1 class="content__title">REVERSIONES</h1> 
	  <hr class="content__divider"/>
	  <a-button  type="primary" v-show="editAllowed" size='small' @click="nuevo">Nuevo</a-button>
	  <div class="table-operations">
		<a-input v-model="filter.search" v-on:keyup.enter="fetch({search:filter.search})" size="small" type="primary" placeholder="Buscar" style="width:200px;"></a-input>
		<a-divider type="vertical" /> 
		<a-button  size="small" type="primary" @click="fetch({search:filter.search})"><a-icon type="search" />Buscar</a-button>		
	  </div>
	  
	  <div>
		<a-table
		:columns="columns"
		:row-key="(record,index) =>index"
		:data-source="data"
		:pagination="pagination"
		:loading="loading"
		:rowClassName="review_color"
		@change="handleTableChange">
		<span slot="date_at" slot-scope="text,r">{{ moment(r.debt_date_at).format('DD/MM/YYYY') }}</span>
		<span slot="total" slot-scope="text,r" >{{ Number.parseFloat(r.total).toFixed(2)}}</span>			
		<span slot="person" slot-scope="text,r" >{{  `${r.person.name} ${r.person.lastname}` }}</span>			
		<span slot="status" slot-scope="text,r" >{{  r.status ? 'Activo' : 'Anulado' }}</span>			
		<span slot="stand" slot-scope="text,r" >{{ `${r.stand.code}`}}</span>			
		<span slot="action" slot-scope="text,record">
				<a-popconfirm v-show="record.status" title="Seguro?" @confirm="() => remove(record)">
					<a href="javascript:;"  v-show="editAllowed" title="Eliminar"><a-icon type="delete"/></a>
				</a-popconfirm>
			</span>		
		</a-table>
	  </div>
	
	<a-modal 
	width="80%" 
	:dialogStyle="{'top': '10px'}"
	title="Reversion de Puesto"
	:key="showModal" 
	:visible="showModal" 
	@ok="save" 
	@cancel="showModal = false" 
	okText="Guardar" 
	cancelText="Cerrar">
			<a-form-model layout="inline">
				<a-form-model-item label="Codigo:">
						<a-input v-model="model.code" size="small" style="width:200px;"></a-input>
					</a-form-model-item>
				<a-row>
					
					<a-col span="12">
						<a-form-model-item label="Titular:" prop="name">
							<select-people-component :person_id="model.person_id" size="small" v-on:handleSelectPeople="changeSelectPeople" style="width:300px;" />
						</a-form-model-item>
						<a-form-model-item label="Puesto:" prop="name">
							<a-select v-model="model.stand_id" size="small"  @change="changeSelectStand(model.stand_id)" placeholder="Seleccione..." style="width:100px;">
								<a-select-option v-for="(item,index) in stands" :value="item.id" :key="index"  >
									{{item.code}} {{item.name}}
								</a-select-option>
							</a-select>
						</a-form-model-item>
					</a-col>
					<a-col span="12">
						<a-form-model-item label="Desde:" prop="date">
							<a-date-picker format="DD/MM/YYYY" :value="moment(model.date_at)" title="Fecha de deuda mas actigua" size="small" @change="(v)=>{model.date_at=v}" disabled  />
							<!-- <a-range-picker :default-value="[model.date_init, model.date_end]"   @change="(v)=>{model.date_init=v[0];model.date_end=v[1]}" format="DD-MM-YYYY" style="width:300px" size="small" :placeholder="['Fecha Inicio', 'Fecha Final']" /> -->
						</a-form-model-item>
						<a-form-model-item>
							<a-button type="primary" size="small" @click="()=>{ model.stand_id ? deb_list_key++ : this.$message.warning('Seleccione un puesto.!!!!!!')}">Ver Deudas</a-button> 
						</a-form-model-item>
					</a-col>
				</a-row>
				<div>
					<h3>Lista de duedas</h3>
						<debt-list-component :client_id="model.person_id" :date_hidden="true" :stand_id="model.stand_id" :date_init="model.date_at" :date_finish="moment((new Date()).getFullYear()+'-12-31')" type="normal" :key="deb_list_key"  v-on:changeDebts="onChangeDebts"></debt-list-component>
						<!-- <debt-list-component :client_id="model.person_id" :date_hidden="true" :stand_id="model.stand_id" :date_init="model.date_init" :date_finish="model.date_end" type="normal" :key="deb_list_key"  v-on:changeDebts="onChangeDebts"></debt-list-component> -->
						<div>Todas estas deudas. se asignaran a cero (0) soles y pasar&aacute; a nombre de la Institucion.</div>
				</div>

				<a-form-model-item label="Documento" prop="adjudication">
					<file-component :files="model.files" v-on:changeFile="onChangeFile" :key="model.files.length" />
				</a-form-model-item>
			</a-form-model>
	</a-modal>
  </div>    
</div>    
</template>
<script>
import Utils from "../../Utils.js";
import moment from "moment";
moment.locale('es');
import FactoryRepository from "../../repositories/RepositoryFactory";
const Repository = FactoryRepository.get("reversion");
const DebtRepository = FactoryRepository.get("debt");
const StandRepository = FactoryRepository.get("stand");
const FileRepository = Repository.get("file");
const {MRCD_CONCEPT_ID,SISA_CONCEPT_ID,BAJP_CONCEPT_ID,MULD_CONCEPT_ID} = require("../../constants");


const columns = [
  { title: 'Codigo', dataIndex: 'code', width:'90px'},
  { title: 'Fecha', key: 'date_at', width:'100px',scopedSlots: { customRender: "date_at" } },
  { title: 'Monto', key: 'total', width:'80px',scopedSlots: { customRender: "total" }, align:'right' },
  { title: 'Persona', key: 'person',scopedSlots: { customRender: "person" } },
  { title: 'Puesto',key: 'stand',scopedSlots: { customRender: "stand" }},
  { title: 'Estado',key: 'status',scopedSlots: { customRender: "status" }},
  { title: '-',key: 'action',scopedSlots: { customRender: "action" }},
  
];

/*---------- */
export default {
	data(){
		return { 
			editAllowed:false,
			MRCD_CONCEPT_ID,
			SISA_CONCEPT_ID,
			BAJP_CONCEPT_ID,
			MULD_CONCEPT_ID,
			filters:{},
			filter: {},
			moment,
			model:{debts:[], files:[],total:0},
			debt_list_key:0,
			rules:{
			  name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			data:[],
			stands:[],
			pagination: {},
			loading: false,
			columns,
			showModal:false,
			deb_list_key:0,
		}
	},
	mounted() {
		this.editAllowed= Utils.checkEditMode();
		 this.fetch();
	},
	methods:{
		nuevo(){
			this.showModal=true;
			// this.model = {debts:[],files:[],date_init:moment(),date_end:moment(), total:0 };
			this.model = {debts:[],files:[],date_at:moment(),total:0 };
		},
		onChangeDebts(data){
			this.model.details=data.debts;
			this.model.total=data.total;
		},

		review_color(record,index){
			return record.coactive_description_init&&!record.coactive_description_finish?'debt-coactive': (record.expired_days>0?"debt-expired":'');
		},
		async fetchStands(){
			const {data} = await StandRepository.getStandsByClientID({titular_id:this.model.person_id});
			this.stands = data.data;
		},	
		changeSelectPeople(person_data) {
			this.filters.client_id = person_data.id;
			this.model.person_id = person_data.id;
			this.fetchStands();
			this.model.details = [];
			this.deb_list_key++;
			this.model.stand_id = '';
		},
		 handleTableChange(pagination, filters, sorter){
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				search: this.filter.search,
				sortOrder: sorter.order,
				...filters,
			});
		},
		async fetch(params = {}){ 
			this.loading = true;
			//let params = {stand_id:this.filter.stand_id, type:'normal'};
			params = {...params, ...this.filters};
			const {data} = await Repository.list(params);
			const pagination = { ...this.pagination };
			pagination.total = data.total;
			this.pagination = pagination;
			this.loading = false;
			this.data = data.data;
		},
		error (message) { this.$message.error(message||'Error al procesar'); },
		success (message) { this.$message.success(message||'Proceso Correcto'); },
		warning (message) { this.$message.warning(message||'Proceso Pendiente'); },
		async save(){ 
			if(!this.isValidatedReversion()){ return;}
			this.showModal=false;
			let payload = {
				code:this.model.code,
				person_id:this.model.person_id,
				stand_id:this.model.stand_id,
				date_at:this.model.date_at,
				details:this.model.details,
				files:this.model.files,
				total:this.model.total,
				user_id:window.USER_ID ,
				forgiveness_ids:this.model.forgiveness_ids,
			};
			
			let confirm = await {
				title: 'Reversion de Puesto',
				okText: 'Confirmar',
				cancelText: 'Cancelar',
				content: (h) => {return <div>
					<h6>Al revertir el puesto ya no se podra eliminar la condonación u prescripción,
					 si quiere mantener la condonación u prescripción solo confirma, 
					 sino tendrá que eliminar primero la condonación u prescripción antes de revertir?</h6>
				</div>},
				okButtonProps: {
					props: { disabled: false },
				},
				onOk: async () => {
					Repository.save(payload).then((data)=>{
						this.success();
						this.fetch();
					}).catch(err=>{ this.error();});
				},
				onCancel() {	
					console.log('Cancel');
				},
			}
			this.$confirm(confirm);

			/*Repository.save(payload).then((data)=>{
				this.success();
				this.fetch();
			}).catch(err=>{ this.error();});*/
		},
		isValidatedReversion(){
			let isValid = true;
			if(!this.model.code){this.$message.warning('Ingrese un codigo!!!'); isValid=false;}
			if(!this.model.person_id){this.$message.warning('Seleccione una persona.!!!!!!'); isValid=false;}
			if(!this.model.stand_id){this.$message.warning('Seleccione un puesto.!!!!!!'); isValid=false;}
			return isValid;
		},
		onChangeFile(data){
            this.model.files = data;
		},
		remove(item){
			Repository.delete(item.id).then((data)=>{
				this.success();
				this.fetch();
			}).catch(err=>{ this.error();});
		},
		async changeSelectStand(stand_id) {
			let params = {stand_id};

			const {data} =  await DebtRepository.getAccountStatusByTitular(this.model.person_id,0,params);
			// let last_date = data.reduce((a, b) => ( new Date(a.debt_date_at) < new Date(b.debt_date_at)  ? a : b));
			 let last_date = new Date(Math.min(...data.data.map(e => new Date(e.debt_date_at))));
			let is_valid_date = last_date instanceof Date && !isNaN(last_date);
			this.model.forgiveness_ids = this.stands.find(item => item.id === stand_id).forgiveness_ids;
			if(is_valid_date) { 
				this.model.date_at = moment(last_date);
			}else {
				this.warning('El titular no tiene deudas pendientes!!!');
				this.model.date_at = moment();
			}
			this.deb_list_key++;
		},
	}
}
</script>
<style scoped>
	.debt-coactive{
		background-color:rgba(255,0,0,0.1);
	}
</style>