<template>
<div>
  <div class="content">
	<h1 class="content__title">ADMINISTRACIÓN DE SECTORES</h1> 
	<hr class="content__divider"/>
	<a-button type="primary" v-show="editAllowed" size="small" @click="newSector()">Nuevo</a-button>
	<div class="table-operations" >
                  
		<a-input v-model="sector.search" style="width:200px" v-on:keyup.enter="fetch({search:sector.search})" size="small" placeholder="Buscar..."/>
		<a-button type="primary" @click="fetch({search:sector.search})" size="small">Buscar</a-button>

	</div>
	<a-table
	:columns="columns"
	:row-key="record => record.id"
	:data-source="sectors"
	:pagination="pagination"
	:loading="loading"
	@change="handleTableChange">
	  <span slot="action" slot-scope="text,record">
		<a-divider type="vertical" />
		<a href="javascript:;" v-show="editAllowed" @click="editSector(record.id)" title="Editar"><a-icon type="edit" /></a>
		<a-divider type="vertical" />
		<a-popconfirm v-if="sectors.length" title="Seguro?" @confirm="() => removeSector(record.id)">
			<a href="javascript:;" v-show="editAllowed" title="Eliminar"><a-icon type="delete" /></a>
		  </a-popconfirm>
		  <a-divider type="vertical" />
	  </span>
	</a-table>

	<a-modal title="Sector" :key="sector.id" :visible="showModal" @ok="save" @cancel="showModal = false" cancelText="Cancelar" okText="Guardar" >
	  <a-form-model layout="vertical" ref="userForm" :model="sector" :rules="rules">
				
				<a-form-model-item label="Codigo" prop="code">
					<a-input v-model="sector.code" />
				</a-form-model-item>
				<a-form-model-item label="Nombre" prop="name">
					<a-input v-model="sector.name" />
				</a-form-model-item>

	  </a-form-model>
	</a-modal>

  </div>
</div>    
</template>
<script>
import moment from "moment";
import Utils from "../../Utils.js";
moment.locale('es');
import Repository from "../../repositories/RepositoryFactory";
const SectorRepository = Repository.get("sector");

const columns = [
  { title: 'Codigo',dataIndex: 'code'},
  { title: 'Nombre',dataIndex: 'name'},
  {title:'-',key:'action',scopedSlots: { customRender: "action" } }
];

/*---------- */
export default {
	data(){
	  let checkPerson = (rule, value, callback) => {
		if(this.sector.person[rule.field] === ''){ callback(new Error('Informacion requerida'));}
		callback();
	  };
	  let validatePassword = (rule, value, callback) => {
		if(this.sector.password.length<5){
			callback(new Error('Password debe ser tener mas de 5 caracteres'));
		}
		callback();
	  };
	let validatePass2 = (rule, value, callback) => {
	  if (this.sector.password2 === '') {
		callback(new Error('Ingrese Password nuevamente'));
	  } else if (this.sector.password !== this.sector.password2 ) {
		callback(new Error("Password no coincide!"));
	  } else {
		callback();
	  }
	};
		return {
			editAllowed:false,
		  // ############  Club #########
		  labelCol: { span: 4 },
		  formData:{},
			wrapperCol: { span: 14 },
			sector: {
			  name: '',
			},
			rules:{
			  name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			  
			},
			sectors:[],
			pagination: {},
			loading: false,
			columns,
			showModal:false,
			//sector:{},
		}
	},
	mounted() {
		this.editAllowed= Utils.checkEditMode();
		 this.fetch();
	},
	methods:{
		 handleTableChange(pagination, filters, sorter){
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;

			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				search: this.sector.search,
				sortOrder: sorter.order,
				...filters,
			});
		},
		async fetch(params = {}){
			this.loading = true;
			try {
				const {data} =  await SectorRepository.list(params)
				const pagination = { ...this.pagination };
				pagination.total = data.total;
				this.pagination = pagination;
				this.loading = false;
				this.sectors = data.data;
			} catch (error) {
				this.error();
			}
		},
		error (message) {
		this.$message.error(message||'Error al procesar');
		},
		success (message) {
			this.$message.success(message||'Proceso Correcto');
		},
		async save(){
			if(!this.isValidatedForm()){ return;}
			this.showModal=false;
			this.loading=true;
			let payload = this.sector;
			try {
					let data = await SectorRepository.save(payload);
					this.success();
					this.fetch();
				} catch (error) {
					this.error();
				}
		},
		isValidatedForm(){
			let isValid = true;
			if(!this.sector.code){this.$message.warning('Ingrese codigo del sector!!!'); isValid=false;}
			if(!this.sector.name){this.$message.warning('Ingrese nombre del sector.!!!'); isValid=false;}
			return isValid;
		},
		newSector(){
		this.showModal=true;
		this.sector={};
		// setTimeout(()=>{
		//   this.$refs.userForm.resetFields();
		// },5);
		},

		editSector(id){
			let d = this.sectors.find(item => item.id === id);
			this.sector = d;
			this.showModal = true;
		},
		async removeSector(id){
			let payload = this.sectors.find(item => item.id === id);
			payload.status = 0;
			this.loading=true;
			try {
				let data = await SectorRepository.save(payload);
				this.success();
				this.fetch();
			} catch (error) {
				this.loading = false;
				this.error();
			}
		},

	}
}
</script>
