<template>
<div>
	<div class="content">
	  <h1 class="content__title">CONFIGURACIONES</h1> 
	  <hr class="content__divider"/>
	  <!-- <a-button type="primary" size="small"  @click="nuevo">Nuevo</a-button> -->
	  <div>
		
		<a-table
		:columns="columns"
		:row-key="record => record.id"
		:data-source="data"
		:pagination="pagination"
		:loading="loading"
		@change="handleTableChange">

		<span slot="action" slot-scope="text,record">
		  <a-divider type="vertical" />
		  <a href="javascript:;" v-show="editAllowed" @click="edit(record.id)" title="Editar"><a-icon type="edit" /></a>
		  <!-- <a-divider type="vertical" /> -->
		  <!-- <a-popconfirm v-if="data.length" title="Seguro?" @confirm="() => remove(record.id)">
			  <a href="javascript:;" title="Eliminar"><a-icon type="delete" /></a>
			</a-popconfirm> -->
			</span>
		</a-table>
	  </div>
	

	<a-modal 
	:width="900" 
	title="UIT" 
	:visible="showModal" 
	@ok="save" 
	@cancel="showModal = false">

		<a-form-model ref="modelForm" :model="model" :rules="rules" layout="vertical" :label-col="labelCol" :wrapper-col="wrapperCol" >
			<a-row>
				<a-col class="gutter-row" :span="/signature_image|header/.test(model.name) ? 12 : 24">
					<a-form-model-item label="Categoria:" prop="category">
						<a-input v-model="model.category" placeholder="..."></a-input>
					</a-form-model-item>

					<a-form-model-item label="Nombre:" prop="name">
						<a-input v-model="model.name" placeholder="..."></a-input>
					</a-form-model-item>

					<a-form-model-item v-if="!/signature_image|header/.test(model.name)" label="Valor:" prop="value">
						<a-textarea
							v-model="model.value"
							placeholder="..."
							:auto-size="{ minRows: 3, maxRows: 3 }"
							/>
					</a-form-model-item>

					<a-form-model-item label="Descripcion:" prop="description">
						<a-input v-model="model.description"  placeholder="..."></a-input>
					</a-form-model-item>
			
				</a-col>
				<a-col class="gutter-row" v-if="/signature_image|header/.test(model.name)" :span="10">
					<a-form-model-item label="Imagen" prop="photo">
						<div v-if="model.id==3"><span style="font-size:10px"><b>tamaño: 744x443</b></span></div>
						<picture-component :photo="model.value" v-on:changeImage="onChangePicture" :key="picturekey"  />
					</a-form-model-item>
				</a-col>
			</a-row>
		</a-form-model>
	</a-modal>


  </div>    
</div>    
</template>
<script>
import Utils from "../../Utils.js";
import moment from "moment";
import FactoryRepository from "../../repositories/RepositoryFactory";
const Repository = FactoryRepository.get("setting");

const columns = [
  { title: 'Categoria',dataIndex: 'category'},
  { title: 'Nombre',dataIndex: 'name'},
  { title: 'Valor',dataIndex: 'value'},
  { title: 'Desc.',dataIndex: 'description'},
  { title: 'Estado',dataIndex: 'status'},
  {title:'-',key:'action',scopedSlots: { customRender: "action" } }
];

/*---------- */
export default {
	data(){
		return { 
			editAllowed:false,
		  	model:{},
			labelCol:{span:4},
			wrapperCol:{span:20},
			rules:{
			  name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			data:[],
			pagination: {},
			loading: false,
			columns,
			showModal:false,
			picturekey:0,
		}
	},
	mounted() {
		this.editAllowed= Utils.checkEditMode();
		 this.fetch();
	},
	methods:{
		 handleTableChange(pagination, filters, sorter){
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				sortOrder: sorter.order,
				...filters,
			});
		},
		async fetch(params = {}){
			this.loading = true;
			const {data} = await Repository.list(params);
			const pagination = { ...this.pagination };
			pagination.total = data.total;
			this.pagination = pagination;
			this.data = data.data;
			this.loading = false;
		},
		error (message) { this.$message.error(message||'Error al procesar'); },
		success (message) { this.$message.success(message||'Proceso Correcto'); },
		async save(){
			this.showModal=false;
			this.loading=true;
			try {
				const r = await Repository.save(this.model);	
				this.fetch();
			} catch (error) {
				this.loading=false;
				this.error('');
			}
		},
		nuevo(){
			this.picturekey++;
		this.showModal=true;
		this.model={};
		
		},

		edit(id){
			this.picturekey++;
		let d = this.data.find(item => item.id === id);
		this.model = {...d};
		this.showModal = true;
		},
		async remove(id){
			let payload = this.data.find(item => item.id === id);
			payload.status = 0;
			this.loading=true;
			try {
				const r = await Repository.save(payload);	
				this.fetch();
			} catch (error) {
				console.log(error);
				this.loading=false;
				this.error('');
			}
			
		},
		onChangePicture(data){
			console.log("data",data);
			this.model.value = data;
		},

	}
}
</script>
<style scoped>
	.gutter-row:nth-child(2){
		padding-left: 10px;
	}
</style>
