<template>
<div>
	<div class="content">
		<h1 class="content__title">ADMINISTRACIÓN DE PUESTOS</h1> 

		<a-alert message="Estas vizualiazando  puestos activos y desabilitados" type="info" show-icon>
    </a-alert>
		<hr class="content__divider"/>
		<a-button v-show="editAllowed" type="primary" size="small" @click="newStand">Nuevo</a-button>
		<div class="table-operations">
            <a-form layout="inline" :model="formData">     
				<a-select v-model:value="filters.market_id" :allowClear="true" placeholder="Mercado.." @change="onChangeFilterMarkets" style="width:120px" size="small" :key="filterMarketKey">
					<a-select-option v-for="(item,index) in markets" :value="item.id" :key="index" >{{item.name}}</a-select-option>
				</a-select>

				<a-select v-model:value="filters.sector_id" :allowClear="true" placeholder="Sector.." @change="onChangeFilterSectors" style="width:120px" size="small">
					<a-select-option v-for="(item,index) in sectors" :value="item.id" :key="index" >{{item.name}}</a-select-option>
				</a-select>
				<a-select v-model:value="filters.gyre_id" :allowClear="true" placeholder="Giro.." @change="onChangeFilterGyres" style="width:120px" size="small">
					<a-select-option v-for="(item,index) in gyres" :value="item.id" :key="index" >{{item.name}}</a-select-option>
				</a-select>
				
				<a-divider type="vertical"/>
				<a-input v-model="filters.search" style="width:200px"  v-on:keyup.enter="fetch({})" size="small" placeholder="Buscar..."/>
            
			  	<a-button type="primary" size="small" @click="fetch({})" >Buscar</a-button>
			 
			</a-form>
		</div>
		<a-table
		:columns="columns"
		:row-key="record => record.id"
		:data-source="stands"
		:pagination="pagination"
		:loading="loading"
		@change="handleTableChange">
		<span slot="titular" slot-scope="text,record"> {{record.titular.lastname}}, {{record.titular.name}}</span>
		<!--<span slot="status" slot-scope="text, record">
      {{record.status===1 ? "Activo" : "Inactivo"}}
    </span>-->
     <span slot="status" slot-scope="text, record">
     <span :class="record.status === 1 ? 'ant-tag css-1qb1s0s ant-tag-geekblue' : 'ant-tag css-1qb1s0s ant-tag-volcano'">
        {{ record.status === 1 ? 'Activo' : 'Inactivo' }}
      </span>
     </span>

		<span slot="action" slot-scope="text,record">
			<a-divider type="vertical" />
			<a href="javascript:;" v-show="editAllowed" @click="editStand(record)" title="Editar"><a-icon type="edit" /></a>
			<a-divider type="vertical" />
			<a-popconfirm title="Seguro de eliminar?" @confirm="() => removeStand(record.id)">
				<a href="javascript:;" v-show="editAllowed" title="Eliminar">
					<a-icon type="delete" />
				</a>
			</a-popconfirm>
			<a-divider type="vertical" />
			</span>
		</a-table>

		<a-modal 
		:width="'90%'" 
		:key="showModal" 
		title="Puesto" 
		:visible="showModal" 
		@ok="saveStand" 
		@cancel="showModal = false" 
		cancelText="Cancelar" 
		okText="Guardar">
			<a-form-model layout="vertical" ref="stand" :model="stand" :rules="rules" > <!--:label-col="labelCol" :wrapper-col="wrapperCol" -->
				<a-row :gutter="16">
					<a-col class="gutter-row" :span="3">
			
						<a-form-model-item label="Codigo" prop="code">
							<a-input v-model="stand.code" />
						</a-form-model-item>

						<a-form-model-item label="Ubicación" prop="location">
							<a-input v-model="stand.location" />
						</a-form-model-item>

						<a-form-model-item label="Mercado" prop="market">
							<a-select v-model="stand.market_id" placeholder="Seleccione..." @change="setRateValue">
								<a-select-option v-for="(item,index) in markets" :value="item.id" :key="index" >
									{{item.name}}
								</a-select-option>
							</a-select>
						</a-form-model-item> 

						<a-form-model-item label="Tarifa Merced|Arrendamiento" prop="rate" title="Cuando se genera deudas se usa esta tarifa sea que genere deudas de merced o de arrendamiento.">
							<a-input v-model="stand.rate_amount" :key="rate_amount_key" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"/>
						</a-form-model-item>

					</a-col>
					<a-col class="gutter-row" :span="6">

						<a-form-model-item label="Titular" prop="titular_id">
							<select-people-component :person_id="stand.titular_id" v-on:handleSelectPeople="changeSelectTitulars" :key="titular_key" />
						</a-form-model-item>

						<a-form-model-item label="Giro" prop="gyre">
							<select-gyre-component :gyre_id="stand.gyre_id" v-on:handleSelectGyres="changeSelectGyres" :key="gyre_key" :allowClear="true"/>
						</a-form-model-item>

						<a-form-model-item label="Sector" prop="sector">
							<select-sector-component :sector_id="stand.sector_id" v-on:handleSelectSectors="changeSelectSectors" :key="sector_key" />
						</a-form-model-item>

						<a-form-model-item label="Estado" >
							<a-select style="width: 250px" v-model="stand.status" >
								<a-select-option v-for="(item,index) in statuslist" :value="index" :key="index" >
									{{item}}
								</a-select-option>
							</a-select>
						</a-form-model-item>
			

						<a-form-model-item v-if="QUIOS_ID==stand.market_id" label="Tarifa Baja Policia" prop="rate">
							<a-input  v-model="stand.rate_amount_secondary" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"/>
						</a-form-model-item>
													
					</a-col>
					<a-col class="gutter-row" :span="9">
						<a-form-model-item label="Adjunto" prop="adjudication">
							<file-component :files="stand.files" v-on:changeFile="onChangeFile" :key="stand.files.length" />
						</a-form-model-item>
						
					</a-col>
					<a-col class="gutter-row" :span="6">
						
						<a-form-model-item label="Imagen" prop="photo">
							<picture-component :photo="stand.photo" v-on:changeImage="onChangePhoto" :key="pictureKey"  />
						</a-form-model-item>
						
					</a-col>
				</a-row>
			</a-form-model>
		</a-modal>
  	</div>      
</div>    
</template>
<script>
import { ref } from 'vue';
import Utils from "../../Utils.js";
import moment from "moment";
moment.locale('es');
import Repository from "../../repositories/RepositoryFactory";
const {QUIOS_ID,DEBT_TYPE_NORMAL,RT_ADMIN} = require("../../constants");
const PersonRepository = Repository.get("person");
const MarketRepository = Repository.get("market");
const GyreRepository = Repository.get("gyre");
const StandRepository = Repository.get("stand");
const SectorRepository = Repository.get("sector");
const RateRepository = Repository.get("rate");
const FileRepository = Repository.get("file");
const DebtRepository = Repository.get("debt");
const UserRepository = Repository.get("user");

const columns = [
  { title: 'Mercado',dataIndex: 'market.name'},
  { title: 'Sector',dataIndex: 'sector.name'},
  { title: 'Giro',dataIndex: 'gyre.name'},
  { title: 'Puesto',dataIndex: 'code'},
  { title: 'Estado',key:'status',scopedSlots: { customRender: "status" } },
  { title: 'Ubicación',dataIndex: 'location'}, 
  { title: 'Titular',key:'titular',scopedSlots: { customRender: "titular" } },
  { title: 'DNI',dataIndex: 'titular.dni'},
  { title:'-',key:'action',scopedSlots: { customRender: "action" } },
];
const statuslist=['Inactivo','Activo'];
let have_debts = async(person_id,Repository,stand_id) => {
	const have_debts =  await Repository.getBringDebtsToDate(person_id,0,{stand_id:stand_id,concept_id:1});
	return have_debts.data.length > 0;
}
/*---------- */
export default {
	data(){
		return {
			filterMarketKey:1,
			filters:{},
			editAllowed:false,
			markets:[],
			gyres:[],
			sectors:[],
			rates:[],
			stands:[],
			columns,
		  	formData:{},
			stand: {files:[]},
			stand_old: {files:[]},
			user:{},
			rules:{
			  name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			pagination: {},
			loading: false,
			showModal:false,
			QUIOS_ID,
			rate_amount_key:0,
			person_select_edit:-1,//un temporal del titular del puesto al editar y asi poder verificar si va cambiar de titular el puesto 
			titular_key:1,
			gyre_key:1,
			sector_key:1,
			pictureKey:0,
			editCodeStand:'',
			editSector:'',
			editMarket:'',
			RT_ADMIN,
			accessMarkets:null,
			statuslist,
			//stand:{},
		}
	},
	
	async mounted() {
		this.editAllowed = Utils.checkEditMode();
		this.accessMarkets = Utils.getAccessMarkets();
		await this.getMarkets();
		await this.getGyres();
		await this.getSectors();
		await this.getRates();
		if(this.accessMarkets) this.filters.market_id = this.accessMarkets[0];
		await this.fetch();
		await this.fetchUser();
	},
	methods:{
		onChangeFilterMarkets(data){
			this.filterMarketKey++;
			//this.filters.market_id=data;
			console.log(`selected ${data} ${this.filters.market_id}`);
			
			//this.getSectors({market_id:data});
		},
		
		onChangeFilterSectors(data){
			//this.getGyres({sector_id:data});
        },
		onChangeFilterGyres(data){},
		async getMarkets(params = {}) {
			const {data} =  await MarketRepository.list(params);
			if(!this.accessMarkets) this.markets = data.data;
			else this.markets = data.data.filter(e=> this.accessMarkets.includes(e.id) );
		},
		async getGyres(params = {}) {
			params.xpage=100;
			const {data} =  await GyreRepository.list(params)
			this.gyres = data.data;
		},
		async getSectors(params = {}) {
			const {data} =  await SectorRepository.list(params)
			this.sectors = data.data;
		},
		async getRates(params = {}) {
			params.xpage=100;
			const {data} =  await RateRepository.list(params);
			this.rates = data.data;

		},
		async fetchUser() {
			const {data} =  await UserRepository.get(window.USER_ID);
			this.user = data;
		},
		 handleTableChange(pagination, filters_, sorter){
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				...this.filters,
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				search: this.stand.search,
				sortOrder: sorter.order,
				...filters_,
			});
		},
		async fetch(params = {}){
			params = {...this.filters, ...params};
			console.log(params);
			this.loading = true;
			params.type = 'merced';
			params.standsAll = true;
			try {
				const {data} =  await StandRepository.list(params)
				const pagination = { ...this.pagination };
				pagination.total = data.total;
				this.pagination = pagination;
				this.loading = false;
				this.stands = data.data;
			} catch (error) {
				this.error();
			}
		},
		error (message) {
		this.$message.error(message||'Error al procesar');
		},
		success (message) {
			this.$message.success(message||'Proceso Correcto');
		},
		async saveStand(){ 

			if(!this.isValidatedStands()){ return;}
			if(!this.hasNewFileForEditing()){return;}
		 this.loading=true;
			this.showModal=false;
			let payload = this.stand;	
		 	//payload.status = this.stand.status == "Activo" ? 1 : 0;
			if(this.person_select_edit>-1){
				if(this.person_select_edit!=this.stand.titular_id){
					if (await have_debts(this.stand.titular_id,StandRepository,this.stand.id) && this.user.role_id!=RT_ADMIN) {
						this.error(` aún tiene deudas pendientes el puesto, y no se puede asignar a otra persona!!`); this.loading = false; return;};
					payload.is_edit_titular=true;
				}
			}
			if(this.editSector!=payload.sector_id || this.editMarket!=payload.market_id || this.editCodeStand!=payload.code){
				payload.isEditSectorOrMarketOrStandName=true;
			}
      
			this.saveStandRepository(payload);
		},
		isValidatedStands(){
			let isValid = true; 
			if(!this.stand.code){this.$message.warning('Ingrese el codigo!!!'); isValid=false;}
			//if(!this.stand.location){this.$message.warning('Ingrese una ubicación.!!!'); isValid=false;}
			if(!this.stand.market_id){this.$message.warning('Seleccione un mercado.!!!'); isValid=false;}
			if(!this.stand.rate_amount || !this.stand.rate_amount.toString()){this.$message.warning('Asigne una tarifa.!!!'); isValid=false;}
			if(!this.stand.titular_id){this.$message.warning('Seleccione al titular del puesto.!!!'); isValid=false;}
			if(!this.stand.gyre_id){this.$message.warning('Seleccione un Giro.!!!'); isValid=false;}
			if(!this.stand.sector_id){this.$message.warning('Seleccione un Sector.!!!'); isValid=false;}
			if(!this.stand.rate_amount_secondary && QUIOS_ID==this.stand.market_id){this.$message.warning('Asigne una tarifa.!!!'); isValid=false;}
			
			return isValid;
		},
		hasNewFileForEditing(){
			let isValid = true; 
			let newo = this.stand;
			let old = this.stand_old;
			console.log(newo, old);
			if(!newo.isNew && newo.id == old.id){
				let hasChanges= newo.code != old.code ||
								newo.titular_id != old.titular_id ||
								newo.location != old.location ||
								newo.gyre_id  != old.gyre_id ||
								newo.market_id != old.market_id ||
								newo.sector_id != old.sector_id ||
								newo.rate_amount != old.rate_amount || 
								newo.rate_amount_secondary != old.rate_amount_secondary;
				console.log("Stand has changes.", hasChanges);
				console.log(newo.files, old.files);
				if(hasChanges && newo.files.length == old.files.length ){
					this.$message.warning('Cualquier cambio requiere de un archivo!!!'); 
					isValid=false;
				}
			}
			return isValid;

		},
		newStand(){
			this.titular_key++;
			this.gyre_key++;
			this.sector_key++;
			this.showModal=true;
			this.stand={isNew:true, files:[]};
			this.stand_old = {...this.stand};
			this.person_select_edit=-1;
			this.stand.status = 1;
		// setTimeout(()=>{
		//   this.$refs.userForm.resetFields();
		// },5);
		},
		onChangeFile(data){
            this.stand.files = data;
		},
		onChangePhoto(data){
			this.stand.photo = data;
		},

		async editStand(record){
			//let stand = this.findStand(id);
			this.stand = {...record, isNew:false};
			this.person_select_edit=this.stand.titular_id;
			this.stand.files=[];
			this.showModal = true;
			this.editCodeStand=record.code;//para verificar si esta cambiando
			this.editSector=record.sector_id;
			this.editMarket=record.market_id;
			this.stand.status = record.status;
			setTimeout(()=>{this.titular_key++;},500);
			this.stand.files = await this.getFilesStand(this.stand);
			setTimeout(()=>{this.gyre_key++;},1200);
			setTimeout(()=>{this.sector_key++;},1800);

			this.stand_old = JSON.parse(JSON.stringify(this.stand));
			
		},
		async getFilesStand(stand) {
			let {data} = await FileRepository.list({type:'stand','reference_id':stand.id});
			return data.data;  
		},
		findStand(id){
			 return this.stands.find(item => item.id === id);
		},
		setRateValue(){
			if(!this.existMarketIdAndStandId()) return;
			const rate = this.posts_rates_defaut();
			this.stand.rate_amount = rate ? rate.amount : '';
			this.stand.rate_id = rate ? rate.id : null;
		},
		 posts_rates_defaut(){
			//return this.rates.filter(item => item.gyre_id == this.stand.gyre_id && item.market_id == this.stand.market_id)[0];
			  const result = this.rates.filter(item => item.gyre_id == this.stand.gyre_id && item.market_id == this.stand.market_id)[0];

			 return (result) ? result : this.$message.warning('El giro no tiene  tarifa !!!');
		},
		existMarketIdAndStandId() {
			let exist = true;
			if(!this.stand.market_id) {this.$message.warning('Por favor asigne mercado para para mostrar la Tarifa!!!'); exist = false; }
			if(!this.stand.gyre_id) {this.$message.warning('Por favor asigne giro para para mostrar la Tarifa!!!'); exist = false;}
			return exist;
		},
		async removeStand(id){
			let payload = this.findStand(id);
			if (await have_debts(payload.titular_id,StandRepository,payload.id)) {
				this.error(` aún tiene deudas pendientes el puesto, y no se puede eliminar!!`); this.loading = false; return;};
			payload.status = payload.status==1 ? 0 : 1;
			this.loading=true;
			this.saveStandRepository(payload);
		},
		async saveStandRepository(payload) {
			try {
				let data = await StandRepository.save(payload);
				this.success();
				this.fetch();
				this.loading = false;
			} catch (error) {
				console.log(error);
				this.error();
			}
		},
		// Evento cuando se realiza cambios en el select de personas
		changeSelectTitulars(data_person) {
			this.stand.titular_id = data_person.id;
		},
		// evento del combo gyre
		changeSelectGyres(gyre_id) {
			this.stand.gyre_id = gyre_id;
			this.setRateValue();
			this.rate_amount_key++;
		},
		// evento del combo sectors
		changeSelectSectors(sector) {
			this.stand.sector_id = sector ? sector.id : undefined;
		},
	}
}
</script>
