<template>
<div>
	<div class="content">
	  <h1 class="content__title">UIT</h1> 
	  <hr class="content__divider"/>
	  <a-button v-show="editAllowed" type="primary" size="small"  @click="nuevo">Nuevo</a-button>
	  <div>
		
		<a-table
		:columns="columns"
		:row-key="record => record.id"
		:data-source="data"
		:pagination="pagination"
		:loading="loading"
		@change="handleTableChange">

		<span slot="action" slot-scope="text,record">
		  <a-divider type="vertical" />
		  <a href="javascript:;" v-show="editAllowed" @click="edit(record.id)" title="Editar"><a-icon type="edit" /></a>
		  <a-divider type="vertical" />
		  <a-popconfirm v-if="data.length" title="Seguro?" @confirm="() => remove(record.id)">
			  <a href="javascript:;" v-show="editAllowed" title="Eliminar"><a-icon type="delete" /></a>
			</a-popconfirm>
			<a-divider type="vertical" />
			</span>
		</a-table>
	  </div>
	

	<a-modal :width="900" title="UIT" :visible="showModal" @ok="save" @cancel="showModal = false">

		<a-form-model ref="modelForm" :model="model" :rules="rules" layout="vertical" :label-col="labelCol" :wrapper-col="wrapperCol" >
			
			<a-form-model-item label="Monto:" prop="amount">
				<a-input v-model="model.amount" style="width:300px" placeholder="Monto..."></a-input>
			</a-form-model-item>

			<a-form-model-item label="Año:" prop="year">
				<a-input v-model="model.year" style="width:300px" placeholder="Año..."></a-input>
			</a-form-model-item>
				
		</a-form-model>
	</a-modal>


  </div>    
</div>    
</template>
<script>
import Utils from "../../Utils.js";
import moment from "moment";
import Repository from "../../repositories/RepositoryFactory";
const UITRepository = Repository.get("uit");

const columns = [
  { title: 'Monto',dataIndex: 'amount'},
  { title: 'Año',dataIndex: 'year'},
  { title: 'Estado',dataIndex: 'status'},
  {title:'-',key:'action',scopedSlots: { customRender: "action" } }
];

/*---------- */
export default {
	data(){
		return { 
			editAllowed:false,
		  	model:{},
			labelCol:{span:4},
			wrapperCol:{span:14},
			rules:{
			  name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			data:[],
			pagination: {},
			loading: false,
			columns,
			showModal:false,
		}
	},
	mounted() {
		this.editAllowed= Utils.checkEditMode();
		 this.fetch();
	},
	methods:{
		 handleTableChange(pagination, filters, sorter){
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				sortOrder: sorter.order,
				...filters,
			});
		},
		async fetch(params = {}){
			this.loading = true;
			const {data} = await UITRepository.list(params);
			this.data = data.data;
			this.loading = false;
		},
		error (message) { this.$message.error(message||'Error al procesar'); },
		success (message) { this.$message.success(message||'Proceso Correcto'); },
		async save(){
			if(!this.isValidatedUITnew()){ return;}
			this.showModal=false;
			this.loading=true;
			try {
				const r = await UITRepository.save(this.model);	
				this.fetch();
			} catch (error) {
				this.loading=false;
				this.error('');
			}
		},
		isValidatedUITnew(){
			let isValid = true;
			if(!this.model.amount){this.$message.warning('Ingrese monto!!!'); isValid=false;}
			if(!this.model.year){this.$message.warning('Ingrese año.!!!'); isValid=false;}
			return isValid;
		},
		nuevo(){
		this.showModal=true;
		this.model={};
		// setTimeout(()=>{
		//   this.$refs.userForm.resetFields();
		// },5);
		},

		edit(id){
		let d = this.data.find(item => item.id === id);
		this.model = d;
		this.showModal = true;
		},
		async remove(id){
			let payload = this.data.find(item => item.id === id);
			payload.status = 0;
			this.loading=true;
			try {
				const r = await UITRepository.save(payload);	
				this.fetch();
			} catch (error) {
				console.log(error);
				this.loading=false;
				this.error('');
			}
			
		},

	}
}
</script>
<style scoped>

</style>
