<template>
<div style="padding:10px 20px 10px 10px">
    <h4>Usuarios <a-button type="primary" size="small" @click="nuevo()" v-show="editAllowed && isRoleComisionistaOrCajeroOrRtauxil!=true">Nuevo</a-button></h4> 
    <div class="table-operations" >
                  
    <a-input v-model="user.search" style="width:200px" v-on:keyup.enter="fetch({search:user.search})" size="small" placeholder="Buscar..."/>
    <a-button type="primary" @click="fetch({search:user.search})" size="small">Buscar</a-button>

  </div>
    <a-table
    :columns="columns"
    :row-key="record => record.id"
    :data-source="data"
    :pagination="pagination"
    :loading="loading"
    @change="handleTableChange"
    >
    <span slot="titular" slot-scope="text,record"> {{record.user_lastname.toUpperCase()}}, {{record.user_name.toUpperCase()}}</span>
    <span slot="action" slot-scope="text,record">
       
      <a href="javascript:;" v-show="editAllowed" @click="edit(record.id)" title="Editar"><a-icon type="edit" /></a>
      <a-divider type="vertical" v-show="record.role_id==RT_COBRA && isRoleComisionistaOrCajeroOrRtauxil!=true" />
      <a href="javascript:;" v-show="editAllowed &&  record.role_id==RT_COBRA && isRoleComisionistaOrCajeroOrRtauxil!=true" @click="prepareResponsabilities(record)" title="Responsabilidades"><a-icon type="bars" /></a>
      <a-divider type="vertical" v-show="isRoleComisionistaOrCajeroOrRtauxil!=true"/>
      <a-popconfirm v-if="data.length" title="Seguro?" @confirm="() => remove(record.id)" v-show="editAllowed && isRoleComisionistaOrCajeroOrRtauxil!=true">
        <a href="javascript:;" title="Eliminar"><a-icon type="delete" /></a>
      </a-popconfirm>
      <a-divider type="vertical" v-show="isRoleComisionistaOrCajeroOrRtauxil!=true"/>
      <a href="javascript:;"  v-show="editAllowed" @click="permission(record.id)" title="Permisos"><a-icon type="lock" /></a>
     </span>
    </a-table>

    <a-modal 
    title="Usuario" 
    :visible="showModal" 
    cancelText="Cancelar" 
    :key="showModal"
		okText="Guardar"
    @ok="save" 
    @cancel="showModal = false" 
    width="80%">
      
      <a-form-model ref="userForm" :model="user" :rules="rules" :label-col="labelCol" :wrapper-col="wrapperCol">
        <a-row>
          <a-col class="gutter-row" :span="12">
            <a-form-model-item label="Usuario" prop="people_id" v-show="isRoleComisionistaOrCajeroOrRtauxil!=true">
							<select-people-component :person_id="user.people_id" v-on:handleSelectPeople="changeSelectPerson" :disabled="user.id?true:false"/>
						</a-form-model-item>
            <!--<a-form-model-item label="DNI" prop="dni">
              <a-input v-model="user.code" />
            </a-form-model-item>-->
            <!--<a-form-model-item label="Nombre Usuario" prop="name">
              <a-input v-model="user.name" disabled style="color: #0a0a0a;"/>
            </a-form-model-item>-->
            <a-form-model-item label="Username" prop="username">
                <a-input v-model="user.username" disabled style="color: #0a0a0a;" />
            </a-form-model-item>
            <a-form-model-item label="Email" prop="email">
                  <a-input v-model="user.email" />
            </a-form-model-item>
            <!--<a-form-model-item label="Porcentaje" prop="porcentage">
                  <a-input v-model="user.porcentage" />
            </a-form-model-item>-->
            <a-form-model-item label="Rol" prop='role_id' v-show="isRoleComisionistaOrCajeroOrRtauxil!=true">
              <a-select v-model="user.role_id" placeholder="Seleccione...">
                <a-select-option v-for="(item,index) in roles" :value="item.id" :key="index" >
                  {{item.name}}
                </a-select-option>
              </a-select>
            </a-form-model-item>
           <a-form-model-item label="Codigo Seguridad" prop='code' v-show="isRoleComisionistaOrCajeroOrRtauxil!=true">
              <a-input v-model="user.code" />
            </a-form-model-item>
            <a-form-model-item label="Nuevo Password" prop="password">
              <a-input v-model="user.password" type="password" autocomplete="off" />
            </a-form-model-item>
            <a-form-model-item label="Confirme Password" prop="checkPassword">
              <a-input v-model="user.password2" type="password" autocomplete="off" />
            </a-form-model-item>
          </a-col>
          <a-col class="gutter-row" :span="12">
            <a-form-model-item label="Imagen" prop="photo">
							<picture-component :photo="user.photo" v-on:changeImage="onChangePhoto" key="photo"  />
						</a-form-model-item>
          </a-col>
        </a-row>
        
    </a-form-model>
    </a-modal>
    <a-modal 
    title="Responsable" 
    :visible="showModalResponsabilities" 
    cancelText="Cancelar" 
    :dialogStyle="{'top': '10px'}"
    :key="showModalResponsabilities+1"
    okText="Guardar"
    @ok="saveResponsabilities" 
    @cancel="showModalResponsabilities = false" 
    width="500px">
      <a-table
      :columns="responsabilityColumn"
      :row-key="(record,index) => index"
      :pagination="false"
      :data-source="responsabilityData" 
      > 
	<span slot="check" slot-scope="text,r"> <a-checkbox @change="()=>{r.status=!r.status; }" :checked="r.status"></a-checkbox> </span>
	<span slot="porcentual" slot-scope="text,record" style="display:flex;justify-content:right;" ><a-input v-model="record.porcentual" style="width:50px;text-align:right" size="small" />%</span>
      </a-table>
      </a-modal>


      <a-modal :title="'Permisos para ' + user.name" :visible="showModalPermission"  cancelText="Cancelar" :dialogStyle="{'top': '10px'}" :key="'p'+showModalPermission+1" okText="Guardar" @ok="savePermission"  @cancel="showModalPermission = false" >
        <div>
                  <div v-for="menu in menus">
                    <h5 :style="{ margin: '0', padding:'' }">{{ menu.name }}</h5>
                    <p>L: Lectura.  W: Lectura y Escritura.</p>
                    <ul style="list-style: none;">
                      <li v-for="submenu in menu.items" style="padding:5px; border-bottom:1px dashed #ccc">  
                        <a-select v-model:value="submenu.mode" style="font-weight:bold;">
                          <a-select-option value="">-</a-select-option>
                          <a-select-option value="L">L</a-select-option>
                          <a-select-option value="W">W</a-select-option>
                        </a-select>
                        <span>{{ submenu.name }}</span>
                        <div>
                          <a-select mode="multiple" v-show="submenu.name=='Puestos'" v-model:value="submenu.markets" :allowClear="true" placeholder="Mercados.." style="min-width:200px" size="small">
                          <a-select-option v-for="(item,index) in markets" :value="item.id" :key="index" >{{item.name}}</a-select-option>
                        </a-select>
                        </div>
                        
                        
                      </li>
                    </ul>
                  </div>
        </div>
      </a-modal>


</div>    
</template>
<script>
import Repository from "../../repositories/RepositoryFactory";
import Utils from "../../Utils.js";
import consts from "../../../js/constants.js";
const UserRepository = Repository.get("user");
const SectorRepository = Repository.get("sector");
const MarketRepository = Repository.get("market");
const ResponsabilityRepository = Repository.get("responsability");
const {RT_COBRA,CA_CASHB,RT_AUXIL, TI_ADMIN, SU_ADMIN} = require("../../constants");//roles

const columns = [
  {title: 'DNI',dataIndex: 'user_dni', width: '10%',},
  { title: 'Nombre Completo',key:'titular',scopedSlots: { customRender: "titular" }, sorter: true, width: '30%'},
  //{ title: 'Titular',key:'titular',scopedSlots: { customRender: "titular" } },
  {title: 'Username',dataIndex: 'username',},
  {title: 'Email',dataIndex: 'email',},
  {title: 'Rol',dataIndex: 'role_name',width: '100px'},
  {title:'-',key:'action',scopedSlots: { customRender: "action" } }
];
const responsabilityColumn = [
  {title:'-',key:'check',scopedSlots: { customRender: "check" }, width:'20px' },
  { title: 'Porcentaje',key: 'porcentual',scopedSlots: { customRender: "porcentual" },width:'110px'},
  {title: 'Mercado/Sector',dataIndex: 'name',},
];
/*---------- */
export default {
    data(){
      let validatePassword = (rule, value, callback) => {
        if(this.user.password.length<5){
            callback(new Error('Password debe ser tener mas de 5 caracteres'));
        }
        callback();
      };
    let validatePass2 = (rule, value, callback) => {
      if (this.user.password2 === '') {
        callback(new Error('Ingrese Password nuevamente'));
      } else if (this.user.password !== this.user.password2 ) {
        callback(new Error("Password no coincide!"));
      } else {
        callback();
      }
    };
        return {
          editAllowed:false,
          markets:[],
          roles_allowed:[],
          pictureKey:0,
          roles:[],
          labelCol: { span: 7 },
          wrapperCol: { span: 14 },
          user: { search:''},
          rules:{
            username: [{required: true,  message: 'Ingrese Username', trigger: 'blur' }],
            role_id: [{required: true, message:'Elija Rol', trigger: 'blur' }],
            password: [{required: true, validator: validatePassword, trigger: 'change' }],
            checkPassword: [{required: true, validator:validatePass2, trigger: 'change' }],
          },
          data:[],
	        responsabilityData:[],
          sectors:[],
          responsability:{},
          pagination: {},
          loading: false,
          columns,
          RT_COBRA,
          CA_CASHB,
          RT_AUXIL,
          TI_ADMIN,
          SU_ADMIN,
          isRoleComisionistaOrCajeroOrRtauxil:false,
	        responsabilityColumn,
          showModal:false,
	        showModalResponsabilities:false,
          menus:[],
          showModalPermission:false,
        }
    },
    async mounted() {
      this.editAllowed= Utils.checkEditMode();
      this.fetchUser();
      this.roles_allowed=(await UserRepository.can_managment_roles(window.USER_ID)).data;
      this.fetchRoles();
      this.fetch();
      this.getMarkets();
      this.fetchSectors();
      this.fetchMenu();
    },
    methods:{

      async getMarkets(params = {}) {
        const {data} =  await MarketRepository.list(params);
        this.markets = data.data;
      },


      async getMenuName(code){
        let n_ = '';
        switch(code){
          case "collections": n_="Recaudacion"; break;
          case "liquidations": n_="Liquidacion"; break;
          case "debts": n_="Deudas"; break;
          case "notifications": n_="Notificaciones"; break;
          case "f_notifications": n_="F. Notificaciones"; break;
          case "fractionaries": n_="Fraccionamientos"; break;
          case "directfine": n_="Multas Directas"; break;
          case "cashbox": n_="Caja"; break;
          case "reports": n_="Reportes"; break;
          case "setting": n_="Administracion"; break;
        }
        return n_;
      },

      async fetchMenu() {
        this.menus=[];
        const { data } = await UserRepository.listMenu({});
        for (const [key, items] of Object.entries(data)) {
          let submenus_ = items.map( e=>({...e, mode:'', markets:[]}) );
          this.menus.push({code:key, name: await this.getMenuName(key), items:submenus_});
        }
        
      },
      async savePermission(){
        let permissions_ = [];
         try {
          this.menus.forEach(e=>{
            let list_to_delete = e.items.filter(s=>!/L|W/.test(s.mode) && s.permission_id );
            let list_to_save = e.items.filter(s=>/L|W/.test(s.mode) );
            permissions_= permissions_.concat(list_to_delete.map(e=>({...e, status:0}) ));
            permissions_= permissions_.concat(list_to_save.map( e=>({...e, status:1}) ));
          })
          
          let payload = permissions_.map(e=>({id:e.permission_id,user_id:this.user.id, menu:e.link, mode:e.mode, status: e.status, markets:e.markets.length?e.markets:null } ) );
          await UserRepository.savePermissions(payload);
          this.success();
          this.showModalPermission = false;
         } catch (error) {
          console.log(error);
          this.error();
         }
      },
        
        async fetchRoles(){
          const {data} = await UserRepository.listRoles();
          this.roles = data.filter(e=>this.roles_allowed.includes(e.name) );
        },
        async fetchUser() {
          const {data} =  await UserRepository.get(window.USER_ID);
          if(data.role_id==RT_COBRA || data.role_id==CA_CASHB || data.role_id==RT_AUXIL){
            this.isRoleComisionistaOrCajeroOrRtauxil=true;
          }
        },
        async fetch(params = {}){
           params.iam_id=window.USER_ID;
            params.search= this.user.search;
            this.loading = true;
            const {data} =  await UserRepository.list(params)
            const pagination = { ...this.pagination };
            pagination.total = data.total;
            this.loading = false;
            this.data = data.data;
            this.pagination = pagination;
        },
        error (message) { this.$message.error(message||'Error al procesar'); },
        async fetchSectors(){
          const {data} = await SectorRepository.list({'not_paginate':true});
          this.sectors = data;
        },
        success (message) { 
            this.$message.success(message||'Proceso Correcto');
        },
        save(){
          try {
            if(!this.user.id){
              if(!this.user.people_id) throw "Seleccione Usuario";
              if(!this.user.username) throw "Ingrese Username";
              if(!this.user.email) throw "Ingrese email";
              if(!this.user.role_id) throw "Seleccione un rol";
              if(!this.user.password) throw "ingrese password";
              if(!this.user.password2) throw "ingrese password2";
            }else{
              if(this.user.password){
                if(!this.user.password2) throw "ingrese password2";
              } 
            }
        
            this.showModal=false;
            this.loading=true;
            let payload = this.user;
            delete(payload.password2);
            delete(payload.role);
            delete(payload.role_name);
            UserRepository.save(payload).then((data)=>{
              this.success();
              this.fetch();
            }).catch(err=>{ this.error();});
          } catch (error) {
            console.log(error);
            this.error(error);
          }
        },
        async saveResponsabilities(){
          let payload = this.responsabilityData.map(({name,...item}) => item );
          payload.forEach(item => {item.status = item.status ? 1 : 0; } );
          this.loading = true;
          try {
            await ResponsabilityRepository.save(payload);
            this.success();
            this.fetch();
            this.showModalResponsabilities = false;
            this.loading = false;
          } catch (error) {
            console.log(error);
            this.error();
          } 
        },
        nuevo(){
          //console.log(consts.TI_ADMIN);
          this.showModal=true;
          this.user={role_id:consts.TI_ADMIN};
        },
       
        changeSelectPerson(data_person) {
          console.log(data_person);
          this.user.people_id = data_person.id;
          this.user.name = data_person.name;
          
          this.user.username = data_person.lastname.replace(/\s/g, "_");
          this.user={...this.user};

        },
        edit(id){
          let d = this.data.find(item => item.id === id);
          d.password="";
          this.user = {...d};
          this.pictureKey+=1;
          this.showModal = true;
        },
        async permission(userid){
          await this.fetchMenu();
          let u = this.data.find(item => item.id === userid);
          this.user = {...u};
          try {
            let {data} = await UserRepository.listPermissions({'user_id': this.user.id});
            this.permissions = data;
            this.menus.forEach( m =>{
              for( var i=0; i<m.items.length;i++ ){
                for(var j=0;j < data.length; j++){
                  if( data[j].menu == m.items[i].link ){
                    m.items[i].permission_id = data[j].id;
                    m.items[i].mode = data[j].mode;
                    if(data[j].markets) m.items[i].markets = JSON.parse(data[j].markets);
                    m.items[i].status = 1;
                  }
                }
              }
            });
            console.log(this.menus);
            this.showModalPermission = true;
          } catch (error) {
            this.error();
          } 
        },
        async prepareResponsabilities(user){
          let responsabilities = [];
          try {
            let {data} = await ResponsabilityRepository.list({'user_id': user.id});
            responsabilities = data;
          } catch (error) {
            this.error();
          } 
        let listResponsability=[];
        let responsability='';
          for(let i=0;i<this.sectors.length;i++){

            responsability = responsabilities.find(element => element.sector_id == this.sectors[i].id);
            if(responsability){
              listResponsability.push({
                'id': responsability.id,
                'name':responsability.sector.name,
                'porcentual':responsability.porcentual,
                'status':responsability.status ? true : false,
                'user_id':responsability.user_id,
                'sector_id':responsability.sector_id,
              })
            }else{
              listResponsability.push({
                'name':this.sectors[i].name, 
                'porcentual':0,
                'status':false,
                'user_id':user.id,
                'sector_id':this.sectors[i].id,
              })
            }
          }
          this.responsabilityData=[...listResponsability];
          this.showModalResponsabilities = true;
        },
      async remove(id){
          let payload = this.data.find(item => item.id === id);
          this.loading=true;
          UserRepository.delete(payload.id).then((data)=>{
            this.success();
            this.fetch();
          }).catch(err=>{ this.error();});
        },

        onChangePhoto(data){
          this.user.photo = data;
          this.pictureKey+=1;
        },
    handleTableChange(pagination, filters, sorter){
      const pager = { ...this.pagination };
      pager.current = pagination.current;
      this.pagination = pager;
      this.fetch({
          results: pagination.pageSize,
          page: pagination.current,
          sortField: sorter.field,
          search: this.user.search,
          sortOrder: sorter.order,
          ...filters,
      });
    },

  }
}
</script>

<style scoped>

</style>
