<template>
  <div class="password-form-container">
    <a-form :form="form" :model="user" @submit="handleSubmit" class="password-form" >


       <a-alert
      v-if="visible"
      :message="messenger"
      :type="typeAlert"
      show-icon
      closable
      :after-close="handleClose"
    />

    <a-form-item  label="Contraseña actual" has-feedback>
      <a-input-password
      v-decorator="[
      'current',
      {
        rules: [
        {
          required: true,
          message: 'Este campo es obligatorio!',
        },
        {
          validator: validateCurrentPassword,
        },
        ],
      },
      ]"
        autocomplete="off" type="password"
      ><a-icon slot="prefix" type="lock" style="color:rgba(0,0,0,.25)" /></a-input-password>
    </a-form-item>

    <a-form-item  label="Nueva Contraseña" has-feedback>
      <a-input-password
      v-decorator="[
      'password',
      {
        rules: [
        {
          required: true,
          message: 'Este campo es requerrido',
        },
        {
          validator: validateToNextPassword,
        },
        ],
      },
      ]"
         autocomplete="off"  type="password"
      ><a-icon slot="prefix" type="lock" style="color:rgba(0,0,0,.25)" /></a-input-password>
    </a-form-item>
    <a-form-item  label="Repite la contraseña nueva" has-feedback>
      <a-input-password
      v-decorator="[
      'confirm',
      {
        rules: [
        {
          required: true,
          message: 'Las Contaseñas no coiciden!',
        },
        {
          validator: compareToFirstPassword,
        },
        ],
      },
      ]"
         autocomplete="off"  type="password"
       @input="handleConfirmBlur" ><a-icon slot="prefix" type="lock" style="color:rgba(0,0,0,.25)" /></a-input-password>
    </a-form-item>
    

    <a-form-item >
       <a-row :gutter="8" type="flex" justify="center">
          <a-col :span="24">
            <div class="button-row">
              <a-button type="primary"  :loading="loading" html-type="submit" class="submit-button">Register</a-button>
              <a-button style="margin-left: 10px" @click="resetForm" class="reset-button" >Cancelar</a-button>
            </div>
          </a-col>
        </a-row>
    </a-form-item>

  </a-form>
</div>
</template>

<script>
  import Repository from "../../repositories/RepositoryFactory";
  const UserRepository = Repository.get("user");

  export default {
    data() {
      return {

        confirmDirty: false,
        loading: false,
        visible: false,
        messenger:'',
        typeAlert:'info',

        user: {
          id:'',
          currentpassword: '',
          newpassword: '',
          checkPass: '',
        },


      };
    },
    beforeCreate() {
    this.form = this.$form.createForm(this, { name: 'register' });
  },
    methods: {
      handleSubmit(e) {
        
        e.preventDefault();
        this.form.validateFieldsAndScroll(async (err, values) => {
          if (!err) {
             this.user.currentpassword = values.current;
             this.user.newpassword = values.password;
             this.user.checkPass = values.confirm;

            try {
              this.loading = true;
              this.user.id = window.USER_ID;
               let {data} = await UserRepository.saveChangePassword(this.user);

               if(data.type =='success'){

                this.form.resetFields();
               }
               this.visible=true;
                this.typeAlert=data.type;
               this.messenger=data.msg;

            } catch (error) {
              console.error(error);
              this.error();
            }
            this.loading = false;
          } 
        });
      },
     handleClose() {
      this.visible = false;
    },
      handleConfirmBlur(e) {
        const value = e.target.value;

      },
      validateCurrentPassword(rule, value, callback) {
        const form = this.form;
        if (value && this.confirmDirty) {
          form.validateFields(['current'], { force: true });
        }
        callback();
      },
      compareToFirstPassword(rule, value, callback) {
        const form = this.form;
        if (value && value !== form.getFieldValue('password')) {
          callback('Las nuevas contraseñas no coinciden!');
        } else {
          callback();
        }
      },
      validateToNextPassword(rule, value, callback) {
        const form = this.form;
        const val= form.getFieldValue('confirm')
        if (value && this.confirmDirty) {
          form.validateFields(['confirm'], { force: true });
        }
        callback();
      },
      resetForm() {
         this.loading = false;
        this.form.resetFields();
      },


    },
  };
</script>
<style scoped>
.password-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
 margin-top: 10PX;
}

.password-form {
  max-width: 400px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.button-row {
  display: flex;
  justify-content: space-between;
}

.submit-button,
.reset-button {
  width: 48%; /* Ajusta el ancho de los botones según sea necesario */
  border-radius: 3px;
}
</style>