<template>
<div>
	<div class="content">
	  <h1 class="content__title">NOTIFICACIONES {{  type =='FRA'? ' DE FRACCIONAMIENTO' : '' }}</h1> 
	  <hr class="content__divider"/>
      <a-button v-show="editAllowed" type="primary" size="small"  @click="nuevo">Nuevo</a-button>
	  
	<div class="table-operations" style="padding-left:5px;">
		<a-form  layout="inline">
		
			<a-input v-model="filters.search" v-on:keyup.enter="fetch({search:filters.search})" size="small" placeholder="Buscar" style="width:200px; margin:5px 0px 5px 0px;"></a-input>
		 
			<a-select  size="small" v-model="filters.market_id" placeholder="Mercado..." style="width:180px; margin:0px 0px 5px 0px;" :allowClear="true">
				<a-select-option v-for="(item,index) in markets" :value="item.id" :key="index">
					{{item.name}}
				</a-select-option>
			</a-select>
		
			<a-select  size="small" v-model="filters.sector_id" :allowClear="true" placeholder="Sector..." style="width:150px; margin:0px 0px 5px 0px;">
				<a-select-option v-for="(item,index) in sectors" :value="item.id" :key="index">
					{{item.name}}
				</a-select-option>
			</a-select>
		
			<a-select  size="small" v-model="filters.concept_id" placeholder="Concepto..." style="width:200px; margin:0px 0px 5px 0px;" :allowClear="true">
				<a-select-option v-for="(item,index) in concepts" :value="item.id" :key="index">
					{{item.code}} {{item.name}}
				</a-select-option>
			</a-select>
			<a-divider type="vertical"/>
			<a-button  size="small" type="primary" @click="fetch({search:filters.search})" style="margin:0px 0px 5px 0px;"><a-icon type="search"/>Buscar</a-button>
			<a-divider type="vertical"/>
			<a-button  size="small" type="primary" @click="print_all()" style="margin:0px 0px 5px 0px;"><a-icon type="printer"/>Imprimir Todos</a-button>
			
		</a-form>
	</div>
	  
	  <div>
		<a-table
		:columns="columns"
		:row-key="(record,index) =>index"
		:data-source="data"
		:pagination="pagination"
		:loading="loading"
		:rowClassName="review_color"
		@change="handleTableChange">
		<span slot="check" slot-scope="text,r"> <a-checkbox @change="()=>{r.active=!r.active;}" :checked="r.active"></a-checkbox> </span>

		<span slot="concept_code" slot-scope="text,r" style="padding-left:5px">{{r.concept.code}}{{(r.type=='FRA'?'-F':'')}}</span>
		<span slot="date_at" slot-scope="text,r">{{ moment(r.debt_date_at).format('DD/MM/YYYY') }}</span>
		<span slot="reference" slot-scope="text,r" >{{r.reference}}</span>			
		<span slot="to" slot-scope="text,r" >{{`${r.to.name.toUpperCase()} ${r.to.lastname.toUpperCase()}`}} </span>			
		<span slot="stand" slot-scope="text,r" v-if="r.stand_code">{{`${r.stand_code||''}|${r.sector_code||''}|${r.market_code||''}`}} </span>
		<span slot="stand" slot-scope="text,r" v-else>{{`${r.stand_name||''}|${r.market_code||''}`}} </span>
		<span slot="status" slot-scope="text,r" >{{ r.status==0?'Subsanado':'Activo' }} </span>			
		<span slot="actions" slot-scope="text,record">
				<!--<a :href="'/notification/'+record.id+'/pdf'" target="_blank" title="Imprimir"><a-icon type="printer" /></a>-->
				<a href="javascript:;"  v-if="editAllowed && record.status == 1" @click="edit(record)" title="Editar"> <a-icon type="edit" /></a>

				<a-dropdown>
	    <a class="ant-dropdown-link" @click="e => e.preventDefault()"><a-icon type="share-alt" /> </a>
	    <a-menu slot="overlay">
		      <a-menu-item>
		        <a href="javascript:;" v-if="editAllowed && record.status == 1" title="Enviar por Whatsapp" @click="send(record)"><a-icon type="message" /> whatsapp</a>
		      </a-menu-item>
		      <a-menu-item>
		        <a  href="javascript:;" v-if="editAllowed && record.status == 1" @click="sendEmail(record)" title="enviar por correo" ><a-icon type="mail" /> Correo</a>
		      </a-menu-item>
	      
	    </a-menu>
	  </a-dropdown>
				
				<a-popconfirm title="Seguro?" @confirm="() => {remove(record)}" v-if="record.status != '0'">
					<a href="javascript:;" v-if="editAllowed && record.status == 1" title="Subsanar"><a-icon type="file-done" /></a>
				</a-popconfirm>
		</span>	

		</a-table>
	  </div>

      <a-modal 		
        :dialogStyle="{'top': '20px'}"
        width="80%" 
        :confirm-loading="confirmLoading" 
        :title="debt_filters.id ? 'Editar' : 'Crear Notificaciones'" 
        :visible="showModal" 
        @ok="createMasive" 
        :key="showModal" 
        @cancel="showModal = false,total_selected=0"

        :okText="!debt_filters.id ? 'Crear Notificaciones' : 'Guardar'" 
        cancelText="Cerrar" 
        :ok-button-props="{ props: { loading: saving,disabled: debt_filters.id ? false : total_selected==0 } }">
		<a-form-model layout="inline">
				
			<a-row v-if="!debt_filters.id">
				<a-col span="24">
					<a-form-item label="Mercado:">
						<a-select  size="small" :allowClear="true" v-model="debt_filters.market_id" placeholder="..." style="width:200px" :disabled="debt_filters.concept_id==PIT_CONCEPT_ID || debt_filters.concept_id==TER_CONCEPT_ID
						|| debt_filters.concept_id==MAU_CONCEPT_ID || debt_filters.concept_id==PNL_CONCEPT_ID || debt_filters.concept_id==NCH_CONCEPT_ID">
							<a-select-option v-for="(item,index) in markets" :value="item.id" :key="index" >
								{{item.name}}
							</a-select-option>
						</a-select>
					</a-form-item>
					<a-form-item label="Sector:">
						<a-select  size="small" :allowClear="true" v-model="debt_filters.sector_id" placeholder="..." style="width:200px" :disabled="debt_filters.concept_id==PIT_CONCEPT_ID || debt_filters.concept_id==TER_CONCEPT_ID
						|| debt_filters.concept_id==MAU_CONCEPT_ID || debt_filters.concept_id==PNL_CONCEPT_ID || debt_filters.concept_id==NCH_CONCEPT_ID">
							<a-select-option v-for="(item,index) in sectors" :value="item.id" :key="index" >
								{{item.name}}
							</a-select-option>
						</a-select>
					</a-form-item>
					<a-form-item label="Concepto:">
						<a-select  size="small" :allowClear="true" v-model="debt_filters.concept_id" placeholder="..." style="width:200px">
							<a-select-option v-for="(item,index) in concepts" :value="item.id" :key="index" >
								{{item.code}} {{item.name}}
							</a-select-option>
						</a-select>
					</a-form-item>
					<a-form-item prop='titular' :style="!debt_filters.is_titular_checked ? 'display:none':'margin-right: 5px;'">
						<div style="width: 350px;">
							<select-people-component :person_id="debt_filters.titular_id" format="full_data" v-on:handleSelectPeople="changeSelectTitular" :key="titular_key"/>
						</div>
					</a-form-item>
					<a-form-item>
						<a-checkbox @change="onChangeTitular" v-model="debt_filters.is_titular_checked"  :checked="false"><span >Elija Titular</span></a-checkbox>
					</a-form-item>
					<a-form-item>
						<a-button size="small" @click="getPeopleWithDebts" type="primary">Buscar</a-button>
					</a-form-item>
				</a-col>
			</a-row>
			<a-textarea
			v-model="content_notification"
			placeholder="Mediante la presente, se le comunica...(texto dirigido al contribuyente)"
			:auto-size="{ minRows: 4, maxRows: 4 }"
			/>
			<a-card title="Puestos con deudas Vencidas" v-if="!debt_filters.id">
				<p>Mayor a  <input v-model="debts_count" style="width:40px; text-align:center;"  /> Deudas. </p>
				<a-checkbox @change="selectAllChange" :checked="allselected"><span>Todos</span></a-checkbox>
				<a-table
					:columns="person_with_debts_columns"
					:row-key="(record,index) =>index"
					:data-source="person_with_debts"
					:loading="loading"
					:pagination="paginationPeopleDebt"
					:rowClassName="review_color"
					@change="handlePeopleDebtTableChange">
					<span slot="check" slot-scope="text,r"> <a-checkbox @change="()=>{r.active=!r.active; count_total_selected()}" :checked="r.active"></a-checkbox> </span>
					<span slot="debts_number" slot-scope="text,r">{{r.debts_number}}</span>
					<span slot="concept_code" slot-scope="text,r" style="padding-left:5px">{{r.concept_code}}{{(r.type=='FRA'?'-F':'')}}</span>
					<span slot="ref" slot-scope="text,r"> 
						{{ r.type=='FRA'? r.ref_code: 
						(r.concept_id==MRCD_CONCEPT_ID||r.concept_id==SISA_CONCEPT_ID||r.concept_id==BAJP_CONCEPT_ID||r.concept_id==DDM_CONCEPT_ID?`Pto:${r.stand_code}| ${r.sector_code}| ${r.market_code}`:
						( r.concept_id==MULD_CONCEPT_ID?`${r.stand_code ? 'Pto:'+r.stand_code : 'Local:'+r.stand_name}: ${r.sector_code ? r.sector_code : ''}`:`${r.market_code ? r.market_code : ''}` )) }}
					</span>
					<span slot="titular" slot-scope="text,r">{{r.titular_name}} {{r.titular_lastname}}</span>
					<span slot="total" slot-scope="text,r" >{{ Number.parseFloat(r.total).toFixed(2)}}</span>			
				</a-table>
				<div>Total: {{total_selected}} seleccionados.</div>
			</a-card>
			<a-alert v-if="messageMassive" :message="messageMassive" type="success" />
		</a-form-model>
	</a-modal>
	<a-modal 
	:width="860" 
	title="Impresión de una notificación" 
	:visible="showModalPrint" 
	@ok="printNotification()" 
	@cancel="showModalPrint = false" 
	cancelText="Cancelar" 
	okText="Imprimir">
		<print-notification-component :notification_print="notification_print" :total_print="total_print" :key="notification_print.id"  />
	</a-modal>
  </div>    
</div>    
</template>
<script>
import moment from "moment";
moment.locale('es');
import Utils from "../../Utils.js";
import FactoryRepository from "../../repositories/RepositoryFactory";
const Repository = FactoryRepository.get("notification");
const MarketRepository = FactoryRepository.get("market");
const SectorRepository = FactoryRepository.get("sector");
const ConceptRepository = FactoryRepository.get("concept");
const PersonRepository = FactoryRepository.get("person");
const UserRepository = FactoryRepository.get("user");
const {MRCD_CONCEPT_ID,SISA_CONCEPT_ID,BAJP_CONCEPT_ID,MULD_CONCEPT_ID,PIT_CONCEPT_ID,TER_CONCEPT_ID,DDM_CONCEPT_ID,
MAU_CONCEPT_ID,PNL_CONCEPT_ID,NCH_CONCEPT_ID} = require("../../constants");
const key = 'updatable';

const columns = [
  {title:'-',key:'check',scopedSlots: { customRender: "check" } },
  { title: 'Correlativo', dataIndex: 'code',  width:'200px'},
  { title: 'Cpt.', key: 'concept_code', width:'50px',scopedSlots:{ customRender:"concept_code"}},
  { title: 'Persona',key: 'to',scopedSlots: { customRender: "to" }},
  { title: 'Pto/Local',key: 'stand',scopedSlots: { customRender: "stand" }},
  { title: 'Ref.', key: 'reference',scopedSlots: { customRender: "reference" } },
  { title: 'Fecha', key: 'date_at', width:'100px',scopedSlots: { customRender: "date_at" } },
  { title: 'Estado', key: 'status', width:'100px',scopedSlots: { customRender: "status" } },
  
  {title:'-',key:'actions',scopedSlots: { customRender: "actions" }, width:'70px' },
];

const person_with_debts_columns = [
  {title:'-',key:'check',scopedSlots: { customRender: "check" }, width:'20px' },
  { title: 'Concept.', key: 'concept_code', width:'80px',scopedSlots:{ customRender:"concept_code"}},
  { title: 'Ref.', key: 'ref',scopedSlots: { customRender: "ref" } },
  { title: 'Titular', key: 'titular',scopedSlots:{ customRender:"titular"}},
  { title: 'Monto', key: 'total', width:'80px',scopedSlots: { customRender: "total" }, align:'right' },
  { title: 'Deudas', key: 'debts_number', width:'70px',align:"center",scopedSlots: { customRender: "debts_number" } },
  { title: 'Notif.', dataIndex: 'notifications', width:'50px' },
  ];

export default {
	props:['type'],
	data(){
		return { 
			editAllowed:false,
			MRCD_CONCEPT_ID,
			SISA_CONCEPT_ID,
			BAJP_CONCEPT_ID,
			MULD_CONCEPT_ID,
			PIT_CONCEPT_ID,
			TER_CONCEPT_ID,
			MAU_CONCEPT_ID,
			PNL_CONCEPT_ID,
			NCH_CONCEPT_ID,
			DDM_CONCEPT_ID,
			config:{},
			total_selected:0,
			allselected:false,
			filters:{},
			moment,
			  model:{debts:[]},
			  debt_list_key:0,
			labelCol:{span:4},
			wrapperCol:{span:14},
			rules:{
			  name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			data:[],
			person_with_debts:[],
			markets:[],
			sectors:[],
			concepts:[],
			pagination: {},
			paginationPeopleDebt: {pageSize:30},
			loading: false,
			columns,
			person_with_debts_columns,
			showModal:false,
			//showModalEdit:false,
			debt_filters:{},
			messageMassive:null,
			notification:{to:{}, stand:{},details:[]},
			saving:false,
			showModalPrint:false,
			notification_print:{},
			total_print:0,
			confirmLoading: false,
			titular_key:1,
			content_notification:'',
			debts_count:1,
		}
	},
	async mounted() {
		this.editAllowed= Utils.checkEditMode();
        await this.fetchMarkets();
        await this.fetchSectors();
        await this.fetchConcepts();
		await this.fetch();
		await this.fetchUser();
	},
	methods:{
		async fetchUser() {
			const {data} =  await UserRepository.get(window.USER_ID);
			this.user = data;
		},
		count_total_selected(){
			this.total_selected=this.person_with_debts.filter(e=>e.active).length;
		},
		selectAllChange(){
			this.person_with_debts.forEach(e=>{e.active=!e.active;});
			this.count_total_selected();
		},
		changeSelectTitular(person_data){
			this.debt_filters.titular_id = person_data.id;
		},
		onChangeTitular(e) {
			this.debt_filters.is_titular_checked = e.target.checked;
			if(!this.debt_filters.is_titular_checked) this.debt_filters.titular_id='';
			this.titular_key++;
		},
		async getPeopleWithDebts(params={}){
			if(!this.isValidatedDirectFine()){ return;}
          
            this.$message.loading({ content: 'Cargando...', key });
			params={...this.debt_filters,type:this.type,payment_status:0, debts_count:this.debts_count,...params};
		
			const {data}= await PersonRepository.getPeopleWithDebts(params);
			console.log("===>",data)
			data.data.forEach(item => { item.active = false;});
			this.person_with_debts=data.data;
            
			const pagination = { ...this.paginationPeopleDebt };
			pagination.total = data.total;
			this.paginationPeopleDebt = pagination;

			(data.data.length > 0) ? this.$message.success({ content: 'Cargado!', key, duration: 2 }) :
			 this.$message.warning({ content: 'Sin datos!', key, duration: 2 });	
		},
        async print_all(){
			//let notifications_id =this.data.filter(item => item.active).map(item => item.id);
			let notifications_id=[];
			let notifications_stands_id=[];
			this.data.forEach(item=>{
				if(item.active){
					notifications_id.push(item.id);
					notifications_stands_id.push(item.stand_id);
				}
			});
			if(notifications_id.length==0){
				this.$message.warning('Seleccione una notificación generada!!!');
				return;
			}
			let pdf = await Repository.allPdf({notifications_id,notifications_stands_id});
			window.open(pdf.data)
		},
		edit(record){
			this.notification={...record};
			this.showModalEdit=true;
			this.content_notification=this.notification.content;
			this.debt_filters.id=this.notification.id;
		
			this.showModal=true;
			//await Repository.save(this.notification);
		},
		
		async remove(record){
			this.notification={...record};
			this.notification.status=0;
			await Repository.save(this.notification);
			this.fetch();
		},
		nuevo(){
            this.showModal=true;
			this.model = {};
			this.debt_filters={};
			this.notification={to:{}, stand:{},details:[]};
			this.messageMassive=null;
			this.person_with_debts=[];
			this.titular_key++;
			this.content_notification='';
		},
		review_color(record,index){
			return record.notifications>=2?'debt-coactive': (record.expired_days>0?"debt-expired":'');
		},
		async fetchMarkets(){
            const {data} =await MarketRepository.list({});
            this.markets = data.data;
        },
        async fetchSectors(){
            const {data} = await SectorRepository.list({not_paginate:1});
            this.sectors = data;
        },
        async fetchConcepts(){
            const {data} = await ConceptRepository.list({});
            this.concepts = data.data;
		},
		
		 handleTableChange(pagination, filters, sorter){
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
           this.fetch({
             results: pagination.pageSize,
             page: pagination.current,
			 sortField: sorter.field,
			 search:this.filters.search,
             sortOrder: sorter.order,
             ...filters,
           });
		},
		 handlePeopleDebtTableChange(pagination, filters, sorter){
			const pager = { ...this.paginationPeopleDebt };
			pager.current = pagination.current;
			this.paginationPeopleDebt = pager;
           this.getPeopleWithDebts({
             results: pagination.pageSize,
             page: pagination.current,
			 sortField: sorter.field,
             sortOrder: sorter.order,
             ...filters,
           });
		},
		async fetch(params = {}){ 
			this.loading = true;
			// type:this.type
			//params = {...params, ...this.filters,};
			params = {...params, ...this.filters,type:this.type};
			try {
				const {data} = await Repository.list(params);
				const pagination = { ...this.pagination };
				pagination.total = data.total;
				this.pagination = pagination;
				data.data.forEach(item => { item.active = false;});
				this.data = data.data;
				this.loading = false;
			} catch(error) {
				this.error();
			}
		},
		error (message) { this.$message.error(message||'Error al procesar'); },
		success (message) { this.$message.success(message||'Proceso Correcto'); },
		async save(){
			this.loading=true;
			this.showModal=false;
			this.loading=true;
			let payload = this.model;
		},
		isValidatedDirectFine(){
			let isValid = true;
			if(this.type==='normal'){
				if(!this.debt_filters.market_id){this.$message.warning('Seleccione un mercado!!!'); isValid=false;}
			}
			else{
				if((!this.debt_filters.market_id) && (this.debt_filters.concept_id===MRCD_CONCEPT_ID || 
				this.debt_filters.concept_id===BAJP_CONCEPT_ID || this.debt_filters.concept_id===MULD_CONCEPT_ID)){this.$message.warning('Seleccione un mercado!!!'); isValid=false;}
			}
			if(!this.debt_filters.concept_id){this.$message.warning('Seleccione un concepto!!!'); isValid=false;}
			return isValid;
		},
		async createMasive(){

			if(this.notification.id){//solamente para editar el conten
				await Repository.save({content:this.content_notification,id:this.notification.id});
				this.showModal=false;
				this.fetch();
			}else{
				this.confirmLoading = true;
				this.loading=true;
				this.saving=true;
				let saved_notifications = [];
				this.$message.loading({ content: 'Cargando...', key });
				this.messageMassive="Esto podria tomar unos minutos, por favor espere...";
				//se debe crear una notificacion por cada puesto.
				const list = this.person_with_debts.filter(e=>e.active);
				for( var i = 0; i<list.length; i++){
					try {
						const data = list[i];
						let notification={
							date_at:moment(),
							concept_id:this.debt_filters.concept_id,
							to_id:data.titular_id,
							content:this.content_notification,
							stand_id:data.stand_id,
							datails:data.debt_ids.split(","),
							type:this.type||'normal',//estaba comentado xd
						};
						const debts=data.debts_reference.split(",");
						notification.reference = moment(debts[0]).format('YYYY.MMM')+" al "+moment(debts[debts.length-1]).format('YYYY.MMM');
						
						this.messageMassive=`Creado ${i+1}/${list.length}. ${i==list.length-1?'Terminado.':''}`;
						let saved_notification = await Repository.saveMassive1x1(notification);
						saved_notifications.push(saved_notification.data);

					} catch (error) {
						console.log(error);
						this.error("Error a crear Notificacion");
					}
				}
				this.$message.success({ content: 'Cargado!', key, duration: 2 });
				this.confirmLoading = false;
				this.loading=false;
				this.saving=false;
				this.showModal=false;
				this.fetch();
				
				let notifications_id=[];
				let notifications_stands_id=[];
				saved_notifications.forEach(item=>{
					notifications_id.push(item.id);
					notifications_stands_id.push(item.stand_id);
				});
				//this.confirmAllPdf(saved_notifications.map(item => item.id));
				this.confirmAllPdf(notifications_id,notifications_stands_id);
				this.total_selected=0;
			}
			
		},
		confirmAllPdf(notifications_id,notifications_stands_id) {
			 this.$confirm({
				 title: '¿Quieres generar el pdf de todas las notificaciones?',
				 content: '',
				 onOk() {
					 return new Promise(async (resolve,reject) => {
						 let pdf = await Repository.allPdf({notifications_id,notifications_stands_id});
						 window.open(pdf.data)
						 setTimeout( pdf.status == 200 ? resolve : reject, 1000); // libera el modal
					 }).catch(()=>console.log('algo salio mal!!!'))
				 },
				 onCancel() {}
			 });
		},
		preparePrintNotifications(notification_data){
			this.notification_print={...notification_data};
			this.notification_print.usuario={...this.user};
			this.total_print=this.notification_print.debts.reduce((accum,item) => accum += Number.parseFloat( item.total) ,0 ).toFixed(2)
			this.showModalPrint=true;
		},
		printNotification(){
			var printContents = document.getElementById("print_notification").innerHTML;
			var a = window.open('', '', 'height=auto, width=900');
			a.document.write(`
				<html>
					<head>
						<style>

						*,body {
							font-size:14px;
							padding:0;
							border;0;
						}
						*{ font-size:14px; }
						.container{margin:50px 15px 0 15px;}
						.header{  padding:0; margin:0 0 -40px 0;}
						.header div{
							/*display: inline-block;*/
						}
						.header img{
						/* max-height:60px;
							max-width:100%;*/
							object-fit:contain;
							/*height:65px;
							width:65px;*/
						}
						.fecha-de-notificacion{
							padding-top: 20px;
						}
						.content-header{display: flex; justify-content: space-between;}
						.content-header .content-description h4{ padding: 0; margin: 0; text-align: center; font-size: 15px; font-weight: 500;}
						.content-header .content-description p{ padding: 0; margin: 0; text-align: center;}
						h1{
							font-size:16px;
							text-align:center; padding:10px 0 0 0;
							margin:0px 0 0 0;
						}
						.upper{
							text-transform:uppercase;
						}
						table{
							
						}
						table thead th{
							border-bottom:1px solid #ccc;
							border-top:1px solid #ccc;
							background:#fafafa;
						}
						table tfoot th{
							border-top:1px solid #ccc;
							background:#fafafa;
							padding:0 0px;
						}
						hr{
							background:#ccc;
							border:1px solid #ccc;
							width:97%;
						}
						.note{
							font-size:10px;
						}
						.column-center{
							text-align:center;
						}
						.column-right{
							text-align:right;
						}
						.column-end{text-align:end;}

						.signatures{
							padding-top:30px;
							padding-bottom:30px;
						}
						.signature_image{
							width:100px;
						}
						.signatures .boss{
							display:inline-block;
							width:40%;
							text-align:center;
						}
						.signatures .boss img{
							object-fit: contain;
							width: 90px; height: 90px;
						}
						.signatures .boss .name{
							border-top:1px dashed #ccc;
							margin:0; padding:0;
						}
						.signatures .boss .role{
							margin:0;
						}

						.debt-list table{
							margin:auto;
						}

						
						</style>
					<body>
						${printContents}
					</body>
				</html>
			`);

			a.document.close(); 
			a.print(); 
			a.close(); 
			this.showModalPrint = false; 

		},
		send(record) {
			if (!record.to.phone1) this.$message.warning({ content: 'Conductor no tiene número de WhatsApp registrado!', key, duration: 3 });
			const phone = `+51${record.to.phone1}`
			const totalDebt = record.debts.reduce((acc,debt)=> acc+=debt.total,0)
			let content = `Sr(a). ${record.to.name} ${record.to.lastname} por la presente se le envía la notificación: ${record.code}, donde se expresa que tiene una deuda de: ${totalDebt.toLocaleString('es-PE',{style:'currency',currency:'PEN'})}. \nPara conocer los detalles apersónese a las oficinas de la municipalidad o escribanos al siguiente WhatsApp: 987654321`
			const url = `https://web.whatsapp.com/send?phone=${phone}&text=${content}`;
			window.open(url,'_blank');
		},
		async sendEmail(record){

      if (!record.to.email){
      	 this.$message.warning({ content: 'Conductor no tiene  correo(email) registrado!', key, duration: 3 });
      	 return;
      }
      try {
      	this.$message.loading({ content: 'Cargando...',  key, duration: 2  });

         const totalDebt = record.debts.reduce((acc,debt)=> acc+=debt.total,0);
         record.to.totalDebt=totalDebt;
          record.to.code=record.code;
        const response =await Repository.sendMail(record.to);
        if (response.data.status) {
            this.$message.success({ content: 'Éxisto!:'+response.data.message, key, duration: 2 });
        } else {
            this.$message.error({content: 'Error:'+ response.data.error, key, duration: 2  });
        }
        } catch (error) {
        
        this.$message.error({ content: 'Error sending email', key, duration: 2 });
        }

		},
	}
}
</script>
<style scoped>
	.table-operations{
		padding:0;
	}
	.debt-coactive{
		background-color:rgba(255,0,0,0.1);
	}
	ul.debts-in-notification{
		margin:10px 0;
		padding:10px;
	}
	ul.debts-in-notification li{
		padding:5px;
	}
	ul.debts-in-notification li:nth-child(0){
		background:#fafafa;
		border-bottom: 1px solid #ccc;
	}
	ul.debts-in-notification li div{
		display:inline-block;
		text-transform:uppercase;
	}

	.ant-col.ant-form-item-label {
		padding-bottom: 0;
	}
</style>
