<template>
<div>
	<div class="content">
	  <h1 class="content__title">EMPRESA</h1> 
	  <hr class="content__divider"/>
	  <!-- <a-button type="primary" size="small"  @click="nuevo">Nuevo</a-button> -->
	  <div>
		
		<a-table
		:columns="columns"
		:row-key="record => record.id"
		:data-source="data"
		:pagination="pagination"
		:loading="loading"
		@change="handleTableChange">

		<span slot="action" slot-scope="text,record">
		  <a-divider type="vertical" />
		  <a href="javascript:;" @click="edit(record.id)" title="Editar"><a-icon type="edit" /></a>
		  <!-- <a-divider type="vertical" /> -->
		  <!-- <a-popconfirm v-if="data.length" title="Seguro?" @confirm="() => remove(record.id)">
			  <a href="javascript:;" title="Eliminar"><a-icon type="delete" /></a>
			</a-popconfirm> -->
			</span>
		</a-table>
	  </div>
	

	<a-modal :width="900" title="UIT" :visible="showModal" @ok="save" @cancel="showModal = false">

		<a-form-model ref="modelForm" :model="model" :rules="rules" layout="vertical" :label-col="labelCol" :wrapper-col="wrapperCol" >
			
			<a-form-model-item label="Codigo:" prop="code">
				<a-input v-model="model.code" placeholder="..."></a-input>
			</a-form-model-item>

			<a-form-model-item label="RUC:" prop="ruc">
				<a-input v-model="model.ruc" placeholder="..."></a-input>
			</a-form-model-item>

			<a-form-model-item label="Nombre:" prop="year">
				<a-input v-model="model.year"  placeholder="..."></a-input>
			</a-form-model-item>

			<a-form-model-item label="Direccion:" prop="address">
				<a-input v-model="model.address"  placeholder="..."></a-input>
			</a-form-model-item>

			<a-form-model-item label="Telefono:" prop="phone">
				<a-input v-model="model.phone" placeholder="..."></a-input>
			</a-form-model-item>
				
		</a-form-model>
	</a-modal>


  </div>    
</div>    
</template>
<script>
import moment from "moment";
import FactoryRepository from "../../repositories/RepositoryFactory";
const Repository = FactoryRepository.get("company");

const columns = [
  { title: 'Codigo',dataIndex: 'code'},
  { title: 'Ruc',dataIndex: 'ruc'},
  { title: 'nombre',dataIndex: 'name'},
  { title: 'Direccion',dataIndex: 'address'},
  { title: 'Telf.',dataIndex: 'phone'},
  { title: 'Estado',dataIndex: 'status'},
  {title:'-',key:'action',scopedSlots: { customRender: "action" } }
];

/*---------- */
export default {
	data(){
		return { 
		  	model:{},
			labelCol:{span:4},
			wrapperCol:{span:14},
			rules:{
			  name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			data:[],
			pagination: {},
			loading: false,
			columns,
			showModal:false,
		}
	},
	mounted() {
		 this.fetch();
	},
	methods:{
		 handleTableChange(pagination, filters, sorter){
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				sortOrder: sorter.order,
				...filters,
			});
		},
		async fetch(params = {}){
			this.loading = true;
			const {data} = await Repository.list(params);
			this.data = data.data;
			this.loading = false;
		},
		error (message) { this.$message.error(message||'Error al procesar'); },
		success (message) { this.$message.success(message||'Proceso Correcto'); },
		async save(){
			this.showModal=false;
			this.loading=true;
			try {
				const r = await Repository.save(this.model);	
				this.fetch();
			} catch (error) {
				this.loading=false;
				this.error('');
			}
		},
		nuevo(){
		this.showModal=true;
		this.model={};
		},

		edit(id){
		let d = this.data.find(item => item.id === id);
		this.model = d;
		this.showModal = true;
		},
		async remove(id){
			let payload = this.data.find(item => item.id === id);
			payload.status = 0;
			this.loading=true;
			try {
				const r = await Repository.save(payload);	
				this.fetch();
			} catch (error) {
				console.log(error);
				this.loading=false;
				this.error('');
			}
			
		},

	}
}
</script>
<style scoped>

</style>
