.table-operations {
    margin-top: 10px;
    background-color: #001529;
    padding: 5px;
    opacity: .8;
}

/** Mobile Commissionist */
@media screen and (max-width: 1600px) {
	/* Aquí van los estilos para escriotorios grandes (xxl) */
	}

	@media screen and (max-width: 1200px) {
	/* Aquí van los estilos para escritorios (xl) */
	}

	@media screen and (max-width: 991px) {
    /* Aquí van los estilos para tablets grandes (lg) */
    /* Aquí van los estilos para tablets medianas (md) */
		.modal-full-size .ant-modal {
			width: 100% !important;
			max-width: 100%;
			margin: 0;
			top: 0 !important;
			bottom: 0;
			left: 0;
			right: 0;
			min-height: 100vh;
			display: flex;
        }
        
        .modal-content-full-size .ant-modal-content {
            width: 100%;
            height: 100%;
        }

		/** slider */
		.slider {
			width: calc(100vw - 20px); 
			height: 500px;
			overflow-x: scroll;
		}

		.slide {
			float: left;
			width: calc(100vw - 20px); 
			height: 500px;
		}

		.holder {
			width: 200%;   /* Num. of slides × 100%)  */
		}
	}
	
	@media screen and (max-width: 767px) {
	

	}

	@media screen and (max-width: 577px) {
	/* Aquí van los estilos para tablets medianas (sm) */
	}
	
	@media screen and (max-width: 479px) {
	/* Aquí van los estilos para smartphones (xs) */
	}