<template>
<div>
	<div class="content">
	  <h1 class="content__title">DEUDAS - COACTIVO</h1> 
	  <hr class="content__divider"/>
	  <div class="table-operations">
		  <a-form  layout="inline">
			  
			<select-people-component  size="small" :person_id="filters.client_id" v-on:handleSelectPeople="changeSelectPeople" placeholder="Persona..."  style="width:200px; margin:5px 0px 5px 5px;"  />

			<a-select  size="small" v-model="filters.stand_id" placeholder="Puesto..." style="width:100px; margin:0px 0px 0px 5px;">
				<a-select-option v-for="(item,index) in stands" :value="item.id" :key="index" >
					{{item.code}} {{item.name}}
				</a-select-option>
			</a-select> 

			<a-divider type="vertical" /> 
			<a-checkbox v-model="filters.is_coactive" style="margin:0px 0px 0px 5px; color:#ffffff;" ><label title="Ver coactivos pagados" style="margin:0; padding:0;"> Coactivos </label> </a-checkbox>
			<a-button  size="small" type="primary" @click="fetch()" style="margin:0px 0px 0px 5px;"><a-icon type="search" />Buscar</a-button>
		
			<a-button disabled="disabled" v-show="editAllowed" size="small" type="danger" @click="nuevo()" style="margin:0px 0px 0px 5px;"> <a-icon type="cloud-upload" /> Enviar a Coactivo</a-button>
		
			<a-button v-show="editAllowed" size="small" type="primary" @click="edit()" style="margin:0px 0px 0px 5px;"><a-icon type="cloud-download" /> Retornar de Coactivo</a-button>
		
		  </a-form>
	  </div>
	  
	  <div>
		<a-table
		:columns="columns"
		:row-key="(record,index) =>index"
		:data-source="data"
		:pagination="pagination"
		:loading="loading"
		:rowClassName="review_color"
		@change="handleTableChange">
		<span slot="concept_code" slot-scope="text,r" style="padding-left:5px">{{r.concept_code}}{{(r.type=='FRA'?'-F':'')}}</span>
		<span slot="ref" slot-scope="text,r"> 
		{{ r.type=='FRA'?r.ref_code: 
			(r.concept_id==MRCD_CONCEPT_ID||r.concept_id==SISA_CONCEPT_ID||r.concept_id==BAJP_CONCEPT_ID?`Pto:${r.stand_code}| ${r.sector_code}| ${r.market_code}`:
			( r.concept_id==MULD_CONCEPT_ID?`${r.code}: ${r.stand_name}`:`${r.concept_id}-${MULD_CONCEPT_ID}---` )) }}
		</span>
		<span slot="date_at" slot-scope="text,r">{{ moment(r.debt_date_at).format('YYYY.MMM') }}</span>
		<span slot="expired" slot-scope="text,r" :title="r.expired_days>0?'Vencida':''">{{r.expired_days>0?'V':''}}</span>
		<span slot="total" slot-scope="text,r" >{{ Number.parseFloat(r.debt_total).toFixed(2)}}</span>			
		<span slot="notifications" slot-scope="text,r" >{{ Number.parseFloat(r.debt_total).toFixed(2)}}</span>			
		<span slot="check" slot-scope="text,r"> <a-checkbox @change="()=>{r.active=!r.active;}" :checked="r.active"></a-checkbox> </span>
		<span slot="sent_coactive" slot-scope="text,r">{{r.coactive_description_init?`${moment(r.coactive_date_init).format('DD-MM-YY')}: ${r.coactive_description_init}`:''}}</span>
		<span slot="return_coactive" slot-scope="text,r">{{r.coactive_description_finish?`${moment(r.coactive_date_finish).format('DD-MM-YY')}: ${r.coactive_description_finish}`:''}} </span>
		</a-table>
	  </div>
	

	<a-modal width="80%" title="Deudas a Coactivo" :visible="showModal" @ok="save" @cancel="showModal = false" okText="Guardar" cancelText="Cerrar">
			<a-form-model layout="inline">
				<div>
					Deudas: {{model.debts.map(e=>e.concept_code+"-"+moment(e.debt_date_at).format("YYYY.MM")).join("|")}}
				</div>
				<a-row>
					<a-col span="12">
						<a-form-item label="Enviando con Informe:">
							<a-input  size="small" v-model="model.description_init" placeholder="Nro"></a-input>
						</a-form-item>
						<a-form-item label="Retornado con Informe:">
							<a-input  size="small" v-model="model.description_finish" placeholder="Nro"></a-input>
						</a-form-item>
					</a-col>
					<a-col span="12">
						
						<a-form-model-item label="Fecha">
							<a-date-picker v-model="model.date_init" size="small" format="DD-MM-YYYY" />
						</a-form-model-item>
						<a-form-model-item label="Fecha">
							<a-date-picker v-model="model.date_finish" size="small" format="DD-MM-YYYY" />
						</a-form-model-item>
						
					</a-col>
				</a-row>
			</a-form-model>
	</a-modal>
  </div>    
</div>    
</template>
<script>
import moment from "moment";
moment.locale('es');
import FactoryRepository from "../../repositories/RepositoryFactory";
import Utils from "../../Utils.js";
const Repository = FactoryRepository.get("coactive");
const DebtsRepository = FactoryRepository.get("debt");
const StandRepository = FactoryRepository.get("stand");
const {MRCD_CONCEPT_ID,SISA_CONCEPT_ID,BAJP_CONCEPT_ID,MULD_CONCEPT_ID} = require("../../constants");


const columns = [
	{title:'-',key:'check',scopedSlots: { customRender: "check" } },
  { title: 'Concept.', key: 'concept_code', width:'80px',scopedSlots:{ customRender:"concept_code"}},
  { title: 'Ref.', key: 'ref',scopedSlots: { customRender: "ref" } },
  { title: 'Fecha', key: 'date_at', width:'80px',scopedSlots: { customRender: "date_at" } },
  { title: 'Monto', key: 'total', width:'80px',scopedSlots: { customRender: "total" }, align:'right' },
  { title: 'Notif.', key: 'notifications', width:'80px',scopedSlots: { customRender: "notifications" } },
  { title: 'Envio Coactivo',dataIndex: 'sent_coactive',scopedSlots: { customRender: "sent_coactive" }},
  { title: 'Retorno Coactivo',dataIndex: 'return_coactive',scopedSlots: { customRender: "return_coactive" }},
];

/*---------- */
export default {
	data(){
		return { 
			editAllowed:false,
			MRCD_CONCEPT_ID,
			SISA_CONCEPT_ID,
			BAJP_CONCEPT_ID,
			MULD_CONCEPT_ID,
			filters:{},
			moment,
			  model:{debts:[]},
			  debt_list_key:0,
			labelCol:{span:4},
			wrapperCol:{span:14},
			rules:{
			  name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			data:[],
			stands:[],
			pagination: {},
			loading: false,
			columns,
			showModal:false,
		}
	},
	mounted() {
		// this.fetch();
		this.editAllowed= Utils.checkEditMode();
	},
	methods:{
		nuevo(){
			const debts = this.data.filter( e => e.active);
			if(!debts.length){alert("Elija al menos una deuda");return;}
			const in_coactive = debts.filter( e=> e.coactive_id>0);
			if(in_coactive.length) {alert("Ninguna deuda debe ya estar en coactivo"); return;}
			this.showModal=true;
			this.model = {debts:debts,date_init:moment()};

		},
		edit(){
			const debts = this.data.filter( e => e.active);
			if(!debts.length){alert("Elija al menos una deuda");return;}
			const no_coactive = debts.filter( e => e.active && ! e.coactive_id>0);
			if(no_coactive.length) {alert("Todas las deuda deben estar en coactivo"); return;} 
			this.showModal=true;
			const d0 = this.data[0];
			this.model={debts:debts,date_init:d0.coactive_date_init, description_init: d0.coactive_description_init, date_finish:moment() };
		},
		review_color(record,index){
			return record.coactive_description_init&&!record.coactive_description_finish?'debt-coactive': (record.expired_days>0?"debt-expired":'');
		},
		async fetchStands(){
			const {data} = await StandRepository.getStandsByClientID({titular_id:this.filters.client_id});
			this.stands = data.data;
		},

		changeSelectPeople(person_data) {
			this.filters.client_id = person_data.id;
			this.fetchStands();
		},
		 handleTableChange(pagination, filters, sorter){
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				sortOrder: sorter.order,
				...filters,
			});
		},
		async fetch(params = {}){ 
			this.loading = true;
			//let params = {stand_id:this.filter.stand_id, type:'normal'};
			params = {...params, ...this.filters};
			this.filters.is_coactive ? null : delete params.is_coactive;
			let payment_status = this.filters.is_coactive ? 1 : 0;
			const {data} = await DebtsRepository.getAccountStatusByTitular(params.client_id,payment_status,params);
			data.data.forEach(item => { item.active = false;});
			this.data = data.data;
			const pagination = { ...this.pagination };
			pagination.total = data.total;
			this.pagination = pagination;
			this.loading = false;
		},
		error (message) { this.$message.error(message||'Error al procesar'); },
		success (message) { this.$message.success(message||'Proceso Correcto'); },
		async save(){
			this.loading=true;
			this.showModal=false;
			this.loading=true;
			let payload = this.model;
			
			Repository.save(payload).then((data)=>{
				this.success();
				this.fetch();
			}).catch(err=>{ this.error();});
		},

	}
}
</script>
<style scoped>
	.table-operations{
		padding: 0;
	}
	.debt-coactive{
		background-color:rgba(255,0,0,0.1);
	}
	.ant-form{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.table-operations{
		padding: 0;
	}
</style>