<template>
<div> 
	<div class="content">
		<h1 class="content__title">MULTAS DIRECTAS</h1>  
		<hr class="content__divider"/>
		<a-button v-show="editAllowed" type="primary" size="small" @click="newFine()">Nuevo</a-button>
		<div class="table-operations">
			<a-form layout="inline">
				<a-input v-model="fine.search" v-on:keyup.enter="fetch({search:fine.search})" style="width:200px" size="small" placeholder="Buscar..."/>
				<a-button type="primary" @click="fetch({search:fine.search})" size="small">Buscar</a-button>
				<a-divider type="vertical"/>
				<a-range-picker :locale="locale"   @change="changeDate" format="DD/MMM/YYYY" style="width:250px;" size="small" :placeholder="['Fecha Inicio', 'Fecha Final']" :default-value="[filter.date_init, filter.date_end]">
				</a-range-picker>
				<a-divider type="vertical"/>
				<a-select style="width: 150px" v-model="filter.payment_status" size="small" placeholder="Seleccione" @change="changeSelectPaymentsOrDebts" :allowClear="true">
					<a-select-option value="1">Pagado</a-select-option>
					<a-select-option value="0">Deuda</a-select-option>
				</a-select>
				<a-divider type="vertical"/>
				<a-dropdown-button type="primary" size="small">
					Exportar
					<a-menu slot="overlay" @click="handleExportDirectFineClick" >
						<a-menu-item key="pdf"><a-icon type="file-pdf" /> PDF </a-menu-item>
						<a-menu-item key="excel"><a-icon type="file-excel" /> Excel </a-menu-item>
					</a-menu>
				</a-dropdown-button>
			</a-form>
		</div>
	  <a-table
	  :columns="columns"
	  :row-key="record => record.id"
	  :data-source="fines"
	  :pagination="pagination"
	  :loading="loading"
	  @change="handleTableChange">
		<span slot="titular" slot-scope="text,record">{{record.titular_name.toUpperCase()}} {{record.titular_lastname.toUpperCase()}} - {{record.titular_dni}}</span>
		<span slot="payment_status" slot-scope="text,record">{{record.payment_status == 0 ? 'Deuda' : 'Pagado'}}</span>
		<span slot="status" slot-scope="text,record">{{record.status == 0 ? 'Anulado' : 'Activo'}}</span>
		<span slot="action" slot-scope="text,record" style="display:flex; align-items: center;">
			<a href="javascript:;" v-show="editAllowed" @click="editFine(record.id)" title="Editar"><a-icon type="edit" v-if="record.status != '0'"/></a>
			<a-divider type="vertical" />
			<a-popconfirm title="Seguro?" @confirm="() => removeFine(record.id)" v-if="record.status != '0'">
				<a href="javascript:;" v-show="editAllowed" title="Eliminar"><a-icon type="delete" /></a>
			</a-popconfirm>
		</span>
	  </a-table>
  	</div>    
	<a-modal 
		  	:key="showModal" 
			:width="900" 
			:title="setTitleModalFine(fine.id)" 
			:visible="showModal" 
			@ok="saveFine" 
			@cancel="showModal = false" 
			cancelText="Cancelar" 
			okText="Guardar">
			<!-- Observación: El ancho de los inputs estan dimensionados segun el tamaño del modal 900 -->
		  	<a-form-model ref="ruleFine" :model="fine" :rules="rules"> <!--:label-col="labelCol" :wrapper-col="wrapperCol" -->
				<div class="fine-form">
					<div class="fine-form__header">
						<div class="fine-form__header__left">
							<div class="fine-form__header__left__logo">
								<img src="/images/logomuni.png" alt="image logo">
							</div>
							<div class="fine-form__header__left__municipality">
								<span style="font-size: 1em;font-weight: bold;">MUNICIPALIDAD PROVINCIAL DE LEONCIO PRADO </span>
								<span style="font-size: .7em;" >SUB GERENCIA DE POLICÍA MUNCIPAL, FISCALIZACIÓN Y CONTROL</span>
								<span style="font-size: .7em;" >Av. Alamedda Perú N°525 - Tingo María</span>
							</div>
						</div>
						<div class="fine-form__header__right">
							<div class="fine-form__header__right__title">
								<span style="font-size: 1.3em;font-weight: bold;">PAPELETA DE MULTA DIRECTA </span>
							</div>
							<div class="fine-form__header__right__date__numeration">
								<div class="fine-form__header__right__date">
									<a-form-model-item prop="date">
										<a-date-picker format="DD-MM-YYYY HH:mm:ss" v-model="fine.date_at"    />
									</a-form-model-item>
								</div>
								 <div class="fine-form__header__right__numeration">
									<a-form-model-item prop="numeration">
											<a-input placeholder="N°." v-model="fine.code_manual" />
									</a-form-model-item>
								</div>
							</div>
						</div>
					</div>

					<div class="fine-form__autor">
						<div class="fine-form__autor__data">
							<div class="fine-form__autor__data__name">
								<a-form-model-item label="Señor:" prop="name">
									<div style="width:400px">
										<select-people-component :person_id="fine.client_id" :size="'default'" v-on:handleSelectPeople="changeSelectPeople" :disabled="fine.id?true:false" />
									</div>
								</a-form-model-item>
							</div>
							<div class="fine-form__autor__data__address">
								<a-form-model-item  label="Negocio:" prop="stand_id">
									<!-- <a-input style="width:210px" v-model="fine.address" /> -->
									<a-select style="width:275px" v-model="fine.stand_id" :key="fine.stand_id" @change="showStandAddress"  placeholder="Seleccione.." :disabled="fine.id?true:false">
										<a-select-option v-for="(item,index) in stands" :value="item.id" :key="index" >
											{{item.code}} {{item.name}}
										</a-select-option>
									</a-select>
								</a-form-model-item>
							</div>
						</div>
						<div class="fine-form__autor__propietary">
							<a-form-model-item  label="Dirección:" prop="propietary">
								<div style="width:770px">
									<label >{{fine.stand_location}}</label>
								</div>
							</a-form-model-item>
						</div>
					</div>

					<div class="fine-form__table">
						
						<div class="table-fine__header__code">
							<a-form-model-item class="test_code"  label="Codigo" prop="code">
								<div class="table-fine__header--border-top">
									<a-input v-model="fine.ref_code" />
								</div>
							</a-form-model-item>
						</div>

						<div class="table-fine__header__description">
							<a-form-model-item  label="Descripción" prop="description">
								<div class="table-fine__header--border-top">
									<a-textarea
									v-model="fine.description"
									placeholder="Descripción..."
									:auto-size="{ minRows: 2, maxRows: 2 }"
									/>
								</div>
							</a-form-model-item>
						</div>

						<div class="table-fine__header__total">
							<a-form-model-item  label="Total" prop="total">
								<div class="table-fine__header--border-top">
									<a-input v-model="fine.total" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"/>
								</div>
							</a-form-model-item>
						</div>
						
					</div>

					<div class="fine-form__observation">
						<a-form-model-item label="Observaciones:" prop="observation">
							<div style="width:740px">
								<a-textarea
								v-model="fine.observation"
								placeholder="Controlled autosize"
								:auto-size="{ minRows: 3, maxRows: 5 }"
								/>
							</div>
						</a-form-model-item>
					</div>
					
				</div>
		</a-form-model>
		
	  </a-modal>
</div>    
</template>
<script>
import moment from "moment";
import 'moment/locale/es';
moment.locale('es');
import Utils from "../../Utils.js";
import locale from 'ant-design-vue/es/date-picker/locale/es_ES';

import Repository from "../../repositories/RepositoryFactory";
const { MULD_CONCEPT_ID}=require("../../constants");
const DebtRepository = Repository.get("debt");
const StandRepository = Repository.get("stand");
const columns = [
	{ title: 'Cod. Multa',dataIndex: 'code',key:'code'},
  { title: 'Titular', key:'titular',scopedSlots: { customRender: "titular" } },
  { title: 'Descripción',dataIndex: 'description',key:'description'},
  { title: 'Fecha',dataIndex: 'date_at',key:'date_at'},
  { title: 'Monto',dataIndex: 'total',key:'total'},
  {title:'Vigencia',key:'payment_status',scopedSlots: { customRender: "payment_status" } },
  {title:'Estado',key:'status',scopedSlots: { customRender: "status" } },
  {title:'-',key:'action',scopedSlots: { customRender: "action" } }
];

/*---------- */
export default {
	data(){
		return {
			editAllowed:false,
			stand_key:0,
			stands:[],
			// lista de multas
			fines:[],
			pagination: {},
			fine: {},
			rules:{
			  name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			moment,
			locale,
			filter:{date_init:moment().subtract(7, 'days'),date_end:moment()},
			loading: false,
			showModal:false,
			columns,			
			type:'normal',
			codeManualTemporal:'',
		}
	},
	mounted() {
		this.editAllowed= Utils.checkEditMode();
		this.filter.date_init=moment().subtract(7, 'days').format('YYYY-MM-DD');
		this.filter.date_end=moment().format('YYYY-MM-DD');
		this.fetch();
	},
	methods:{
	  handleTableChange(pagination, filters, sorter){
		const pager = { ...this.pagination };
		pager.current = pagination.current;
		this.pagination = pager;
		this.fetch({
			results: pagination.pageSize,
			page: pagination.current,
			sortField: sorter.field,
			search: this.fine.search,
			sortOrder: sorter.order,
			...filters,
	  });
	},
	async fetch(params = {}){
		params.concept_id=MULD_CONCEPT_ID;
		params.status = -1;
		params={...params,...this.filter};
		this.loading = true;
		try {
			const {data} =  await DebtRepository.list(params,this.type);
			const pagination = { ...this.pagination };
			pagination.total = data.total;
			this.pagination = pagination;
			this.loading = false;
			this.fines = data.data;
			this.fines.forEach(fine => {fine.date_at = moment(fine.date_at).format('DD-MM-YYYY HH:mm:ss'); fine.total = Number.parseFloat(fine.total).toFixed(2)});
		} catch (error) {
			this.error();
		}
	},
	error (message) { this.$message.error(message||'Error al procesar'); },
	success (message) { this.$message.success(message||'Proceso Correcto');},
	warning (message) { this.$message.warning(message||'No se puede ejecutar el proceso');},
	
	async saveFine(){
		if(!this.isValidatedDirectFine(this.fine.date_at)){ return;}
		this.showModal=false;
		let payload = this.fine;
		payload.date_at =  moment(this.fine.date_at).format('YYYY-MM-DD hh:mm:ss');
		// TODO cambiar los id estaticos
		payload.type = 'normal';
		if(this.codeManualTemporal!=payload.code_manual && this.codeManualTemporal){
			//cuando se cambia el code manual cambiamos el code de deuda 
			let newCode=payload.code.slice(0,4)+payload.code_manual+payload.code.slice(4+this.codeManualTemporal.length,payload.code.length);
			payload.code=newCode;	
		}
		payload.concept_id = MULD_CONCEPT_ID; // concepto de multa directa
		this.loading=true;
		try {
			let data = await DebtRepository.save(payload);
			this.success();
			this.fetch();
		} catch (error) {
			this.error();
		}
	},
	isValidatedDirectFine(date_is_valid){
		let isValid = true;
		if(!date_is_valid){this.$message.warning('Seleccione una fecha!!!'); isValid=false;}
		if(!this.fine.code_manual){this.$message.warning('ingrese N°.!!!'); isValid=false;}
		if(!this.fine.client_id){this.$message.warning('Seleccione al señor!!!'); isValid=false;}
		if(!this.fine.stand_id){this.$message.warning('Seleccione un Negocio.!!!'); isValid=false;}
		if(!this.fine.ref_code){this.$message.warning('Añadir un codigo.!!!!!!'); isValid=false;}
		if(!this.fine.description){this.$message.warning('Añadir una descripción.!!!!!!'); isValid=false;}
		if(!this.fine.total){this.$message.warning('Añadir una multa.!!!!!!'); isValid=false;}
		//if(!this.fine.stand_location){this.$message.warning('Seleccione un negocio para la direccion!!!!!!'); isValid=false;}
		if(!this.stands.find(item => item.id==this.fine.stand_id)){this.$message.warning('Asigne el negocio correspondiente.!!!!!!'); isValid=false;}
		return isValid;
	},
	newFine(){
	 	this.showModal=true;
		this.fine={};
		this.stands=[]; 
		this.fine.date_at=moment();
		this.codeManualTemporal='';//solo compara cuando se va editar
	  // setTimeout(()=>{
	  //   this.$refs.userForm.resetFields();
	  // },5);
	},

	async editFine(id){
		let fine = {...this.fines.find(item => item.id === id)};
		fine.date_at = moment(fine.date_at,'DD-MM-YYYY hh:mm:ss');
		this.fine = fine;
		console.log("fine",this.fine);
		this.codeManualTemporal=this.fine.code_manual;
		await this.getStandsByClientIDRepository(this.fine.client_id);
		this.showStandAddress();
		this.showModal = true;
	},
   	async removeFine(id){
		   let payload={
			id:id,
			status:0
		};
		this.loading=true;
		try {
			let data = await DebtRepository.save(payload);
			this.success();
			this.fetch();
		} catch (error) {
			this.loading = false;
			this.error();
		}
	},
	// File
	onChangeFile(data){
		this.fine.files = data;
	},
	// Evento cuando se realiza cambios en el select de personas
	async changeSelectPeople(person_data) {
		this.fine.stand_location = "";
		this.fine.client_id = person_data.id;
		await this.getStandsByClientIDRepository(person_data.id);
	},
	async getStandsByClientIDRepository(client_id) {
		let {data} = await StandRepository.getStandsByClientID({titular_id:client_id})
		this.stands = data.data;
		console.log("stand",this.stands);
		// this.cleanFieldsFineLocationAndStandID();
	},
	cleanFieldsFineLocationAndStandID() {
		this.fine.stand_location = '';
	},
	// titulo del modal
	setTitleModalFine(fine_id) {
		let title = "Nueva Multa Directa";
		if(fine_id ) title = "Editar Multa Directa";
		return title;
	},
	showStandAddress() {
		let stand = this.findStand(this.fine.stand_id);
		this.fine.stand_location = stand.location;
	},
	findStand(id) {
		return this.stands.find(item => item.id == id);
	},
	changeDate(value, dateString){
		this.filter.date_init = value[0] ? moment(value[0]).format('YYYY-MM-DD') : null;
		this.filter.date_end = value[1] ? moment(value[1]).format('YYYY-MM-DD') : null;
		this.fetch();
	},
	changeSelectPaymentsOrDebts(){
		this.fetch();
	},
	// event click export
	handleExportDirectFineClick(e){
		if(e.key == 'pdf') this.exportDirectFinePdf();
		if(e.key == 'excel') this.exportDirectFineExcel();
	},
	exportDirectFinePdf(){
		let filter_export={...this.fine,...this.filter};
		filter_export.type=this.type;
		filter_export.concept_id=MULD_CONCEPT_ID;
		filter_export.status = -1;
		let url = DebtRepository.getExportPdf(filter_export);
		window.open(url); 
	},
	exportDirectFineExcel(){
		let filter_export={...this.fine,...this.filter};
		filter_export.type=this.type;
		filter_export.concept_id=MULD_CONCEPT_ID;
		filter_export.status = -1;
		let url = DebtRepository.getExportExcel(filter_export);
		window.open(url);
	},
  }
}
</script>
<style scoped>
.ant-col.ant-form-item-label {
	padding-bottom: 0;
}

.fine-form .ant-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 0;
}

.fine-form__header {
	display:flex;
}

.fine-form__header__left {
	display: flex;
	flex-basis: 50%;
}

.fine-form__header__left__logo img {
	width: 50px
}

.fine-form__header__left__municipality {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fine-form__header__right {
	display:flex;
	flex-direction: column;
	flex-basis: 50%;
}

.fine-form__header__right__title {
	text-align: center;
}

.fine-form__header__right__date__numeration {
	display: flex;
	align-items:center;
	justify-content: flex-end;
}

.fine-form__header__right__numeration {
	width: 150px;
}

.fine-form__autor {
	display: flex;
	flex-direction: column;
}

.fine-form__autor__data {
	display: flex;
}

.fine-form__autor__data__name {
	flex-basis: 60%
}

.fine-form__table {
	display: flex;
}

.table-fine__header__description textarea	 {
	width: 600px;
}

.table-fine__header__code,
.table-fine__header__total {
	border: 1px solid rgba(0,0,0,.5)
}

.table-fine__header__code {
	border-top-left-radius: 1px;
	border-bottom-left-radius: 1px;
}

.table-fine__header__total {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.table-fine__header__description {
	border-top: 1px solid rgba(0,0,0,.5);
	border-bottom: 1px solid rgba(0,0,0,.5);
}

.table-fine__header__code .ant-row,
.table-fine__header__description .ant-row,
.table-fine__header__total .ant-row {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.table-fine__header--border-top {
	border-top: 1px solid rgba(0,0,0,.5)
}

.table-fine__header__code .ant-col {
	height: 30px;
}

.fine-form__observation {
	margin-top: 20px;
}
.ant-form-item-label label{
	margin-bottom: 0rem;
}
.test_code > div {
	background: red;
	color: blue;
}
</style>
