<template>
	<div>
		<div class="content">
			<h1 class="content__title">CONDONACIONES</h1>
			<hr class="content__divider" />
			<a-button v-show="editAllowed" type="primary" size='small' @click="nuevo">Nuevo</a-button>
			<div class="table-operations">
				<a-form layout="inline">
					<a-input v-model="model.search" v-on:keyup.enter="fetch({ search: model.search })" size="small"
						type="primary" placeholder="Buscar" style="width:200px;"></a-input>
					<a-divider type="vertical" />
					<a-button size="small" type="primary" @click="fetch({ search: model.search })"><a-icon
							type="search" />Buscar</a-button>
				</a-form>
			</div>

			<div>
				<a-table :columns="columns" :row-key="(record, index) => index" :data-source="data" :pagination="pagination"
					:loading="loading" :rowClassName="review_color" @change="handleTableChange">
					<span slot="date" slot-scope="text,r">{{ moment(r.debt_date_at).format('DD/MM/YYYY') }}</span>
					<span slot="total" slot-scope="text,r">{{ Number.parseFloat(r.total).toFixed(2) }}</span>
					<span slot="person" slot-scope="text,r">{{ `${r.titular_name} ${r.titular_lastname}` }}</span>
					<span slot="stand" slot-scope="text,r">{{ `${r.stand_code}` }}</span>
					<span slot="status" slot-scope="text,r">{{ `${r.status == 0 ? 'Anulado' : 'Activo'}` }}</span>
					<span slot="action" slot-scope="text,record">
						<a href="javascript:;" v-show="editAllowed" @click="edit(record)" title="Editar"><a-icon type="edit" /></a>
						<a-divider type="vertical" />
						<a-popconfirm title="Seguro?" @confirm="() => remove(record)" v-if="record.status != '0'"
							v-show="record.status_reversion != '-1'">
							<a href="javascript:;" title="Eliminar" v-show="editAllowed"><a-icon type="delete" /></a>
						</a-popconfirm>
					</span>
				</a-table>
			</div>

			<a-modal width="80%" title="Condonacion de Puesto" :key="showModal" :dialogStyle="{ 'top': '20px' }"
				:visible="showModal" @ok="save" @cancel="showModal = false" okText="Guardar" cancelText="Cerrar">
				<a-form-model layout="inline">
					<a-form-model-item label="Codigo:">
						<a-input v-model="model.code" size="small" :disabled="model.status == 0 ? true : false"
							style="width:200px;"></a-input>
					</a-form-model-item>
					<a-form-model-item label="Porcentaje:" v-if='!model.id'>
						<!--<a-input :disabled="debt_type == FRAC_CODE" v-model="model.percent" size="small" style="width:200px;"></a-input>-->
						<a-input :disabled="debt_type == FRAC_CODE" v-model="model.percent" size="small"
							style="width:200px;" :max-length="6" @input="changeInput"
							onKeypress="if (event.keyCode < 46 || event.keyCode > 57) event.returnValue = false;"></a-input>
					</a-form-model-item>
					<a-form-model-item for="check_fractionary" v-if='!model.id'>
						<a-checkbox @change="handleChangeFractionary"><span>Aplicar a fraccionamientos:</span></a-checkbox>
					</a-form-model-item>

					<a-row>
						<a-col span="12">
							<a-form-model-item label="Titular:" prop="name">
								<select-people-component :person_id="model.person_id" :size="'default'"
									v-on:handleSelectPeople="changeSelectPeople" style="width:300px;"
									:disabled="model.id ? true : false" :key="titular_key" />
							</a-form-model-item>
							<a-form-model-item label="Puesto:" prop="name" v-if='!model.id'>
								<a-select v-model="model.stand_id" size="small" placeholder="Seleccione..."
									style="width:100px;">
									<a-select-option v-for="(item, index) in stands" :value="item.id" :key="index">
										{{ item.code }} {{ item.name }}
									</a-select-option>
								</a-select>
							</a-form-model-item>
						</a-col>
						<a-col span="12" v-if='!model.id'>
							<a-form-model-item label="Desde/Hasta:" prop="date">
								<!-- <a-date-picker format="DD/MM/YYYY" :value="moment(model.date_at)" size="small" @change="(v)=>{model.date_at=v}"  /> -->
								<a-range-picker :default-value="[model.date_init, model.date_end]"
									@change="(v) => { model.date_init = v[0]; model.date_end = v[1] }" format="DD-MM-YYYY"
									style="width:350px" size="small" :placeholder="['Fecha Inicio', 'Fecha Final']" />
							</a-form-model-item>
							<a-form-model-item>
								<a-button type="primary" size="small"
									@click="() => { model.stand_id ? deb_list_key++ : this.$message.warning('Seleccione un puesto.!!!!!!') }">Ver
									Deudas</a-button>
							</a-form-model-item>
						</a-col>
					</a-row>
					<div v-if='!model.id'>
						<h3>Lista de duedas</h3>
						<debt-list-component :client_id="model.person_id" :selectable="true" :type="debt_type"
							:date_hidden="true" :stand_id="model.stand_id" :date_init="model.date_init"
							:date_finish="model.date_end" :key="deb_list_key"
							v-on:changeDebts="onChangeDebts" ></debt-list-component>
						<div>Todas estas deudas se calcularan con un porcentaje de descuento del {{ model.percent }}% siendo
							un total de S/{{ (model.total).toFixed(2) }}.</div>
					</div>

					<a-form-model-item label="Documento que acredite la condonación" prop="adjudication">
						<file-component :files="model.files" v-on:changeFile="onChangeFile" :key="model.files.length" />
					</a-form-model-item>
				</a-form-model>
			</a-modal>
		</div>
	</div>
</template>
<script>
import moment from "moment";
moment.locale('es');
import FactoryRepository from "../../repositories/RepositoryFactory";
import Utils from "../../Utils.js";
const Repository = FactoryRepository.get("forgiveness");
const DebtsRepository = FactoryRepository.get("debt");
const StandRepository = FactoryRepository.get("stand");
const { MRCD_CONCEPT_ID, SISA_CONCEPT_ID, BAJP_CONCEPT_ID, MULD_CONCEPT_ID, FRAC_CODE, DEBT_TYPE_NORMAL, TYPE_FORGIVENE } = require("../../constants");
const FileRepository = FactoryRepository.get("file");

const columns = [
	{ title: 'Codigo', dataIndex: 'code', width: '80px' },
	{ title: 'Fecha', key: 'date', width: '100px', scopedSlots: { customRender: "date" } },
	{ title: 'Porcentaje', dataIndex: 'percent', width: '79px' },
	{ title: 'Monto', key: 'total', width: '80px', scopedSlots: { customRender: "total" }, align: 'right' },
	{ title: 'Persona', key: 'person', scopedSlots: { customRender: "person" } },
	{ title: 'Puesto', key: 'stand', scopedSlots: { customRender: "stand" } },
	{ title: 'Estado', key: 'status', scopedSlots: { customRender: "status" } },
	{ title: '-', key: 'action', scopedSlots: { customRender: "action" } },

];

/*---------- */
export default {
	data() {
		return {

			editAllowed:false,
			MRCD_CONCEPT_ID,
			SISA_CONCEPT_ID,
			BAJP_CONCEPT_ID,
			MULD_CONCEPT_ID,
			FRAC_CODE,
			filters: {},
			moment,
			model: { debts: [], files: [], total: 0 },
			debt_list_key: 0,
			rules: {
				name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			data: [],
			stands: [],
			pagination: {},
			loading: false,
			is_list_ckecked: false,
			columns,
			showModal: false,
			deb_list_key: 0,
			debt_type: 'normal',
			titular_key: 1,
		}
	},
	mounted() {
		this.editAllowed= Utils.checkEditMode();
		this.fetch();
	},
	methods: {
		nuevo() {
			this.showModal = true;
			this.model = { debts: [], files: [], date_init: moment(), date_end: moment(), total: 0 };
			this.debt_type = 'normal';
			this.titular_key++;
		},


		changeInput(event) {
			console.log(this.model.percent)
			if (this.model.percent > 100) this.model.percent = 100;

			const total_debts=  this.model.details ? this.model.details.reduce((acum ,item )=> acum+=item.total, 0):0;

			this.model.total =  (total_debts * this.model.percent / 100);

		},
		onChangeDebts(data) {
			this.model.details = data.debts;
			this.is_list_ckecked = data.is_list_ckecked;
			if(!this.model.percent) this.model.total=0;
			else {
			   this.model.total =  (data.total * this.model.percent / 100);	
			}
			
			
		},


		review_color(record, index) {
			return record.coactive_description_init && !record.coactive_description_finish ? 'debt-coactive' : (record.expired_days > 0 ? "debt-expired" : '');
		},
		async fetchStands() {
			const { data } = await StandRepository.getStandsByClientID({ titular_id: this.model.person_id, no_pagination: 1 });
			this.stands = data;
		},

		changeSelectPeople(person_data) {
			this.model.person_id = person_data.id;
			this.fetchStands();
		},
		handleTableChange(pagination, filters, sorter) {
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				search: this.model.search,
				sortOrder: sorter.order,
				...filters,
			});
		},
		async fetch(params = {}) {
			this.loading = true;
			//let params = {stand_id:this.filter.stand_id, type:'normal'};
			params = { ...params, ...this.filters };
			params.type = TYPE_FORGIVENE;
			const { data } = await Repository.list(params);
			const pagination = { ...this.pagination };
			pagination.total = data.total;
			this.pagination = pagination;
			this.data = data.data;
			this.loading = false;
		},
		error(message) { this.$message.error(message || 'Error al procesar'); },
		success(message) { this.$message.success(message || 'Proceso Correcto'); },
		async save() {
			if(this.model.files.length==0){
				this.$message.warning('Se debe subir un archivo ....'); 
				return;
			}
			if (!this.model.id) { if (!this.isValidatedDirectFine()) { return; } }
			this.loading = true;
			this.showModal = false;
			this.loading = true;
			let payload;
			if (this.model.id) {
				payload = {
					id: this.model.id,
					code: this.model.code,
					files: this.model.files,
				};
			} else {
				payload = {
					code: this.model.code,
					person_id: this.model.person_id,
					stand_id: this.model.stand_id,
					date_init: this.model.date_init.format('YYYY-MM-DD'),
					date_end: this.model.date_end.format('YYYY-MM-DD'),
					details: this.model.details,
					total: this.model.total,
					files: this.model.files,
					type: TYPE_FORGIVENE,
					percent: this.model.percent,
					user_id: window.USER_ID,
				};
			}

			Repository.save(payload).then((data) => {
				this.success();
				this.fetch();
			}).catch(err => { this.error(); });
		},
		isValidatedDirectFine() {
			let isValid = true;
			if (!this.is_list_ckecked) { this.$message.warning('Seleccione al menos una dueda!!!'); isValid = false; }
			if (!this.model.code) { this.$message.warning('Ingrese un codigo!!!'); isValid = false; }
			if (!this.model.percent) {
				// Cuando es check Fraccion. no se requiere validar el campo porcentaje
				if (this.debt_type != this.FRAC_CODE) { this.$message.warning('Ingrese un Porcentaje.!!!'); isValid = false; }
			}
			if (!this.model.person_id) { this.$message.warning('Seleccione una persona.!!!!!!'); isValid = false; }
			if (!this.model.stand_id) { this.$message.warning('Seleccione un puesto.!!!!!!'); isValid = false; }
			return isValid;
		},
		onChangeFile(data) {
			this.model.files = data;
		},
		async edit(item) {
			this.model = { ...item };
			this.model.files = [];
			this.model.files = await this.getFilesForgiveness(item.id);
			setTimeout(() => { this.titular_key++; }, 500);
			this.showModal = true;
		},
		async getFilesForgiveness(id) {
			let { data } = await FileRepository.list({ type: 'forgiveness', 'reference_id': id });
			return data.data;
		},
		remove(item) {
			Repository.delete(item.id).then((data) => {
				this.success();
				this.fetch();
			}).catch(err => { this.error(); });
		},
		handleChangeFractionary(e) {
			e.target.checked ? this.debt_type = FRAC_CODE : this.debt_type = DEBT_TYPE_NORMAL;
			if (this.debt_type == FRAC_CODE) this.model.percent = '';
			this.deb_list_key++;
		},

	}
}
</script>
<style scoped>
.debt-coactive {
	background-color: rgba(255, 0, 0, 0.1);
}
</style>