<template>
    <div>
        <div class="content">
            <h1 class="content__title">REPORTE DE DEUDAS POR TITULAR</h1>
            <hr class="content__divider" />
            <div class="">
                * En el estado de cuenta puede escribir comentarios que han que
                no sumen al total del año: fraccionado, coactivo, condonado.
            </div>
            <div class="table-operations">
                <a-input v-model="filter.search" v-on:keyup.enter="fetchStands({ search: filter.search })"
                    style="width:200px" size="small" placeholder="Buscar..." />
                <a-button type="primary" @click="fetchStands({ search: filter.search })" size="small">Buscar</a-button>
                <a-divider type="vertical" />
                <select-market-component style="width:180px; margin:0px 0px 5px 0px;" :size="'small'"
                    :market_id="filter.market_id" v-on:handleSelectMarkets="changeSelectMarkets" />

                <select-sector-component style="width:150px; margin:0px 0px 5px 0px;" :size="'small'"
                    :sector_id="filter.sector_id" v-on:handleSelectSectors="changeSelectSectors" ref="sectorComponent" />

                <a-button type="primary" @click="listStand" size="small">Padrón Mensual</a-button>
            </div>
            <a-table :columns="columns" :row-key="record => record.id" :data-source="stands" :scroll="{ x: '100%' }"
                :pagination="pagination" :loading="loading" @change="handleTableChange">
                <span slot="titular" slot-scope="text, record">
                    {{ record.titular.lastname }}, {{ record.titular.name }}
                </span>

                <span slot="action" slot-scope="text, record">
                    <a-button type="primary" @click="getAccountStatus(record)">Estado de Cuenta</a-button>
                </span>
            </a-table>

            <a-modal :width="'95%'" :key="titular.id" :dialogStyle="{ top: '10px' }"
                :class="['modal-full-size', 'modal-content-full-size']" :visible="showModalReport"
                :cancel-button-props="{ style: { display: 'none' } }" @cancel="showModalReport = false"
                @ok="printAccountStatementWithPageNumber" okText="Imprimir">
                <div id="print_account_status">
                    <div class="list-debts">
                        <div class="header-modal-report">
                            <div class="header-modal-report--left">
                                <!--<img src="/images/logomuni.png" alt="image logo">-->
                                <img :src="asset('images/logomuni.png')" alt="image logo" />
                            </div>
                            <div class="header-modal-report--right">
                                <span style="font-size: 18px;font-weight: 500;">MUNICIPALIDAD PROVINCIAL DE LEONCIO PRADO
                                </span>
                                <span style="font-size: 1.3em;">Tingo María - RUC. 202000042744</span>
                                <span style="font-size: 1.3em;">Reporte de
                                    {{
                                        titular.paymentStatus == "0"
                                        ? "Deudas"
                                        : "Pagos"
                                    }}
                                    Merced Conductiva</span>

                            </div>
                        </div>
                        <div class="list-debts__driver">
                            <span><b>Mercado:</b> {{ titular.market.name }}</span>
                            <a-divider type="vertical" />
                            <span><b>Sector:</b> {{ titular.sector.name }}</span>
                            <a-divider type="vertical" />
                            <span><b>Giro:</b> {{ titular.gyre.name }}</span>
                            <a-divider type="vertical" />
                            <span><b>Puesto:</b> {{ titular.code }}</span>
                            <a-divider type="vertical" />
                            <span><b>Tarifa:</b> {{ titular.rate_amount }}</span>
                        </div>
                        <div class="list-debts__driver">
                            <span><b>Conductor:</b>
                                {{ titular.titular.lastname }},
                                {{ titular.titular.name }}
                            </span>
                            <a-divider type="vertical" />
                            <span><b>Dni:</b> {{ titular.titular.dni }}</span>
                            <a-divider type="vertical" />
                            <span><b>Teléfono:</b>{{ titular.titular.phone1 }}</span>
                            <a-divider type="vertical" />
                            <span><b>Dirección:</b> {{ titular.location }}</span>
                            <a-divider type="vertical" />
                            <span><b>{{
                                titular.paymentStatus == "0"
                                ? "Deuda"
                                : "Pago"
                            }}:</b>
                                S/{{ titular.total }}</span>
                        </div>
                        <div class="list-debts__driver">
                            <span><b>Leyenda</b>
                            </span>
                            <a-divider type="vertical" />
                            <span class="ant-tag css-1qb1s0s ant-tag-geekblue"><b>F :</b> Fraccionado</span>
                            <a-divider type="vertical" />
                            <span class="ant-tag css-1qb1s0s ant-tag-geekblue"><b>CON :</b> Condonado</span>
                            <a-divider type="vertical" />
                            <span class="ant-tag css-1qb1s0s ant-tag-geekblue"><b>COA :</b> Coativo</span>
                            <a-divider type="vertical" />
                            <span class="ant-tag css-1qb1s0s ant-tag-geekblue"><b>PRE :</b> Prescrito</span>
                             <a-divider type="vertical" />
                            <span class="ant-tag css-1qb1s0s ant-tag-geekblue"><b>REV :</b> Revertido</span>
                        </div>
                        <div class="table-operations">
                            <a-select style="width: 150px" v-model="titular.paymentStatus" size="small"
                                placeholder="Seleccione" @change="getAccountStatusStandRepostory">
                                <a-select-option value="1">Pagado</a-select-option>
                                <a-select-option value="0">Deuda</a-select-option>
                            </a-select>
                            <a-divider type="vertical" />
                            <select-concept-component size="small" style="width:200px"
                                v-on:handleChange="handleChangeConcept" />
                            <a-divider type="vertical" />
                            <a-range-picker :placeholder="['Año Inicio', 'Año Final']" style="width:180px" size="small"
                                format="YYYY" @change="handlePanelChangeDebtIndividual" :mode="mode2" :value="date_range"
                                @panelChange="handlePanelChangeDebtIndividual" />
                            <a-button type="primary" size="small" @click="getAccountStatusStandRepostory"><a-icon
                                    type="reload" /></a-button>
                        </div>
                        <a-table :columns="columns_modal_resume" :row-key="(record, index) => index" :scroll="{ x: '100%' }"
                            :data-source="listAccountStatusStand" :pagination="false" :loading="loading" bordered>
                            <div :class="record[1].comment ? 'debt-with-comment' : ''"
                                style="cursor:pointer;text-align:center" slot="ene" @click="showTransactions(record[1])"
                                slot-scope="text, record" :title="record[1].comment">
                                <a-dropdown :trigger="['contextmenu']">
                                    <div>
                                        {{ getStatusSymbol(titular.paymentStatus, record[1]) }}
                                        {{ debtTypeAbbreviation(record[1]) }}
                                    </div>
                                    <a-menu slot="overlay">
                                        <a-menu-item key="1">
                                            <a href="javascript:;" @click="prepareDebtComment(record[1])">Comentario</a>
                                        </a-menu-item>
                                    </a-menu>
                                </a-dropdown>
                            </div>
                            <div :class="record[2].comment ? 'debt-with-comment' : ''"
                                style="cursor:pointer;text-align:center" slot="feb" @click="showTransactions(record[2])"
                                slot-scope="text, record">
                                <a-dropdown :trigger="['contextmenu']">
                                    <div>
                                        {{ getStatusSymbol(titular.paymentStatus, record[2]) }}
                                        {{ debtTypeAbbreviation(record[2]) }}
                                    </div>
                                    <a-menu slot="overlay">
                                        <a-menu-item key="1">
                                            <a href="javascript:;" @click="
                                                prepareDebtComment(
                                                    record[2]
                                                )
                                                ">Comentario</a>
                                        </a-menu-item>
                                    </a-menu>
                                </a-dropdown>
                            </div>
                            <div :class="record[3].comment ? 'debt-with-comment' : ''"
                                style="cursor:pointer;text-align:center" slot="mar" @click="showTransactions(record[3])"
                                slot-scope="text, record">
                                <a-dropdown :trigger="['contextmenu']">
                                    <div>
                                        {{ getStatusSymbol(titular.paymentStatus, record[3]) }}
                                        {{ debtTypeAbbreviation(record[3]) }}
                                    </div>
                                    <a-menu slot="overlay">
                                        <a-menu-item key="1">
                                            <a href="javascript:;" @click="prepareDebtComment(record[3])">Comentario</a>
                                        </a-menu-item>
                                    </a-menu>
                                </a-dropdown>
                            </div>
                            <div :class="record[4].comment ? 'debt-with-comment' : ''"
                                style="cursor:pointer;text-align:center" slot="abr" @click="showTransactions(record[4])"
                                slot-scope="text, record">
                                <a-dropdown :trigger="['contextmenu']">
                                    <div>
                                        {{ getStatusSymbol(titular.paymentStatus, record[4]) }}
                                        {{ debtTypeAbbreviation(record[4]) }}
                                    </div>
                                    <a-menu slot="overlay">
                                        <a-menu-item key="1">
                                            <a href="javascript:;" @click="prepareDebtComment(record[4])">Comentario</a>
                                        </a-menu-item>
                                    </a-menu>
                                </a-dropdown>
                            </div>
                            <div :class="record[5].comment ? 'debt-with-comment' : ''"
                                style="cursor:pointer;text-align:center" slot="may" @click="showTransactions(record[5])"
                                slot-scope="text, record">
                                <a-dropdown :trigger="['contextmenu']">
                                    <div>
                                        {{ getStatusSymbol(titular.paymentStatus, record[5]) }}
                                        {{ debtTypeAbbreviation(record[5]) }}
                                    </div>
                                    <a-menu slot="overlay">
                                        <a-menu-item key="1">
                                            <a href="javascript:;" @click="prepareDebtComment(record[5])">Comentario</a>
                                        </a-menu-item>
                                    </a-menu>
                                </a-dropdown>
                            </div>
                            <div :class="record[6].comment ? 'debt-with-comment' : ''"
                                style="cursor:pointer;text-align:center" slot="jun" @click="showTransactions(record[6])"
                                slot-scope="text, record">
                                <a-dropdown :trigger="['contextmenu']">
                                    <div>
                                        {{ getStatusSymbol(titular.paymentStatus, record[6]) }}
                                        {{ debtTypeAbbreviation(record[6]) }}
                                    </div>
                                    <a-menu slot="overlay">
                                        <a-menu-item key="1">
                                            <a href="javascript:;" @click="prepareDebtComment(record[6])">Comentario</a>
                                        </a-menu-item>
                                    </a-menu>
                                </a-dropdown>
                            </div>
                            <div :class="record[7].comment ? 'debt-with-comment' : ''"
                                style="cursor:pointer;text-align:center" slot="jul" @click="showTransactions(record[7])"
                                slot-scope="text, record">
                                <a-dropdown :trigger="['contextmenu']">
                                    <div>
                                        {{ getStatusSymbol(titular.paymentStatus, record[7]) }}
                                        {{ debtTypeAbbreviation(record[7]) }}
                                    </div>
                                    <a-menu slot="overlay">
                                        <a-menu-item key="1">
                                            <a href="javascript:;" @click="prepareDebtComment(record[7])">Comentario</a>
                                        </a-menu-item>
                                    </a-menu>
                                </a-dropdown>
                            </div>
                            <div :class="record[8].comment ? 'debt-with-comment' : ''"
                                style="cursor:pointer;text-align:center" slot="ago" @click="showTransactions(record[8])"
                                slot-scope="text, record">
                                <a-dropdown :trigger="['contextmenu']">
                                    <div>
                                        {{ getStatusSymbol(titular.paymentStatus, record[8]) }}
                                        {{ debtTypeAbbreviation(record[8]) }}
                                    </div>
                                    <a-menu slot="overlay">
                                        <a-menu-item key="1">
                                            <a href="javascript:;" @click="prepareDebtComment(record[8])">Comentario</a>
                                        </a-menu-item>
                                    </a-menu>
                                </a-dropdown>
                            </div>
                            <div :class="record[9].comment ? 'debt-with-comment' : ''"
                                style="cursor:pointer;text-align:center" slot="set" @click="showTransactions(record[9])"
                                slot-scope="text, record">
                                <a-dropdown :trigger="['contextmenu']">
                                    <div>
                                        {{ getStatusSymbol(titular.paymentStatus, record[9]) }}
                                        {{ debtTypeAbbreviation(record[9]) }}
                                    </div>
                                    <a-menu slot="overlay">
                                        <a-menu-item key="1">
                                            <a href="javascript:;" @click="prepareDebtComment(record[9])">Comentario</a>
                                        </a-menu-item>
                                    </a-menu>
                                </a-dropdown>
                            </div>
                            <div :class="record[10].comment ? 'debt-with-comment' : ''"
                                style="cursor:pointer;text-align:center" slot="oct" @click="showTransactions(record[10])"
                                slot-scope="text, record">
                                <a-dropdown :trigger="['contextmenu']">
                                    <div>
                                        {{ getStatusSymbol(titular.paymentStatus, record[10]) }}
                                        {{ debtTypeAbbreviation(record[10]) }}
                                    </div>
                                    <a-menu slot="overlay">
                                        <a-menu-item key="1">
                                            <a href="javascript:;" @click="prepareDebtComment(record[10])">Comentario</a>
                                        </a-menu-item>
                                    </a-menu>
                                </a-dropdown>
                            </div>
                            <div :class="record[11].comment ? 'debt-with-comment' : ''"
                                style="cursor:pointer;text-align:center" slot="nov" @click="showTransactions(record[11])"
                                slot-scope="text, record">
                                <a-dropdown :trigger="['contextmenu']">
                                    <div>
                                        {{ getStatusSymbol(titular.paymentStatus, record[11]) }}
                                        {{ debtTypeAbbreviation(record[11]) }}
                                    </div>
                                    <a-menu slot="overlay">
                                        <a-menu-item key="1">
                                            <a href="javascript:;" @click="prepareDebtComment(record[11])">Comentario</a>
                                        </a-menu-item>
                                    </a-menu>
                                </a-dropdown>
                            </div>
                            <div :class="record[12].comment ? 'debt-with-comment' : ''"
                                style="cursor:pointer;text-align:center" slot="dic" @click="showTransactions(record[12])"
                                slot-scope="text, record">
                                <a-dropdown :trigger="['contextmenu']">
                                    <div>
                                        {{ getStatusSymbol(titular.paymentStatus, record[12]) }}
                                        {{ debtTypeAbbreviation(record[12]) }}
                                    </div>
                                    <a-menu slot="overlay">
                                        <a-menu-item key="1">
                                            <a href="javascript:;" @click="prepareDebtComment(record[12])">Comentario</a>
                                        </a-menu-item>
                                    </a-menu>
                                </a-dropdown>
                            </div>
                            <div style="text-align:right" slot="total" slot-scope="text, record">
                                {{ record.total }}
                            </div>
                            <a-checkbox slot="check" slot-scope="text, record"></a-checkbox>
                            <!--  @change="onChange" -->

                            <template slot="footer" slot-scope="currentPageData">
                                <div class="table-footer">
                                    <b>Suma Total:</b> {{ titular.total }}
                                </div>
                            </template>
                        </a-table>
                        <span v-if="direct_fine_debts === true"><b>Usted tiene una deuda pendiente de multa
                                directa</b></span>
                    </div>
                </div>
            </a-modal>

            <a-modal :width="250" :title="'Comentario en la deuda: '" :visible="showModalDebtComment"
                @cancel="showModalDebtComment = false" @ok="saveDebtComment()" :z-index="10000" okText="Guardar">
                <a-textarea placeholder="Agregar comentario" :auto-size="{ minRows: 3, maxRows: 5 }"
                    v-model="debt.comment"></a-textarea>
            </a-modal>

            <a-modal :width="400" title="Impresión de Pago" :visible="showModalPrint"
                :cancel-button-props="{ style: { display: 'none' } }" @cancel="showModalPrint = false"
                @ok="showModalPrint = false" :z-index="10000" okText="Aceptar">
                <print-transaction-component :transaction="transactions[0]" :company="company" />
            </a-modal>

            <!--aqui empieza-->
            <a-modal :dialogStyle="{ top: '20px' }" :width="550" title="Puestos" :visible="showModalStands"
                @ok="showModalStands = false" :key="showModalStands" @cancel="showModalStands = false" okText="Aceptar"
                cancelText="Cerrar">
                <a-form-model layout="inline">
                    <a-row>
                        <a-col span="24">
                            <a-form-item>
                                <select-concept-component size="small" style="width:200px"
                                    v-on:handleChange="handleChangeConcept" :key="showModalStands" />
                            </a-form-item>
                            <a-form-item>
                                <a-button size="small" @click="getPrintDebtsForStand" type="primary">Imprimir</a-button>
                            </a-form-item>
                        </a-col>
                    </a-row>
                    <a-table :columns="stands_columns" :row-key="(record, index) => index" :data-source="list_the_stand"
                        :pagination="paginationListStand" :loading="loading" @change="handleListStandTableChange">
                        <span slot="titular" slot-scope="text, record">
                            {{ record.lastname }} {{ record.name }}
                        </span>
                    </a-table>
                </a-form-model>
            </a-modal>
            <!--fin-->
        </div>
    </div>
</template>
<script>
import moment from "moment";
moment.locale("es");
import Repository from "../../repositories/RepositoryFactory";
const StandRepository = Repository.get("stand");
const FractionaryRepository = Repository.get("fractionary");
const DebtRepository = Repository.get("debt");
const CompanyRepository = Repository.get("company");
const {
    COMPANY_ID,
    DEBT_TYPE_NORMAL,
    MULD_CONCEPT_ID,
    MUNI_PERSON_ID
} = require("../../constants");
const key = "updatable";

const columns = [
    //   { title: 'N°',key:'number',scopedSlots: { customRender: "number" } },
    { title: "Mercado", dataIndex: "market.name", width: "170px" },
    { title: "Sector", dataIndex: "sector.name", width: "90px" },
    { title: "Puesto", dataIndex: "code", width: "70px" },
    {
        title: "Titular",
        key: "titular",
        scopedSlots: { customRender: "titular" },
        width: "250px"
    },
    { title: "DNI", dataIndex: "titular.dni", width: "80px" },
    { title: "Teléfono 1", dataIndex: "titular.phone1", width: "80px" },
    { title: "Teléfono 2", dataIndex: "titular.phone2", width: "80px" },
    {
        title: "Deudas",
        key: "report_debts",
        scopedSlots: { customRender: "action" },
        width: "155px",
        fixed: "right",
        align: "center"
    }
    //   {title:'-',key:'action',scopedSlots: { customRender: "action" } }
];

const columns_modal_resume = [
    {
        title: "Año",
        dataIndex: "year",
        key: "year",
        align: "center",
        width: "50px"
    },
    {
        title: "Ene",
        key: "ene",
        scopedSlots: { customRender: "ene" },
        align: "center",
        width: "90px"
    },
    {
        title: "Feb",
        key: "feb",
        scopedSlots: { customRender: "feb" },
        align: "center",
        width: "90px"
    },
    {
        title: "Mar",
        key: "mar",
        scopedSlots: { customRender: "mar" },
        align: "center",
        width: "90px"
    },
    {
        title: "Abr",
        key: "abr",
        scopedSlots: { customRender: "abr" },
        align: "center",
        width: "90px"
    },
    {
        title: "May",
        key: "may",
        scopedSlots: { customRender: "may" },
        align: "center",
        width: "90px"
    },
    {
        title: "Jun",
        key: "jun",
        scopedSlots: { customRender: "jun" },
        align: "center",
        width: "90px"
    },
    {
        title: "Jul",
        key: "jul",
        scopedSlots: { customRender: "jul" },
        align: "center",
        width: "90px"
    },
    {
        title: "Ago",
        key: "ago",
        scopedSlots: { customRender: "ago" },
        align: "center",
        width: "90px"
    },
    {
        title: "Set",
        key: "set",
        scopedSlots: { customRender: "set" },
        align: "center",
        width: "90px"
    },
    {
        title: "Oct",
        key: "oct",
        scopedSlots: { customRender: "oct" },
        align: "center",
        width: "90px"
    },
    {
        title: "Nov",
        key: "nov",
        scopedSlots: { customRender: "nov" },
        align: "center",
        width: "90px"
    },
    {
        title: "Dic",
        key: "dic",
        scopedSlots: { customRender: "dic" },
        align: "center",
        width: "90px"
    },
    {
        title: "Total",
        key: "total",
        scopedSlots: { customRender: "total" },
        align: "right",
        fixed: "right",
        width: "80px"
    }
];
const stands_columns = [
    { title: "Puesto", dataIndex: "code", key: "code", align: "center" },
    {
        title: "Titular",
        dataIndex: "name",
        key: "titular",
        scopedSlots: { customRender: "titular" }
    }
];
/*---------- */
export default {
    data() {
        return {
            stands: [],
            listAccountStatusStand: [],
            titular: {
                paymentStatus: "0",
                titular: {},
                market: {},
                sector: {},
                gyre: {}
            },
            rules: {
                name: [
                    {
                        required: true,
                        message: "Ingrese Nombre",
                        trigger: "blur"
                    }
                ]
            },
            pagination: {},
            paginationListStand: {},
            company: {},
            loading: false,
            columns,
            showModal: false,
            // Modal report driver
            showModalReport: false,
            showModalDebtComment: false,
            showModalStands: false,
            debt: {},
            list_the_stand: [],
            stands_columns,
            columns_modal_resume,
            // filtrar en modal estado de cuenta
            filter: {},
            mode2: ["year", "year"],
            date_range: [],
            // propiedades de impresión de voucher
            showModalPrint: false,
            transactions: [],
            direct_fine_debts: false,
            is_the_municipality_entity: false,
            date_impresion: "",
            concept_id_for_debts: "" //para traer de un solo tipo de concepto de los puestos
        };
    },
    async mounted() {
        await this.fetchStands();
        await this.fetchCompany();
    },
    methods: {
        async fetchStands(params = {}) {
            this.loading = true;
            params.type = "merced";
            params.market_id =this.filter.market_id;
            params.sector_id =this.filter.sector_id;
            params.search =this.filter.search;
            try {
                const { data } = await StandRepository.list(params);
                const pagination = { ...this.pagination };
                pagination.total = data.total;
                this.pagination = pagination;
                this.stands = data.data;
                this.loading = false;
            } catch (error) {
                this.error();
            }
        },
        handleChangeConcept(value) {
            this.titular.concept_id = value ? value.id : undefined;
            this.concept_id_for_debts = value ? value.id : undefined;
        },
        async fetchCompany() {
            const { data } = await CompanyRepository.get(COMPANY_ID);
            this.company = data;
        },
        // Model report
        async getAccountStatus(record) {
            this.date_impresion = moment().format("DD/MM/YYYY HH:mm:ss");
            this.$message.loading({ content: "Cargando...", key });
            this.is_the_municipality_entity =
                MUNI_PERSON_ID === record.titular_id ? true : false;
            let type = "normal";
            let params = {};
            params.concept_id = MULD_CONCEPT_ID;
            params.status = -1;
            params.payment_status = 0;
            params.stand_id = record.id;
            this.date_range = [];
            this.titular.date_init = null;
            this.titular.date_end = null;
            const { data } = await DebtRepository.list(params, type); //obtenemos data para verificar si tiene deuda en multa directa
            this.direct_fine_debts =
                Object.keys(data.data).length === 0 ? false : true;

            if (record) this.titular = { paymentStatus: "0", ...record }; // para cuando cambiamos al estado pagado, usemos el this.titular.id
            this.listAccountStatusStand = [];
            this.getAccountStatusStandRepostory();
        },
        async getAccountStatusStandRepostory() {
            this.$message.loading({ content: "Cargando...", key });
            try {
                this.listAccountStatusStand = [];
                let payload = {
                    stand_id: this.titular.id,
                    type: DEBT_TYPE_NORMAL,
                    payment_status: this.titular.paymentStatus,
                    concept_id: this.titular.concept_id,
                    date_init: this.titular.date_init,
                    date_end: this.titular.date_end
                    //individual_view_payments:1,
                };
                let { data } = await StandRepository.getAccountStatusByMonth(
                    payload
                );
                /*console.log("data debts",data);
                debugger;*/
                this.listAccountStatusStand = StandRepository.dataStatusAccounFormatInTable(
                    data
                );
                this.listAccountStatusStand = StandRepository.sumTotalDebtxYear(
                    this.listAccountStatusStand
                );
                this.titular.total = StandRepository.sumTotalDebt(
                    this.listAccountStatusStand
                );
                this.titular.total = Intl.NumberFormat("en-US", {
                    style: "decimal",
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                })
                    .format(this.titular.total)
                    .replace(/,/g, "'"); //para decimales en la vista
                this.showModalReport = true;
            } catch (error) {
                console.log("enter error", error);
                this.error();
            }
            this.$message.success({ content: "Cargado!", key, duration: 2 });
        },
        handlePanelChangeDebtIndividual(value, mode) {
            this.date_range = value;
            this.titular.date_init = value[0]
                ? moment(value[0]).format("YYYY")
                : null;
            this.titular.date_end = value[1]
                ? moment(value[1]).format("YYYY")
                : null;
            // this.mode2 = [mode[0] === 'date' ? 'month' : mode[0], mode[1] === 'date' ? 'month' : mode[1]];
        },
        // Prapara la vista de impresión de la deuda cancelada
        async showTransactions(debt) {
            let isDebt = this.titular.paymentStatus == "0";
            let schedule = [];
            if (isDebt) return;

            if (debt.fractionary_id) {
                const { data } = await FractionaryRepository.litSchedule({
                    fractionary_id: debt.fractionary_id
                });
                schedule = data;
            }
            try {
                const { data } = await DebtRepository.getTransaction(
                    debt.fractionary_id ? schedule[0].debt_id : debt.debt_id
                );
                if (Object.keys(data).length === 0) return;
                this.transactions = data;
                this.transactions.forEach(transaction => {
                    transaction.transactiondetails.forEach(item => {
                        item.total = Number.parseFloat(item.total).toFixed(2);
                    });
                });
                this.showModalPrint = true;
            } catch (error) {
                this.error();
            }
        },
        async saveDebtComment() {
            const debt = { id: this.debt.debt_id, comment: this.debt.comment };
            await DebtRepository.save(debt);
            this.debt = {};
            this.getAccountStatusStandRepostory();
            this.showModalDebtComment = false;
        },
        prepareDebtComment(debt) {
            this.debt = debt;
            this.showModalDebtComment = true;
        },
        async printAccountStatementWithPageNumber() {
            let text_debt_or_payment =
                this.titular.paymentStatus == 1 ? "PAGOS" : "DEUDAS";
            let is_text_debts_direct_fine = this.direct_fine_debts
                ? "Usted tiene una deuda pendiente de multa directa"
                : "";
            let pdf = await StandRepository.printAccountStatus({
                list_debts_by_year: this.listAccountStatusStand,
                total_sum_of_debts: this.titular.total,
                text_debt_or_payment,
                titular: this.titular,
                is_text_debts_direct_fine,
                date_impresion: this.date_impresion
            });
            window.open(pdf.data);
        },
        printAccountStatus() {
            var printContents = document.getElementById("print_account_status")
                .innerHTML;
            var a = window.open("", "", "height=500, width=1000");
            a.document.write(`
				<html>
					<head>
						<style>
						@page:left{
							@bottom-left {
								content: "Page " counter(page) " of " counter(pages);
							}
						}
						*,body {
							font-size:12px;
							padding:0;
							border;0;
						}
						*,body, ::before, ::after {
							box-sizing: border-box;
						}
						.header-modal-report {
							display:flex
						}

						.header-modal-report--left img {
							width: 50px;
						}

						.header-modal-report--right {
							width:100%;
							display: flex;
							flex-direction: column;
							line-height: 1.5em;
							text-align: center;
						}

						.table-operations {
							display:none
						}
						/** style divider **/
						.ant-divider, .ant-divider-vertical {
							position: relative;
							top: -0.06em;
							display: inline-block;
							width: 1px;
							height: 0.9em;
							margin: 0 8px;
							vertical-align: middle;
						}

						.ant-divider {
							box-sizing: border-box;
							margin: 0;
							padding: 0;
							color: rgba(0, 0, 0, 0.65);
							font-variant: tabular-nums;
							line-height: 1.5;
							list-style: none;
							font-feature-settings: 'tnum';
							background: #e8e8e8;
						}

						/** style table  */
					.ant-table {
						box-sizing: border-box;
						margin: 0;
						padding: 0;
						color: rgba(0, 0, 0, 0.65);
						font-variant: tabular-nums;
						line-height: 1.5;
						list-style: none;
						font-feature-settings: 'tnum';
						position: relative;
						clear: both;
					}
					.ant-table-body {
						transition: opacity 0.3s;
					}

					.ant-table table {
						width: 100%;
						text-align: left;
						border-radius: 4px 4px 0 0;
						border-collapse: separate;
						border-spacing: 0;
					}
					.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
						padding: 16px 16px;
						overflow-wrap: break-word;
					}
					.list-debts__driver span{
						font-size: 15px;
						margin-right:10px;
					}
					.list-debts__driver span b{
						font-size: 15px;
						font-weight:bold;
					}
					.ant-table-bordered .ant-table-thead > tr > th{
						border-right: 1px solid #000;
						border-top: 1px solid #000;
					}
					.ant-table-bordered .ant-table-thead > tr > th:first-child{
						border-left: 1px solid #000;
					}
					.ant-table-tbody > tr > td{
						border-bottom: 1px solid #000;					
					}
					.ant-table-bordered .ant-table-tbody > tr > td {
						border-right: 1px solid #000;
						
					}
					.ant-table-bordered .ant-table-tbody > tr > td:first-child{
						border-left: 1px solid #000;
					}
					.ant-table-column-title{
						font-size: 15px;
						font-weight:bold;
					}
					.ant-table-row-cell-break-word{
						font-size: 15px;
						
					}
					.ant-dropdown-trigger{
						font-size: 15px;
					}
					.ant-table-row-cell-break-word div{
						font-size: 15px;
					}
					.ant-table-thead > tr > th {
						color: rgba(0, 0, 0, 0.85);
						text-align: left;
						background: #d9d9d9;
						border-bottom: 1px solid #000;
					}

					.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
						padding: 5px !important;
					}
					.debt-with-comment{
	
						position:relative;
					}
					.debt-with-comment:before{
						position: absolute;
						content:" ";
						width: 10px;
						height: 10px;
						background: linear-gradient(to top right, #fff 0%, #fff 50%, red 50%, red 100%);
						top:0;
						right:0;
					}

						/** Table footer */
							.table-footer {
								float: right;
								padding-right:5px;
								color:#000;
								font-size: 15px;
								font-weight:bold;
							}
							.table-footer b{
								margin-right:15px;
								font-size: 15px;
								font-weight:bold;
							}
							.ant-table-scroll{
								width: 1250px;
							}
							.ant-table-fixed-right{
								width: 80px;
								display:none;
							}
							.ant-table-wrapper{
								margin-top: 20px;
							}
							.header-modal-report{
								margin-bottom:30px;
							}
						</style>
					</head>
					<body>
						${printContents}
					</body>
				</html>
			`);

            a.document.close();
            a.print();
            a.close();
            this.showModalPrint = false;
        },
        handleTableChange(pagination, filters, sorter) {///market_id
            console.log(this.filter);
            const pager = { ...this.pagination };
            pager.current = pagination.current;
            this.pagination = pager;
            this.fetchStands({
                results: pagination.pageSize,
                page: pagination.current,
                sortField: sorter.field,

                search: this.filter.search,
                sortOrder: sorter.order,
                ...filters
            });
        },
        handleListStandTableChange(pagination, filters, sorter) {
            const pager = { ...this.paginationListStand };
            pager.current = pagination.current;
            this.paginationListStand = pager;
            this.listStand({
                results: pagination.pageSize,
                page: pagination.current,
                sortField: sorter.field,
                sortOrder: sorter.order,
                ...filters
            });
        },

        error(message) {
            this.$message.error(message || "Error al procesar");
        },
        success(message) {
            this.$message.success(message || "Proceso Correcto");
        },

        getStatusSymbol(paymentStatus, record) {
            if (!record.debt_id) return '';
            if (paymentStatus == 0) {
                return record.total ? record.total : '';
            }
            return record.total ? record.total : '';
        },

        debtTypeAbbreviation(record) {
            let type = "";
            if (Number.isInteger(record.fractionary_id) || /fraccio/i.test(record.comment)) { //fraccionado
                type = "-F"
            } else if (Number.isInteger(record.coactive_id) || /coactiv/i.test(record.comment)) { //coativo
                type = "-COA"
            } else if (record.payment === 0 && record.payment_status === 1) { // pago parte. x confirmar
                type = "-PRE"
            } else if ((record.previous_total > 0 && !this.is_the_municipality_entity) || /condonad/i.test(record.comment)) { //Condonado
                type = "-CON"
            }
             else if (record.reversion_id && record.payment_status === 0) { //Condonado
                type = "-REV" 
            }  
            return type;
        },

        changeSelectMarkets(market) {
            this.filter.market_id = market ? market.id : undefined;
            this.market_name_filter = market ? market.name : ""; //nombre en la impresion
            this.filter.sector_id = null
            this.$refs.sectorComponent.clearCmbSectors('Sector...');
            this.$refs.sectorComponent.handleSearchSectors('', '', this.filter.market_id);
            this.fetchStands(this.filter);
        },
        changeSelectSectors(sector) {
            this.filter.sector_id = sector ? sector.id : undefined;
            this.sector_name_filter = sector ? sector.name : "";
            //this.fetchTransaction()

            this.fetchStands(this.filter);
        },
        async listStand(params = {}) {
            if (!this.filter.market_id || !this.filter.sector_id) {
                this.$message.warning("Seleccione un mercado y sector!!!");
                return;
            }
            this.showModalStands = true;
            this.loading = true;
            let handleStandPaginate = {
                market_id: this.filter.market_id,
                sector_id: this.filter.sector_id,
                ...params
            };
            let { data } = await StandRepository.getListStandWithTitular(
                handleStandPaginate
            );
            const pagination = { ...this.paginationListStand };
            pagination.total = data.total;
            this.paginationListStand = pagination;
            this.list_the_stand = data.data;
            this.loading = false;
            this.concept_id_for_debts = "";
        }, 
        async getPrintDebtsForStand() {
            this.$message.loading({ content: "Cargando...", key });
            let pdf = await StandRepository.printDebtsForStand({
                list_the_stand: this.list_the_stand,
                market: this.market_name_filter,
                sector: this.sector_name_filter,
                concept_id: this.concept_id_for_debts
            });
            window.open(pdf.data);
            this.$message.success({ content: "Cargado!", key, duration: 2 });
        }
    }
};
</script>
<style scoped>
#header,
#footer {
    position: fixed;
    left: 0;
    right: 0;
    color: #aaa;
    font-size: 0.9em;
}

#header {
    top: 0;
    border-bottom: 0.1pt solid #aaa;
}

#footer {
    bottom: 0;
    border-top: 0.1pt solid #aaa;
}

.page-number:before {
    content: "Page " counter(page);
}

.header-modal-report {
    display: flex;
}

.header-modal-report--left img {
    width: 80px;
}

.header-modal-report--right {
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    text-align: center;
}

/** Table footer */
.table-footer {
    float: right;
    /* padding-right: 6.4em; */
}

th.column-total,
td.column-total {
    text-align: right !important;
}

.debt-with-comment {
    position: relative;
}

.debt-with-comment:before {
    position: absolute;
    content: " ";
    width: 10px;
    height: 10px;
    background: linear-gradient(to top right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0),
            red 50%,
            red 100%);
    top: 0;
    right: 0;
}
</style>
