<template>
    <a-modal :visible="openModal" :key="marketDebtMonthModal" :width="'95%'" :ok-button-props="{ style: { display: 'none' } }"
        @cancel="closeModal" cancel-text="Cerrar"  @ok="closeModal">

        <div class="header-modal-report">
            <div class="header-modal-report--left">
                <img src="/images/logomuni.png" alt="image logo">
            </div>
            <div class="header-modal-report--right">
                <span style="font-size: 1.5em;font-weight: bold;">{{ company.name }} </span>
                <span style="font-size: 1.3em;">{{ company.city }} - RUC. {{ company.ruc }}</span>
                <span style="font-size: 1.3em;">Relación de Deudas del Mercado -
                    <strong>{{ make_name_temp }}</strong></span>
            </div>
        </div>
        <div class="table-operations">
            <a-form layout="inline">
                <!-- Estado de Pago -->
                <a-select @change="getAccountStatusByMonth()"
                    v-model="market_by_month_filters.payment_status" size="small" placeholder="Seleccione"
                    style="width: 150px">
                    <a-select-option value="1">Pagado</a-select-option>
                    <a-select-option value="0">Deuda</a-select-option>
                </a-select>
                <a-divider type="vertical" />
                <!-- Mercado -->
                <a-select v-model="market_by_month_filters.market_id"
                    @change="getAccountStatusByMonth()" size="small" placeholder="Mercado"
                    style="width:200px" :allowClear="false">
                    <a-select-option v-for="(item, index) in marketsTemp" :value="item.market_id" :key="index">{{ item.name }}</a-select-option>
                </a-select>
                <!-- Sector -->
                <a-divider type="vertical" />
                <select-sector-component
                    :sector_id="market_by_month_filters.sector_id" size="small"
                    style="width:200px;"
                    v-on:handleSelectSectors="handleChangeSectorInStatusAccountByMonth"
                    ref="sectorComponentInCensusModal"/>
                <!-- Concepto -->
                <a-divider type="vertical" />
                <select-concept-component
                    :id="market_by_month_filters.concept_id" size="small"
                    style="width:200px" v-on:handleChange="handleChangeConceptInStatusAccountByMonth" />
                <!-- Años -->
                <a-divider type="vertical" />
                <a-range-picker :placeholder="['Año Inicio', 'Año Final']" style="width:180px" size="small"
                    format="YYYY" :mode="mode2" :value="value_market_by_month"
                    @panelChange="handlePanelChangeMarketByMonth" @change="handlePanelChangeMarketByMonth" />
                <a-button type="primary" size="small" @click="getAccountStatusByMonth(market_by_month_filters)"><a-icon type="reload" /></a-button>
                <!-- Exportar -->
                <a-divider type="vertical" />
                <a-dropdown-button type="primary" size="small">
                    Exportar
                    <a-menu slot="overlay" @click="handleExportSelectRowMarketClick">
                        <a-menu-item key="pdf"><a-icon type="file-pdf" /> PDF </a-menu-item>
                        <a-menu-item key="excel"><a-icon type="file-excel" /> Excel </a-menu-item>
                    </a-menu>
                </a-dropdown-button>
            </a-form>
        </div>

        <div v-for="(dataAccountStatusMarketByMonth, index) in listAccountStatusMarketByMonth" :key="index">
            <a-table :columns="columns_modal_by_month_in_market" :row-key="(record, index) => index"
                :data-source="dataAccountStatusMarketByMonth.debts" :pagination="false">

                <template slot="year" slot-scope="year"> {{ Intl.NumberFormat('en-US', {
                    style: 'decimal',
                    minimumFractionDigits: 2, maximumFractionDigits: 2
                }).format(year).replace(/,/g, "'") }} </template>
                <template slot="total" slot-scope="total"> {{ Intl.NumberFormat('en-US', {
                    style: 'decimal',
                    minimumFractionDigits: 2, maximumFractionDigits: 2
                }).format(total).replace(/,/g, "'") }} </template>
            </a-table>
        </div>
    </a-modal>
</template>
<script>
import moment from 'moment';
import 'moment/locale/es';
moment.locale('es');
import locale from 'ant-design-vue/es/date-picker/locale/es_ES';
import Repository from "../../repositories/RepositoryFactory";
const { DEBT_TYPE_NORMAL } = require("../../constants");
const MarketRepository = Repository.get("market");
const StandRepository = Repository.get("stand");

const key = 'updatable';
const columns_modal_by_month_in_market = [
    { title: 'Año', dataIndex: 'year', key: 'year', align: 'center' },
    { title: 'Ene', dataIndex: "1.total", key: 1, align: 'right', scopedSlots: { customRender: 'year' } },
    { title: 'Feb', dataIndex: "2.total", key: 2, align: 'right', scopedSlots: { customRender: 'year' } },
    { title: 'Mar', dataIndex: "3.total", key: 3, align: 'right', scopedSlots: { customRender: 'year' } },
    { title: 'Abr', dataIndex: "4.total", key: 4, align: 'right', scopedSlots: { customRender: 'year' } },
    { title: 'May', dataIndex: "5.total", key: 5, align: 'right', scopedSlots: { customRender: 'year' } },
    { title: 'Jun', dataIndex: "6.total", key: 6, align: 'right', scopedSlots: { customRender: 'year' } },
    { title: 'Jul', dataIndex: "7.total", key: 7, align: 'right', scopedSlots: { customRender: 'year' } },
    { title: 'Ago', dataIndex: "8.total", key: 8, align: 'right', scopedSlots: { customRender: 'year' } },
    { title: 'Set', dataIndex: "9.total", key: 9, align: 'right', scopedSlots: { customRender: 'year' } },
    { title: 'Oct', dataIndex: "10.total", key: 10, align: 'right', scopedSlots: { customRender: 'year' } },
    { title: 'Nov', dataIndex: "11.total", key: 11, align: 'right', scopedSlots: { customRender: 'year' } },
    { title: 'Dic', dataIndex: "12.total", key: 12, align: 'right', scopedSlots: { customRender: 'year' } },
    { title: 'Total', dataIndex: 'total', key: 'total', align: 'right', scopedSlots: { customRender: 'total' } },
];

export default {
    props: ['filters','company','markets'],
    data() {
        return {
            marketDebtMonthModal: 'market-debt-by-month-modal',
            openModal: true,
            value_market_by_month: [],
            market_by_month_filters: {},
            marketsTemp: [],
            listAccountStatusMarketByMonth: [{ market: {}, debts: [] }],
            columns_modal_by_month_in_market,
            marketFilters: {},
            locale,
            make_name_temp: '',
            mode2: ['year', 'year'],
            sectoryname: " de todos",
            conceptoname: "de todos",
            conceptoSeleccionado: null,
        }
    },
    mounted() {
        console.log("filters: ",{...this.filters});
        this.marketsTemp = [...this.markets];
        this.market_by_month_filters = {...this.filters}
        this.getAccountStatusByMonth();
    },
    methods: {
        closeModal() {
            this.openModal = false;
            this.value_market_by_month = []
            this.$emit('updateShowMarketDebtByMonthModal', false);
        },
        async getAccountStatusByMonth(params) {
            this.$message.loading({ content: 'Cargando...', key });
            this.listAccountStatusMarketByMonth = [];
            let payload = {...this.market_by_month_filters};
            let name_market = this.market_by_month_filters.market_id
                ? this.markets.find(item => item.market_id == this.market_by_month_filters.market_id)
                : undefined;
            this.name_market_for_months = name_market ? name_market.name : '';
            payload.type = DEBT_TYPE_NORMAL;
            let { data } = await MarketRepository.getAccountStatusByMonth(payload);
            this.markets.forEach(market => {
                if (data.find(item => item.market_id == market.market_id)) {
                    this.listAccountStatusMarketByMonth.push({
                        market: data.filter(item => item.market_id == market.market_id).shift(),
                        debts: data.filter(item => item.market_id == market.market_id).map(item => {
                            var rObj = {};
                            rObj.debts_id = item.debts_id;
                            rObj.sectorname = item.sectorname;
                            rObj.gyrename = item.gyrename;
                            rObj.year = item.year;
                            rObj.month = item.month;
                            rObj.total = item.total;
                            return rObj;
                        }),
                    })
                }
            })

            this.listAccountStatusMarketByMonth.forEach((item, index) => {
                item.debts = StandRepository.dataStatusAccounFormatInTable(item.debts);
                item.debts = StandRepository.sumTotalDebtxYear(item.debts);
            })

            this.$message.success({ content: 'Cargado!', key, duration: 2 });
            this.make_name_temp = this.name_market_for_months ? this.name_market_for_months : "TODOS *";
        },
        handlePanelChangeMarketByMonth(value, mode) {
            this.value_market_by_month = value;
            this.market_by_month_filters.date_init = value[0] ? moment(value[0]).format('YYYY') : null;
            this.market_by_month_filters.date_end = value[1] ? moment(value[1]).format('YYYY') : null;
        },
        handleExportSelectRowMarketClick(e) {
            this.$message.loading({ content: 'Cargando...', key });
            if (e.key == 'pdf') this.exportSelectRowMarketPdf();
            if (e.key == 'excel') this.exportSelectRowMarketExcel();
        },
        handleChangeConceptInStatusAccountByMonth(data) {
            this.market_by_month_filters.concept_id = data ? data.id : undefined;
            this.name_concept_for_months = data ? data.code : '';
            this.conceptoname = data ? data.name : ''
            this.getAccountStatusByMonth(this.market_by_month_filters);
        },
        handleChangeSectorInStatusAccountByMonth(data) {
            this.market_by_month_filters.sector_id = data ? data.id : undefined;
            this.name_sector_for_months = data ? data.name : '';
            this.sectoryname = this.name_sector_for_months;
            this.getAccountStatusByMonth(this.market_by_month_filters);
        },
        async exportSelectRowMarketPdf() {
            let name_columns = this.formatNameColumns(this.columns_modal_by_month_in_market);
            let deuda_or_pagado = this.market_by_month_filters.payment_status == 0 ? 'DEUDAS' : "PAGOS";
            let search_concept_sector = (this.name_concept_for_months && this.name_sector_for_months) ? (this.name_concept_for_months + ', ' + this.name_sector_for_months) : ((this.name_concept_for_months || this.name_sector_for_months) ? (this.name_concept_for_months + ' ' + this.name_sector_for_months) : 'TODOS');
            let search_names;
            if (this.name_market_for_months && search_concept_sector != 'TODOS') search_names = this.name_market_for_months + ', ' + search_concept_sector;
            else if (!this.name_market_for_months) search_names = search_concept_sector;
            else if (this.name_market_for_months) search_names = this.name_market_for_months;
            else search_names = 'TODOS';
            let { data } = await MarketRepository.selectRowMarketExportPdf({
                'company': this.company, 'column': name_columns, 'data': this.listAccountStatusMarketByMonth, 'deuda_or_pagado': deuda_or_pagado,
                'search_names': search_names
            });
            window.open(data);
            this.$message.success({ content: 'Cargado!', key, duration: 2 });
        },
        async exportSelectRowMarketExcel() {
            let name_columns = this.formatNameColumns(this.columns_modal_by_month_in_market);
            let deuda_or_pagado = this.market_by_month_filters.payment_status == 0 ? 'DEUDAS' : "PAGOS";
            let search_concept_sector = (this.name_concept_for_months && this.name_sector_for_months) ? (this.name_concept_for_months + ', ' + this.name_sector_for_months) : ((this.name_concept_for_months || this.name_sector_for_months) ? (this.name_concept_for_months + ' ' + this.name_sector_for_months) : 'TODOS');
            let search_names;
            if (this.name_market_for_months && search_concept_sector != 'TODOS') search_names = this.name_market_for_months + ', ' + search_concept_sector;
            else if (!this.name_market_for_months) search_names = search_concept_sector;
            else if (this.name_market_for_months) search_names = this.name_market_for_months;
            else search_names = 'TODOS';
            let { data } = await MarketRepository.selectRowMarketExportExcel({
                'company': this.company, 'column': name_columns, 'data': this.listAccountStatusMarketByMonth, 'deuda_or_pagado': deuda_or_pagado,
                'search_names': search_names
            });
            window.open(data);
            this.$message.success({ content: 'Cargado!', key, duration: 2 });
        },
        formatNameColumns(list) {
            let name_columns = list.map(item => [item.title, item.key]);
            return name_columns;
        },
    }
}
</script>