<template>
    <div>
        <div class="content">
            <div class="header-modal-report">
                <div class="header-modal-report--right">
                    <h1 style="font-size: 1.3em;" class="content__title">
                        REPORTE DE DEUDAS POR MERCADO {{ filters.groupedBy.toUpperCase() }}</h1>
                    <!-- <a-alert message="" type="info" closable>
                        <template #description>
                            Para explorar los datos de cada mercado en detalle, puedes dar clic en el nombre del mercado. De
                            igual manera, si deseas visualizar los datos correspondientes a un año, debes dar clic en el año
                            correspondiente
                        </template>

                    </a-alert> -->

                </div>

            </div>
            <hr class="content__divider" />
            <div>
                <div class="table-operations" style="margin:0">
                    <a-form layout="inline">
                        <!-- Estado Pago -->
                        <a-select style="width: 150px" v-model="filters.payment_status" size="small"
                            placeholder="Seleccione" @change="handleChangePaymentStatus()">
                            <a-select-option value="1">Pagado</a-select-option>
                            <a-select-option value="0">Deuda</a-select-option>
                        </a-select>
                        <!-- Agrupación -->
                        <a-divider type="vertical" />
                        <label for="" style="color:white; margin:0;">Columna: </label>
                        <a-select v-model="filters.groupedBy" size="small" placeholder="Mercado"
                            @change="handleChangeGroupedBy()" style="width: 115px">
                            <a-select-option v-for="groupedBy in ['xAños','xMeses','Total']" :key="groupedBy">
                                {{ groupedBy }}
                            </a-select-option>
                        </a-select>
                    </a-form>
                </div>
                <!-- Content component render here -->
                <MarketDebtByYearsComponent v-if="this.filters.groupedBy=='xAños'" ref="debtByYearComponent"></MarketDebtByYearsComponent>
                <MarketDebtByMonthsComponent v-if="this.filters.groupedBy=='xMeses'" ref="debtByMonthComponent"></MarketDebtByMonthsComponent>
            </div>

        </div>

    </div>
</template>
<script>
import moment from 'moment';
import 'moment/locale/es';
moment.locale('es');
import locale from 'ant-design-vue/es/date-picker/locale/es_ES';
import MarketDebtByYearsComponent from "./MarketDebtByYearsComponent.vue";
import MarketDebtByMonthsComponent from "./MarketDebtByMonthsComponent.vue";
import Repository from "../../repositories/RepositoryFactory";
const CompanyRepository = Repository.get("company");
const { MRCD_CONCEPT_ID, BAJP_CONCEPT_ID, COMPANY_ID, DEBT_TYPE_NORMAL } = require("../../constants");
const key = 'updatable';


export default {
    props: [],
    components: {
        MarketDebtByYearsComponent,
        MarketDebtByMonthsComponent
    },
    data() {
        return {
            loadingPrincipal: false,
            name_list_debtorpaid: 'DEUDAS',
            list_a_sector_debt_or_paid: 'DEUDAS',
            company: {},
            concept_name_resumen: '',
            BAJP_CONCEPT_ID,
            /*manejo de fechas*/
            moment,
            locale,
            filter: { date_init: moment(), date_end: moment() },
            filters: { payment_status: '0', groupedBy: 'xAños'},
        };
    },
    mounted() {
        this.fetchCompany();
    },
    methods: {
        async fetchCompany() {
            const { data } = await CompanyRepository.get(COMPANY_ID);
            this.company = data;
        },
        handleChangeGroupedBy() {
            console.log("Cambiado modo de agrupación: ",this.filters.groupedBy);
        },
        handleChangePaymentStatus() {
            console.log(this.filters);
            if (this.filters.groupedBy=='xAños') {
                this.$refs.debtByYearComponent.fetchAccountStatusByYear({payment_status:this.filters.payment_status});
            } else {
                this.$refs.debtByMonthComponent.getAccountStatusByMonth({payment_status:this.filters.payment_status});
            }
        },
        error(message) {
            this.$message.error(message || 'Error al procesar');
        },
        success(message) {
            this.$message.success(message || 'Proceso Correcto');
        },
    }
};
</script>