<template>
    <div>
        <div class="content">
            <div>
                <div class="table-operations" style="margin:0;">
                    <a-form layout="inline">
                        <!-- Mercado-->
                        <a-select v-model="market_by_month_filters.market_id" size="small" placeholder="Mercado"
                            @change="handleChangeMarket()" style="width: 150px" :allowClear="true">
                            <a-select-option v-for="market in markets" :key="market.id">
                                {{ market.name }}
                            </a-select-option>
                        </a-select>

                        <!-- Sector -->
                        <!-- <select-sector-component :id="market_by_month_filters.sectors" size="small" style="width:200px"
                            v-on:handleSelectSectors="handleChangeSector" ref="sectorComponent" /> -->
                        <select-sector-multiple-component :id="market_by_month_filters.sectors" size="small" style="width:200px"
                            v-on:handleSelectSectors="handleChangeSector" ref="sectorComponent" />
                        <!-- Giro -->
                        <!-- <select-gyre-component :gyre_id="market_by_month_filters.gyres" size="small" style="width:200px"
                            v-on:handleSelectGyres="handleChangeGyre" /> -->
                        <select-gyre-multiple-component :id="market_by_month_filters.gyres" size="small" style="width:200px"
                            v-on:handleSelectGyres="handleChangeGyre" ref="gyreComponent" />

                        <!-- Concepto -->
                        <select-concept-component :id="market_by_month_filters.concept_id" size="small" style="width:200px"
                            v-on:handleChange="handleChangeConcept" />

                        <!-- month -->
                        <a-range-picker :locale="locale" @change="changeDate" :format="datePickerFormat"
                            style="width:195px; padding:0px 0px 0px 0px;" size="small"
                            :placeholder="['Fecha Inicio', 'Fecha Final']"
                            :default-value="[market_by_month_filters.date_init, market_by_month_filters.date_end]">
                        </a-range-picker>

                        <a-button type="primary" @click="getAccountStatusByMonth(market_by_month_filters)" size="small"><a-icon
                                type="reload" /></a-button>
                        <a-divider type="vertical" />

                        <a-dropdown-button type="primary" size="small">
                            Exportar
                            <a-menu slot="overlay" @click="handleExportMarketsClick">
                                <a-menu-item key="pdf"><a-icon type="file-pdf" /> PDF </a-menu-item>
                                <a-menu-item key="excel"><a-icon type="file-excel" /> Excel </a-menu-item>
                            </a-menu>
                        </a-dropdown-button>
                    </a-form>
                </div>
                <a-table id="market-debts-by-month" :columns="columns_debt" :data-source="listAccountStatusMarketByMonth" :row-key="(record, index) => index"
                    :customRow="customRowMarket" :pagination="false" :scroll="{ x: '100%' }" :loading="loadingPrincipal">
                    <template slot="month" slot-scope="month">
                        {{ Intl.NumberFormat('en-US', {
                            style: 'decimal',
                            minimumFractionDigits: 2, maximumFractionDigits: 2
                        }).format(month).replace(/,/g, "'") }}
                    </template>
                    <a slot="name" slot-scope="text,record" @click="selectMarket($event, record)">{{ record.name }}</a>
                </a-table>
            </div>

        </div>

        <CensusModalComponent v-if="showModalResumeMarket"
            :showModalResumeMarket="showModalResumeMarket"
            :market_id="marketIdSelected"
            :company="company"
            :markets="markets">
        </CensusModalComponent>

        <MarketDebtByMonthModalComponent v-if="showModalResumeStatusAccountMarketByMonth"
            :filters="filtersForMarketDebtByMonth"
            :company="company"
            :markets="markets"
            @updateShowMarketDebtByMonthModal="showModalResumeStatusAccountMarketByMonth = false">
        </MarketDebtByMonthModalComponent>

    </div>
</template>
<script>
import CensusModalComponent from "../report/CensusModalComponent.vue";
import MarketDebtByMonthModalComponent from "./MarketDebtByMonthModalComponent.vue";
import moment from 'moment';
import 'moment/locale/es';
moment.locale('es');
import locale from 'ant-design-vue/es/date-picker/locale/es_ES';
import Repository from "../../repositories/RepositoryFactory";

const MarketRepository = Repository.get("market");
const ConceptRepository = Repository.get("concept");
const StandRepository = Repository.get("stand");
const SectorRepository = Repository.get("sector");
const CompanyRepository = Repository.get("company");
const { BAJP_CONCEPT_ID, COMPANY_ID, DEBT_TYPE_NORMAL } = require("../../constants");
const key = 'updatable';

let initialColumnIndexYear = 1;
const COLUMN_NAME_GYRE = 'Giro';
const COLUMN_KEY_GYRE = 'gyrename';
const COLUMN_NAME_SECTOR = 'Sector';
const COLUMN_KEY_SECTOR = 'sectorname';
const ALL_GYRES = 0;
const monthsName = ['ENE','FEB','MAR','ABR','MAY','JUN','JUL','AGO','SET','OCT','NOV','DIC'];

const columns_market_by_stands_loaded_data = [
    { title: 'Puesto', dataIndex: 'stand_code', key: 'stand_code', width: '60px' },
    { title: 'Sector', dataIndex: 'sector_name', key: 'sector_name', width: '100px' },
    { title: 'Giro', dataIndex: 'gyre_name', key: 'gyre_name', scopedSlots: { customRender: "gyre_name" }, width: '100px' },
    { title: 'DNI', dataIndex: 'titular_dni', key: 'titular_dni', width: '100px' },
    { title: 'Titular', key: 'name', scopedSlots: { customRender: "name" }, width: '285px' },
    { title: 'Tasa', dataIndex: 'rate_amount', key: 'rate_amount', align: 'right', width: '85px' },
    { title: 'Total', dataIndex: 'total', key: 'total', align: 'right', width: '85px' },
];

const columns_debt = [
    { title: 'Mercado', dataIndex:'name', key: 'Mercado', scopedSlots: { customRender: "name" }, width: '145px' },
    { title: 'Total', dataIndex: 'total', key: 'total', align: 'right', width: '85px' }
];

const columnsFormatInTable = ({dataSource, column, staticColumns=1}) => {
    // ordernar por año y mes en forma ascendente
    dataSource = dataSource.sort((a, b) => {
        if (a.year !== b.year)
            return b.year - a.year;
        return b.month - a.month;
    });
    // limpia las columnas de años, sirve cuando se selecciona un rango de años
    // para que no se quede pegado los años anteriores
    column = column.filter(col => col.title.split('-').length==1);
    // agregar meses a las columnas
    dataSource.forEach(element => {
        const columnTitle = `${monthsName[element.month-1]}-${element.year.toString().slice(-2)}`
        const index = column.findIndex(item => item.title == columnTitle);
        if (index == -1) {
            // no existe mes registrado. registrar!!
            column.splice(staticColumns, 0,
                { title: columnTitle, dataIndex: `month${element.month}`, key: columnTitle, align: 'right', width: '150px', scopedSlots: { customRender: 'month' } }
            );
        }
    });
    return column;
};

const dataFormatInTable = ({dataSource, columns, tableName='principal', groupField='name'}) => {
    let list = []
    dataSource.forEach(element => {
        const index = (tableName == 'principal')
            ? list.findIndex(item => item[groupField] == element[groupField])
            : list.findIndex(item => item.stand_code == element.stand_code); // Ubicamos el indice del año
        if (index > -1) {
            // existe año registrado
            list[index][`month${element.month}`] = Number.parseFloat(element.total);
        } else {
            // no existe año registrado. registrar!!
            let dataObjet = {};
            columns.map(item => item.dataIndex).forEach(element => {
                dataObjet[`${element}`] = 0;
            });
            const sizeList = list.push(dataObjet) // agregamos la estructura del objeto
            switch (tableName) {
                case 'principal':
                    // propiedadess para la tabla de la vista principal
                    list[sizeList - 1]['name'] = element.name; // nombre del mercado
                    if (list[sizeList - 1].hasOwnProperty('sectorname')) {
                        list[sizeList - 1]['sectorname'] = element.sectorname;
                    }
                    if (list[sizeList - 1].hasOwnProperty('gyrename')) {
                        list[sizeList - 1]['gyrename'] = element.gyrename;
                    }
                    list[sizeList - 1]['code'] = element.code;
                    list[sizeList - 1]['address'] = element.address;
                    list[sizeList - 1]['market_id'] = element.market_id;
                    list[sizeList - 1][`month${element.month}`] = Number.parseFloat(element.total);
                    break;
                case 'modal':
                    // propiedadess para la tabla del modal
                    list[sizeList - 1]['stand_code'] = element.stand_code;
                    list[sizeList - 1]['sector_name'] = element.sector_name;
                    list[sizeList - 1]['gyre_name'] = element.gyre_name;
                    list[sizeList - 1]['titular_name'] = element.titular_name;
                    list[sizeList - 1]['titular_lastname'] = element.titular_lastname;
                    list[sizeList - 1]['titular_dni'] = element.titular_dni;
                    list[sizeList - 1]['rate_amount'] = element.concept_id == BAJP_CONCEPT_ID ? element.rate_amount_secondary : element.rate_amount;
                    list[sizeList - 1]['stand_id'] = element.stand_id;
                    list[sizeList - 1][`year${element.year}`] = Number.parseFloat(element.total).toFixed(2);
                    break;
            }
        }
    });
    return list;
};

const totalCalculationByMarketAndStands = (list, name_table) => {

    list.forEach(item => {
        let accum = 0;
        switch (name_table) {
            case 'principal':
                for (const key in item) {
                    if (key == 'market_id') continue; // Para que no sume este valor
                    accum += (parseFloat(item[key]) ? parseFloat(item[key]) : 0);
                }
                break;

            case 'modal':
                for (const key in item) {
                    if (key == 'titular_dni' || key == 'rate_amount' || key == 'stand_id' || key == 'stand_code' ||
                        key == 'sector_name' || key == 'name' || key == 'titular_name' || key == 'titular_lastname' || key == 'total') continue;
                    accum += (parseFloat(item[key]) ? parseFloat(item[key]) : 0);
                }
                break
        }
        item.total = Number.parseFloat(accum).toFixed(2);
    });
    return list;
};

const totalCalculationByYear = (columns, data, name_table) => {
    let tmpcolumns = [...columns];
    switch (name_table) {
        case 'principal':
            // propiedadess para la tabla de la vista principal
            tmpcolumns.splice(0, initialColumnIndexYear); // TODO Mejerar esta forma. el boton actualizar no siempre se mantendra en la posición 1
            let tmp_data_principal = { name: 'Total' };
            tmpcolumns.forEach(item => {
                tmp_data_principal[item.dataIndex] = data.reduce((acc, value) => acc + Number.parseFloat(value[item.dataIndex]), 0).toFixed(2);
            })
            data.push(tmp_data_principal);
            break;
        case 'modal':
            // propiedadess para la tabla del modal
            tmpcolumns.splice(0, 4); // TODO Mejerar esta forma. el boton actualizar no siempre se mantendra en la posición 1
            let tmp_data_modal = { stand_code: 'Total' };
            tmpcolumns.forEach(item => {
                tmp_data_modal[item.key] = data.reduce((acc, value) => acc + Number.parseFloat(value[item.key]), 0).toFixed(2);
            })
            data.push(tmp_data_modal);
            break;
    }
    return data;
}

export default {
    props: [],
    components: {
        CensusModalComponent,
        MarketDebtByMonthModalComponent
    },
    data() {
        return {
            market_by_stand_filters: { payment_status: "0" },

            datePickerFormat: "DD/MM/YYYY",

            concepts: [],
            markets: [],
            marketsTemp: [],
            //yearsMarket:[],
            market: {},
            market_by_month_filters: { payment_status: "0", date_init: moment(`${moment().year()}-01-01`), date_end: moment(`${moment().year()}-12-31`) },
            showModalGenDebts: false,
            market_debt: { driver: {}, market: {}, sector: {} },
            listAccountStatusMarket: [],
            name_years_of_debt: [],
            listAccountStatusMarketByMonth: [{ market: {}, debts: [] }],
            totalSector: 0,
            // #### date picker
            mode1: 'time',
            mode2: ['year', 'year'],
            value_market_by_month: [],
            file_exported: '',
            loadingPrincipal: false,
            loadingModal: false,
            // Modal Sectors
            showModalResumeMarket: false,
            //#### Modal Market Detail
            showModalResumeStatusAccountMarketByMonth: false,
            moment,
            columns_debt,
            columns_market_by_stands_loaded_data,
            name_list_debtorpaid: 'DEUDAS',
            list_a_sector_debt_or_paid: 'DEUDAS',
            company: {},
            concept_name_resumen: '',
            sector_name: '',
            sector_name_year: '',
            concept_name: '',
            name_market_for_months: '',
            name_concept_for_months: '',
            name_sector_for_months: '',
            BAJP_CONCEPT_ID,
            /*manejo de fechas*/
            moment,
            locale,
            filter: { date_init: moment(), date_end: moment() },
            market_name_filter: '',
            concept_name_filter: '',
            sector_name_filter: '',
            make_name_temp: '',
            /*Manejador de sms*/

            sectoryname: " de todos",
            conceptoname: "de todos",
            conceptoSeleccionado: null,
            marketIdSelected: null,
            filtersForMarketDebtByMonth: {}
        };
    },
    mounted() {
        this.getAccountStatusByMonth(this.market_by_month_filters);
        this.fetchCompany();
        this.fetchMarkets();
    },
    methods: {
        selectMarket(event,record) {
            if (event) event.stopPropagation(); // para evitar que el modal de estado de cuenta por meses se abra
            this.showModalResumeMarket=true
            this.marketIdSelected = record.market_id;
        },
        async fetchCompany() {
            const { data } = await CompanyRepository.get(COMPANY_ID);
            this.company = data;
        },
        async fetchMarkets() {
            const { data } = await MarketRepository.list({});
            this.markets = data.data;
        },
        //manejo de fechas
        changeDate(value, dateString) {
            if (value.length==0) {
                this.market_by_month_filters.date_init = moment(`${moment().year()}-01-01`);
                this.market_by_month_filters.date_end = moment(`${moment().year()}-12-31`);
            } else {
                this.market_by_month_filters.date_init = value[0] ? (value[0]).format('YYYY-MM-DD') : null;
                this.market_by_month_filters.date_end = value[1] ? (value[1]).format('YYYY-MM-DD') : null;
            }
            this.getAccountStatusByMonth(this.market_by_month_filters);
        },

        async fetchAccountStatusByYear(params) {
            //params = { ...params, ...this.filter };
            let payload = params;
            payload.type = DEBT_TYPE_NORMAL;
            this.name_list_debtorpaid = this.market_by_month_filters.payment_status == "1" ? "PAGOS" : "DEUDAS";
            this.loadingPrincipal = true;


            try {

                const { data } = await MarketRepository.allAccountStatusByYear(payload);


                this.listAccountStatusMarket = []; // deudas de los mercados por año formateado
                // Agregar las columnas de la tabla principal
                this.columns_debt = columnsFormatInTable(data, this.columns_debt, 1);

                // filtramos los años para el select del modal estado de cuentas de mercado por mes
                //this.yearsMarket = this.columns_debt.filter(item => Number.isInteger(item.title));

                // Agregar datos a la tabla principal
                this.listAccountStatusMarket = dataFormatInTable(data, this.columns_debt, this.listAccountStatusMarket, 'principal');

                this.markets = this.listAccountStatusMarket.map(item => {
                    var rObj = {};
                    rObj.name = item.name;
                    rObj.market_id = item.market_id;
                    return rObj;
                })
                /////////
                this.marketsTemp = this.marketsTemp.length ? this.marketsTemp : [...this.markets];
                this.marketsTemp = this.marketsTemp.filter((item1, index, self) => {
                    const isUnique = self.findIndex(item2 => item1.name === item2.name && item1.market_id === item2.market_id) === index;
                    return isUnique;
                });
                /////

                // Calculo total por mercado
                this.listAccountStatusMarket = totalCalculationByMarketAndStands(this.listAccountStatusMarket, 'principal');

                // Calculo total por año (header)
                this.listAccountStatusMarket = totalCalculationByYear(this.columns_debt, this.listAccountStatusMarket, 'principal')

                this.loadingPrincipal = false;
            } catch (error) {
                console.log(error)
                this.error();
            }
        },
        customRowMarket(record, index) {
            return {
                on: {
                    click: () => {
                        this.market_by_month_filters.payment_status = this.market_by_month_filters.payment_status;
                        this.market_by_month_filters.market_id = record.market_id;
                        this.market_by_month_filters.concept_id = this.market_by_month_filters.concept_id;
                        //limpiar los campos del rango de años
                        this.market_by_month_filters.date_init = null;
                        this.market_by_month_filters.date_end = null;

                        this.getAccountStatusByMonth(this.market_by_month_filters);
                    }
                }
            };
        },
        async getAccountStatusByMonth(params) {
            try {
                this.loadingPrincipal = true;
                this.listAccountStatusMarketByMonth = [];
                let payload = params;
                // let name_market = this.market_by_month_filters.market_id ? this.markets.find(item => item.market_id == this.market_by_month_filters.market_id) : undefined;
                // this.name_market_for_months = name_market ? name_market.name : '';
                payload.type = DEBT_TYPE_NORMAL;
                if (moment.isMoment(payload.date_init)) {
                    payload.date_init = payload.date_init.format('YYYY-MM-DD')
                    payload.date_end = payload.date_end.format('YYYY-MM-DD')
                }
                let { data } = await MarketRepository.getAccountStatusByMonth(payload);
                // Agregar las columnas de la tabla principal
                this.columns_debt = columnsFormatInTable({dataSource:data, column:this.columns_debt, staticColumns:initialColumnIndexYear});

                // Agregar datos a la tabla principal
                let groupField = 'name'
                if (this.gyreSelected()) {
                    groupField = COLUMN_KEY_GYRE;
                } else if (this.sectorSelected() || this.marketSelected()) {
                    groupField = COLUMN_KEY_SECTOR
                }
                this.listAccountStatusMarketByMonth = dataFormatInTable({dataSource:data, columns:this.columns_debt, groupField});
                
                // Calculo total por mercado
                this.listAccountStatusMarketByMonth = totalCalculationByMarketAndStands(this.listAccountStatusMarketByMonth, 'principal');

                // Calculo total por año (header)
                this.listAccountStatusMarketByMonth = totalCalculationByYear(this.columns_debt, this.listAccountStatusMarketByMonth, 'principal')
            } catch (error) {
                console.log(error);
                this.error();
            }
            this.loadingPrincipal = false;
        },

        // event click export
        handleExportMarketsClick(e) {
            this.$message.loading({ content: 'Cargando...', key });
            if (e.key == 'pdf') this.exportMarketsPdf();
            if (e.key == 'excel') this.exportMarketsExcel();
        },
        async exportMarketsPdf() {
            let name_columns = this.formatNameColumns(this.columns_debt);
            let search_names = (this.concept_name || this.sector_name_year) ? (this.sector_name_year && this.concept_name ? (this.concept_name + ', ' + this.sector_name_year) : this.concept_name + '' + this.sector_name_year) : 'TODOS';
            let { data } = await MarketRepository.statusAccountExportPdf({ 'company': this.company, 'name_list_debtorpaid': this.name_list_debtorpaid, 'column': name_columns, 'data': this.listAccountStatusMarketByMonth, 'search_names': search_names, groupedBy: 'months' });

            window.open(data);
            this.$message.success({ content: 'Cargado!', key, duration: 2 });
        },
        async exportMarketsExcel() {
            let name_columns = this.formatNameColumns(this.columns_debt);
            let search_names = (this.concept_name || this.sector_name_year) ? (this.sector_name_year && this.concept_name ? (this.concept_name + ', ' + this.sector_name_year) : this.concept_name + '' + this.sector_name_year) : 'TODOS';
            let { data } = await MarketRepository.statusAccountExportExcel({ 'company': this.company, 'name_list_debtorpaid': this.name_list_debtorpaid, 'column': name_columns, 'data': this.listAccountStatusMarketByMonth, 'search_names': search_names });
            window.open(data);
            this.$message.success({ content: 'Cargado!', key, duration: 2 });
        },
        handleExportMarketByStandsClick(e) {
            this.$message.loading({ content: 'Cargando...', key });
            if (e.key == 'pdf') this.exportMarketByStandsPdf();
            if (e.key == 'excel') this.exportMarketByStandsExcel();
        },
        async exportMarketByStandsPdf() {

            let search_names = (this.concept_name_resumen && this.sector_name) ? (this.concept_name_resumen + ', ' + this.sector_name) : ((this.concept_name_resumen || this.sector_name) ? (this.concept_name_resumen + ' ' + this.sector_name) : '');
            search_names = search_names ? this.name_market_for_months + ', ' + search_names : this.name_market_for_months;
            search_names = this.market_by_stand_filters.payment_status == 0 ? 'DEUDAS: ' + search_names : 'PAGOS: ' + search_names;
            this.market_by_stand_filters.type = DEBT_TYPE_NORMAL;
            this.market_by_stand_filters.search_names = search_names;
            let url = MarketRepository.statusAccountByStandsExportPdf(this.market_by_stand_filters);
            window.open(url);
            this.$message.success({ content: 'Cargado!', key, duration: 2 });
        },
        async exportMarketByStandsExcel() {
            let search_names = (this.concept_name_resumen && this.sector_name) ? (this.concept_name_resumen + ', ' + this.sector_name) : ((this.concept_name_resumen || this.sector_name) ? (this.concept_name_resumen + ' ' + this.sector_name) : '');
            search_names = search_names ? this.name_market_for_months + ', ' + search_names : this.name_market_for_months;
            search_names = this.market_by_stand_filters.payment_status == 0 ? 'DEUDAS: ' + search_names : 'PAGOS: ' + search_names;
            this.market_by_stand_filters.type = DEBT_TYPE_NORMAL;
            this.market_by_stand_filters.search_names = search_names;
            let url = MarketRepository.statusAccountByStandsExportExcel(this.market_by_stand_filters);
            window.open(url);
            this.$message.success({ content: 'Cargado!', key, duration: 2 });
        },
        handleExportSelectRowMarketClick(e) {
            this.$message.loading({ content: 'Cargando...', key });
            if (e.key == 'pdf') this.exportSelectRowMarketPdf();
            if (e.key == 'excel') this.exportSelectRowMarketExcel();
        },
        async exportSelectRowMarketPdf() {
            let name_columns = this.formatNameColumns(this.columns_modal_by_month_in_market);
            let deuda_or_pagado = this.market_by_month_filters.payment_status == 0 ? 'DEUDAS' : "PAGOS";
            let search_concept_sector = (this.name_concept_for_months && this.name_sector_for_months) ? (this.name_concept_for_months + ', ' + this.name_sector_for_months) : ((this.name_concept_for_months || this.name_sector_for_months) ? (this.name_concept_for_months + ' ' + this.name_sector_for_months) : 'TODOS');
            let search_names;
            if (this.name_market_for_months && search_concept_sector != 'TODOS') search_names = this.name_market_for_months + ', ' + search_concept_sector;
            else if (!this.name_market_for_months) search_names = search_concept_sector;
            else if (this.name_market_for_months) search_names = this.name_market_for_months;
            else search_names = 'TODOS';
            let { data } = await MarketRepository.selectRowMarketExportPdf({
                'company': this.company, 'column': name_columns, 'data': this.listAccountStatusMarketByMonth, 'deuda_or_pagado': deuda_or_pagado,
                'search_names': search_names
            });
            window.open(data);
            this.$message.success({ content: 'Cargado!', key, duration: 2 });
        },
        async exportSelectRowMarketExcel() {
            let name_columns = this.formatNameColumns(this.columns_modal_by_month_in_market);
            let deuda_or_pagado = this.market_by_month_filters.payment_status == 0 ? 'DEUDAS' : "PAGOS";
            let search_concept_sector = (this.name_concept_for_months && this.name_sector_for_months) ? (this.name_concept_for_months + ', ' + this.name_sector_for_months) : ((this.name_concept_for_months || this.name_sector_for_months) ? (this.name_concept_for_months + ' ' + this.name_sector_for_months) : 'TODOS');
            let search_names;
            if (this.name_market_for_months && search_concept_sector != 'TODOS') search_names = this.name_market_for_months + ', ' + search_concept_sector;
            else if (!this.name_market_for_months) search_names = search_concept_sector;
            else if (this.name_market_for_months) search_names = this.name_market_for_months;
            else search_names = 'TODOS';
            let { data } = await MarketRepository.selectRowMarketExportExcel({
                'company': this.company, 'column': name_columns, 'data': this.listAccountStatusMarketByMonth, 'deuda_or_pagado': deuda_or_pagado,
                'search_names': search_names
            });
            window.open(data);
            this.$message.success({ content: 'Cargado!', key, duration: 2 });
        },
        handleChangeConcept(data) {
            this.market_by_month_filters.concept_id = data ? data.id : undefined;
            this.concept_name = data ? data.code : '';
            this.fetchAccountStatusByYear(this.market_by_month_filters);
        },

        handleChangeMarket() {
            this.$refs.sectorComponent.handleSearchSectors('', '', this.market_by_month_filters.market_id);
            this.$refs.gyreComponent.handleSearchGyres('', '', this.market_by_month_filters.market_id);
            if (this.gyreSelected() && this.market_by_month_filters.gyres[0] ==0) {
                this.$refs.gyreComponent.clearCmbSectors();
            }
            if (this.marketSelected()){
                initialColumnIndexYear = 2;
                this.addColumnToColumnsDebt({columnKey:COLUMN_KEY_SECTOR,columnName:COLUMN_NAME_SECTOR});
            } else {
                initialColumnIndexYear = 1;
                this.market_by_month_filters.sectors = null;
                this.market_by_month_filters.gyres = null;
                this.$refs.sectorComponent.clearCmbSectors();
                this.$refs.gyreComponent.clearCmbSectors();
                this.deleteColumnByDataIndex(COLUMN_KEY_SECTOR);
                this.deleteColumnByDataIndex(COLUMN_KEY_GYRE);
            }
            this.getAccountStatusByMonth(this.market_by_month_filters);
        },
        handleChangeSector(data) {
            this.market_by_month_filters.sectors = data.length ? data : [];
            if (this.sectorSelected() || this.marketSelected()) {
                initialColumnIndexYear = 2;
                this.addColumnToColumnsDebt({columnKey:COLUMN_KEY_SECTOR,columnName:COLUMN_NAME_SECTOR});
            } else {
                initialColumnIndexYear = 1;
                this.deleteColumnByDataIndex(COLUMN_KEY_SECTOR);
            }
            data.length==0 && this.getAccountStatusByMonth(this.market_by_month_filters);
        },
        handleChangeGyre(data) {
            this.market_by_month_filters.gyres = data.length ? data : [];
            if (this.gyreSelected()) {
                if (this.market_by_month_filters.gyres[0]==ALL_GYRES) {
                    if (this.sectorSelected() || this.marketSelected()) {
                        this.addColumnToColumnsDebt({columnKey:COLUMN_KEY_SECTOR,columnName:COLUMN_NAME_SECTOR});
                        initialColumnIndexYear = 3;
                    } else {
                        initialColumnIndexYear = 2;
                        this.deleteColumnByDataIndex(COLUMN_KEY_SECTOR);
                    }
                    this.addColumnToColumnsDebt({columnKey:COLUMN_KEY_GYRE,columnName:COLUMN_NAME_GYRE, position:2});
                } else {
                    if (this.sectorSelected() || this.marketSelected()) {
                        initialColumnIndexYear = 3;
                        this.addColumnToColumnsDebt({columnKey:COLUMN_KEY_SECTOR,columnName:COLUMN_NAME_SECTOR});
                    } else {
                        initialColumnIndexYear = 2;
                        this.deleteColumnByDataIndex(COLUMN_KEY_SECTOR);
                    }
                    this.addColumnToColumnsDebt({columnKey:COLUMN_KEY_GYRE,columnName:COLUMN_NAME_GYRE, position:2});
                }
            } else if (this.sectorSelected() || this.marketSelected()) {
                initialColumnIndexYear = 2;
                this.addColumnToColumnsDebt({columnKey:COLUMN_KEY_SECTOR,columnName:COLUMN_NAME_SECTOR});
                this.deleteColumnByDataIndex(COLUMN_KEY_GYRE);
            } else {
                initialColumnIndexYear = 1;
                this.deleteColumnByDataIndex(COLUMN_KEY_GYRE);
                this.deleteColumnByDataIndex(COLUMN_KEY_SECTOR);
            }
            (data.length==0 || this.market_by_month_filters.gyres[0]==ALL_GYRES) && this.getAccountStatusByMonth({ ...this.market_by_month_filters });
        },
        formatNameColumns(list) {
            let name_columns = list.map(item => [item.title, item.dataIndex]);
            return name_columns;
        },
        handleMarketStandTableChange(pagination, filters, sorter) {
            const pager = { ...this.paginationMarketStandDebt };
            pager.current = pagination.current;
            this.paginationMarketStandDebt = pager;
            this.handleMarketByStands(null, {
                results: pagination.pageSize,
                page: pagination.current,
                sortField: sorter.field,
                sortOrder: sorter.order,
                ...filters,
            }, true);
        },
        findColumnByDataIndex(dataIndex) {
            return this.columns_debt.findIndex(e=>e.dataIndex==dataIndex);
        },
        addColumnToColumnsDebt({columnKey,columnName,position=1}) {
            if (this.findColumnByDataIndex(columnKey)==-1) {
                this.columns_debt.splice(position,0,
                    {
                        title: columnName,
                        key: columnName,
                        dataIndex: columnKey,
                        scopedSlots: { customRender: columnKey },
                        width: '145px' 
                    }
                );
            }
        },
        deleteColumnByDataIndex(dataIndex) {
            const index = this.findColumnByDataIndex(dataIndex);
            if (index!=-1) this.columns_debt.splice(index,1);
        },
        marketSelected() {
            return this.market_by_month_filters.market_id;
        },
        sectorSelected() {
            return this.market_by_month_filters.sectors && this.market_by_month_filters.sectors.length;
        },
        gyreSelected() {
            return this.market_by_month_filters.gyres && this.market_by_month_filters.gyres.length;
        },
        error(message) {
            this.$message.error(message || 'Error al procesar');
        },
        success(message) {
            this.$message.success(message || 'Proceso Correcto');
        },
    }
};
</script>
<style>
.table__title {
    font-size: .8rem;
    text-align: center;
}

.btn_debt {
    padding: 10px;
    background: #40A9FF;
    color: #fff;
    border-radius: 3px;
}

.header-modal-report {
    display: flex
}

.header-modal-report--left img {
    width: 55px;
}

.header-modal-report--right {
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    text-align: center;
}

/** Table footer */
.table-footer {
    float: right;
    padding-right: 5.3em;
}
</style>
