<template>
<div>
		<div class="content">
			<h1 class="content__title">LISTADO DE CAJA</h1> 
			<hr class="content__divider"/>
			<a-button v-show="isClosingCashbox && USER_ID != RT_ADMIN" type="primary" size="small" @click="prepareOpenCashbox"><a-icon type="unlock"  />Aperturar</a-button>
			<div>
				 <div class="table-operations" >
						<a-form layout="inline">
							<!-- <a-input v-model="cashbox.search" style="width:200px" size="small" placeholder="Buscar..."/> -->
                        <a-range-picker 
                            :locale="locale" 
                             @change="changeDate" 
                             format="DD-MM-YYYY" 
                             style="width:300px" 
                             size="small" 
                             :placeholder="['Fecha Inicio', 'Fecha Final']" 
                             :default-value="[filter.date_init, filter.date_end]">
						</a-range-picker>
							<a-button type="primary" size="small" @click="fetchCashboxes()">Buscar</a-button>
							<a-divider type="vertical"/>
							<a-dropdown-button type="primary" size="small">
							Exportar
								<a-menu slot="overlay"  @click="handleExportClick">
									<a-menu-item key="pdf"><a-icon type="file-pdf" /> PDF</a-menu-item>
									<a-menu-item key="excel"><a-icon type="file-excel" /> Excel </a-menu-item>
								</a-menu>
							</a-dropdown-button>
						</a-form>
					</div>
				<a-table
				:columns="columns_principal"
				:row-key="(record,index) => index"
				:data-source="cashboxes"
				:pagination="pagination"
				:scroll="{ x:'100%' }"
				:loading="loading"
				@change="handleTableChange">
					<span slot="status" slot-scope="text,record">{{record.status == 0 ? 'Anulado' :record.date_end ? 'Cerrado' : 'Aperturado'}}</span>
					<span slot="user" slot-scope="text,record">{{record.user.name}} - {{record.user.username}} </span>
					<span slot="action" slot-scope="text,record">
						<a  href="javascript:;" v-show="!record.date_end != '' && USER_ID != RT_ADMIN" @click="prepareClosingCashbox(record);is_mode_print=false;" title="Cerrar Caja"><a-icon type="lock" /></a>
						<a-divider type="vertical" v-show="!record.date_end != '' && USER_ID != RT_ADMIN" />
						<a v-if="record.cashboxdetails!=0" href="javascript:;" @click="preparePrintCashbox(record)" title="Imprimir"><a-icon type="printer" /></a>
						<a-divider type="vertical" v-show="record.date_end != '' && USER_ID != RT_ADMIN" />
						<a v-if="record.cashboxdetails!=0" href="javascript:;" v-show="record.date_end != '' && USER_ID != RT_ADMIN" @click="prepareClosingCashbox(record);is_mode_print=false;" title="Editar"><a-icon type="edit" /></a>
						<!--<a-popconfirm title="Seguro?" @confirm="() => showConfirm(record,removeCashbox)">
							<a href="javascript:;" title="Eliminar"><a-icon type="delete" /></a>
						</a-popconfirm>
						<a-divider type="vertical" />--> 
					</span>
				</a-table>
			</div>
		
			<a-modal 
			:width="940"
			:class="['modal-full-size' ,'modal-content-full-size']"
			:visible="showModal" 
			on-ok="selectOpenCashboxOrClosingCashboxOrPrint"
			:key="showModal"
			v-model="showModal">

			<template slot="footer">
				<a-button key="back" @click="showModal = false">
				Cancelar
				</a-button>
				<a-button key="submit" type="primary" id="button-box" @click="selectOpenCashboxOrClosingCashboxOrPrint">
				{{is_mode_print ? 'Imprimir' :'Guardar'}}
				</a-button>
			</template>
				 <div id="cashbox_print">
					<a-divider class="cashbox-print--mb0">Apertura / Cierre</a-divider>
					<label><b style="width:100px;display:inline-block">Colaborador:</b> {{user.name}} - {{user.username}}</label> <br>
					<label><b style="width:100px;display:inline-block">Apertura:</b> {{moment(cashbox.date_init).format('DD-MMM-YYYY HH:mm:ss')}}</label> <br>
					<label v-if="cashbox.date_end"><b style="width:100px;display:inline-block">Cierre:</b> {{moment(cashbox.date_end).format('DD-MMM-YYYY HH:mm:ss')}}</label> <br>
					<div v-if="cashbox.id">
						<!-- Listamos los conceptos -->
						<div v-for="(detail,index) in cashbox.cashboxdetails" :key="'concept_'+index" > 
							<a-divider class="cashbox-print-line--mb" >{{ detail.market_code ? detail.market_code+' - ' : '' }}{{ detail.sector_code ? detail.sector_code+' - ' : ''}}{{ detail.concept_code }}{{' - '+ detail.debt_type}}</a-divider>
							<a-table
							:columns="columns_print"
							:scroll="{x:'100%'}"
							:row-key="record => record.id"
							:data-source="assignDataByConceptsToResumeTable(detail)"
							:locale= "{emptyText: '-'}"
							:pagination="false"
							:loading="loadingPrint">
								<span slot="transaction_code" slot-scope="text, record">{{record.transaction_code}}{{record.transaction_status == '0' ? '(E)' : ''}}</span>
								<span slot="date_at" slot-scope="text, record">{{moment(record.transaction_date_at).format('DD-MMM-YYYY HH:mm:ss')}}</span>
								<span slot="client_dni" slot-scope="text, record">{{record.dni}}</span>
								<span slot="client" slot-scope="text, record">{{record.lastname.toUpperCase()}},{{record.name.toUpperCase()}}</span>
								<span slot="amount" slot-scope="text, record">{{Number.parseFloat(record.total).toFixed(2)}}</span>
								<template slot="footer"  slot-scope="currentPageData">
									<div style="text-align:right"><span><b>Total:</b> {{Number.parseFloat(cashbox.cashboxdetails[index].total).toFixed(2)}}</span></div>
								</template>
							</a-table>
						</div>

						<div style="width:100%; text-align:center; background-color:#FAFAFA;border-bottom: 1px solid #ccc; margin-top: 20px" class="resumen">
							Resumen
						</div>

						<div v-for="(detail,index) in cashbox.cashboxdetails" :key="'resume_'+index"> 
							<p v-if="is_mode_print == false" style="margin: 2px">
								<b class="resume-concepts">{{detail.market_code ? detail.market_code+'|' : '' }}{{detail.sector_code ? detail.sector_code+'|' : ''}}{{detail.concept_code}}{{'|'+detail.debt_type}}:</b><span class="resume-total">{{Number.parseFloat(cashbox.cashboxdetails[index].total).toFixed(2)}}</span> 
								<b>Recibo en Caja:</b><a-input  v-model="cashbox.cashboxdetails[index].code" style="width:100px"  size="small" /> 
								<b>Operación en Caja:</b><a-input  v-model="cashbox.cashboxdetails[index].operation_code" style="width:100px"  size="small" /> 
								<b>Clasificador:</b> <span>{{ concepts.find(item => item.id == detail.concept_id).classificator }}</span> 
							</p>
							<p v-if="is_mode_print == true" style="margin: 2px">
								<b class="resume-concepts">{{detail.market_code ? detail.market_code+'|' : '' }}{{detail.sector_code ? detail.sector_code+'|' : ''}}{{detail.concept_code}}{{'|'+detail.debt_type}}:</b> <span class="resume-total">{{Number.parseFloat(cashbox.cashboxdetails[index].total).toFixed(2)}}</span> 
								<b>Recibo en Caja:</b><span style="display:inline-block;width:90px"  size="small" class="span-style-print">{{cashbox.cashboxdetails[index].code}}</span> 
								<b>Operación en Caja:</b><span style="display:inline-block;width:90px"  size="small" class="span-style-print">{{cashbox.cashboxdetails[index].operation_code}}</span> 
								<b>Clasificador:</b> <span class="span-style-print">{{ concepts.find(item => item.id == detail.concept_id).classificator }}</span>  
							</p>
						</div>					
						<p style="margin: 2px"><b class="resume-concepts">Total:</b> <span class="resume-total">{{Number.parseFloat(cashbox.total).toFixed(2)}}</span> </p> 
					</div>
				 </div>
			</a-modal>

	</div>    
</div>    
</template>
<script>
import moment from "moment";
import 'moment/locale/es';
moment.locale('es');
import locale from 'ant-design-vue/es/date-picker/locale/es_ES';
import Repository from "../../repositories/RepositoryFactory";
const CashboxRepository = Repository.get("cashbox");
const TransactionRepository = Repository.get("transaction");
const UserRepository = Repository.get("user");
const ConceptRepository = Repository.get("concept");
const {MRCD_CONCEPT_ID,SISA_CONCEPT_ID,BAJP_CONCEPT_ID,MULD_CONCEPT_ID,FRAC_CODE,RT_ADMIN} = require("../../constants");
const key = 'updatable';

const columns_principal = [
	{ title: 'Responsable',key: 'user',scopedSlots: { customRender: "user" },  width: '300px'},
	{ title: 'Fecha de Apertura',dataIndex: 'date_init', width: '140px'},
	{ title: 'Fecha de Cierre',dataIndex: 'date_end', width: '140px'},
	{ title: 'Total',dataIndex: 'total',width: '80px'},
	{ title: 'Estado',scopedSlots: { customRender: "status" },width:'85px' },
	{ title:'-',scopedSlots: { customRender: "action" },fixed: 'right', width: '70px',align:'center' }
];

const columns_print = [
	{ title: 'Correlativo',key: 'transaction_code',scopedSlots: { customRender: "transaction_code"},width:'100px',className: 'correlativo-table'},
	{ title: 'Descripción',dataIndex: 'detail',width:'300px',className: 'detail-table'},
	{ title: 'DNI',key: 'client_dni',scopedSlots: { customRender: "client_dni" },width:'75px',className: 'client-dni_table'},
	{ title: 'Cliente',key: 'client',scopedSlots: { customRender: "client" },width:'230px',className: 'client-table'},
	{ title: 'Monto',key: 'amount',scopedSlots: { customRender: "amount"},align:'right',width:'70px',fixed:'right',className: 'amount-table'},
];

// const columnsFormatInTableWithConcepts = (concepts,column, position_column) => {
// 	let add_columns = [];
// 	concepts.forEach(concept => {
// 		// si existe ya registrado la columna no se vuelve a registrar
// 		if(column.find(item => item.title == concept.code)) return;

// 		// registrar si la columna no esta agregada
// 		if(concept.status == 0) { add_columns.push({title:`${concept.code}-INACT`, dataIndex:concept.code+'_total'}); }
// 		else { add_columns.push({title:concept.code, dataIndex:concept.code+'_total'}); }
// 	});
// 	column.splice(position_column,0,...add_columns);
	
// 	return column;
// }

const dataFormatInTableWithConcepts = (cashboxes,concepts,isClosingCashbox) => {
	cashboxes.forEach(cashbox => {
		cashbox.date_init = moment(cashbox.date_init).format('DD-MM-YYYY HH:mm:ss');
		cashbox.date_end = cashbox.date_end ? moment(cashbox.date_end).format('DD-MM-YYYY HH:mm:ss') : '';
		
		//------ Algoritmo que agrega indices de los conceptos ----
		// concepts.forEach( concept => {
		// 	let total = cashbox.cashboxdetails.find(detail => detail.concept_id == concept.id) ? cashbox.cashboxdetails.find(detail => detail.concept_id == concept.id).total : 0;
		// 	cashbox[concept.code+'_total'] =  Number.parseFloat(total).toFixed(2);
		// })
		// --------------------

		cashbox.total = Number.parseFloat(cashbox.total).toFixed(2);
		if(!cashbox.date_end) { isClosingCashbox = false;}
	});

	return cashboxes;
}

export default {
	data(){
		return {
			cashboxes:[],
			concepts:[],
			details_merced:[],
			details_mult:[],
			summaryClosingCashboxByConcepts:[],
			cashbox:{cashboxdetails:[]},
			pagination: {},
			user: {},
			checkoutList:[],
			rules:{
				name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			filter:{date_init:moment().subtract(7, 'days'),date_end:moment()},
			loading: false,
			loadingPrint:false,
			is_mode_print:false,
			showModal:false,
			isClosingCashbox:true,
			MRCD_CONCEPT_ID,
			SISA_CONCEPT_ID,
			BAJP_CONCEPT_ID,
			MULD_CONCEPT_ID,
			FRAC_CODE,
			RT_ADMIN,
			USER_ID:window.USER_ID,
			columns_principal,
			columns_print,
			moment,
			locale,
		}
	},
	mounted() {
		this.filter.date_init=moment().subtract(7, 'days').format('YYYY-MM-DD');
		this.filter.date_end=moment().format('YYYY-MM-DD');
		this.fetchConcepts();
		this.fetchCashboxes();
		this.fetchUser();
	},
	methods:{
		async fetchCashboxes(params = {}) {
			this.loading = true;
			this.isClosingCashbox = true;
			this.filter={...params};
			this.filter.user_id = window.USER_ID;
			this.filter.user_id == RT_ADMIN ? delete this.filter.user_id : ''; // RT_ADMIN Puede ver todas las cajas

			try {
				const {data} = await CashboxRepository.list(this.filter);
				const pagination = { ...this.pagination };
				pagination.total = data.total;
				this.pagination = pagination;
				this.cashboxes = data.data;
				this.cashboxes = dataFormatInTableWithConcepts(this.cashboxes,this.concepts,this.isClosingCashbox);
				if(this.cashboxes.length!=0){
					if(!this.cashboxes[0].date_end) this.isClosingCashbox = false;
				}
				this.loading = false;
			} catch(error) {
				console.log('enter error',error);
				this.error();
			}
		},
		async fetchConcepts(params = {}) {
			let payload = {no_paginate:true,...params};
			try {
				const {data} = await ConceptRepository.list(payload);
				this.concepts = data;
				// this.columns_principal = columnsFormatInTableWithConcepts(this.concepts, this.columns_principal, 3);
			} catch(error) {
				this.error('Error a listar los conceptos!!!');
			}
		},
		async fetchUser() {
			const {data} =  await UserRepository.get(window.USER_ID);
			this.user = data;
		},
		/*removeCashbox(data) {
			let payload = data;
			payload.status = 0;
			payload.date_init =  moment(payload.date_init).format('YYYY-MM-DD HH:mm:ss'); // convierte la fecha en formato string
			payload.date_end = payload.date_end ? moment(payload.date_end,'YYYY-MM-DD HH:mm:ss') : moment('YYYY-MM-DD HH:mm:ss');
			this.saveCashboxRepository(payload);
		},*/
		prepareOpenCashbox() {
			this.is_mode_print=false;
			this.cashbox = {};
			this.cashbox.user_id = window.USER_ID;
			this.cashbox.date_init = moment();
			/*let concepts_id = [];
			this.concepts.forEach(item => {
				if(item.status == 1) concepts_id.push({concept_id: item.id});
			})
			this.cashbox.cashboxdetails = concepts_id;*/ // [{concept_id:1},{concept_id:2}...]
			
			this.showModal = true;
		},
		selectOpenCashboxOrClosingCashboxOrPrint() {
			let x = document.getElementById("button-box");
			x.style.display = "none";
			this.showModal=false;
			if(this.is_mode_print) this.printResumeCashbox();
			else  this.cashbox.id ? this.closingCashbox() : this.openCashbox();
		},
		openCashbox() {
			this.loading=true;
			let payload = this.cashbox;
			payload.date_init =  moment(payload.date_init).format('YYYY-MM-DD HH:mm:ss'); // convierte la fecha en formato string
			this.saveCashboxRepository(payload);
		},
		closingCashbox() {
			//if(!this.isValidatedConceptsCode()) return;
			this.cashbox.date_end = this.cashbox.date_end ? moment(this.cashbox.date_end,'DD-MM-YYYY HH:mm:ss') : moment();//fecha de cierre
			let payload = this.cashbox;
			payload.date_init =  moment(payload.date_init).format('YYYY-MM-DD HH:mm:ss'); // convierte la fecha en formato string
			payload.date_end =  moment(payload.date_end).format('YYYY-MM-DD HH:mm:ss'); // convierte la fecha en formato string
			//payload.total = Number.parseFloat( this.getTotalSummaryClosingCashboxByConcepts(this.summaryClosingCashboxByConcepts) ).toFixed(2);
			this.saveCashboxRepository(payload);
		},
		/*isValidatedConceptsCode() {
			let isValid = true;
			let merced_index = this.cashbox.cashboxdetails.findIndex(detail => detail.concept_id == MRCD_CONCEPT_ID);
			let merced_muld = this.cashbox.cashboxdetails.findIndex(detail => detail.concept_id == MULD_CONCEPT_ID);
			
			// valida si esta null, "", undefined
			if(!this.cashbox.cashboxdetails[merced_index].code)  {this.$message.warning('Ingrese el codigo de recibo de Merced, por favor!!!'); isValid=false;};
			// if(!this.cashbox.cashboxdetails[1].code)  { this.$message.warning('Ingrese el codigo de Multa, por favor!!!'); isValid=false;};
			return isValid;
		},*/
		async saveCashboxRepository(payload) {
			try {
				let data = await CashboxRepository.save(payload);
				this.fetchCashboxes();
				this.showModal=false;
				this.loading=false;
				this.success();
			} catch (error) {
				this.error();
			}
		},
		preparePrintCashbox(data) {
			this.is_mode_print = true;
			this.prepareClosingCashbox({...data});
		},
		async prepareClosingCashbox(params){
			this.cashbox = {...params};
			this.cashbox.collaborator = 'Usuario Caja';
			this.summaryClosingCashboxByConcepts = [];
			this.cashbox.date_init = moment(this.cashbox.date_init,'DD-MM-YYYY HH:mm:ss');
			if(this.cashbox.date_end){this.cashbox.date_end=moment(this.cashbox.date_end,'DD-MM-YYYY HH:mm:ss');}
			this.cashbox = await this.assignDetailsByConcepts(this.cashbox);
			this.showModal=this.cashbox.cashboxdetails.length===0 ? false : true;
			
		},
		async assignDetailsByConcepts(cashbox) {
			
			this.$message.loading({ content: 'Cargando...', key });
			let params = {
				date_init:moment(cashbox.date_init).format('YYYY-MM-DD HH:mm:ss'),
				date_end:cashbox.date_end? moment(cashbox.date_end).format('YYYY-MM-DD HH:mm:ss') : moment().format('YYYY-MM-DD HH:mm:ss'),
				user_id:window.USER_ID
			}
			try {
				let {data} = await TransactionRepository.resumenByConcept(params)
				console.log(data);
				if( Object.keys(data).length === 0){
					this.showModal = false;
					let params = {
						title: 'Cierre de Caja',
						okText: 'Confirmar',
						cancelText: 'Cancelar',
						content: (h) => {return <div>
							<h4>Esta seguro de cerrar caja ,No hay pagos realizados en caja</h4>
						</div>},
						okButtonProps: {
							props: { disabled: false },
						},
						onOk:() => {
							return this.closingCashbox()
						},
						onCancel() {
						console.log('Cancel');
						},
					}
					this.$confirm(params);
					
				}else{
					this.checkoutList=this.formatDataPagos(data);
					if(cashbox.cashboxdetails.length===0){
						cashbox.cashboxdetails=this.listDetailsCashbox(this.checkoutList);
					}else{
						let temp_cashbox_details=[...cashbox.cashboxdetails];
						cashbox.cashboxdetails=this.listDetailsCashbox(this.checkoutList);
						temp_cashbox_details.forEach((item, index, arr)=>{
							cashbox.cashboxdetails[index].code=arr[index].code || '';
							cashbox.cashboxdetails[index].operation_code=arr[index].operation_code;
							cashbox.cashboxdetails[index].id=arr[index].id;
							cashbox.cashboxdetails[index].cashbox_id=arr[index].cashbox_id;
						})
					}
				}
				//this.summaryClosingCashboxByConcepts = this.filterDetailsByConcepts(data)
				//cashbox.cashboxdetails = this.assignTotalByConcepts(cashbox.cashboxdetails, this.summaryClosingCashboxByConcepts) 
				this.$message.success({ content: 'Cargado!', key, duration: 2 });
				return cashbox;
			} catch (error) {
				console.log('enter erro',error);
				this.error();
			}
		},
		formatDataPagos(data){
			let market_sector_concept=[];
			let market_local=[];
			let list_debts_type_frac=[]; let state_list_debts_type_frac; let i;
			let temp_array; let state_market_sector_concept;
			data.forEach((item, index, arr)=>{
				if(item.market_id && item.sector_id && item.concept_id){
					if(market_sector_concept.length===0){
						market_sector_concept.push(item);
					}else{
						temp_array=[...market_sector_concept]; state_market_sector_concept=false;
						for(i=0;i<temp_array.length;i++){
							if(item.market_id===temp_array[i].market_id && 
							item.sector_id===temp_array[i].sector_id && 
							item.concept_id===temp_array[i].concept_id && item.type===temp_array[i].type){
								market_sector_concept.splice(i,0,item);
								state_market_sector_concept=true;
								break;
							}
						}
						if(!state_market_sector_concept) {market_sector_concept.push(item); state_market_sector_concept=false;}
					}
				}else if(item.market_id){
					if(!market_local.length){
						market_local.push(item);
					}else{
						if(market_local[0].type===item.type) market_local.splice(0,0,item);
						else market_local.push(item);
					}
					
				}else{
					if(list_debts_type_frac.length===0){
						list_debts_type_frac.push(item);
					}else{
						let temp_arra_fra=[...list_debts_type_frac];
						for(let j=0;j<temp_arra_fra.length;j++){
							if(item.concept_id===temp_arra_fra[j].concept_id){
								list_debts_type_frac.splice(j,0,item);
								state_list_debts_type_frac=true;
								break;
							}
						}
						if(!state_list_debts_type_frac) {list_debts_type_frac.push(item); state_list_debts_type_frac=false;}
					}
				}
				
			});
			let list_data=market_sector_concept.concat(market_local);
			return list_data.concat(list_debts_type_frac);
		},
		listDetailsCashbox(data){
			let list_details_cashboxes=[];
			let temp_datails_cashbox; let sum_item_total=0;
			let comportamiento_status; let compare={}; let suma_total=0;
			data.forEach((item, index, arr)=>{
				if(index===0){
					if(item.status==1){
						sum_item_total=item.total;
						suma_total=item.total;
					}
					compare=item;
				}else{
					if(item.market_id && item.sector_id && item.concept_id){
						comportamiento_status=1;
						if(compare.market_id===item.market_id && compare.sector_id===item.sector_id
						&& compare.concept_id===item.concept_id && compare.type===item.type){
							if(item.status==1){sum_item_total=sum_item_total+item.total;
							suma_total=suma_total+item.total;
							}	
						}else{
							temp_datails_cashbox={
								total:sum_item_total,
								concept_id:compare.concept_id,
								concept_code:compare.code,
								sector_id:compare.sector_id,
								sector_code:compare.sector_code,
								market_id:compare.market_id,
								market_code:compare.market_code,
								debt_type:compare.type,
							}
							list_details_cashboxes.push(temp_datails_cashbox);
							compare={...item};
							if(item.status==1){sum_item_total=item.total; suma_total=suma_total+item.total;
							}else{sum_item_total=0; suma_total=suma_total+0;}	
						}
					}else if(item.market_id){
						if(comportamiento_status===1){
							temp_datails_cashbox={
								total:sum_item_total,
								concept_id:compare.concept_id,
								concept_code:compare.code,
								sector_id:compare.sector_id,
								sector_code:compare.sector_code,
								market_id:compare.market_id,
								market_code:compare.market_code,
								debt_type:compare.type,
							}
							list_details_cashboxes.push(temp_datails_cashbox);
							compare={...item};
							if(item.status==1){sum_item_total=item.total; suma_total=suma_total+item.total;
							}else{sum_item_total=0; suma_total=suma_total+0;}
							comportamiento_status=2;
						}else{
							comportamiento_status=2;
							if(compare.type===item.type){
								if(item.status==1){sum_item_total=sum_item_total+item.total;
								suma_total=suma_total+item.total;
								}
							}else{
								temp_datails_cashbox={
									total:sum_item_total,
									concept_id:compare.concept_id,
									concept_code:compare.code,
									sector_id:compare.sector_id,
									sector_code:compare.sector_code,
									market_id:compare.market_id,
									market_code:compare.market_code,
									debt_type:compare.type,
								}
								list_details_cashboxes.push(temp_datails_cashbox);
								compare={...item};
								if(item.status==1){sum_item_total=item.total; suma_total=suma_total+item.total;
								}else{sum_item_total=0; suma_total=suma_total+0;}
							}
						}
							
					}else{
						if(comportamiento_status===1 || comportamiento_status===2){
							temp_datails_cashbox={
								total:sum_item_total,
								concept_id:compare.concept_id,
								concept_code:compare.code,
								sector_id:compare.sector_id,
								sector_code:compare.sector_code,
								market_id:compare.market_id,
								market_code:compare.market_code,
								debt_type:compare.type,
							}
							list_details_cashboxes.push(temp_datails_cashbox);
							compare={...item};
							if(item.status==1){sum_item_total=item.total; suma_total=suma_total+item.total;
							}else{sum_item_total=0; suma_total=suma_total+0;}
							comportamiento_status=3;
						}else{
							if(item.concept_id===compare.concept_id){
								if(item.status==1){sum_item_total=sum_item_total+item.total;
								suma_total=suma_total+item.total;
								}
							}else{
								temp_datails_cashbox={
									total:sum_item_total,
									concept_id:compare.concept_id,
									concept_code:compare.code,
									debt_type:compare.type,
								}
								list_details_cashboxes.push(temp_datails_cashbox);
								compare={...item};
								if(item.status==1){sum_item_total=item.total; suma_total=suma_total+item.total;
								}else{sum_item_total=0; suma_total=suma_total+0;}
							}
						}
					}
				}
					
			});
			temp_datails_cashbox={
				total:sum_item_total,
				concept_id:compare.concept_id,
				concept_code:compare.code,
				sector_id:compare.sector_id,
				sector_code:compare.sector_code,
				market_id:compare.market_id,
				market_code:compare.market_code,
				debt_type:compare.type,
			}
			list_details_cashboxes.push(temp_datails_cashbox);
			this.cashbox.total=suma_total;
			return list_details_cashboxes;
		},
		/*filterDetailsByConcepts(data){
			let summaryClosingCashboxByConcepts = [];
				this.concepts.forEach( concept => {
					summaryClosingCashboxByConcepts.push({concept_id:concept.id,code:concept.code,data:data.filter(item => item.code == concept.code)});
				})
			return summaryClosingCashboxByConcepts;
		},*/
		/*assignTotalByConcepts(cashboxdetails, summaryClosingCashboxByConcepts) {
			cashboxdetails.forEach(detail => {
				let current_concept_code = this.concepts.find(concept => concept.id == detail.concept_id).code;
				detail.total =  summaryClosingCashboxByConcepts.find(item => item.code == current_concept_code).data.reduce( (acc, item) => {
					if(item.status == '0') return acc;
					return acc + item.total;
				},0 ) 
			});
			return cashboxdetails;
		},*/
		getTotalSummaryClosingCashboxByConcepts(summaryClosingCashboxByConcepts) {
			let total = 0;
			summaryClosingCashboxByConcepts.forEach(data => {
				total += data.data.reduce((accu,item) => {
					if(item.status == '0') return accu;
					return accu + item.total;
				},0)
			})
			return total.toFixed(2);
		},
		printResumeCashbox() { 
			var printContents = document.getElementById("cashbox_print").innerHTML; 
            var a = window.open('', '', 'height=auto, width=1000'); 
			a.document.write(`
			<html>
				<head>
					<style>
					*,body {
						font-size:12px;
						padding:0;
						border:0;
					}
					*,body, ::before, ::after {
						box-sizing: border-box;
					}
					/** style table  */
					.ant-divider-inner-text {
						display:flex;
						justify-content: center;
						padding: 0px 24px 0 24px;
						font-weight: 600;
					}
					.ant-table-thead > tr > th {
						color: rgba(0, 0, 0, 0.85);
						font-weight: 500;
						text-align: left;
						border-bottom: 1px solid #e8e8e8;

					}
					.ant-table-thead > tr > th{
						font-weight: 600;
					}
					.ant-table-scroll{
						width: 892px;
					}
					.ant-table-fixed-right {
						width: 70px;
						display:none;
						
					}
					.ant-table table{
						border-collapse: initial;
						border-spacing: 0;
					}
					
					.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
						padding: 5px !important;
					}

					/** Divider **/

					/** estilos en resumen de impresion */
					.resumen{
						font-weight: 500;
						margin-bottom: 15px;
					}
					
					.cashbox-print--mb0{
						margin-bottom: 20px;
					} 
					.cashbox-print-line--mb{
						margin-top:30px;
					}
					.resume-concepts{
						display:inline-block;
						text-align: left;
						font-size: 10px;
						margin-right:5px;
						width:150px;
					}
					.resume-total{
						display:inline-block;
						font-weight: 500;
						width:150px;
						text-align: right;
						margin: 4px 15px 4px 0;
					}
					.label--wd-150 {
						/*width: 150px;*/
					}
					.span-style-print{width:auto !important; margin-right:10px;}
					</style>
				</head>
				<body>
					${printContents}
				</body>
			</html>
			`);
			a.document.close(); 
			a.print(); 
			a.close(); 
			this.showModal = false;
		},
		// Evento filtro fecha
		changeDate(value, dateString) {
			this.filter.date_init = value[0] ? moment(value[0]).format('YYYY-MM-DD') : null;
			this.filter.date_end = value[1] ? moment(value[1]).format('YYYY-MM-DD') : null;
			this.fetchCashboxes();
		},
		error (message) {
			this.$message.error(message||'Error al procesar');
		},
		success (message) {
			this.$message.success(message||'Proceso Correcto');
		},
		handleTableChange(pagination, filters, sorter){
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetchCashboxes({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				sortOrder: sorter.order,
				...filters,
			});
		},
		// event Range <Picker
		 getCurrentStyle(current, today) {
			const style = {};
			if (current.date() === 1) {
				style.border = '1px solid #1890ff';
				style.borderRadius = '50%';
			}
			return style;
		},
		// event click export
		handleExportClick(e) {
			if(e.key == 'pdf') this.exportPdf();
			if(e.key == 'excel') this.exportExcel();
		},
		async exportPdf() {
			this.filter.user_id = window.USER_ID;
			let url = CashboxRepository.getUrlExportPdf(this.filter);
			window.open(url);
		},
		async exportExcel(){
			this.filter.user_id = window.USER_ID;
			let url = CashboxRepository.getUrlExportExcel(this.filter);
			window.open(url);
		},
		/*showConfirm(transaction,callback) {
			let params = {
				title: 'Codigo de Seguridad?',
				okText: 'Confirmar',
				cancelText: 'Cancelar',
				content: (h) => {return <a-input-password id="user_code"  style="width:150px" size="small" placeholder="Ingrese clave..." />},
				onOk:() => {
					return this.validateCodeUser(transaction,callback)
				},
				onCancel() {
				console.log('Cancel');
				},
			}
			this.$confirm(params);
		},
		async validateCodeUser(data,callback) {
			let result = await this.validateCodeUserRepository();
			let isNotValidCode = Object.keys(result).length === 0;
			if(isNotValidCode) {this.$message.warning('El codigo es incorrecto!!!'); return;} 
			callback(data);
		},
		async validateCodeUserRepository() {
			let user_code = document.getElementById("user_code").value;
			let user_id = 1;
			let {data} = await UserRepository.validateCode({id:user_id,code:user_code});
			return data;
		},*/
		assignDataByConceptsToResumeTable(detail) {
			let debts=[];
			for(let i=0;i<this.checkoutList.length;i++){
				if(detail.market_id && detail.sector_id){
					if(detail.market_id===this.checkoutList[i].market_id && 
					detail.sector_id===this.checkoutList[i].sector_id && 
					detail.concept_id===this.checkoutList[i].concept_id && detail.debt_type===this.checkoutList[i].type){
						debts.push(this.checkoutList[i]);
					}
				}else if(detail.market_id && !detail.sector_id ){
					if(this.checkoutList[i].market_id && !this.checkoutList[i].sector_id && detail.debt_type===this.checkoutList[i].type)
					debts.push(this.checkoutList[i]);
				}else{
					if(!detail.market_id && !detail.sector_id){
						if(!this.checkoutList[i].market_id && !this.checkoutList[i].sector_id && 
						detail.concept_id===this.checkoutList[i].concept_id)
						debts.push(this.checkoutList[i]);
					}
				}
			}
			//let found_concept = this.summaryClosingCashboxByConcepts.find(item => item.concept_id == detail.concept_id);
			return debts;
		}
	}
}
</script>
<style scoped>
	.cashbox__title-opening--mb0,
	.cashbox__title-closing--mb0 {
		margin-bottom: 0;
	}

	.cashbox--min-height {
		height: 1.8em;
	}

	.cashbox-print--mb0 {
		margin-bottom: 0;
	}

	/** estilos en resumen de impresion */
	.label--wd-150 {
		width: 150px;
	}

	.resume-concepts {
		display:inline-block;
		font-size: 12px;
		text-align: left;
	}

	.resume-total {
		display:inline-block;
		width:100px;
		text-align: right;
		margin-right: 10px;
	}

</style>
