<template>
    <div>
    </div>    
    </template>
    <script>
   
   
  
    export default {
        data(){
            return {
              
            }
        },
        mounted() {
            let culqiScript = document.createElement('script')
            culqiScript.setAttribute('src', 'https://checkout.culqi.com/js/v4')
      	    document.head.appendChild(culqiScript);

            Culqi.init();

            Culqi.options({
                installments: false,
                paymentMethods: {
                    tarjeta: false,
                    bancaMovil: true,
                    agente: true,
                    billetera: true,
                    cuotealo: false,
                    yape: true
                },
                style: {
                    logo: 'http://localhost:4200/logo.png',
                    bannerColor: '', // hexadecimal
                    buttonBackground: '', // hexadecimal
                    menuColor: '', // hexadecimal
                    linksColor: '', // hexadecimal
                    buttonText: '', // texto que tomará el botón
                    buttonTextColor: '', // hexadecimal
                    priceColor: 'red' // hexadecimal
                }
            });

            Culqi.settings({
                currency: 'PEN',
                amount: 3500, // Este parámetro es requerido para realizar pagos yape
                order: 'ord_live_0CjjdWhFpEAZlxlz', // Este parámetro es requerido para realizar pagos con pagoEfectivo, billeteras y Cuotéalo
                //xculqirsaid: 'Inserta aquí el id de tu llave pública RSA',
                //rsapublickey: 'Inserta aquí tu llave pública RSA',
            });

            Culqi.validationPaymentMethods();
        console.log(Culqi.paymentOptionsAvailable);

        },
        methods:{
            prepareSettings(){

            },
           
        }
    }
    </script>
    <style scoped>
       
    
    </style>
    