<template>
    <div class="list-debts">
		<div class="table-operations mt-0" >
			<a-form layout="inline">
				<a-checkbox v-if="selectable" @change="selectAllChange" :checked="allselected"><span style="color:#fff" >Todos</span></a-checkbox>
				<a-divider v-if="!date_hidden" type="vertical" /> 
				<a-range-picker v-if="!date_hidden" :locale="locale" @change="changeDate" format="DD/MMM/YYYY" style="width:300px" size="small" :placeholder="['Fecha Inicio', 'Fecha Final']" :default-value="[date_init, date_finish]"></a-range-picker>
			</a-form>
		</div>
		<a-table
		:scroll="{y:300}"
		:columns="columns_table_debts"
		:row-key="(record,index) =>index"
		:data-source="data"
		:customRow="customRow"
		:pagination="false"
		:rowClassName="review_color"
		:loading="loading">
		<span slot="check" slot-scope="text,r"> <a-checkbox v-if="selectable" @change="()=>{r.active=!r.active; sendStands();}" :checked="r.active" disabled="disabled"></a-checkbox> </span>
		<span slot="stand" slot-scope="text,r" style="padding-left:5px">{{r.market.name ? r.market_name : ''}} | {{r.sector_name ? r.sector_name : ''}} | {{r.code ? r.code : ''}}</span>
		<span slot="titular" slot-scope="text,r"> {{r.titular_lastname}}{{r.titular_name}}</span>
		<!-- <template slot='footer'> -->
		<!-- 	<div class="debt-footer"> -->
		<!-- 		<div class="total">Total: {{total.toFixed(2)}}</div> -->
		<!-- 	</div> -->
		<!-- </template> -->
		</a-table>
	</div>
</template>
<script>
import moment from "moment";
import 'moment/locale/es';
moment.locale('es');
import locale from 'ant-design-vue/es/date-picker/locale/es_ES';
import Repository from "../../repositories/RepositoryFactory";
const PersonRepository = Repository.get("person");
const StandRepository = Repository.get("stand");
const {MRCD_CONCEPT_ID,SISA_CONCEPT_ID,BAJP_CONCEPT_ID,MULD_CONCEPT_ID} = require("../../constants");

const columns_table_debts = [
  { title: '-', key:'check',scopedSlots: { customRender: "check" }, width:'20px' },
  { title: 'Puesto.', key: 'stand',scopedSlots:{ customRender:"stand"}},
  { title: 'titular', key: 'titular',scopedSlots: { customRender: "titular" } },
  { title: '-', key: 'expired', width:'30px',scopedSlots: { customRender: "expired" } },
]

export default {
    props:['market_id','sector_id','is_expired','selectable','date_hidden'],
    data(){
        return {
			MRCD_CONCEPT_ID,
			SISA_CONCEPT_ID,
			BAJP_CONCEPT_ID,
			MULD_CONCEPT_ID,
			allselected:false,
            data:[],
            search:null,
            loading:false,
			columns_table_debts,
			locale,
			moment,
			total:0,
			filter:{},
        }
    },
    mounted(){
		if(this.date_init) this.filter.date_init = this.date_init.format('YYYY-MM-DD');
		if(this.date_finish)  this.filter.date_end = this.date_finish.format('YYYY-MM-DD');
			
		this.fetch();
    },
    methods:{
		review_color(record,index){
			return record.expired_days>60?"debt-expired":"";
		},
        async fetch(){
            if(!this.sector_id && !this.market_id) return;
			let params = {sector_id:this.sector_id, market_id:this.market_id, ...this.filter};
			//si tipo=fractionary_debt|normal_debt|allt
			params.no_paginate=true;
            const {data} = await StandRepository.list(params); 
			const active = this.selectable?false:true;
			data.forEach(item => { item.active = active;});
			this.data = data;
			this.sendStands();
		},
		sendStands(){
            let result = {
				is_list_ckecked: this.data.filter(e=>e.active).length > 0,
				stands: this.selectable ? this.data.filter(e=>e.active) : this.data
			};
			this.$emit('changeStands',result);
		},
		selectAllChange(){	
			console.log("xxx", this.allselected);
			this.allselected=!this.allselected;
			this.data.forEach(e=>{e.active=!e.active;});
			this.sendStands();
		},
		changeDate(value, dateString) {
			this.allselected=false;
			this.filter.date_init = value[0] ? moment(value[0]).format('YYYY-MM-DD') : null;
			this.filter.date_end = value[1] ? moment(value[1]).format('YYYY-MM-DD') : null;
			this.fetch();
		},
        customRow(record, index){
        return {
            on: {
                click: async () => {
						// this.listPaymentTitular = record;
						// var debt = {};
						// debt.amount = 1;
						// debt.detail = record.concept_code == 'MUL' ? `${record.concept_code} : ${record.stand_name} => ${record.debt_date_at}` : `${record.concept_code} : PTO ${record.stand_code} - ${record.sector_code} - ${record.market_code} => ${record.debt_date_at}`;
						// debt.total = record.debt_total;
						// debt.debt_id = record.debt_id;
						// let is_added_debt = (this.transaction.transactiondetails.findIndex(detail => detail.debt_id == record.debt_id) > -1) ? true : false;
						// if(is_added_debt) {this.$message.warning(`Deuda ${debt.detail} ${debt.total} ya agregada!!!`); return;}
						// this.transaction.transactiondetails.push(debt);

						// this.transaction.total = this.transaction.transactiondetails.reduce((accum,item) => accum += Number.parseFloat( item.total) ,0 ).toFixed(2)
                    }
                }
            };
		},
    }
}
</script>
<style scoped>
.list-debts {
		padding: 5px;
		/* border-radius: 3px;
		border: 1px solid rgba(0,0,0,.2);
		-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
		box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75); */
	}
.table-operations-title {
		margin-bottom: 0;
	}
	.table-operations-message i {
		color: greenyellow;
	}
	
	.table-operations-message {
		color: #ffffff;
		font-weight: bold;
	}
    .mt-0 {
		margin-top: 0;
	}
	
	.column-money{
		 display:inline-block;width:100%;text-align:right; padding:0 10px 0 5px;
	}
	.debt-footer{
		text-align: right;
	}

	.debt-expired{
		background-color:rgba(255, 238, 0, 0.1);	
	}


</style>
