<template>
    <div class="list-debts">
		<div class="table-operations mt-0" >
			<a-form layout="inline">
				<a-checkbox v-if="selectable" @change="selectAllChange" :checked="allselected"><span style="color:#fff" >Todos</span></a-checkbox>
				<a-divider v-if="!date_hidden" type="vertical" /> 
				<a-range-picker v-if="!date_hidden" :locale="locale" @change="changeDate" format="DD/MMM/YYYY" style="width:300px" size="small" :placeholder="['Fecha Inicio', 'Fecha Final']" :default-value="[date_init, date_finish]"></a-range-picker>
			</a-form>
		</div>
		<a-table
		:scroll="{y:300}"
		:columns="columns_table_debts"
		:row-key="(record,index) =>index"
		:data-source="data"
		:customRow="customRow"
		:pagination="false"
		:rowClassName="review_color"
		:loading="loading">
		<span slot="check" slot-scope="text,r"> <a-checkbox v-if="selectable" @change="()=>{r.active=!r.active; calc_total();}" :checked="r.active"></a-checkbox> </span>
		<span slot="concept_code" slot-scope="text,r" style="padding-left:5px">{{r.concept_code}}{{(r.type=='FRA'?'-F':'')}}</span>
		<span slot="ref" slot-scope="text,r"> 
			{{ r.type=='FRA'?r.ref_code: 
				(r.concept_id==MRCD_CONCEPT_ID||r.concept_id==SISA_CONCEPT_ID||r.concept_id==BAJP_CONCEPT_ID?`Pto:${r.stand_code}| ${r.sector_code}| ${r.market_code}`:
				( r.concept_id==MULD_CONCEPT_ID?`${r.code}: ${r.stand_name}`:`${r.concept_id}-${MULD_CONCEPT_ID}---` )) }}
		</span>
		<span slot="date_at" slot-scope="text,r">{{ moment(r.debt_date_at).format('YYYY.MMM') }}</span>
		<span slot="expired" slot-scope="text,r" :title="r.expired_days>0?'Vencida':''">{{r.expired_days>0?'V':''}}</span>
		<span slot="total" slot-scope="text,r" class="column-money">{{ Number.parseFloat(r.debt_total).toFixed(2)}}</span>
		<template slot='footer'>
			<div class="debt-footer">
				<div class="total">Total: {{total.toFixed(2)}}</div>
			</div>
		</template>
		</a-table>
	</div>
</template>
<script>
import moment from "moment";
import 'moment/locale/es';
moment.locale('es');
import locale from 'ant-design-vue/es/date-picker/locale/es_ES';
import Repository from "../../repositories/RepositoryFactory";
const PersonRepository = Repository.get("person");
const DebtRepository = Repository.get("debt");
const {MRCD_CONCEPT_ID,SISA_CONCEPT_ID,BAJP_CONCEPT_ID,MULD_CONCEPT_ID} = require("../../constants");

const columns_table_debts = [
  { title: '-', key:'check',scopedSlots: { customRender: "check" }, width:'20px' },
  { title: 'Concept.', key: 'concept_code', width:'80px',scopedSlots:{ customRender:"concept_code"}},
  { title: 'Ref.', key: 'ref',scopedSlots: { customRender: "ref" } },
  { title: 'Fecha', key: 'date_at', width:'80px',scopedSlots: { customRender: "date_at" } },
  { title: 'Monto', key: 'total', width:'80px',scopedSlots: { customRender: "total" } },
  { title: '-', key: 'expired', width:'30px',scopedSlots: { customRender: "expired" } },
]

export default {
    props:['client_id','concept_id','stand_id','type','is_expired','date_init','date_finish','selectable','date_hidden'],
    data(){
        return {
			MRCD_CONCEPT_ID,
			SISA_CONCEPT_ID,
			BAJP_CONCEPT_ID,
			MULD_CONCEPT_ID,
			allselected:false,
            data:[],
            search:null,
            loading:false,
			columns_table_debts,
			locale,
			moment,
			total:0,
			filter:{},
        }
    },
    mounted(){
		if(this.date_init) this.filter.date_init = this.date_init.format('YYYY-MM-DD');
		if(this.date_finish)  this.filter.date_end = this.date_finish.format('YYYY-MM-DD');
			
		this.fetch();
    },
    methods:{
		review_color(record,index){
			return record.expired_days>60?"debt-expired":"";
		},
        async fetch(){
            if(!this.client_id) return;
			let params = {stand_id:this.stand_id, concept_id:this.concept_id, type:this.type,...this.filter};
			//si tipo=fractionary_debt|normal_debt|allt
			params.no_paginate=true;
			const {data} = await DebtRepository.getAccountStatusByTitular(this.client_id,0,params);
			const active = this.selectable?false:true;
			data.forEach(item => { item.active = active;});
			this.data = data;
			this.calc_total();
		},
		calc_total(){
			this.total = this.selectable ? this.data.filter(e=>e.active).reduce((s,e)=>s+Number.parseFloat(e.debt_total),0) : this.data.reduce((s,e)=>s+Number.parseFloat(e.debt_total),0) ;
			this.$emit('changeDebts',{
				total:this.total, 
				is_list_ckecked: this.data.filter(e=>e.active).length > 0,
				debts: this.selectable ? 
				
				this.data.filter(e=>e.active).map(e=>{return {
				id:e.debt_id,
				concept_code:e.concept_code,
				ref:e.ref, 
				date_at:e.debt_date_at,
				total:e.debt_total,
				code:e.code, 
				ref_code:e.ref_code
			} }) : 
			
				this.data.map(e=>{return {
				id:e.debt_id,
				concept_code:e.concept_code,
				ref:e.ref, 
				date_at:e.debt_date_at,
				total:e.debt_total,
				code:e.code, 
				ref_code:e.ref_code
			} })

			});
		},
		selectAllChange(){
			this.data.forEach(e=>{e.active=!e.active;});
			this.calc_total();
		},
		changeDate(value, dateString) {
			this.allselected=false;
			this.filter.date_init = value[0] ? moment(value[0]).format('YYYY-MM-DD') : null;
			this.filter.date_end = value[1] ? moment(value[1]).format('YYYY-MM-DD') : null;
			this.fetch();
		},
        customRow(record, index){
        return {
            on: {
                click: async () => {
						// this.listPaymentTitular = record;
						// var debt = {};
						// debt.amount = 1;
						// debt.detail = record.concept_code == 'MUL' ? `${record.concept_code} : ${record.stand_name} => ${record.debt_date_at}` : `${record.concept_code} : PTO ${record.stand_code} - ${record.sector_code} - ${record.market_code} => ${record.debt_date_at}`;
						// debt.total = record.debt_total;
						// debt.debt_id = record.debt_id;
						// let is_added_debt = (this.transaction.transactiondetails.findIndex(detail => detail.debt_id == record.debt_id) > -1) ? true : false;
						// if(is_added_debt) {this.$message.warning(`Deuda ${debt.detail} ${debt.total} ya agregada!!!`); return;}
						// this.transaction.transactiondetails.push(debt);

						// this.transaction.total = this.transaction.transactiondetails.reduce((accum,item) => accum += Number.parseFloat( item.total) ,0 ).toFixed(2)
                    }
                }
            };
		},
    }
}
</script>
<style scoped>
.list-debts {
		padding: 5px;
		/* border-radius: 3px;
		border: 1px solid rgba(0,0,0,.2);
		-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
		box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75); */
	}
.table-operations-title {
		margin-bottom: 0;
	}
	.table-operations-message i {
		color: greenyellow;
	}
	
	.table-operations-message {
		color: #ffffff;
		font-weight: bold;
	}
    .mt-0 {
		margin-top: 0;
	}
	
	.column-money{
		 display:inline-block;width:100%;text-align:right; padding:0 10px 0 5px;
	}
	.debt-footer{
		text-align: right;
	}

	.debt-expired{
		background-color:rgba(255, 238, 0, 0.1);	
	}


</style>
