<template>
	<div>
		<div class="content">
			<h1 class="content__title">LISTADO DE PAGOS</h1>
			<hr class="content__divider" />
			<a-alert v-if="!isOpenCashbox" message="Caja no esta aperturada y/o cerrada" type="warning" show-icon />
			<a-button v-if="isOpenCashbox" type="primary" size="small" @click="prepareTransaction">Nuevo</a-button>
			<div :key="refresh_table">
				<div class="table-operations">
					<a-form layout="inline">

						<a-input v-model="filter.search" v-on:keyup.enter="fetchTransaction()" style="width:200px"
							size="small" placeholder="Buscar..." />
						<a-range-picker :locale="locale" @change="changeDate" format="DD/MMM/YYYY" style="width:300px"
							size="small" :placeholder="['Fecha Inicio', 'Fecha Final']"
							:default-value="[filter.date_init, filter.date_end]">
						</a-range-picker>

						<a-button type="primary" size="small" @click="fetchTransaction()">Buscar</a-button>
						<a-divider type="vertical" />

						<a-dropdown-button type="primary" size="small">
							Exportar
							<a-menu slot="overlay" @click="handleExportClick">
								<a-menu-item key="pdf"><a-icon type="file-pdf" /> PDF </a-menu-item>
								<a-menu-item key="excel"><a-icon type="file-excel" /> Excel </a-menu-item>
							</a-menu>
						</a-dropdown-button>

						<a-divider type="vertical" />

						<a-dropdown-button type="primary" size="small">
							Exportar Detallado
							<a-menu slot="overlay" @click="handleDetailedExportClick">
								<a-menu-item key="pdf"><a-icon type="file-pdf" /> PDF </a-menu-item>
								<a-menu-item key="excel"><a-icon type="file-excel" /> Excel </a-menu-item>
							</a-menu>
						</a-dropdown-button>

					</a-form>
				</div>
				<a-table :columns="columns" :row-key="record => record.id" :data-source="lisTransactions"
					:pagination="pagination" :scroll="{ x: '100%' }" :loading="loading" @change="handleTableChange">
					<span slot="client" slot-scope="text,record">{{ record.client.name }} {{ record.client.lastname
					}}</span>
					<span slot="user" slot-scope="text,record">{{ record.user.name }} - {{ record.user.username }}</span>
					<span slot="client_dni" slot-scope="text,record">{{ record.client.dni }}</span>
					<span slot="status" slot-scope="text,record">{{ record.status == '1' ? 'Pagado' : 'Extornado' }}</span>
					<span slot="action" slot-scope="text,record">
						<a href="javascript:;" @click="showConfirmPrintTransaction(record)" title="Inprimir"><a-icon
								type="printer" /></a>
						<a-divider type="vertical" />
						<a href="javascript:;" v-if="record.status == 1" @click="showConfirm(record.id, editTransaction)"
							title="Editar"><a-icon type="edit" /></a>
						<a-divider type="vertical" v-if="record.status == 1" />
						<a-popconfirm title="Seguro?" @confirm="() => showConfirm(record, removeTransaction)">
							<a href="javascript:;" v-if="record.status == 1" title="Eliminar"><a-icon type="delete" /></a>
						</a-popconfirm>
					</span>

					<template slot="footer" slot-scope="currentPageData">
						<div class="table-footer-principal"><b>Suma Total:</b> {{ transactions_total }}</div>
					</template>
				</a-table>
			</div>

			<a-modal :width="'95%'" title="Nuevo Pago" :class="['modal-full-size', 'modal-content-full-size']"
				:visible="showModalMer" :dialogStyle="{ 'top': '20px' }" on-ok="saveTransaction" :key="showModalMer"
				v-model="showModalMer">
				<template slot="footer">
					<a-button key="back" @click="showModalMer = false, refresh_table++">Cerrar</a-button>
					<a-button v-show="transaction.payment_method=='izipay'" key="paymentService" type="primary" @click="prepparePaymentService" :disabled="disabledButton">Izipay</a-button>
					<a-button v-show="transaction.payment_method=='cash'" key="submit" type="primary" id="pay-amount" @click="saveTransaction" :disabled="disabledButton">Pagar</a-button>
				</template>
				<a-row :gutter="16">
					<div class="slider" id="slider">
						<div class="holder">
							<div class="slide" id="slide-0">
								<a-col class="gutter-row" :xs="24" :lg="12">
									<a-form-model ref="transaction" v-model="transaction" :rules="rules" layout="vertical">
										<a-row :gutter="16">
											<a-col class="gutter-row" :xs="24" :lg="user.role_id == RT_COBRA ? 14 : 16">
												<a-form-model-item label="Nombre:" prop="name">
													<select-stand-people-component :client_id="transaction.client_id"
														:size="'default'" v-on:handleSelectStands="changeSelectStand"
														:disabled="transaction.id ? true : false" :key="titular_key" />
												</a-form-model-item>

											</a-col>
											<!--<a-col v-if="user.role_id == RT_COBRA" class="gutter-row" :xs="user.role_id == RT_COBRA ? 9 : 5" :lg="5" >
											<a-form-model-item label="Codigo" prop="code">
												<a-input v-model="transaction.code" />
											</a-form-model-item>
										</a-col>-->
											<a-col class="gutter-row" :xs="24" :lg="8">
												<a-form-model-item label="Fecha:" prop="date">
													<a-date-picker format="DD-MM-YYYY HH:mm:ss" style="width:100%"
														:value="moment(transaction.date_at)" disabled />
												</a-form-model-item>
											</a-col>
										</a-row>
										<a-row>
											<a-col class="gutter-row" :xs="24" :lg="8">
												<a-form-model-item label="Metodo de Pago:" prop="payment_method">
													<a-select v-model:value="transaction.payment_method" style="width: 120px">
														<a-select-option value="cash">Efectivo</a-select-option>
      													<a-select-option value="izipay">Yape</a-select-option>													</a-select>
												</a-form-model-item>
													
											</a-col>
										</a-row>
									</a-form-model>
									<a-table :scroll="{ x: 'auto', y: 250 }" :columns="columns_table_payment"
										:row-key="(record, index) => Math.random() * 10 + index"
										:data-source="transaction.transactiondetails" :pagination="false"
										:loading="loading">
										<span slot="number" slot-scope="text,record,index">{{ index + 1 }}</span>
										<span slot="total" slot-scope="text,record"
											style="display:flex;justify-content:right;"><a-input
												@change="calculateItemTransactionDetails()" v-model="record.total"
												style="width:80px;text-align:right" size="small" /></span>
										<span slot="action" slot-scope="text, record">
											<a href="javascript:;"
												@click="removeItemTransactionDetail(record.debt_id)"><a-icon
													type="delete" /></a>
										</span>
										<template slot="footer">
											<div class="table-footer-modal">
												<div :key="update_amount"><b style="margin-right:30px">Total:</b>
													{{ transaction.total }}</div>
												<div v-if="transaction.payment_method=='cash'">
													<b>Efectivo:</b> 
													<a-input v-model="transaction.cash"	style="width:60px;text-align:right" size="small" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" />
												</div>
												<div
													v-if="Math.abs(Number.parseFloat(transaction.cash) - transaction.total) > 0">
													<b style="margin-right:20px">Vuelto:</b>
													{{ Math.abs(Number.parseFloat(transaction.cash) -
														transaction.total).toFixed(2) }}
												</div>
											</div>
										</template>
									</a-table>
									<!--   ### Comentario #######
								<a-textarea
								v-model="transaction.comment"
								placeholder="Controlled autosize"
								:auto-size="{ minRows: 3, maxRows: 5 }"
								/> -->
								</a-col>
							</div>
							<div class="slide" id="slide-1">
								<a-col class="gutter-row" :xs="24" :lg="12">
									<div class="list-debts">
										<p class="table-operations-title">Lista de Deudas Merced</p>
										<div class="table-operations mt-0">
											<a-form layout="inline">
												<a-input v-model="debt_filter.search"
													v-on:keyup.enter="refreshDebtsTitular()" style="width:200px"
													size="small" placeholder="Buscar..." />
												<a-button type="primary" @click="refreshDebtsTitular()"
													size="small">Buscar</a-button>
												<a-divider type="vertical" />
												<span class="table-operations-message"><a-icon type="check-square" /> Dar
													click a las deudas. </span>
											</a-form>
										</div>
										<a-table :data-source="debtsTitular" :customRow="customRow"
											:rowClassName="rowClassName" :scroll="{ x: '100%', y: 300 }"
											:columns="columns_table_debts" :row-key="(record, index) => index"
											:pagination="paginationRefreshDebt" @change="handleRefreshDebtTableChange"
											:loading="loading">
											<span slot="concept_code" slot-scope="text,r">{{ r.concept_code }}{{ (r.type ==
												'FRA' ? '-F' : '') }}</span>
										</a-table>
									</div>
								</a-col>
							</div>
						</div>
					</div>
				</a-row>
			</a-modal>

			<a-modal title="Pago por Pasarela" :visible="showModalPaymentService" @ok="saveTransaction()"
				@cancel="showModalPaymentService = false" cancelText="Cancelar" okText="Pagar">
				
			</a-modal>

			<a-modal :width="400" title="Impresión de Pago" :visible="showModalPrint" @ok="printTransaction()"
				@cancel="showModalPrint = false" cancelText="Cancelar" okText="Imprimir">
				<print-transaction-component :transaction="transaction" :company="company"
					:key="transaction.transactiondetails.length" />
			</a-modal>

		</div>
	</div>
</template>
<script>
const paymentGateway = "culqi";
const culqiPublickey = "pk_test_dc9afec6dded235f";//conseguir mplp

let urlScript = null;
switch (paymentGateway) {
	case 'izipay': urlScript="https://testcheckout.izipay.pe/payments/v1/js/index.js"; break;
	case 'culqi': urlScript="https://checkout.culqi.com/js/v4"; break;
	default:console.log("sin pasarela"); break;
}

if(urlScript){
	let script = document.createElement('script')
	script.setAttribute('src', urlScript)
	document.head.appendChild(script);
	console.log("script culqi agrgrado");
}


import moment from "moment";
import 'moment/locale/es';
moment.locale('es');
import locale from 'ant-design-vue/es/date-picker/locale/es_ES';
import JQuery from 'jquery';
let $ = JQuery;
import Repository from "../../repositories/RepositoryFactory";

import culqiCashOut from "../../cuilqi";

const PersonRepository = Repository.get("person");
const TransactionRepository = Repository.get("transaction");
const DebtRepository = Repository.get("debt");
const CashboxRepository = Repository.get("cashbox");
const CompanyRepository = Repository.get("company");
const UserRepository = Repository.get("user");
const IzipayRepository = Repository.get("izipay");
const CulqiRepository=  Repository.get("culqi");



import printJS from 'print-js'
const { MRCD_CONCEPT_ID, SISA_CONCEPT_ID, BAJP_CONCEPT_ID, MULD_CONCEPT_ID, DDM_CONCEPT_ID, ARR_CONCEPT_ID, FRAC_CODE, COMPANY_ID, USER_SU, RT_COBRA } = require("../../constants");
//link: https://css-tricks.com/the-javascript-behind-touch-friendly-sliders/
var slider = {
	el: {slider: $("#slider"), allSlides: $(".slide")},
	init: function () {
		// manual scrolling
		this.el.slider.on("scroll", function (event) { slider.moveSlidePosition(event);});
	},
	moveSlidePosition: function (event) {
		// Magic Numbers
		this.el.allSlides.css({ "background-position": $(event.target).scrollLeft() / 6 - 100 + "px 0"});
	}
};

slider.init();

let timeout;
let currentValue;

function fetchPersons(value, callback) {
	if (timeout) {
		clearTimeout(timeout);
		timeout = null;
	}
	currentValue = value;
	async function fake() {
		const { data } = await PersonRepository.list({ search: currentValue });
		// this.cmb_persons = data
		if (currentValue === value) {
			const result = data.data;
			const tmp_data = [];
			result.forEach(item => {
				tmp_data.push({ value: item.id, text: `${item.name} ${item.lastname} (${item.dni})`, });
			});
			callback(tmp_data);
		}

	}
	timeout = setTimeout(fake, 300);
}

const columns = [
	{ title: 'Correlativo', dataIndex: 'code', width: '100px' },
	{ title: 'Fecha', dataIndex: 'date_at', width: '150px' },
	{ title: 'Responsable', key: 'user', scopedSlots: { customRender: "user" }, width: '250px' },
	{ title: 'Cliente', key: 'client', scopedSlots: { customRender: "client" }, width: '300px' },
	{ title: 'DNI', key: 'client_dni', scopedSlots: { customRender: "client_dni" }, width: '100px', align: 'center' },
	{ title: 'Monto', dataIndex: 'total', align: 'right', width: '80px' },
	{ title: 'Estado', key: 'status', scopedSlots: { customRender: "status" }, width: '74px' },
	{ title: '-', key: 'action', scopedSlots: { customRender: "action" }, fixed: 'right', width: '120px', align: 'center' }
];

const columns_table_payment = [
	{ title: 'N°', key: 'number', scopedSlots: { customRender: "number" } },
	{ title: 'Concepto', dataIndex: 'detail' },
	{ title: 'Monto', key: 'total', scopedSlots: { customRender: "total" }, width: '110px' },
	{ title: '-', key: 'action', scopedSlots: { customRender: "action" }, width: '40px', align: 'center' },
	//   { title: 'Importe', dataIndex: 'total'}
]

const columns_table_debts = [
	//   { title: '-', key:'check',scopedSlots: { customRender: "check" } },
	//   { title: 'Merc.', dataIndex: 'market_code' },
	{ title: 'Concept.', key: 'concept_code', width: '70px', scopedSlots: { customRender: "concept_code" } },
	{ title: 'Ref.', dataIndex: 'code', width: '200px' },
	{ title: 'Fecha', dataIndex: 'debt_date_at', width: '75px' },
	{ title: 'Monto', dataIndex: 'debt_total', width: '80px', align: 'right', fixed: 'right' },
]

const izipay={
	merchantCode:''
}
/*---------- */
export default {
	data() {
		return {
			cmb_persons: [],
			debtsTitular: [],
			// lista Pagos del titular en el modal
			listPaymentTitular: [],
			// Controlador de deudaas seleccionadas
			lisTransactions: [],
			// #### date picker
			mode2: ['month', 'month'],
			value: [],
			// saveTransaction data transaction
			transaction: { transactiondetails: [], client: [] },
			transaction_copy: {},
			mode1: 'time',
			payment: {},
			cashbox: {},
			filter: { date_init: moment(), date_end: moment() },
			rules: {
				name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			pagination: {},
			paginationRefreshDebt: {},
			company: {},
			user: {},
			transactions_total: 0,
			showModalPrint: false,
			showModalMer: false,
			loading: false,
			isOpenCashbox: false,
			showModal: false,
			MRCD_CONCEPT_ID,
			SISA_CONCEPT_ID,
			BAJP_CONCEPT_ID,
			MULD_CONCEPT_ID,
			DDM_CONCEPT_ID,
			ARR_CONCEPT_ID,
			RT_COBRA,
			FRAC_CODE,
			USER_SU,
			columns,
			locale,
			// manejo de fechas
			moment,
			// columnas de impresión
			columns_table_payment,
			columns_table_debts,
			password_edit_or_delete: "",
			description_edit_or_delete: "",
			enable_button: false,
			debt_filter: {},
			update_amount: 0,
			refresh_table: 0,
			titular_key: 1,
			//manejo de button disable
			disabledButton: false, // Inicialmente el botón no está deshabilitado
			showModalPaymentService:false,
		}
	},
	mounted() {
		
		this.filter.date_init = moment().format('YYYY-MM-DD');
		this.filter.date_end = moment().format('YYYY-MM-DD');
		this.getCashboxes()
		this.fetchTransaction();
		this.fetchUser();
		this.fetchCompany();
	},
	methods: {

		async izipayMethod(){
			const {data} = IzipayRepository.createToken({merchantCode:izipay.merchantCode,amount:this.transaction.total});
			
			try {
				const iziConfig = {
					config: {
						transactionId: data.trxId,//{TRANSACTION_ID}
						action: 'pay',
						merchantCode: data.merchantCode,//{MERCHANT_CODE}
						order: {
						orderNumber: data.orderNumber,//{ORDER_NUMBER}
						currency: 'PEN',
						amount: '1.50',
						processType: 'AT',
						merchantBuyerId: data.merchantCode,//{MERCHANT_CODE}
						dateTimeTransaction: '1670258741603000',
						},
						billing: {
						firstName: 'Juan',
						lastName: 'Wick Quispe',
						email: 'jwickq@izi.com',
						phoneNumber: '958745896',
						street: 'Av. Jorge Chávez 275',
						city: 'Lima',
						state: 'Lima',
						country: 'PE',
						postalCode: '15038',
						documentType: 'DNI',
						document: '21458796',
						},
						render: {typeForm: 'pop-up',},
					},
					};
				const checkout = new Izipay({ config: iziConfig });

				//mostrar modal
				try {
				checkout &&
					checkout.LoadForm({
					authorization: data.token,
					keyRSA: 'KEY_RSA',
					callbackResponse: callbackResponsePayment,
					});
				} catch (error) {
				console.log(error.message, error.Errors, error.date);
				}

			} catch (error) {
				console.log(error.message, error.Errors, error.date);
			}
		},

		async culqiMethod(){
			culqiCashOut.init();
			try {
				let amount = 10;
				let user = {client:{phone:'+51987699591', currency:'PEN', document:'43655065',name:'Juan',lastname:'Reyna', email:'unasbrian@gmail.com'}};
				const expire = moment().add(1, "days");
				const client_details = {
					first_name: user.client.name,
					last_name: user.client.lastname || ".",
					email: user.email,
					phone_number: user.client.phone,
				};
				const metadata = { dni: user.client.document };
				const order_number =user.client.document + "-" + moment().format("x"); // "#id-9999";//"#id-9999"; // moment().format("x")
				const expiration_date = expire.unix(); //1672573541; //expire.format("x")
				const newOrder = {
					amount: amount * 100,
					confirm: false,
					currency_code: user.client.currency,
					description: "Venta",
					order_number,
					expiration_date,
					client_details,
					metadata,
				};
				const {data} = await CulqiRepository.createOrder(newOrder);
				/*culqiCashOut.start(data.id, user.client.currency, amount * 100);
				culqiCashOut.getPaymentOptions();
				culqiCashOut.processCheckout();
*/
				//pagar en BD.

			} catch (error) {
				console.log(error);
	
				alert("Error al procesar pago");
			}
		},

		async prepparePaymentService(){
			switch(paymentGateway){
				case 'culqi': this.culqiMethod(); break;
				case 'izipay': this.izipayMethod(); break;
				default: alert("no Metodo"); 
			}
		},

		async callbackResponsePayment(response){
			console.log(response);
		},

		async getCashboxes(params = {}) {
			//	if(window.USER_ID != USER_SU) 
			params.user_id = window.USER_ID;
			let { data } = await CashboxRepository.list(params);
			this.getStatusOpenCashbox(data.data);
		},
		getStatusOpenCashbox(data) {
			data.forEach(item => {
				if ((moment(item.date_init).format('YYYY-MM-DD') == moment().format('YYYY-MM-DD')) && (item.date_end == null)) {
					this.isOpenCashbox = true
					this.cashbox = item;
				};
			})
		},
		async fetchCompany() {
			const { data } = await CompanyRepository.get(COMPANY_ID);
			this.company = data;
		},
		async fetchUser() {
			const { data } = await UserRepository.get(window.USER_ID);
			this.user = data;
		},
		async fetchTransaction(params) {
			params = { ...params, ...this.filter };
			this.loading = true;
			if(window.USER_ID!=1) params.user_id = window.USER_ID;
			try {
				const { data } = await TransactionRepository.list(params);
				this.lisTransactions = data.data.data;
				const pagination = { ...this.pagination };
				pagination.total = data.data.total;
				this.pagination = pagination;
				this.transactions_total = Number.parseFloat(data.transactions_total ? data.transactions_total : 0).toFixed(2);
				this.loading = false;
				this.lisTransactions.forEach(item => {
					item.date_at = moment(item.date_at).format('DD-MM-YYYY HH:mm:ss');
					item.total = item.total.toFixed(2);
				});
			} catch (error) {
				this.error();
			}
		},
		prepareTransaction() {
			this.showModalMer = true;
			this.debtsTitular = [];
			this.transaction = {
				client_id: undefined,
				client: [],
				user: {},
				payment_method:'cash',
				date_at: moment(),
				transactiondetails: [],
				cashbox_id: this.cashbox.id,
				user_id: window.USER_ID,
			};
			this.listPaymentTitular = [];
			this.debt_filter.search = null;
			setTimeout(() => { this.titular_key++; }, 500);
		},
		async saveTransaction() {
			if (!this.isValidatedTransactionDetails()) return;
			this.disabledButton = true;

			let x = document.getElementById("pay-amount");//para que no se registre dos veces
			x.style.display = "none";//para que no se registre dos veces
			this.showModalMer = false;
			this.loading = true;
			let payload = this.transaction;
			let id_transacion = payload.id;
			payload.date_at = moment(payload.date_at).format('YYYY-MM-DD HH:mm:ss'); // convierte la fecha en formato string
			try {
				let data = await TransactionRepository.save(payload);
				payload.user = {};
				payload.user.name = this.user.name;
				payload.user.role_id = this.user.role_id;
				payload.code = data.data.code;
				if (!id_transacion) { this.preparePrintTransaction(payload); }//abre el modal de impresion
				this.fetchTransaction();

				this.success();
			} catch (error) {

				this.error();
			}
			this.loading = false;
			this.disabledButton = false;
		},
		isValidatedTransactionDetails() {
			let isValid = true;
			if (!this.transaction.transactiondetails.length > 0) {
				this.$message.warning('Seleccione minimo una deuda, por favor!!!');
				isValid = false;
			};
			if (this.transaction.total == 0) {
				this.$message.warning('Ingrese un monto mayor a cero, por favor!!!');
				isValid = false;
			}
			/*if(this.user.role_id == RT_COBRA){
				if(!this.transaction.code){this.$message.warning('Ingrese codigo!!!'); isValid=false;}
			}*/
			return isValid;
		},
		async removeTransaction(data) {
			data.message_delete = document.getElementById("user_comment").value;
			data.user_id_delete = window.USER_ID;
			data.date_delete = moment(new Date()).format('YYYY-MM-DD HH:mm:ss');
			let payload = data;
			try {
				await TransactionRepository.delete(payload);
				this.success();
				this.fetchTransaction();
			} catch (error) {
				this.error();
			}
		},
		editTransaction(id) {
			this.titular_key++;
			this.transaction = { transactiondetails: [], client: [] };
			let d = this.lisTransactions.find(item => item.id === id);
			this.transaction = { ...d }

			this.transaction.message_edit = document.getElementById("user_comment").value;
			this.transaction.user_id_edit = window.USER_ID;
			this.transaction.date_edit = moment(new Date()).format('YYYY-MM-DD HH:mm:ss');

			//this.transaction_copy={...data};//se crea la copia por si no le manda guardar a la edicion
			this.transaction.date_at = moment(this.transaction.date_at, 'DD-MM-YYYY hh:mm:ss');
			this.refreshDebtsTitular();
			// TODO this.listPaymentTitular -> no se esta usando refactorizar
			//this.listPaymentTitular = this.transaction.transactiondetails;//////

			this.transaction.transactiondetails.forEach(item => { item.total = Number.parseFloat(item.total).toFixed(2) });
			//setTimeout(()=>{this.titular_key++;},1500);
			this.showModalMer = true;
			//debugger;
		},
		showConfirmPrintTransaction(data) {
			let params = {
				title: 'Codigo de Seguridad?',
				okText: 'Confirmar',
				cancelText: 'Cancelar',
				content: (h) => {
					return <div>
						<a-input-password id="user_code_box" style="width:150px" size="small" placeholder="Ingrese clave..." />
					</div>
				},
				okButtonProps: {
					props: { disabled: this.enable_button },
				},
				onOk: async () => {
					let result = await this.validateCodeUserRepository(document.getElementById("user_code_box").value);
					let isNotValidCode = Object.keys(result).length === 0;
					if (isNotValidCode) { this.$message.warning('El codigo es incorrecto!!!'); return; }
					if (!document.getElementById("user_code_box").value) { this.$message.warning('Rellene los datos sugeridos!!!'); return; }
					this.preparePrintTransaction(data);
				},
				onCancel() {
					console.log('Cancel');
				},
			}
			this.$confirm(params);
		},
		preparePrintTransaction(data) {
			this.transaction = { ...data };
			console.log("transaction", this.transaction);
			this.transaction.transactiondetails.forEach(item => { item.total = Number.parseFloat(item.total).toFixed(2) })
			this.showModalPrint = true;
		},
		async printTransaction() {
			//impresion menos para los comisionista
			///print
			var printContents = document.getElementById("payment_print").innerHTML;
			var a;
			if (this.user.role_id != RT_COBRA) {
				a = window.open('', 'PRINT', 'height=auto, width=1000');
				a.document.write(`
				<html>
					<head>
						<style>
						*,body {
							font-size:10px;
							box-sizing: border-box;
							padding:0;
							border;0;
						}
						.applying_flex{
							display: flex;
							justify-content: space-between;
						}
						/*#payment_print {
							margin-bottom: 20px;
						}*/
						.payment_print__header {
							display: flex;
							justify-content: space-between;
						}
						.payment_print__header__logo img{
							width: 45px;
						}
						.payment_print__header__logo {
							height: 45px;
						}
						.payment_print__header__data  {
							display: flex;
							text-align:right;
							flex-direction: column;
							font-size: 8px;
						}

						.payment_print__body {
							display: flex;
							flex-direction: column;
						}

						.payment_print__body span {
							line-height: 1.5em;
							font-size:8px;
						}

						.payment_print__body table {
							margin-top: 10px
						}

						.payment_print__body__area {
							margin-top: 10px;
						}

						.payment_print__body__title {
							text-align: center;
							margin: 7px 0;
							font-size: 11px;
						}

						.table-footer {
							text-align: right;
							float: initial;
							padding-right: 6px;
							font-weight: 900;
							font-size: 10px;
							margin-right:2px;
							padding-right:0;
						}

						/** style table */
						
						.ant-table {
							box-sizing: border-box;
							margin: 0;
							padding: 0;
							color: rgba(0, 0, 0, 0.65);
							font-variant: tabular-nums;
							line-height: 1.5;
							list-style: none;
							font-feature-settings: 'tnum';
							position: relative;
							clear: both;
						}
						.ant-table-body {
							transition: opacity 0.3s;
						}

						.ant-table table {
							width: 100%;
							text-align: left;
							border-radius: 4px 4px 0 0;
							border-collapse: separate;
							border-spacing: 0;
						}
						.payment_print__body p{
							margin:0;padding:0;
						}
						.payment_print__body .name-muni{
							margin-top:8px !important;
						}
						.ant-table-thead > tr, .ant-table-tbody > tr {
							transition: all 0.3s, height 0s;
						}

						.ant-table-thead > tr:first-child > th:first-child {
							border-top-left-radius: 4px;
						}

						.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
							padding: 16px 16px;
							overflow-wrap: break-word;
						}

						.ant-table-thead > tr > th {
							color: color:#000;
							font-weight:bold;
							font-weight: 500;
							text-align: left;
							background: #d9d9d9;
							border-right: 1px solid #000;
							border-top: 1px solid #000;
							border-bottom: 1px solid #000;
							transition: background 0.3s ease;
						}
						.ant-table-thead > tr > th:nth-child(1){
							border-left: 1px solid #000;
						}

						.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
							padding: 3px !important;
						}
						.ant-table-footer{
							border: 1px solid #000;
							background: #d9d9d9;
							color:#000;
							font-size: 11px;
						}
						.table-footer span:nth-child(1){
							margin-right: 50px;
						}
						.payment_print__body span{ font-size:9px;}
						.payment_print__body__area{ font-size:9px;}
						.applying_flex span{font-size:9px;}
						.ant-table-thead > tr > th .ant-table-header-column .ant-table-column-title{
							font-size: 8px;
						}
						
						.style-print-description{
							font-size:8px !important;
						}
						.style-print-description b{
							font-size:8px;
						}
						.ant-table-tbody > tr > td{
							font-size: 8px;
						}
						.table-footer{
							text-align: right;
						}
						.print_transactions {
							margin-top:32px;
							display:flex;
							justify-content: space-between;
						}
						.transaction-one{padding-left: 12px;}
						.transaction-two{padding-left: 28px; padding-right:28px;}
						.transaction-three{padding-right:12px;}
						.transaction-one,
						.transaction-two,
						.transaction-three {
							/*flex-basis: 33%;*/			
							/*padding-left: 15px;*/
							/*padding-right:20px;*/
							/*padding: 10px;*/
						}
					</style>	
					</head>
					<body>
						<div class="print_transactions" >
							<div class="transaction-one">
								${printContents}
							</div>
							<div class="transaction-two">
								${printContents}
							</div>
							<div class="transaction-three">
								${printContents}
							</div>
						</div>
					</body>
				</html>
				`);
				a.document.close();
				a.print();
				a.focus();
				a.close();
				//this.showModalPrint = false;
			} else {
				//printJS('payment_print','html');
				printJS({
					printable: 'payment_print', type: 'html',
					style: `
				*,body {
							font-size:10px;
							box-sizing: border-box;
							padding:0;
							border:0;
						}
						
						.payment_print__header {
							display: flex;
						}
						.payment_print__header__logo img{
							width: 45px;
						}
						.payment_print__header__logo {
							height: 45px;
							width: 45px;
						}
						.payment_print__body {
							display: flex;
							flex-direction: column;
						}

						.payment_print__body span {
							line-height: 1.5em;
							font-size:8px;
						}

						.payment_print__body table {
							margin-top: 10px
						}

						.payment_print__body__area {
							margin-top: 0px;
						}

						.payment_print__body__title {
							text-align: center;
							margin: 7px 0;
						}
						tbody {
							display: table-row-group;
							vertical-align: middle;
							border-color: inherit;
						}
						.ant-modal-body {
							padding: 24px;
							font-size: 14px;
							line-height: 1.5;
							word-wrap: break-word;
						}
						.ant-table {
							box-sizing: border-box;
							margin: 0;
							padding: 0;
							color: rgba(0, 0, 0, 0.65);
							font-variant: tabular-nums;
							line-height: 1.5;
							list-style: none;
							font-feature-settings: 'tnum';
							position: relative;
							clear: both;
						}
						.ant-table-body {
							transition: opacity 0.3s;
							position: relative;
							height: auto !important;
						}

						.ant-table table {
							width: 100%;
							text-align: left;
							border-radius: 4px 4px 0 0;
							border-collapse: separate;
							border-spacing: 0;
						
						}
						.ant-table-tbody{
							position: relative;
							height: auto !important;
						}
						.ant-table-thead > tr, .ant-table-tbody > tr {
							transition: all 0.3s, height 0s;
						}
						.ant-table-thead > tr:first-child > th:first-child {
							border-top-left-radius: 4px;
						}
						.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
							padding: 16px 16px;
							overflow-wrap: break-word;
						}
						.ant-table-thead > tr > th {
							color: color:#000;
							font-weight:bold;
							font-weight: 500;
							text-align: left;
							background: #d9d9d9;
							border-right: 1px solid #000;
							border-top: 1px solid #000;
							border-bottom: 1px solid #000;
							transition: background 0.3s ease;
						}
						.ant-table-thead > tr > th:nth-child(1){
							border-left: 1px solid #000;
						}
						.ant-table-row td:last-child{
							text-align: right;
						}
						.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
							padding: 3px !important;
						}
						.print_transactions {
							display:flex;
							justify-content: center;
						}
						.payment_print__header__data  {
							display: flex;
							flex-direction: column;
							align-items: flex-end;
							width: 100%;
							margin-left:70px;
						}
						.payment_print__header__data span:nth-child(1){
							white-space: nowrap;
							margin-bottom:5px; 
						}
						.payment_print__header__data span b{
							margin:0; padding:0;
						}
						.payment_print__body p{
							margin:0; padding:0;
						}
						.payment_print__body p .payment_print__body__area{
							line-height: normal;
						}
						.payment_print__body .payment_print__body__area{
							margin:0; padding:0;
						}
						.payment_print__body .applying_flex{
							white-space: nowrap;
							margin-top:11px;
							margin-bottom:10px;
						}
						.payment_print__body .direccion{
							margin-top:-13px; padding:0;
						}
						.ant-table-header-column .ant-table-column-title{
							white-space: nowrap;
						}
						.ant-table-thead > tr > th{
							overflow-wrap: break-word;
							white-space: nowrap;
						}
						.ant-table-footer{
							border: 0.2px solid #000;
							background: #d9d9d9;
							color:#000;
							padding: 5px;
							margin: 0px;
						}
						.ant-table-footer::before {
							top: -1px;
							left: 0;
							width: 100%;
							height: 1px;
							background: #fafafa;
							content: '';
						}
						.table-footer[data-v-5572c79e] {
							text-align: right;
							float: initial;
							padding-right: 0em;
						}
						.table-footer span[data-v-5572c79e]:nth-child(1) {
							margin-right: 70px;
						}

						.description-extornado{
							margin-top:12px;
						}
				` });
			}
			this.showModalPrint = false;
			// await TransactionRepository.printPaymentVoucher(this.transaction);
		},
		// ########### date picker
		handleChange(value) {
			this.value = value;
		},
		handlePanelChange(value, mode) {
			this.value = value;
			this.mode2 = [mode[0] === 'date' ? 'month' : mode[0], mode[1] === 'date' ? 'month' : mode[1]];
		},
		filterOption(input, option) {
			return (
				option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
			);
		},
		calculateItemTransactionDetails() {
			this.transaction.total = this.transaction.transactiondetails.reduce((accum, item) => accum += Number.parseFloat(item.total), 0).toFixed(2);
			this.update_amount++;
		},
		// ##### event eliminar item de la nueva transacción ####
		async removeItemTransactionDetail(debt_id) {
			let index = this.transaction.transactiondetails.findIndex(detail => detail.debt_id == debt_id);
			let have_id = this.transaction.transactiondetails[index].id;
			if (have_id) {
				this.removeDetailRepository(index)
				this.updatePaymentStatusRepository(index)
				this.refreshDebtsTitular();
			}
			for (let i = 0; i < this.debtsTitular.length; i++) {
				if (this.debtsTitular[i].debt_id == debt_id) {
					this.debtsTitular[i].por_pagar = 0; break;
				}
			}
			this.transaction.transactiondetails.splice(index, 1);
			this.transaction.total = this.transaction.transactiondetails.reduce((accum, item) => accum += Number.parseFloat(item.total), 0).toFixed(2)
		},
		async removeDetailRepository(index) {
			let detail = {
				id: this.transaction.transactiondetails[index].id,
				status: 0,
			};

			try {
				await TransactionRepository.removeDetail(detail);
			} catch (error) {
				this.error('Error al quitar Item!!!');
			}
		},
		async updatePaymentStatusRepository(index) {
			let total_payment = this.calculateDebtPaymenTotal(index);
			let debt = {
				id: this.transaction.transactiondetails[index].debt_id,
				payment: total_payment,
				payment_status: 0
			};

			try {
				await DebtRepository.save(debt);
			} catch (error) {
				this.error('Error al cambiar estado de dueda pagada!!!');
			}
		},
		calculateDebtPaymenTotal(index) {
			let debt = this.debtsTitular.find(item => item.debt_id == this.transaction.transactiondetails[index].debt_id);
			let debt_payment = debt ? debt.debt_payment : 0;
			let total_payment = debt ? Number.parseFloat(debt.debt_payment) - Number.parseFloat(this.transaction.transactiondetails[index].total) : 0;
			return total_payment;
		},

		// actualiza las deudas del titular cuando se elimina un item.
		async refreshDebtsTitular(params = {}) {
			
			params = { ...params };
			this.listPaymentTitular = [];
			if (this.debt_filter.search) params.search = this.debt_filter.search;
			this.user.role_id == RT_COBRA ? params.concepts_id = `${MRCD_CONCEPT_ID},${SISA_CONCEPT_ID},${BAJP_CONCEPT_ID},${DDM_CONCEPT_ID},${ARR_CONCEPT_ID}` : '';
			params.debts_for_the_cashier = 1;//deudas para cobrar, condicional creado para no traer deudas con 0
			const { data } = await DebtRepository.getAccountStatusByTitular(this.transaction.client_id, 0, params);
			data.data.forEach(item => {
				if (item.market_code) item.market_code = item.market_code.toUpperCase();
				item.debt_date_at = moment(item.debt_date_at).format('YYYY.MMM').toUpperCase();
				item.debt_total = Number.parseFloat(item.debt_total).toFixed(2);
			});
			const pagination = { ...this.paginationRefreshDebt };
			pagination.total = data.total;
			this.paginationRefreshDebt = pagination;
			this.debtsTitular = data.data;
			let j;
			for (let i = 0; i < this.debtsTitular.length; i++) {
				for (j = 0; j < this.transaction.transactiondetails.length; j++) {
					if (this.debtsTitular[i].debt_id == this.transaction.transactiondetails[j].debt_id) {
						this.debtsTitular[i].por_pagar = 1;
						break;
					}
				}
			}
		},
		// ##### event click en las deudas de los titulares ####
		customRow(record, index) {
			return {
				on: {
					click: async () => {
						// this.listPaymentTitular = record;
						var debt = {};
						debt.amount = 1;
						debt.detail = record.code;
						debt.total = record.debt_total;
						debt.debt_id = record.debt_id;
						debt.fractionary_schedule_id = record.fractionary_schedule_id;
						let is_added_debt = (this.transaction.transactiondetails.findIndex(detail => detail.debt_id == record.debt_id) > -1) ? true : false;
						if (is_added_debt) { this.$message.warning(`Deuda ${debt.detail} ${debt.total} ya agregada!!!`); return; }
						record.por_pagar = 1;
						this.transaction.transactiondetails.push(debt);

						this.transaction.total = this.transaction.transactiondetails.reduce((accum, item) => accum += Number.parseFloat(item.total), 0).toFixed(2)
					}
				}
			};
		},
		// Evento cuando se realiza cambios en el select de personas
		changeSelectStand(stand_data_select) {
			this.transaction = { transactiondetails: [], client: [], payment_method:'cash', cashbox_id: this.cashbox.id, user_id: window.USER_ID, user: {} }; //limpio transaction en cada seleccion
			this.transaction.client_id = stand_data_select.id ? stand_data_select.id : undefined;
			this.transaction.client = stand_data_select;
			this.debt_filter.search = null;

			this.refreshDebtsTitular();

		},
		// Evento tabla
		handleTableChange(pagination, filters, sorter) {
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetchTransaction({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				sortOrder: sorter.order,
				...filters,
			})
		},
		// Evento tabla refresh debt
		handleRefreshDebtTableChange(pagination, filters, sorter) {
			const pager = { ...this.paginationRefreshDebt };
			pager.current = pagination.current;
			this.paginationRefreshDebt = pager;
			this.refreshDebtsTitular({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				sortOrder: sorter.order,
				...filters,
			});
		},
		// Evento filtro fecha
		changeDate(value, dateString) {
			this.filter.date_init = value[0] ? moment(value[0]).format('YYYY-MM-DD') : null;
			this.filter.date_end = value[1] ? moment(value[1]).format('YYYY-MM-DD') : null;
			this.fetchTransaction();
		},
		error(message) {
			this.$message.error(message || 'Error al procesar');
		},
		success(message) {
			this.$message.success(message || 'Proceso Correcto');
		},
		// event click export
		handleExportClick(e) {
			if (e.key == 'pdf') this.exportPdf();
			if (e.key == 'excel') this.exportExcel();
		},
		exportPdf() {
			this.filter.user_id = window.USER_ID;
			let url = TransactionRepository.getUrlExportPdf(this.filter);
			window.open(url);
		},
		exportExcel() {
			this.filter.user_id = window.USER_ID;
			let url = TransactionRepository.getUrlExportExcel(this.filter);
			window.open(url);
		},
		handleDetailedExportClick(e) {
			if (e.key == 'pdf') this.detailedExportPdf();
			if (e.key == 'excel') this.detailedExportExcel();
		},
		detailedExportPdf() {
			this.filter.user_id = window.USER_ID;
			let url = TransactionRepository.getUrlDetailedExportPdf(this.filter);
			window.open(url);
		},
		detailedExportExcel() {
			this.filter.user_id = window.USER_ID;
			let url = TransactionRepository.getUrlDetailedExportExcel(this.filter);
			window.open(url);
		},
		showConfirm(transaction, callback) {
			let params = {
				title: 'Codigo de Seguridad?',
				okText: 'Confirmar',
				cancelText: 'Cancelar',
				content: (h) => {
					return <div>
						<a-input-password id="user_code" style="width:150px" size="small" placeholder="Ingrese clave..." />
						<a-textarea id="user_comment" placeholder="Descripción" style="margin:10px 0;" />
					</div>
				},
				okButtonProps: {
					props: { disabled: this.enable_button },
				},
				onOk: () => {
					return this.validateCodeUser(transaction, callback)
				},
				onCancel() {
					console.log('Cancel');
				},
			}
			this.$confirm(params);
		},
		async validateCodeUser(data, callback) {
			let result = await this.validateCodeUserRepository(document.getElementById("user_code").value);
			let isNotValidCode = Object.keys(result).length === 0;
			if (isNotValidCode) { this.$message.warning('El codigo es incorrecto!!!'); return; }
			if (!document.getElementById("user_code").value) { this.$message.warning('Rellene los datos sugeridos!!!'); return; }
			callback(data);
		},
		async validateCodeUserRepository(user_code) {
			let user_id = window.USER_ID;
			let { data } = await UserRepository.validateCode({ id: user_id, code: user_code });
			return data;
		},
		rowClassName(record, index) {
			return record.por_pagar ? 'selected-row' : 'deselected-row';
		},
	}
}
</script>
<style>
.selected-row {
	background-color: #7cb6b6;
}
</style>
<style scoped>
.table-operations-title {
	margin-bottom: 0;
}

.table-operations-message i {
	color: greenyellow;
}

.table-operations-message {
	color: #ffffff;
	font-weight: bold;
}

.mt-0 {
	margin-top: 0;
}

.pt-0 form {
	padding-top: 5px;
}

.list-debts {
	padding: 5px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, .2);
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.table-footer-principal {
	text-align: center;
}

.table-footer-modal {
	text-align: right;
	margin-right: 80px;
}

/* Empezamos con los estilos del escritorio */
</style>
