<template>
<div>
	<div class="content">
	  <h1 class="content__title">TIPOS DE FRACCIONAMIENTO</h1> 
	  <hr class="content__divider"/>
	  <a-button type="primary" size="small"  @click="nuevo">Nuevo</a-button>
	  <div>
		
		<a-table
		:columns="columns"
		:row-key="record => record.id"
		:data-source="data"
		:pagination="pagination"
		:loading="loading"
		@change="handleTableChange">

		<span slot="action" slot-scope="text,record">
		  <a-divider type="vertical" />
		  <a href="javascript:;" @click="edit(record.id)" title="Editar"><a-icon type="edit" /></a>
		  <a-divider type="vertical" />
		  <a-popconfirm v-if="data.length" title="Seguro?" @confirm="() => remove(record.id)">
			  <a href="javascript:;" title="Eliminar"><a-icon type="delete" /></a>
			</a-popconfirm>
			<a-divider type="vertical" />
			</span>
		</a-table>
	  </div>
	

	<a-modal :width="900" title="Tipo de Fraccionaminto" :visible="showModal" @ok="save" @cancel="showModal = false">

		<a-form-model ref="t_fractionaryForm" :model="t_fractionary" :rules="rules" layout="vertical" :label-col="labelCol" :wrapper-col="wrapperCol" >
			
			<a-form-model-item label="Nombre:" prop="type_fraction">
				<a-input v-model="t_fractionary.name" style="width:300px" placeholder="Tipo..."></a-input>
			</a-form-model-item>

			<a-form-model-item label="Campos:" prop="fields">
				<a-input v-model="t_fractionary.fields" style="width:300px" placeholder="..."></a-input>
			</a-form-model-item>
				
		</a-form-model>
	</a-modal>


  </div>    
</div>    
</template>
<script>
import moment from "moment";
import Repository from "../../repositories/RepositoryFactory";
const FractionarytypeRepository = Repository.get("fractionarytype");

const columns = [
  { title: 'Nombre',dataIndex: 'name'},
  { title: 'Estado',dataIndex: 'status'},
  {title:'-',key:'action',scopedSlots: { customRender: "action" } }
];

/*---------- */
export default {
	data(){
		return { 
		  	t_fractionary:{name:''},
			labelCol:{span:4},
			wrapperCol:{span:14},
			rules:{
			  name: [{ required: true, message: 'Ingrese Nombre', trigger: 'blur' }],
			},
			data:[],
			pagination: {},
			loading: false,
			columns,
			showModal:false,
		}
	},
	mounted() {
		 this.fetch();
	},
	methods:{
		 handleTableChange(pagination, filters, sorter){
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				sortOrder: sorter.order,
				...filters,
			});
		},
		async fetch(params = {}){
			this.loading = true;
			const {data} = await FractionarytypeRepository.list(params);
			this.data = data.data;
			this.loading = false;
		},
		error (message) { this.$message.error(message||'Error al procesar'); },
		success (message) { this.$message.success(message||'Proceso Correcto'); },
		save(){
			if(!this.isValidatedDirectFine()){ return;}
			this.showModal=false;
			this.loading=true;
			let payload = this.t_fractionary;
			FractionarytypeRepository.save(payload).then((data)=>{
				this.success();
				this.fetch();
			}).catch(err=>{ this.error();});
		},
		isValidatedDirectFine(){
			let isValid = true;
			if(!this.t_fractionary.name){this.$message.warning('Ingrese nombre!!!'); isValid=false;}
			if(!this.t_fractionary.fields){this.$message.warning('Ingrese campos.!!!'); isValid=false;}
			return isValid;
		},
		nuevo(){
		this.showModal=true;
		this.t_fractionary={};
		// setTimeout(()=>{
		//   this.$refs.userForm.resetFields();
		// },5);
		},

		edit(id){
		let d = this.data.find(item => item.id === id);
		this.t_fractionary = d;
		this.showModal = true;
		},
		async remove(id){
			this.t_fractionary = this.data.find(item => item.id === id);
			this.t_fractionary.status = 0;
			this.save();
		},
		// ########### date picker
		handleChange(value) {
			this.value = value;
		},
		handlePanelChange(value, mode) {
			this.value = value;
			this.mode2 = [mode[0] === 'date' ? 'month' : mode[0], mode[1] === 'date' ? 'month' : mode[1]];
		},
		

	}
}
</script>
<style scoped>

</style>
