<template>
	<div>
		<div class="content">
			<h1 class="content__title">LISTADO DE FRACCIONAMIENTOS</h1>
			<hr class="content__divider" />
			<a-button type="primary" size="small" @click="nuevo" v-show="editAllowed">Nuevo</a-button>
			<div>
				<div class="table-operations" style="padding-left:5px;">
					<a-form layout="inline" :model="filters">
						<a-checkbox @change="selectAllChange" :checked="allselected"><span
								style="color:#fff">Todos</span></a-checkbox>
						<a-input v-model="filters.search" v-on:keyup.enter="fetch({ search: filters.search })"
							style="width:200px; margin:5px 0px 5px 0px;" size="small" placeholder="Buscar..." />
						<a-range-picker @change="changeDate" format="DD-MM-YYYY"
							style="width:250px; margin:0px 0px 5px 0px;" size="small"
							:placeholder="['Fecha Inicio', 'Fecha Final']"></a-range-picker>

						<a-select size="small" v-model="filters.status" style="width:100px; margin:0px 0px 5px 0px;"
							placeholder="Seleccione..." @change="fetch()" :allowClear="true">
							<a-select-option value="1" key="p">Vigente</a-select-option>
							<a-select-option value="2" key="v">Terminado</a-select-option>
							<a-select-option value="0" key="A">Anulado</a-select-option>
						</a-select>
						<select-fractionary-type-component size="small" style="width:200px; margin:0px 0px 5px 0px;"
							v-on:handleChange="handleChangeType" />
						<a-checkbox v-model="filters.expired_debts"
							style="color:white; margin:0px 0px 5px 0px;">Vencidos</a-checkbox>
						<a-divider type="vertical" />
						<a-checkbox v-model="filters.coactive_debts"
							style="color:white; margin:0px 0px 5px 0px;">Coactivos</a-checkbox>

						<a-button type="primary" size="small" @click="fetch({ search: filters.search, page: 1 })"
							style="margin:0px 0px 5px 0px;">Buscar</a-button>
						<a-divider type="vertical" />
						<a-button type="primary" size="small" v-show="editAllowed" @click="forgiveDebts()"
							style="margin:0px 0px 5px 0px;">Condonar Deuda</a-button>
						<a-divider type="vertical" />
						<a-dropdown-button type="primary" size="small" style="margin:0px 0px 5px 0px;">
							Exportar
							<a-menu slot="overlay" @click="handleExportFraccionariesClick">
								<a-menu-item key="pdf"><a-icon type="file-pdf" /> PDF </a-menu-item>
								<a-menu-item key="excel"><a-icon type="file-excel" /> Excel </a-menu-item>
							</a-menu>
						</a-dropdown-button>

					</a-form>
				</div>

				<a-table :columns="columns" :row-key="record => record.id" :data-source="data" :pagination="pagination"
					:loading="loading" @change="handleTableChange" :rowClassName="review_expired">
					<span slot="check" slot-scope="text,r" v-if="r.status==1"> <a-checkbox @change="() => { r.active = !r.active; }"
							:checked="r.active"></a-checkbox> </span>
					<!--<span slot="check" slot-scope="text, r">
                     <a-checkbox  v-if="r.status == 1" @change="() => { r.active = !r.active; }"
                       :checked="r.active" ></a-checkbox>
                     <a-checkbox v-else disabled ></a-checkbox>
                   </span>-->


					<span slot="code" slot-scope="text,record">{{ record.code }}</span>
					<span slot="dni" slot-scope="text,record">{{ record.titular.dni }}</span>
					<span slot="titular" slot-scope="text,record">{{ record.titular.name }} {{ record.titular.lastname
					}}</span>
					<span slot="date_at" slot-scope="text,record">{{ moment(record.date_at).format("DD/MM/YYYY") }}</span>
					<!-- <span slot="representative" slot-scope="text,record">{{record.representative.name}} {{record.representative.lastname}} - {{record.representative.dni}}</span> -->
					<span slot="total" slot-scope="text,record" class="column-money">{{ record.total.toFixed(2) }}</span>
					<span slot="status" slot-scope="text,record">{{ record.status == '0' ? 'Anulado' : (record.status ==
						'2' ? 'Terminado' : 'Vigente') }}</span>
					<span slot="expired_debts" slot-scope="text,record">{{ record.expired_debts == '0' ? '' :
						record.expired_debts }}</span>
					<span slot="coactive_debts" slot-scope="text,record">{{ record.coactive_debts == '0' ? '' :
						record.coactive_debts }}</span>

					<span slot="action" slot-scope="text,record" style="display:flex; align-items: center;">
						<a-divider type="vertical" v-if="record.status != '0'" />
						<!--<a href="javascript:;" v-if="record.status != '2' && record.status != '0'" @click="edit(record.id)" title="Editar"> <a-icon type="edit" /></a>-->
						<a href="javascript:;" v-show="editAllowed" v-if="record.status != '0'" @click="edit(record)" title="Editar"> <a-icon
								type="edit" /></a>
						<a-divider type="vertical" />

						<a href="javascript:;" v-show="editAllowed" v-if="record.status != '0'" @click="sendToCoactive(record)" title="Enviar a Coactivo"> <a-icon
								type="cloud-upload" /></a>
								
						<a-divider type="vertical" />

						<!--<a href="javascript:;" @click="preparePrintFractionaries(record)" title="Inprimir"><a-icon type="printer" /></a>-->
						<a v-show="editAllowed" :href="'/fractionary/' + record.id + '/export-pdf'" target="_blank" title="Imprimir"><a-icon
								type="printer" /></a>

						<a-divider type="vertical" />
						<a-popconfirm v-if="record.status != '2'"
							:title="record.status == 1 ? 'Seguro de eliminar' : 'Seguro de activar'"
							@confirm="remove(record.id)">
							<a href="javascript:;" v-show="editAllowed" :title="record.status == 1 ? 'eliminar' : 'activar'">
								<a-icon :type="record.status == 1 ? 'delete' : 'check-circle'" />
							</a>
						</a-popconfirm>
					</span>
				</a-table>
			</div>

			<a-modal :visible="showModalDebts" title="Deudas" @ok="showModalDebts = false" @cancel="showModalDebts = false"
				cancelText="Cerrar">
				<debt-list-component :selectable="true" :client_id="model.titular_id" :stand_id="model.stand_id"
					:concept_id="model.concept_id" type="normal" v-on:changeDebts="onChangeDebts"
					:key="deb_list_key"></debt-list-component>
			</a-modal>

			<a-modal :dialogStyle="{ 'top': '20px' }" width="90%" title="Convenio de Fraccionamiento" :visible="showModal"
				@ok="save" @cancel="showModal = false" okText="Guardar" cancelText="Cerrar" :key="showModal">
				<a-form-model ref="userForm" :model="model" :rules="rules" layout="vertical" :label-col="labelCol"
					:wrapper-col="wrapperCol">
					<a-row>
						<a-col class="gutter-row" :span="12">
							<a-form-model-item label="Tipo:" prop="fractionary_type_id">
								<a-select v-model="model.fractionary_type_id" placeholder="Seleccione..."
									@change="handle_change_fractionary_type" :disabled="model.id ? true : false">
									<a-select-option v-for="(item, index) in fractionary_types" :value="item.id"
										:key="index">
										Fraccionamiento {{ item.name }}
									</a-select-option>
								</a-select>
							</a-form-model-item>
						</a-col>
						<a-col class="gutter-row" :span="12">
							<a-form-model-item label="Fecha:" prop="date">
								<a-date-picker style="width:100%" format="DD-MM-YYYY HH:mm:ss"
									:value="moment(model.date_at)" disabled />
							</a-form-model-item>
						</a-col>
					</a-row>
					<a-row>
						<a-col class="gutter-row" :span="12">
							<a-form-model-item style="margin-bottom:0;" label="Titular:">
								<a-form-model-item prop="titular"
									:style="{ display: 'inline-block', width: 'calc(100% - 70px) ' }">
									<div style="width: 100%">
										<select-people-component :person_id="model.titular_id" format="full_data"
											v-on:handleSelectPeople="changeSelectTitular" :key="titular_key"
											:disabled="model.id ? true : false" />
									</div>
								</a-form-model-item>
								<a-form-model-item :style="{ display: 'inline-block', width: '70px' }">
									<a-checkbox @change="onChangeTitular" v-model="model.is_titular_signature"
										:checked="true"><span>Firma</span></a-checkbox>
								</a-form-model-item>
							</a-form-model-item>
						</a-col>
						<a-col class="gutter-row" :span="12"
							v-if="FRACTIONARY_TYPE_TER == model.fractionary_type_id ? false : FRACTIONARY_TYPE_NCH == model.fractionary_type_id ? false : FRACTIONARY_TYPE_MAU == model.fractionary_type_id ? false : true">
							<a-form-model-item style="margin-bottom:0;"
								:label="model.fractionary_type_id != FRACTIONARY_TYPE_PIT ? 'Contratante: ' : 'Infractor: '">
								<a-form-model-item prop="representative"
									:style="{ display: 'inline-block', width: 'calc(100% - 70px)' }">
									<div style="width: 100%">
										<select-people-component :person_id="model.representative_id" format="full_data"
											v-on:handleSelectPeople="changeSelectRepresentative" :key="representative_key"
											:disabled="model.id ? true : false" />
									</div>
								</a-form-model-item>
								<a-form-model-item :style="{ display: 'inline-block', width: '70px' }">
									<a-checkbox @change="onChangeRepresentative" v-model="model.is_representative_signature"
										:checked="false"><span>Firma</span></a-checkbox>
								</a-form-model-item>
							</a-form-model-item>
						</a-col>
					</a-row>
					<a-row v-if="model.fractionary_type_id == FRACTIONARY_TYPE_PIT">
						<a-col class="gutter-row" :span="12">
							<a-form-model-item style="margin-bottom:0;" label="Titular 2:">
								<a-form-model-item prop="titular2_id"
									:style="{ display: 'inline-block', width: 'calc(100% - 70px)' }">
									<div style="width: 100%">
										<select-people-component :person_id="model.titular2_id" format="full_data"
											v-on:handleSelectPeople="changeSelectTitular2" :key="titular2_key" />
									</div>
								</a-form-model-item>
								<a-form-model-item :style="{ display: 'inline-block', width: '70px' }">
									<a-checkbox @change="onChangeTitular2" v-model="model.is_select_titular_id2"
										:checked="false"><span>Select</span></a-checkbox>
								</a-form-model-item>
							</a-form-model-item>
						</a-col>
					</a-row>

					<a-row v-if="checkViewField('stand_id')">
						<a-col class="gutter-row" :span="12">
							<a-form-model-item label="Puesto:" prop="stand_id">
								<a-select v-model="model.stand_id" placeholder="Seleccione..." style="margin-bottom:0;"
									:disabled="model.id ? true : false">
									<a-select-option v-for="(item, index) in stands" :value="item.id" :key="index">
										{{ item.code }} {{ item.name }}
									</a-select-option>
								</a-select>
							</a-form-model-item>
						</a-col>
						<a-col class="gutter-row" :span="12">
							<a-form-model-item label="Referencia:" prop="reference" style="margin-bottom:0;">
								<a-form-model-item prop="titular"
									:style="{ display: 'inline-block', width: 'calc(100% - 90px) ' }">
									<div style="width: 100%">
										<a-input v-model="model.reference_description"
											:disabled="model.id ? true : false"></a-input>
									</div>
								</a-form-model-item>
								<a-form-model-item
									:style="{ display: 'inline-block', width: '90px' }"><!--="()=>{   deb_list_key++; showModalDebts=true; }-->
									<a-button v-if="/1|2|3|4/.test(model.fractionary_type_id)" type="primary" size="small"
										@click="carryDebts()" :disabled="model.id ? true : false">Ver Deudas</a-button>
								</a-form-model-item>
							</a-form-model-item>
						</a-col>
					</a-row>
					

					<a-row v-if="model.fractionary_type_id == FRACTIONARY_TYPE_PIT">
						<a-col class="gutter-row" :span="12">
							<a-form-model-item style="margin-bottom:0;" label="Placa V.:">
								<a-form-model-item prop="placa"
									:style="{ display: 'inline-block', width: 'calc(100% - 90px)' }">
									<a-input v-model="model.description2" placeholder="placa vehicular"></a-input>
								</a-form-model-item>
							</a-form-model-item>
						</a-col>
						<a-col class="gutter-row" :span="12">
							<a-form-model-item style="margin-bottom:0;" label="Infracción:">
								<a-form-model-item prop="infraccion"
									:style="{ display: 'inline-block', width: 'calc(100% - 90px)' }">
									<a-input v-model="model.description3" placeholder="infracción"></a-input>
								</a-form-model-item>
							</a-form-model-item>
						</a-col>
					</a-row>

					<a-row>
						<a-col class="gutter-row" :span="12">
							<a-form-model-item label="Concepto:" prop="concept_id" style="margin-bottom:0;">
								<a-select v-model="model.concept_id" placeholder="Seleccione..." @change="updateFields"
									:disabled="model.id ? true : false">
									<a-select-option v-for="(item, index) in concepts" :value="item.id" :key="index"
										:disabled="model.id ? true : false">
										{{ item.name }} ({{ item.code }}-{{ item.number }})
									</a-select-option>
								</a-select>
							</a-form-model-item>
						</a-col>
						<a-col class="gutter-row" :span="12">
							<a-form-model-item label="F.Inicio:" style="margin-bottom:0;">
								<a-form-model-item prop="date_start"
									:style="{ display: 'inline-block', width: 'calc(100% - 90px)' }">
									<!--<a-date-picker style="width:100%" format="DD/MM/YYYY" v-model="model.date_start" :disabled-date="disabledDate" :disabled="model.id?true:false" placeholder="Fecha" />-->
									<a-date-picker style="width:100%" format="DD/MM/YYYY" v-model="model.date_start"
										:disabled="model.id ? true : false" placeholder="Fecha" />
								</a-form-model-item>
							</a-form-model-item>
						</a-col>
					</a-row>

					<a-row v-if="model.fractionary_type_id == FRACTIONARY_TYPE_SAD">
						<a-col class="gutter-row" :span="12">
							<a-form-model-item style="margin-bottom:0;" label="Detalle Concepto:">
								<a-form-model-item prop="concept"
									:style="{ display: 'inline-block', width: 'calc(100% - 90px)' }">
									<a-input v-model="model.description2" placeholder="..."></a-input>
								</a-form-model-item>
							</a-form-model-item>
						</a-col>
						<a-col class="gutter-row" :span="12">
							<a-form-model-item style="margin-bottom:0;" label="Resolución:">
								<a-form-model-item prop="resolucion"
									:style="{ display: 'inline-block', width: 'calc(100% - 90px)' }">
									<a-input v-model="model.description3" placeholder="..."></a-input>
								</a-form-model-item>
							</a-form-model-item>
						</a-col>
					</a-row>

					<a-row>
						<a-col class="gutter-row" :span="12" v-show="checkViewField('apply_date')">
							<a-form-model-item label="F.Aplicacion:">
								<!-- Aplica excepto Merced, Kioskos y SISA -->
								<a-form-model-item prop="apply_date"
									:style="{ display: 'inline-block', width: 'calc(100% - 25px)' }">
									<a-date-picker style="width:100%" format="DD/MM/YYYY" v-model="model.apply_date"
										placeholder="Fecha" />
								</a-form-model-item>
							</a-form-model-item>
						</a-col>

						<a-col class="gutter-row" :span="12"
							v-if="FRACTIONARY_TYPE_NCH == model.fractionary_type_id || FRACTIONARY_TYPE_PIT == model.fractionary_type_id || FRACTIONARY_TYPE_TER == model.fractionary_type_id">
							<!-- Aplica excepto Merced, Kioskos y SISA -->
							<a-form-model-item
								:label="model.fractionary_type_id == FRACTIONARY_TYPE_PIT ? 'PIT N°: ' : FRACTIONARY_TYPE_NCH == model.fractionary_type_id ? 'Ubicacion: ' : 'Informe: '">
								<a-form-model-item prop="description"
									:style="{ display: 'inline-block', width: 'calc(100% - 25px)' }">
									<a-input v-model="model.description" placeholder="..."></a-input>
								</a-form-model-item>
							</a-form-model-item>
						</a-col>
					</a-row>
					<!--
			<a-row v-if="checkViewField('apply_date')" style="position:absolute;width:100%" >
				<div style="position:relative;bottom:150px">
					<a-col class="gutter-row" :span="12" >
						
						<a-form-model-item label="F.Aplicacion:" prop="apply_date" :style="{width: 'calc(100% - 25px)' }" >
							<a-date-picker style="width:100%" format="DD/MM/YYYY" v-model="model.apply_date" placeholder="Fecha" />
						</a-form-model-item>
					</a-col>
				</div>
			</a-row>-->
					<!--
			<a-row v-if="FRACTIONARY_TYPE_NCH==model.fractionary_type_id || FRACTIONARY_TYPE_PIT==model.fractionary_type_id" style="position:absolute;width:100%">
				<div style="position:relative;bottom:150px">
					<a-col class="gutter-row" :span="12" >
						
						<a-form-model-item label="Descripción:" prop="description" :style="{width: 'calc(100% - 25px)' }">
							<a-input v-model="model.description" placeholder="descripcion" :disabled="model.id?true:false"></a-input>
						</a-form-model-item>
					</a-col>
				</div>
			</a-row>-->

					<a-row>
						<a-col class="gutter-row" :span="6">
							<a-form-model-item label="Nro. Cuotas:" prop="quotes" :style="{ width: '780px' }">
								<a-input type="number" v-model="model.quotes" size="small" style="width:80px;"
									placeholder="0" @change="calc_fractionary_amount"
									onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
									:disabled="model.id ? true : false"></a-input>
							</a-form-model-item>
						</a-col>
						<a-col class="gutter-row" :span="6">
							<a-form-model-item label="Interes:" prop="interest" :style="{ width: '500px' }">
								<a-input v-model="model.interest" size="small" style="width:80px" placeholder="0.00"
									:disabled="model.id ? true : false"></a-input>
							</a-form-model-item>
						</a-col>

					</a-row>


					<div class="block-1">
						<a-form-model layout="horizontal" style="display:flex; justify-content:space-around">
							<a-form-model-item label="Deuda:" prop="debt">
								<a-input v-model="model.debt" style="width:100px" size="small" @change="calc_initial_amount"
									onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
									:disabled="model.reference_description || model.id ? true : false"
									:style="{ background: '#fff', color: '#000' }" />
							</a-form-model-item>
							<a-form-model-item label="Rec / Num:" prop="debt">
								<a-input v-model="model.initial_voucher" style="width:100px" size="small"
									:disabled="model.status != '2' ? false : true" />
							</a-form-model-item>
							<a-form-model-item label="Cuota Inicial:" prop="debt">
								<a-input v-model="model.initial_amount" style="width:100px" :key="initial_amount_key"
									size="small" @change="calc_fractionary_amount"
									onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
									:disabled="model.id ? true : false" />
							</a-form-model-item>
							<a-form-model-item label="Saldo A Fracc:" prop="debt">
								<a-input v-model="model.fractionary_amount" style="width:100px"
									:key="fractionary_amount_key" size="small" :disabled="model.id ? true : false" />
							</a-form-model-item>
						</a-form-model>
					</div>
				</a-form-model>
				<div style="display:flex; justify-content:flex-end;">
					<a-button :disabled="model.id ? true : false" type="primary" size="small" @click="gen_schedule()">
						<a-icon type="plus" /> Calcular Cronograma </a-button>
				</div>
				<a-table id="schedule_table" :columns="columns_schedule" :row-key="(record, index) => index"
					:data-source="model.schedule" :pagination="false" :loading="loading">
					<span slot="index" slot-scope="text, record,index">{{ index + 1 }}</span>
					<span slot="date_at" slot-scope="text,record">{{ model.id ? record.date_at.format("DD/MM/YYYY") :
						record.date_at }}</span>
					<span slot="pending_amount" slot-scope="text, record" class="column-money">
						{{ record.pending_amount.toFixed(2) }} </span>
					<span slot="interest" slot-scope="text, record" class="column-money">{{ record.interest.toFixed(2)
					}}</span>
					<span slot="amort" slot-scope="text, record" class="column-money">{{ record.amort.toFixed(2) }}</span>
					<span slot="total" slot-scope="text, record " class="column-money">{{ record.total.toFixed(2) }}</span>

					<!--<span slot="status" slot-scope="text,record">{{record.debt?(record.debt.status==2?'Pagado':'Pendiente'):'Pend.'}}</span>-->
					<span slot="status" slot-scope="text,record">{{ record.debt ? (record.debt.payment_status == 1 ?
						'Pagado' : 'Pendiente') : 'Pend.' }}</span>
					<template slot='footer'>
						<div class="schedule-footer">
							<div class="total-interest">{{ Number.parseFloat(model.total_interest).toFixed(2) }} </div>
							<div class="total-amort">{{ Number.parseFloat(model.fractionary_amount).toFixed(2) }} </div>
							<div class="total-amount">{{ Number.parseFloat(model.total).toFixed(2) }}</div>
						</div>
					</template>
				</a-table>
				<div class="table-fine__header__description">
					<a-form-model-item label="Nota" prop="nota">
						<div class="table-fine__header--border-top">
							<a-textarea v-model="model.comment" placeholder="Nota..."
								:auto-size="{ minRows: 2, maxRows: 3 }" />
						</div>
					</a-form-model-item>
				</div>

				<a-form-model layout="inline">
					<a-form-model-item label="Archivo:" prop="adjudication">
						<file-component :files="model.files" v-on:changeFile="onChangeFile" :key="model.files.length" />
					</a-form-model-item>
				</a-form-model>
			</a-modal>
			<!--
	<a-modal 
	:width="950" 
	title="Impresión de un fraccionamiento" 
	:visible="showModalPrint" 
	@ok="printFractionarie()" 
	@cancel="showModalPrint = false" 
	cancelText="Cancelar" 
	okText="Imprimir">
		<print-fractionarie-component :print_fractionarie="print_fractionarie" :stand_print="stand_print" :key="print_fractionarie.id"  />
	</a-modal>-->
			<a-modal :width="600" title="Condonar Deudas fraccionadas" :visible="showModalCondone"
				@ok="generateForgiveness()" @cancel="showModalCondone = false" cancelText="Cancelar" okText="Guardar">
				<h4>Seguro de condonar deudas al 100%?</h4>
				<a-form-model layout="inline">
					<a-form-model-item label="Porcentaje:" prop="porcentaje">
						<a-input type="number" v-model="modelForgive.porcent" size="small" style="width:90px;"
							placeholder="..."
							onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"></a-input>
					</a-form-model-item>
				</a-form-model>
				<file-component :files="modelForgive.files" v-on:changeFile="onChangeFileForgive"
					:key="modelForgive.files.length" />
			</a-modal>


			<a-modal width="80%" title="Deudas a Coactivo" :visible="showModalCoactive" @ok="saveInCoactive" @cancel="showModalCoactive = false" okText="Guardar" cancelText="Cerrar">
			<a-form-model layout="inline">
				<div>
					Deudas Vencidas:  <b v-if="!coactive.debts.length">Ninguno.</b>
					<ul>
						<li v-for="debt in coactive.debts"> {{ debt.code }}  = {{ debt.total }} </li>
					</ul>

				</div>
				<a-row>
					<a-col span="12">
						<a-form-item label="Enviando con Informe:">
							<a-input  size="small" v-model="coactive.description_init" placeholder="Nro"></a-input>
						</a-form-item>
					</a-col>
					<a-col span="12">
						<a-form-model-item label="Fecha">
							<a-date-picker v-model="coactive.date_init" size="small" format="DD-MM-YYYY" />
						</a-form-model-item>
						
					</a-col>
				</a-row>
			</a-form-model>
	</a-modal>



		</div>
	</div>

	
</template>
<script>
import moment from "moment";
import 'moment/locale/es';
moment.locale('es');
import Utils from "../../Utils.js";
import locale from 'ant-design-vue/es/date-picker/locale/es_ES';
import Repository from "../../repositories/RepositoryFactory";
import {
	MULD_CONCEPT_ID, FRACTIONARY_TYPE_PIT, FRACTIONARY_TYPE_NCH,FRACTIONARY_TYPE_SAD,
	FRACTIONARY_TYPE_TER, FRACTIONARY_TYPE_MAU, FRACTIONARY_TYPE_MEC, FRACTIONARY_TYPE_RRS, FRACTIONARY_TYPE_MTD
} from '../../constants';
const FractionarytypeRepository = Repository.get("fractionarytype");
const FractionaryRepository = Repository.get("fractionary");
const ConceptRepository = Repository.get("concept");
const UITRepository = Repository.get("uit");
const FileRepository = Repository.get("file");
const StandRepository = Repository.get("stand");
const SettingRepository = Repository.get("setting");
const CoactiveRepository= Repository.get("coactive");

const columns = [
	{ title: '-', key: 'check', scopedSlots: { customRender: "check" } },
	{ title: 'Nro', key: 'code', scopedSlots: { customRender: "code" } },
	{ title: 'DNI', key: 'dni', scopedSlots: { customRender: "dni" } },
	{ title: 'Titular', key: 'titular', scopedSlots: { customRender: "titular" } },
	//   { title: 'Representante',key: 'representative',scopedSlots: { customRender: "representative" } },
	{ title: 'Fecha', key: 'date_at', scopedSlots: { customRender: "date_at" } },
	{ title: 'Referencia', key: 'referencia', dataIndex: 'reference_description' },
	{ title: 'Total', key: 'total', scopedSlots: { customRender: "total" } },
	{ title: 'Estado', key: 'status', scopedSlots: { customRender: "status" } },
	{ title: 'D. Venc.', key: 'expired_debts', align: "center", scopedSlots: { customRender: "expired_debts" } },
	{ title: 'D. Coact.', key: 'coactive_debts', align: "center", scopedSlots: { customRender: "coactive_debts" } },
	{ title: '-', key: 'action', scopedSlots: { customRender: "action" } }
];

const columns_schedule = [
	{ title: 'N.', key: 'index', scopedSlots: { customRender: "index" } },
	{ title: 'Fecha', key: 'date_at', scopedSlots: { customRender: "date_at" } },
	{ title: 'Saldo', width: '100px', key: 'pending_amount', scopedSlots: { customRender: "pending_amount" } },
	{ title: 'Interes', width: '100px', key: 'interest', scopedSlots: { customRender: "interest" } },
	{ title: 'Amortiz.', width: '100px', key: 'amort', scopedSlots: { customRender: "amort" } },
	{ title: 'Pago', width: '100px', key: 'total', scopedSlots: { customRender: "total" } },
	{ title: 'Estado', width: '100px', key: 'status', scopedSlots: { customRender: "status" } },
]

/*---------- */
export default {
	data() {
		return {
			editAllowed:false,
			filters: {},
			deb_list_key: 1,
			titular_key: 1,
			representative_key: 1,
			titular2_key: 1,
			uit: 0,
			moment,

			data: [],
			persons: [],
			print_fractionarie: {},
			columns_schedule,
			model: { schedule: [], files: [] },
			modelForgive: { files: [] },
			// #### date picker
			mode1: 'time',
			mode2: ['month', 'month'],
			value: [],
			// #########
			labelCol: { span: 3 },
			wrapperCol: { span: 19 },
			rules: {},
			pagination: {},
			loading: false,
			columns,
			showModal: false,
			showModalDebts: false,
			showModalPrint: false,
			showModalCondone: false,
			fractionary_types: [],
			concepts: [],
			stands: [],
			stand_print: {},
			default_interest: 0,
			FRACTIONARY_TYPE_PIT,
			FRACTIONARY_TYPE_NCH,
			FRACTIONARY_TYPE_TER,
			FRACTIONARY_TYPE_MAU,
			FRACTIONARY_TYPE_MEC,
			FRACTIONARY_TYPE_RRS,
			FRACTIONARY_TYPE_MTD,
			FRACTIONARY_TYPE_SAD,
			initial_amount_key: 0,
			fractionary_amount_key: 0,
			allselected: false,
			coactive:{debts:[]},
			showModalCoactive:false,
			//is_select_titular_id2,
		}
	},
	async mounted() {
		this.editAllowed= Utils.checkEditMode();
		await this.fetchSetting();
		await this.fetchFractionaryTypes();
		await this.fetchConcepts();
		await this.fetch();
		this.fetchUIT({ year: moment().format("Y") });
	},
	methods: {
		async getDebets(fractionary_id){
			const { data } = await FractionaryRepository.litSchedule({ fractionary_id });
			const now = moment();
			const debts = data.map(e=> e.debt).filter( e=> e.payment_status!=1 && now.diff(moment(e.date_at),'days')>1 );
			//const debts = data.map(e=> ({...e.debt, debt_id:e.debt.id})).filter( e=> e.payment_status!=1  );
			console.log(debts);
			return debts;
			
		},
		async sendToCoactive(fractionary_){
			try {
				const debts= await this.getDebets(fractionary_.id);
				const in_coactive = debts.filter( e=> e.coactive_id>0);
				if(in_coactive.length) {alert("Ya tiene deudas en Coactivo"); return;}
				this.coactive = {debts:debts,date_init:moment()};
				this.showModalCoactive=true;
			} catch (error) {
				alert("error al conseguir deudas");
			}
			
		},
		async fetchSetting() {
			const { data } = await SettingRepository.list();
			this.default_interest = data.data[4].value;
		},
		/*disabledDate(current) {
			// Can not select days before today and today
			//return current && current < moment().endOf('day'); //moment(29, "DD") dia del mes actual
			if(moment().add(1, 'months').date(1).subtract(1, 'days').format("DD")==28){//se obtiene el ultimo dia del mes actual
				return;
			}
			return current && current > moment(29, "DD") && current < moment().add(1, 'months').date(1).subtract(1, 'days');
		},*/
		review_expired(record, index) {
			return record.coactive_debts > 0 ? "debt-coactive" : record.expired_debts > 0 ? 'debt-expired' : '';
		},
		onChangeDebts(data) {
			this.model.debt = data.total;
			if (data.debts.length > 0) {
				this.model.reference_id = data.debts.map(e => e.id).join(",");
				let reference = "";
				if (this.model.concept_id == MULD_CONCEPT_ID) {
					reference = `${data.debts[0].code}`;
				} else {
					reference = `${moment(data.debts[0].date_at).format('YYYY.MMM')} al ${moment(data.debts[data.debts.length - 1].date_at).format('YYYY.MMM')}`
				}
				this.model.reference_description = reference;
			}
			this.calc_initial_amount();

		},
		checkViewField(field) {
			const type = this.fractionary_types.find(e => e.id == this.model.fractionary_type_id);
			if (type) return type.fields.indexOf(field) >= 0;

		},
		async fetchStands(titular_id) {
			const { data } = await StandRepository.getStandsByClientID({ titular_id: titular_id, no_pagination: 1 });
			this.stands = data;
		},

		changeSelectTitular(person_data) {
			try {
				if (!person_data.id) return;
				this.model.titular_id = person_data.id;
				this.representative_key++;
				this.model.representative_id = person_data.id;
				this.fetchStands(this.model.titular_id);
			} catch (error) {
				console.log('holiii', error)
			}
			//this.updateFields();
		},
		changeSelectRepresentative(person_data) { this.model.representative_id = person_data.id;},
		changeSelectTitular2(person_data) { this.model.titular2_id = person_data.id;},
		async fetchUIT(params) {
			const { data } = await UITRepository.list(params);
			this.uit = data.data[0].amount;
		},

		async fetchConcepts() {
			const { data } = await ConceptRepository.list();
			this.concepts = data.data;
		},

		async fetchFractionaryTypes() {
			const { data } = await FractionarytypeRepository.list();
			this.fractionary_types = data.data;
		},
		/*handle_attach_debts(){

		},*/
		handleTableChange(pagination, filters, sorter) {
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetch({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				search: this.filters.search,
				sortOrder: sorter.order,
				...filters,
			});
		},
		selectAllChange() {
			this.selectable = this.selectable ? true : false;
			this.data.forEach(e => { e.active = !e.active; });
			//this.calc_total();
		},
		async forgiveDebts() {
			console.log(this.filters.status);
			//if (this.filters.status != 1) { this.$message.warning('Seleccione el select para vigentes!!!'); return; }
			if (this.filters.fractionary_type_id == FRACTIONARY_TYPE_RRS || this.filters.fractionary_type_id == FRACTIONARY_TYPE_MEC ||
				this.filters.fractionary_type_id == FRACTIONARY_TYPE_MTD) {
				this.$message.warning('Seleccione un tipo de fraccionamiento diferente a MEC,RRS,MTD!!!'); return;
			}
			if (!this.data.filter(e => e.active).length) { this.$message.warning('Seleccione un fraccionamiento generada!!!'); return; }
			this.modelForgive = { files: [] };
			this.modelForgive.porcent = 100;
			this.showModalCondone = true;
		},
		async generateForgiveness() {
			if (!this.modelForgive.porcent || (this.modelForgive.porcent < 1 || this.modelForgive.porcent > 100)) {
				this.$message.warning('no se puede condonar con este porcentaje!!!'); return;
			}
			this.showModalCondone = false;
			let fractionaries_id = this.data.filter(item => item.active).map(item => item.id);
			await FractionaryRepository.forgiveDebts({ fractionaries_id, porcent: this.modelForgive.porcent, files: this.modelForgive.files });
			await this.fetch();
		},
		async fetch(params = {}) {
			params = { ...params, ...this.filters };
			this.loading = true;
			if (!params.expired_debts) delete params.expired_debts;
			if (!params.coactive_debts) delete params.coactive_debts;
			const { data } = await FractionaryRepository.list(params);
			const pagination = { ...this.pagination };
			pagination.total = data.total;
			this.pagination = pagination;
			data.data.forEach(item => { item.active = false; });
			this.data = data.data;
			this.loading = false;
		},
		calc_initial_amount() {
			this.model.initial_amount = FractionaryRepository.calc_initial_amount(this.model, this.uit);
			this.calc_fractionary_amount();
			this.initial_amount_key++;
		},
		calc_fractionary_amount() {
			this.model.fractionary_amount = this.model.debt - this.model.initial_amount;

			this.model.schedule = [];
			this.model.total_interest = 0;
			this.model.total = 0;
			this.fractionary_amount_key++;
		},
		error(message) { this.$message.error(message || 'Error al procesar'); },
		success(message) { this.$message.success(message || 'Proceso Correcto'); },
		async save() {
			try {
				if (!this.model.initial_voucher || this.model.initial_voucher == '') throw "Recibo es Obligatorio";
				if (!this.model.schedule.length) throw "Cronograma es Oblitagorio";
				if (!this.model.date_start) throw "Fecha es Oblitagorio";
				if (!this.model.concept_id) throw "Seleccione concepto";
				this.showModal = false;
				let payload = { ...this.model };
				payload.titular2_id = this.model.is_select_titular_id2 ? this.model.titular2_id : '';
				payload.user_id = window.USER_ID;
				this.loading = true;

				const r = await FractionaryRepository.save(payload);
				
				await this.fetch();
				//para abrir el modal DE impresion
				//await this.preparePrintFractionaries(this.data.find(item => item.id == r.data.id));
			} catch (error) {
				console.log(error);
				this.error(error);
			}
			this.loading = false;
		},
		carryDebts() {
			if (this.model.stand_id && this.model.concept_id) {
				this.deb_list_key++; this.showModalDebts = true;
			}
			else {
				this.$message.warning('Seleccione un puesto y concepto!!!');
			}
		},
		nuevo() {
			this.showModal = true;
			this.titular_key++;
			this.representative_key++;
			this.titular2_key++;
			this.model = {
				date_at: moment(),
				fractionary_type_id: 1,
				//concept_id:1,
				schedule: [],
				files: [],
				is_titular_signature: true,
				is_representative_signature: false,
				is_select_titular_id2: false,
				interest: this.default_interest,
				//date_start:moment(),
				//apply_date:moment(),
			};
			// setTimeout(()=>{
			//   this.$refs.userForm.resetFields();
			// },5);
		},
		updateFields() {
			if (this.model.id) { return }
			this.model.reference_description = '';
			this.model.debt = 0;
			this.model.initial_amount = 0;
			this.model.fractionary_amount = 0;
			this.model.schedule = [];
			this.model.quotes = 0;
			this.model.total_interest = 0;
			this.model.fractionary_amount = 0;
			this.model.total = 0;
		},
		async edit(record) {
			// this.titular_key++;
			// this.representative_key++;
			//let d = this.data.find(item => item.id === id);
			let d = { ...record };
			//d.date_at = moment(d.date_at,'DD-MM-YYYY');
			d.date_at = moment(d.date_at);
			//d.date_start = moment(d.date_start,'DD-MM-YYYY');
			d.date_start = moment(d.date_start);
			//d.apply_date = d.apply_date ?  moment(d.apply_date,'DD-MM-YYYY'):null;
			d.apply_date = d.apply_date ? moment(d.apply_date) : null;
			d.is_titular_signature = d.is_titular_signature == 1 ? true : false;
			d.is_representative_signature = d.is_representative_signature == 1 ? true : false;
			d.is_select_titular_id2 = d.is_select_titular_id2 == 1 ? true : false;
			const { data } = await FractionaryRepository.litSchedule({ fractionary_id: d.id });
			this.model = { ...d };
			this.model.schedule = data.map(e => { return { ...e, date_at: moment(e.date_at) }; });

			this.model.files = [];
			this.model.files = await this.getFilesStand(this.model);
			this.showModal = true;
			setTimeout(() => { this.titular_key++; }, 500);
			setTimeout(() => { this.representative_key++; }, 2000);
			setTimeout(() => { this.titular2_key++; }, 6000);

		},
		async saveInCoactive(){
			if(!this.coactive.debts.length) return alert("No hay deudas vencidas");
			try {
				this.loading=true;
				this.showModalCoactive=false;
				let payload = this.coactive;
				await CoactiveRepository.save(payload);
				this.success();
				this.fetch();
			} catch (error) {
				this.error();
			}
		},
		async getFilesStand(stand) {
			let { data } = await FileRepository.list({ type: 'fractionary', 'reference_id': stand.id });
			return data.data;
		},
		async remove(id) {
			//let payload = this.data.find(item => item.id === id); 
			try {
				//const r = await FractionaryRepository.remove(id);
				const r = await FractionaryRepository.activateAndDeactivateFractionaries(id);
				this.fetch();
			} catch (error) {
				console.log(error);
				this.error("ERROR");
			}
			this.loading = false;
			this.loading = true;
		},
		handle_change_fractionary_type() {
			//this.model.concept_id=this.model.fractionary_type_id+1;
			this.model.reference_id = "";
			this.model.reference_description = "";
			this.updateFields();
			this.$message.warning('No olvide seleccionar un concepto concerniente al Tipo!!!'); return;
		},
		// ########### date picker
		handleChange(value) {
			this.value = value;
		},
		handlePanelChange(value, mode) {
			this.value = value;
			this.mode2 = [mode[0] === 'date' ? 'month' : mode[0], mode[1] === 'date' ? 'month' : mode[1]];
		},
		gen_schedule() {
			//calcular a 1 mes a partir de la fecha de inicio.
			if (this.model.debt <= 0 || !this.model.debt) { this.$message.warning('Agregue un monto de deuda mayor a cero a fraccionar!!!'); return; }
			if (this.model.quotes <= 0 || !this.model.quotes) { this.$message.warning('Asigne numero de cuotas!!!'); return; }
			if (!this.model.date_start) { this.$message.warning('Asigne una fecha de inicio!!!'); return; }
			this.model.schedule = FractionaryRepository.gen_schedule(this.model);
			this.model.total = (this.model.schedule.reduce((s, e) => s + (e.total * 1), 0)).toFixed(2);
			this.model.total_interest = (this.model.schedule.reduce((s, e) => s + (e.interest * 1), 0)).toFixed(2);
			//this.model.fractionary_amount = this.model.fractionary_amount;
		},
		async preparePrintFractionaries(data_fractionary) {
			//this.print_fractionarie=data;
			const { data } = await FractionaryRepository.litSchedule({ fractionary_id: data_fractionary.id });
			this.print_fractionarie = { ...data_fractionary };
			this.print_fractionarie.schedule = data.map(e => { return { ...e, date_at: moment(e.date_at) }; });
			if (this.print_fractionarie.titular_id) {
				await this.fetchStands(this.print_fractionarie.titular_id);
				this.stand_print = this.stands.find(item => item.id === this.print_fractionarie.stand_id);
			}
			this.showModalPrint = true;

		},
		handleExportFraccionariesClick(e) {
			if (e.key == 'pdf') this.exportFractionariesPdf();
			if (e.key == 'excel') this.exportFractionariesExcel();
		},
		async exportFractionariesPdf() {
			if (!this.filters.fractionary_type_id) {
				this.$message.warning('Seleccione un tipo de fraccionamiento!!!'); return;
			}
			let { data } = await FractionaryRepository.getExportPdf({ ...this.filters });
			window.open(data);
		},
		async exportFractionariesExcel() {
			if (!this.filters.fractionary_type_id) {
				this.$message.warning('Seleccione un tipo de fraccionamiento!!!'); return;
			}
			let { data } = await FractionaryRepository.getExportExcel({ ...this.filters });
			window.open(data);
		},
		/*formatNameColumns(list){
			let name_columns = list.map(item => [item.title,item.key] );
			return name_columns;
		},*/
		onChangeTitular(e) { this.model.is_titular_signature = e.target.checked; },
		onChangeRepresentative(e) {	this.model.is_representative_signature = e.target.checked;},
		onChangeTitular2(e) { this.model.is_select_titular_id2 = e.target.checked; },
		handleChangeType(value) {
			this.filters.fractionary_type_id = value ? value.id : undefined;
			this.fetch();
		},
		// Evento filtro fecha
		changeDate(value, dateString) {
			this.filters.date_init = value[0] ? moment(value[0]).format('YYYY-MM-DD') : null;
			this.filters.date_end = value[1] ? moment(value[1]).format('YYYY-MM-DD') : null;
			this.fetch();
		},
		// File
		onChangeFile(data) {
			this.model.files = data;
		},// File
		onChangeFileForgive(data) {
			//this.model.files = data;
			this.modelForgive.files = data;
		},
		/*async printFractionarie(){
			var printContents = document.getElementById("print_fractionaries").innerHTML;
			var a = window.open('', '', 'height=auto, width=1000');
			a.document.write(`
				<html>
					<head>
						<style>
						*,body {
							font-size:10px;
							padding:0;
							border;0;
						}
						*{ font-size:13px; }
						.container{margin:50px 15px 0 15px;}
						.header{ margin-bottom: -15px; width: 50px;}
						
						
						.content-header{display: flex; justify-content: space-between;}
						.content-header .content-description h4{ padding: 0; margin: 0; text-align: center; font-size: 14px;}
						.content-header .content-description p{ padding: 0; margin: 0; text-align: center; font-size: 13px}
						h3{width:850px;
							font-size:14px;
							text-align:center;
							padding: 0; margin: 10px 0 0 0;
						}
						.upper{
							text-transform:uppercase;
						}

						.flex-b{
							display:flex; margin-bottom:10px;
						}    
						.flex-b-item{
							width:25%; border-left: 1px solid #000;
							border-top: 1px solid #000;border-bottom: 1px solid #000;
						}
						.flex-b-item:last-child{
							border-right: 1px solid #000;
						}
						.flex-b-item p{
							text-align: center;
							margin-top: 0px;
							margin-bottom: 2px;
						}
						.flex-b-item p:first-child{
							padding: 2px 0px 2px 0px;
							border-bottom: 1px solid #000; 
							background: #d9d9d9;
						}
						.blocks{
							border: 1px solid #000; padding:0 0 10px 20px; margin:15px 0 10px 0;
						}

					

						table{
							width:100%;
							border-bottom: 1px solid #000;
							border-right: 1px solid #000;
							border-left: 1px solid #000;
							margin-bottom:15px;
						}
						table thead th{
							border-bottom:1px solid #000;
							border-top:1px solid #000;
							background:#d9d9d9;
						}
						table tbody th{
							border-right: 1px solid #000;
							border-left: 1px solid #000;
						}
						table tfoot th{
							border-top:1px solid #000;
							background:#d9d9d9;
						}
						hr{
							background:#ccc;
							border:1px solid #000;
							width:97%;
						}
						.note{
							font-size:14px;
						}
						.column-center{
							padding: 2.2px 0;
							text-align:center;
						}
						.column-right{
							text-align:right;
						}
						.block-1{margin-top: 20px;}
						.block .col{
							display:inline-block;
							width:49%;
							margin:0;
							padding: 0;
						}
						.block .col label{
							width:75px;
							display:inline-block;
							padding:2px;
							margin:2px 0;
							font-weight:bold;
						}
						.block .col span{
							width:250px;
							display:inline-block;
							padding:2px;
							border-bottom:1px solid #ccc;
							margin:0;
						}
						
						.block p{margin:0;padding:0;}

						.block-6{
							border-radius:5px;
							padding:10px;
							padding-top:30px;
						}
						.block-6 .col p.label{
							font-weight:bold;
						}
						.block-6 .col{
							width:18%;
							padding:10px 19px 10px 0;
							margin-right:15px;
						}
						.block-6 .col.large{
							width:27%;
						}
						.block-6 .col .span{
							padding:5px 10px;
							margin:0;
							border-bottom:1px solid #ccc;
						}
						.block-6 .col .span.right{
							text-align:right;
						}
						.signatures{
							padding-top:80px;
						}
						.signatures .representative{
							display:inline-block;
							width:40%;
							text-align:center;
						}
						.signatures .representative .name{
							border-top:1px dashed #ccc;
							margin:0; padding: 0;
						}
						
						.signatures .representative .dni{
							margin:0; padding: 0;
						}
						.signatures .representative .titular{
							margin:0; padding: 0;
						}
						.signatures .representative .infractor{
							margin:0; padding: 0;
						}
						.signatures{
							display: flex;
							justify-content: space-around;
						}
						</style>
					<body>
						${printContents}
					</body>
				</html>
			`);

			a.document.close(); 
			a.print(); 
			a.close(); 
			this.showModalPrint = false; 
		}*/

	}
}
</script>
<style scoped>
.table-operations {
	padding: 0;
}

.block-1 {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
}

.block-1 div {
	margin: 0;
}

.block-1 input {
	text-align: right;
}

.schedule-footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	text-align: right;
	padding-right: 100px;
	background: #fbfbfb;
}

.schedule-footer>div {
	width: 100px;
	padding: 0 5px;
}

.column-money {
	display: inline-block;
	width: 100%;
	text-align: right;
	padding: 0 5px;
}
</style>
<style>
.debt-expired {
	background-color: rgba(255, 238, 0, 0.1);
	/* background-color:rgba(255,0,0,0.1); */
}

.debt-expire-soon {
	background-color: rgba(255, 238, 0, 0.1);
}

.debt-coactive {
	background-color: rgba(255, 0, 0, 0.1);
}
</style>
