<template>
    <div>
        <div class="content">
            <h1 class="content__title">CUADRO ANALITICO DE RECAUDACIONES POR COMISIONISTAS</h1>
            <hr class="content__divider"/>
            <div class="table-operations">

                <a-form layout="inline">
                        <a-date-picker size="small" style="width:150px" v-model="formData.year" placeholder="Seleccione Año" format="YYYY" mode="year" />
                        
                        <a-button size="small"  type="primary">Filtrar</a-button>

                </a-form>

            </div>
            <div>
                
                <a-table :columns="columns_debt" :data-source="debt_data" :pagination="false" bordered></a-table>

            </div>
            <a-button type="primary">Exportar Excel</a-button> <a-button type="primary">Imprimir</a-button>
        </div>
    </div>
</template>
<script>
import moment from 'moment';
import Repository from "../../repositories/RepositoryFactory";
const ActivityRepository = Repository.get("activity");

const columns_debt = [
  { title: 'Apellidos y Nombres',dataIndex: 'full_name',key: 'full_name'},
  { title: 'Meses',dataIndex: 'month',key: 'month'},
  { title: 'Merced Conductiva',dataIndex: 'merced',key: 'merced'},
  { title: 'Ambulantes',dataIndex: 'itinerant',key: 'itinerant'},
  { title: 'Baja Policia',dataIndex: 'police',key: 'police'},
  { title: 'Taquilla',dataIndex: 'ticket_office',key: 'ticket_office'},
  { title: 'Parqueo',dataIndex: 'park',key: 'park'},
  { title: 'Derecho de Mesa',dataIndex: 'table',key: 'table'},
//   { title: 'Derecho de Matanza',dataIndex: 'death',key: 'death'},
//   { title: 'Extracción de Materiales',dataIndex: 'extraction',key: 'extraction'},
  { title: 'Sub Total por Mes',dataIndex: 'sub_total',key: 'sub_total'},
  { title: 'Total Comisionista',dataIndex: 'total',key: 'total'},
  { title: 'Porcentaje',dataIndex: 'porcentual',key: 'porcentual'},
];

const debt_data = [
  { key: '1',full_name:'Crespo Rafael, Cerila', month:'Enero', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '2',full_name:'Crespo Rafael, Cerila', month:'Febrero', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '3',full_name:'Crespo Rafael, Cerila', month:'Marzo', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '4',full_name:'Crespo Rafael, Cerila', month:'Abril', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '5',full_name:'Crespo Rafael, Cerila', month:'Mayo', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '6',full_name:'Crespo Rafael, Cerila', month:'Junio', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '7',full_name:'Crespo Rafael, Cerila', month:'Julio', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '8',full_name:'Crespo Rafael, Cerila', month:'Agosto', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '9',full_name:'Crespo Rafael, Cerila', month:'Setiembre', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '10',full_name:'Crespo Rafael, Cerila', month:'Octubre', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '11',full_name:'Crespo Rafael, Cerila', month:'Noviembre', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '12',full_name:'Crespo Rafael, Cerila', month:'Diciembre', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '13',full_name:'Crespo Rafael, Cerila', month:'Enero', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '14',full_name:'Crespo Rafael, Cerila', month:'Febrero', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '15',full_name:'Crespo Rafael, Cerila', month:'Marzo', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '16',full_name:'Crespo Rafael, Cerila', month:'Abril', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '17',full_name:'Crespo Rafael, Cerila', month:'Mayo', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '18',full_name:'Crespo Rafael, Cerila', month:'Junio', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '19',full_name:'Crespo Rafael, Cerila', month:'Julio', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '20',full_name:'Crespo Rafael, Cerila', month:'Agosto', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '21',full_name:'Crespo Rafael, Cerila', month:'Setiembre', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '22',full_name:'Crespo Rafael, Cerila', month:'Octubre', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '23',full_name:'Crespo Rafael, Cerila', month:'Noviembre', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
  { key: '24',full_name:'Crespo Rafael, Cerila', month:'Diciembre', merced:'8965.65', itinerant:'2124.25',police:'23145.35',ticket_office:'21235.36', park:'3265.25d', table:'2365.36', death:'3625.36', extraction:'3235.25', sub_total:'3623.25',total: '2356.36', porcentual:'49%'},
];

export default {
    props:['clubid','format','isdisabled','report_activities'],
    data() {
        return {
           formData: {
                middleman_id: '',
                voucher_number: '',
            },
            debt_data,
            columns_debt,
        };
    },
    mounted() {
    },
    methods: {
        showReṕort() {
            console.log('holii')
        },
         getCurrentStyle(current, today) {
            const style = {};
            if (current.date() === 1) {
                style.border = '1px solid #1890ff';
                style.borderRadius = '50%';
            }
            return style;
        },
    }
};
</script>
<style>

</style>
