<template>
    <div>
        <div class="content">
            <h1 class="content__title">REPORTE DE RECAUDACIÓN POR COMISIONISTA</h1>
            <hr class="content__divider"/>
                
                <div>
                    <!-- <h2 class="table__title">REPORTE DE RECAUDACIÓN DIARIA</h2> -->
                    <!-- <h2 class="table__title">MES DE AGOSTO DEL 2015</h2> -->
                    <!-- <h2 class="table__title">Comisionista: Crespo Rafael, Cerila 30/08/2015 10:45</h2> -->
                    <div class="table-operations" >
                        <a-form layout="inline">
                            <span style="color: white" v-show="!is_commission_agent">comisionista:</span>
                            <a-select size="small" v-show="!is_commission_agent" allowClear style="width:200px" v-model="filter.user_id" @change="changeCommissionist()"  placeholder="Seleccionar" >
                                <a-select-option v-for="(item,index) in commissionAgentUsers" :value="item.id" :key="index" >
                                    {{item.name}}
                                </a-select-option>
                            </a-select>
                            <a-divider type="vertical" v-show="!is_commission_agent" />
                            <span style="color: white">rango de fecha:</span>
                            <a-range-picker :locale="locale"   @change="changeDate" format="DD/MMM/YYYY" style="width:300px" size="small" :placeholder="['Fecha Inicio', 'Fecha Final']" :default-value="[filter.date_init, filter.date_end]" :allowClear="false">
				            </a-range-picker>
                            <!-- <a-input v-model="market.search" v-on:keyup.enter="fetch({search:market.search})" style="width:200px" size="small" placeholder="Buscar..."/> -->

                             <a-divider type="vertical" />
                        <a-dropdown-button type="primary" size="small">
                            Exportar
                                <a-menu slot="overlay" @click="handleExportClick" >
                                   <a-menu-item key="pdf"><a-icon type="file-pdf" /> PDF </a-menu-item>
                                    <a-menu-item key="excel"><a-icon type="file-excel" /> Excel </a-menu-item>
                                </a-menu>
                        </a-dropdown-button>

                        </a-form>
                    </div>
                        <a-table
                        :columns="columns"
                        :row-key="(record,index) => index"
                        :data-source="lisTransactions"
                        :pagination="pagination"
                        :scroll="{x:'100%',y:300}"
                        :loading="loading"
                        @change="handleTableChange">
                            <span slot="client" slot-scope="text,record">{{record.client.name}} {{record.client.lastname}}</span>
                            <span slot="user" slot-scope="text,record">{{record.user.name}}</span>
                            <span slot="client_dni" slot-scope="text,record"> {{record.client.dni}}</span>
                            <span slot="status" slot-scope="text,record">{{record.status == '1' ? 'Pagado' : 'Anulado'}}</span>

                            <template slot="footer"  slot-scope="currentPageData">
                                <div class="table-footer-principal"><b>Suma Total:</b> {{transactions_total}}</div>  
                            </template>
                        </a-table>
                    <!--<div v-if="filter.user_id || user.role_id==RT_COMMISSIONIST">
                        <h2 class="table__sub-title">RESUMEN DE RECAUDACIÓN</h2>
                        <a-table 
                            :columns="columns_calculation" 
                            :data-source="totalByConcepts" 
                            :scroll="{ x:'100%' }"
                            :pagination="false" 
                            :row-key="(record,index) => index"
                            bordered 
                            style="max-width:650px; margin: auto">
                        </a-table>
                    </div>-->
                    
                 <!--   <a-button class="btn-print" v-if="!loading" @click="showConfirmPrintCommission()" type="primary">Impresión</a-button>-->
                </div>
                
                <a-modal 
                :width="'95%'" 
                title="Impresión de Reporte de Recaudación por Comisionista" 
                :visible="showModalPrint" 
                @ok="printCommissionCollection" 
                @cancel="showModalPrint = false" 
                cancelText="Cancelar" 
                okText="Imprimir">
                <print-commission-agent-liquidation-component :data_print="data_print" :key="date_printing"/>
                </a-modal>
        </div>
    </div>
</template>
<script>
import moment from "moment";
import 'moment/locale/es';
moment.locale('es');
import locale from 'ant-design-vue/es/date-picker/locale/es_ES';
import Repository from "../../repositories/RepositoryFactory";
const TransactionRepository = Repository.get("transaction");
const UserRepository = Repository.get("user");
const ConceptRepository = Repository.get("concept");
const CompanyRepository = Repository.get("company");
const ResponsabilityRepository = Repository.get("responsability");
const {RT_COBRA,RT_ADMIN, MRCD_CONCEPT_ID, SISA_CONCEPT_ID, COMPANY_ID, BAJP_CONCEPT_ID,RT_COMMISSIONIST} = require("../../constants");
const key = 'updatable';

const columns = [
  { title: 'Correlativo',dataIndex: 'code',width:'100px'},
  { title: 'Fecha',dataIndex: 'date_at',width:'150px'},
  { title: 'Responsable', key:'user',scopedSlots: { customRender: "user" },width:'150px' },
  { title: 'Cliente', key:'client',scopedSlots: { customRender: "client" },width:'300px' },
  { title: 'DNI', key:'client_dni',scopedSlots: { customRender: "client_dni" },width:'90px' },
  { title: 'Detalle',dataIndex: 'detail',width:'290px'},
//   { title: 'Cod. Clasifi.',dataIndex: 'code_clas'},
  { title: 'Estado', key:'status',scopedSlots: { customRender: "status" },width:'70px' },
  { title: 'Total',dataIndex: 'total',align:'right',width:'70px',fixed: 'right'},
];

// const columns_debt = [
//   { title: 'Fecha',dataIndex: 'date',key: 'date'},
//   { title: 'N° Recibo',dataIndex: 'voucher_number',key: 'voucher_number'},
//   { title: 'Merced Conductiva',dataIndex: 'merced',key: 'merced'},
//   { title: 'Ambulantes',dataIndex: 'itinerant',key: 'itinerant'},
//   { title: 'Baja Policia',dataIndex: 'police',key: 'police'},
//   { title: 'Taquilla',dataIndex: 'taquille',key: 'taquille'},
//   { title: 'Parqueo',dataIndex: 'parking',key: 'parking'},
//   { title: 'Derecho de Mesa',dataIndex: 'table',key: 'table'},
//   { title: 'Sub Total',dataIndex: 'sub_total',key: 'sub_total'},
// ];


const columns_calculation = [
  { title: 'Detalle',dataIndex: 'sector_name',key: 'sector_name',align:'center',width:'100px'},
  { title: 'Total Recaudado',dataIndex: 'total',key: 'total',align:'center',width:'100px'},
  { title: '%',dataIndex: 'porcentual',key: 'porcentual',align:'right', width:'85px'},
  { title: 'Comisión',dataIndex: 'calculate',key: 'calculate',align:'right', width:'80px'},
];

export default {
    data() {
        return {
            lisTransactions:[],
            concepts:[],
            commissionAgentUsers:[],
            totalByConcepts:[],
            responsabilitiesBySector:[],
            commissionAgent: {
                middleman_id: '',
                voucher_number: '',
            },
            filter:{date_init:moment(),date_end:moment()},
            pagination: {},
            company:{},
            transactions_total:0,
            loading: false,
            columns,
            moment,
            RT_COBRA,
            MRCD_CONCEPT_ID, 
            SISA_CONCEPT_ID, 
            BAJP_CONCEPT_ID,
            RT_COMMISSIONIST,
            columns_calculation,
            locale,
            showModalPrint:false,
            commission_agent_id:null,
            commission_agent_name:null,
            date_printing:null,
            is_commission_agent:false,
            data_print:{},
            user:{},            
        };
    },
    async mounted() {
        this.filter.date_init=moment().format('YYYY-MM-DD');
        this.filter.date_end=moment().format('YYYY-MM-DD');
        await this.fetchUser();
        await this.fetchConcept();
        await this.fetchResponsabilities(),
        await this.fetchCommissionAgentUser();
        await this.fetchCompany();   
    }, methods: { 
    async fetchResponsabilities(){
      try {

        let params = {'status':1,...this.filter};
        if(this.is_commission_agent) params.user_id = window.USER_ID;
        if(this.user.role_id==RT_COMMISSIONIST) params.user_id = window.USER_ID; //ESTO CUANDO ESTA LOGEADO EL COMMISIONISTA y esto para que traiga sus porcentajes por cada sector
      	let {data} = await ResponsabilityRepository.list(params);
        this.responsabilitiesBySector = data;
      } catch (error) {
      	this.error();
      } 
    },
        async fetchConcept(params) {
			try {
				const {data} = await ConceptRepository.list(params);
				this.concepts = data.data;
			} catch(error) {
				this.error();
			}
        },
      async changeCommissionist() {
        await this.fetchResponsabilities();
        await this.fetchTransaction();
        await this.fetchTotalBySector();
      },

        async fetchCompany(){
            const {data} = await CompanyRepository.get(COMPANY_ID); 
			this.company = data;
        },
        async fetchUser() {
			const {data} =  await UserRepository.get(window.USER_ID);
			this.user = data;
		},
        async fetchCommissionAgentUser(params = {}) {
            params = {...params};
            params.roles_id = [RT_COBRA];
	        const {data} =  await UserRepository.allCommissionAgent(params);
            this.commissionAgentUsers = data;
            this.is_commission_agent = this.commissionAgentUsers.find(item => item.id == window.USER_ID) != undefined;
             //Se requiere el estado: is_commission_agent
            this.fetchTransaction();
            this.fetchTotalBySector();
		},
        async fetchTransaction(params){
           // params = {...params,...this.filter,no_paginate:true};
            params = {...params,...this.filter};
            this.commission_agent_id=params.user_id;
            let count = 1;
            if(this.is_commission_agent) params.user_id = window.USER_ID;
            if(this.user.role_id==RT_COMMISSIONIST) params.user_id = window.USER_ID; //ESTO CUANDO ESTA LOGEADO EL COMMISIONISTA
			this.loading = true;
			try {
				const {data} = await TransactionRepository.allDetailsByConcepts(params);
                this.lisTransactions = [];
				data.data.data.forEach(transaction => {
                    this.lisTransactions.push({
                        code:transaction.code,
                        date_at:moment(transaction.date_at).format('DD-MM-YYYY HH:mm:ss'),
                        user: transaction.user,
                        detail: transaction.detail,
                        code_clas: transaction.classifier_ref,
                        total: transaction.total.toFixed(2),
                        status: transaction.status,
                        client: transaction.client,
                    })		
				});
                const pagination = { ...this.pagination };
				pagination.total = data.data.total;
				this.pagination = pagination;
				this.transactions_total = Number.parseFloat(data.transactions_total ? data.transactions_total : 0).toFixed(2);
				this.loading = false;
			} catch(error) {
				this.error();
			}
        },
        async fetchTotalBySector(params = {}) {
            if(!this.filter.user_id && this.user.role_id!=RT_COMMISSIONIST){
                this.totalByConcepts=null;
            }else{
                params = {...params,...this.filter};
                if(this.is_commission_agent) params.user_id = window.USER_ID;
                if(this.user.role_id==RT_COMMISSIONIST) params.user_id = window.USER_ID; //ESTO CUANDO ESTA LOGEADO EL COMMISIONISTA
                params.sectors_id = this.responsabilitiesBySector.map(item => item.sector_id);
            
                try {
                    const {data} = await TransactionRepository.calculateTotalBySector(params);
                    this.totalByConcepts = data;
                    
                    this.totalByConcepts.forEach(item => {
                        item.total = parseFloat(item.total).toFixed(2);
                    this.responsabilitiesBySector.forEach(data => {
                        if(data.sector_id == item.sector_id){
                        item.total =  parseFloat(item.total).toFixed(2);
                        item.sector_name = data.sector.name;
                        item.porcentual = data.porcentual+' %';
                        item.calculate = parseFloat(item.total * (data.porcentual / 100)).toFixed(2);
                        }
                    })
                    })
                    
                    let general_total = this.totalByConcepts.reduce((accu,item) => accu + parseFloat(item.total),0).toFixed(2);
                    let general_calculate = this.totalByConcepts.reduce((accu,item) => accu + parseFloat(item.calculate),0).toFixed(2);
                    // Add general total
                    this.totalByConcepts.push({
                        sector_name: 'TOTAL', 
                        total: general_total, 
                        calculate: general_calculate
                    },
                    );
                }catch(error) {
                    console.log(error)
                    this.error();
                }
            }
            
        },
        getCurrentStyle(current, today) {
            const style = {};
            if (current.date() === 1) {
                style.border = '1px solid #1890ff';
                style.borderRadius = '50%';
            }
            return style;
        },
        // Evento tabla
		handleTableChange(pagination, filters, sorter){
			const pager = { ...this.pagination };
			pager.current = pagination.current;
			this.pagination = pager;
			this.fetchTransaction({
				results: pagination.pageSize,
				page: pagination.current,
				sortField: sorter.field,
				sortOrder: sorter.order,
				...filters,
			});
        },
        handleCommissionAgentClick(commissionAgentId) {
            this.fetchCommissionAgentUser({id:commissionAgentId});
        },
        		// Evento filtro fecha
		changeDate(value, dateString) {
			this.filter.date_init = value[0] ? moment(value[0]).format('YYYY-MM-DD') : null;
			this.filter.date_end = value[1] ? moment(value[1]).format('YYYY-MM-DD') : null;
            this.fetchTransaction();
            this.fetchTotalBySector();
        },
        showConfirmPrintCommission(){
            this.$message.loading({ content: 'Cargando...', key });
            this.date_printing= moment(new Date()).format('DD/MM/YYYY HH:mm:ss');
            let date_person=this.commissionAgentUsers.find(item=>item.id==this.commission_agent_id);
            this.commission_agent_name=date_person ? date_person.username : "Todos";
            this.showModalPrint = true;
            this.$message.success({ content: 'Cargado!', key, duration: 2 });
            this.data_print={company:this.company,
                columns:this.columns,
                lisTransactions:this.lisTransactions,
                transactions_total:this.transactions_total,
                columns_calculation:this.columns_calculation,
                totalByConcepts:this.totalByConcepts,
                date_printing:this.date_printing,
                date_init:this.filter.date_init,
                date_end:this.filter.date_end,
                commission_agent_name:this.commission_agent_name,
                user:this.user,
            }
        },
        error (message) {
			this.$message.error(message||'Error al procesar');
		},
		success (message) {
			this.$message.success(message||'Proceso Correcto');
        },
        async printCommissionCollection(){
            if(!this.filter.user_id && this.user.role_id!=RT_COMMISSIONIST){
                this.$message.warning('Seleccione un comisionista!!!'); return;
            }
            let pdf = await TransactionRepository.printCommissionCollection({totalByConcepts:this.totalByConcepts,
                username:this.data_print.commission_agent_name,
                date_init:this.filter.date_init,date_end:this.filter.date_end});
			window.open(pdf.data);
        },
         handleExportClick(e) {
            if(e.key == 'pdf') this.exportPdf();
            if(e.key == 'excel') this.exportExcel();
        },
        async exportPdf() {
           
            let {data} = await TransactionRepository.getListCommissionExportPdf({date_init:this.filter.date_init,date_end:this.filter.date_end,user_id:this.filter.user_id,no_paginate:true});
           window.open(data);
        },
        async exportExcel(){
           let {data} = await TransactionRepository.getListCommissionExportExcel({date_init:this.filter.date_init,date_end:this.filter.date_end,user_id:this.filter.user_id,no_paginate:true});
            window.open(data); 
        },
         formatNameColumns(list) {
            let name_columns = list.map(item => [item.title,item.key] );
            return name_columns;
        },
        /*
        printTransaction(){
            var printContents = document.getElementById("print_account_status").innerHTML;
            var a = window.open('', '_blank', 'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,height=400, width=400');
            a.document.write(`
				<html>
					<head>
						<style>
						*,body {
							font-size:10px;
							padding:0;
							border;0;
						}
						*,body, ::before, ::after {
							box-sizing: border-box;
						}
						.header-modal-report {
							display:flex
						}

						.header-modal-report--left img {
							width: 50px;
						}

						.header-modal-report--right {
							width:100%;
							display: flex;
							flex-direction: column;
							line-height: 1.5em;
							text-align: center;
						}

						.table-operations {
							display:none
						}
						
						.ant-divider, .ant-divider-vertical {
							position: relative;
							top: -0.06em;
							display: inline-block;
							width: 1px;
							height: 0.9em;
							margin: 0 8px;
							vertical-align: middle;
						}

						.ant-divider {
							box-sizing: border-box;
							margin: 0;
							padding: 0;
							color: rgba(0, 0, 0, 0.65);
							font-size: 14px;
							font-variant: tabular-nums;
							line-height: 1.5;
							list-style: none;
							font-feature-settings: 'tnum';
							background: #e8e8e8;
						}

					.ant-table {
						box-sizing: border-box;
						margin: 0;
						padding: 0;
						color: rgba(0, 0, 0, 0.65);
						font-size: 12px;
						font-variant: tabular-nums;
						line-height: 1.5;
						list-style: none;
						font-feature-settings: 'tnum';
						position: relative;
						clear: both;
					}
					.ant-table-body {
						transition: opacity 0.3s;
					}

					.ant-table table {
						width: 100%;
						text-align: left;
						border-radius: 4px 4px 0 0;
						border-collapse: separate;
						border-spacing: 0;
					}

					.ant-table-thead > tr, .ant-table-tbody > tr {
						transition: all 0.3s, height 0s;
					}

					.ant-table-thead > tr:first-child > th:first-child {
						border-top-left-radius: 4px;
					}

					.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
						padding: 16px 16px;
						overflow-wrap: break-word;
					}

					.ant-table-thead > tr > th {
						color: rgba(0, 0, 0, 0.85);
						font-weight: 500;
						text-align: left;
						background: #fafafa;
						border-bottom: 1px solid #e8e8e8;
						transition: background 0.3s ease;
					}
                    .ant-table-footer{ padding: 5px;}
                    .table-footer-principal[data-v-540a30bc]{text-align: center;}
                    .table__sub-title {
                        font-size: .8rem;
                        text-align: center;
                    }
					.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
						padding: 5px !important;
                    }
                    .table2 .ant-table-wrapper{
                        width:650px; margin: auto;
                    }
                    .ant-table-scroll{
                        width: 1238.3px;
                    }
                    .ant-table-fixed-right{
                        width: 70px;
                        display:none;                 }

						
							.table-footer {
								float: right;
								padding-right:5px;
							}
						</style>
					</head>
					<body>
						${printContents}
					</body>
				</html>
			`);

			a.document.close(); 
			a.print(); 
			a.close(); 
			this.showModalPrint = false;
        },
        */
    }
};
</script>
<style scoped>

.table__sub-title {
    font-size: .8rem;
    text-align: center;
}


	.table-footer-principal {
		text-align: center;
	}

</style>
