<template>
    <div>
        <div class="content">
            <h1 class="content__title">REPORTE DE COMISIONISTAS POR RECAUDACIONES MENSUALES</h1>
            <hr class="content__divider"/>
                <div class="table-operations" >
                    <a-form layout="inline">
                        
                        <span style="color: white"><b>Año:</b></span>    
                        <a-input v-model="filters.year" size="small" style="width:100px; text-align:center;" />
    
                        <a-button size="small" type="primary" @click="fetch">Buscar</a-button>
                        <a-divider type="vertical" />
                        <a-dropdown-button type="primary" size="small">
                            Exportar
                                <a-menu slot="overlay" @click="handleExportClick" >
                                    <a-menu-item key="pdf"><a-icon type="file-pdf" /> PDF </a-menu-item>
                                    <a-menu-item key="excel"><a-icon type="file-excel" /> Excel </a-menu-item>
                                </a-menu>
                        </a-dropdown-button>
                    </a-form>
                </div>
            <div>
                <a-table 
                :row-key="(record,index) => index" 
                :columns="columns" 
                :data-source="data" 
                :pagination="false" 
                :scroll="{ x:'100%' }"
                bordered>
                    <span slot="total" slot-scope="text,record">{{record.total.toFixed(2)}}</span>
                </a-table>
            </div>
            
        </div>
    </div>
</template>
<script>
import moment from "moment";
moment.locale('es');
import Repository from "../../repositories/RepositoryFactory";
const TransactionRepository = Repository.get("transaction");

const columns = [
  { title: 'Comisionista',dataIndex: 'name',key: 'comisionista',width:'180px'},
  { title: 'Cargo',dataIndex: 'position',key: 'position',width:'100px'},
  { title: 'Ene',dataIndex: 1, key: 'ene', align:"right",width:'80px'},
  { title: 'Feb',dataIndex: 2, key: 'feb', align:"right",width:'80px'},
  { title: 'Mar',dataIndex: 3, key: 'mar', align:"right",width:'80px'},
  { title: 'Abr',dataIndex: 4, key: 'abr', align:"right",width:'80px'},
  { title: 'May',dataIndex: 5, key: 'may', align:"right",width:'80px'},
  { title: 'Jun',dataIndex: 6, key: 'jun', align:"right",width:'80px'},
  { title: 'Jul',dataIndex: 7, key: 'jul',align:"right",width:'80px'},
  { title: 'Ago',dataIndex: 8, key: 'ago', align:"right",width:'80px'},
  { title: 'Set',dataIndex: 9, key: 'set', align:"right",width:'80px'},
  { title: 'Oct',dataIndex: 10, key: 'oct', align:"right",width:'80px'},
  { title: 'Nov',dataIndex: 11, key: 'nov', align:"right",width:'80px'},
  { title: 'Dic',dataIndex: 12, key: 'dic', align:"right",width:'80px'},
  { title: 'Total',key: 'total',scopedSlots: { customRender: "total" }, align:"right",width:'80px',fixed: 'right' },
];


export default {
    data() {
        return {
           formData: {},
            columns,
            data:[],
            filters:{year:moment().format("Y")},
        };
    },
    mounted() {
        this.fetch();
    },
    methods: {
        async fetch() {
            const {data} = await TransactionRepository.listGroupByMonth({year:this.filters.year});
            let rearrange_object = {};
            let totals = {};
            
            data.map( e=>{
                if( ! (e.user_id in rearrange_object) ) rearrange_object[e.user_id] = {user_id:e.user_id, name:e.name, position:e.position, porcentage:e.porcentage, total:0 }; 
                rearrange_object[e.user_id][e.month] = e.total.toFixed(2);
                rearrange_object[e.user_id].total +=e.total; 
                if(! (e.month in totals)) totals[e.month]=0;
                totals[e.month] = parseFloat(totals[e.month])+ e.total;
      
            });
            totals.total=Object.values(totals).reduce( (s,e)=>s+=e,0);
            for (var [key, value] of Object.entries(totals)) {
                if(key!='total')
                totals[key] = value.toFixed(2);
            }
           
            let rearrange_array=[];
            for (var [key, value] of Object.entries(rearrange_object)) { rearrange_array.push(value);}
            rearrange_array.push(totals);
            this.data = rearrange_array;
        }, 
        handleExportClick(e) {
			if(e.key == 'pdf') this.exportPdf();
			if(e.key == 'excel') this.exportExcel();
        },
        async exportPdf() {
            let name_columns = this.formatNameColumns(this.columns);
            let {data} = await TransactionRepository.getListGroupByMonthExportPdf({'data':this.data,'column':name_columns,'year':this.filters.year});
			window.open(data);
		},
		async exportExcel(){
            let name_columns = this.formatNameColumns(this.columns);
            let {data} = await TransactionRepository.getListGroupByMonthExportExcel({'data':this.data,'column':name_columns,'year':this.filters.year});
			window.open(data); 
        },
        formatNameColumns(list) {
            let name_columns = list.map(item => [item.title,item.key] );
            return name_columns;
        },
    },
    
};
</script>
<style>
</style>
