<template>
    <div>
        <a-menu style="width: 250px" :default-selected-keys="['1']" :open-keys.sync="openKeys" theme="dark" mode="inline" >
            
            <a-sub-menu v-if="permissions.liquidations" key="liquidations">
                <span slot="title"><a-icon type="solution" /><span>Recaudacion Comsta.</span></span>
                <a-menu-item v-for="menu in permissions.liquidations" :key="menu.key"> 
                    <router-link :to="menu.link"> {{menu.name}}</router-link>
                </a-menu-item>
            </a-sub-menu>
            <a-sub-menu v-if="permissions.debts"  key="debts">
                <span slot="title"><a-icon type="fire" /><span>Deudas</span></span>
                <a-menu-item v-for="menu in permissions.debts" :key="menu.key"> 
                    <router-link :to="menu.link"> {{menu.name}}</router-link>
                </a-menu-item>
            </a-sub-menu>
            <a-menu-item v-for="menu in permissions.notifications" :key="menu.key"> 
                <router-link to="/notifications/normal"> <a-icon type="mail" /> Notificaciones</router-link>
            </a-menu-item>
            <a-menu-item v-for="menu in permissions.f_notifications" :key="menu.key"> 
                <router-link to="/notifications/FRA"> <a-icon type="mail" />Notificaciones F.</router-link>
            </a-menu-item>

            <a-menu-item v-for="menu in permissions.fractionaries" :key="menu.key"> 
                <router-link to="/fractionaries"> <a-icon type="appstore" /> Fraccionamiento </router-link>
            </a-menu-item>
            <a-menu-item v-for="menu in permissions.directfine" :key="menu.key"> 
                <router-link to="/direct-fine"> <a-icon type="audit" /> Multa Directa </router-link>
            </a-menu-item>
            <a-sub-menu  v-if="permissions.cashbox" key="cashbox">
                <span slot="title"><a-icon type="bank" /><span>Caja</span></span>
                <a-menu-item v-for="menu in permissions.cashbox" :key="menu.key">
                    <router-link :to="menu.link">{{menu.name}}</router-link>
                </a-menu-item>
            </a-sub-menu>
            <a-sub-menu v-if="permissions.reports" key="reports">
                <span slot="title"><a-icon type="snippets" /><span>Reportes</span></span>
                <a-menu-item v-for="menu in permissions.reports" :key="menu.key">
                    <router-link :to="menu.link">{{menu.name}}</router-link>
                </a-menu-item>
            </a-sub-menu>
            <a-sub-menu v-if="permissions.setting" key="setting">
                <span slot="title"><a-icon type="setting" /><span>Administración</span></span>
                
                <a-menu-item v-for="menu in permissions.setting" :key="menu.key">
                    <router-link :to="menu.link">{{menu.name}}</router-link>
                </a-menu-item>
            </a-sub-menu>
        </a-menu>
    </div>
</template>

<script>
 import Repository from "../repositories/RepositoryFactory";
const UserRepository = Repository.get("user");
export default {
    props:['baseUrl','currentUrl','user'],
    data(){
        return {
            permissions:[],
            collapsed: false,
            url: this.currentUrl.replace(this.baseUrl,''),
            // --  Menu and  ---
            current: ['mail'],
            openKeys: ['sub1'],
            user_object:{},
        }
    },
    mounted() {
        this.verifyUser();
        // this.permission = access[this.role];
        if(this.user_object.id) this.fetch();
    },
    methods: {
        verifyUser(){
            try {
                this.user_object = JSON.parse(this.user);
            } catch (e) {
                alert("Se ha agotado su sesion");
            }
        },
        toggleCollapsed() {
            this.collapsed = !this.collapsed;
        },
        async fetch() {
            const {data} = await UserRepository.listAccess({user_id: this.user_object.id ,role_id:this.user_object.role_id});
            this.permissions = data;

            let access_ =[];
            for (const [key, items] of Object.entries(data)) {
                access_= access_.concat(items);
                
            }
            sessionStorage.setItem("menu", JSON.stringify(access_));
            access_.push({link:'/'});
            if(!location.pathname.includes('storage') && !access_.find(e=>e.link == location.pathname) ){
                alert("ACCESO DENEGADO");
                location.href = "/"; 
            }

        },
    }
}
</script>
<style>
#sidebar ul li a {
    padding: 0;
    font-size: .9rem;
}

#sidebar ul li:hover {
    background: #08979C;
}

#sidebar ul li a:hover {
    background:none;
}

#sidebar {
    height:100vh;
    overflow-y: scroll;
}

</style>
