<template>
  <div id="payment_print" class="print">
    <div class="payment_print__container">
      <div class="payment_print__header">
        <div class="payment_print__header__logo">
          <img :src="asset('images/logomuni.png')" alt="image logo">
          <!-- <img src="{{ asset('storage/app/public/images/logomuni.png')}}" alt="image logo"> -->
        </div> 
        <div class="payment_print__header__data">
          <span><b>Fecha:</b> {{transaction.date_at}}</span>
          <!--<span><b>Caja:</b> 1 <b>Usuario:</b> {{transaction.user.name}}</span>-->
          <span><b>{{transaction.user.role_id!=RT_COMMISSIONIST?'Caja: 1 Usuario: ':'Comisionista: '}}</b>{{transaction.user.name}}</span>
          <!-- <span><img src="/images/logomarket.png" alt="image logo" width="20px" ></span> -->
        </div>
      </div>
      <div class="payment_print__body"> 
        <p style="margin:0;padding:0;" class="name-muni"><span class="payment_print__body__area">{{company.name}}</span></p>
        <div class="applying_flex">
            <p style="margin:0;padding:0;"><span>RUC: {{company.ruc}} <b>{{transaction.status==0 ? 'EXTORNADO' : ''}}</b></span></p>
        </div>
        <p class="direccion" style="margin:0;padding:0"><span>{{company.address}}</span></p>
        <h1 class="payment_print__body__title">RECIBO DE {{transaction.user.role_id!=RT_COMMISSIONIST?'CAJA':'COBRANZA'}} N° {{transaction.code}}</h1>
        <span class="style-print-description"><b>F. EMISIÓN: </b>{{transaction.date_at}}</span>
        <span class="style-print-description"><b>NOMBRE/RAZON SOCIAL:</b></span>
        <span class="style-print-description"><b>{{transaction.client.lastname}} {{transaction.client.name}} - {{transaction.client.dni}}</b></span>
        <a-table
        :columns="print_columns_table"
        :row-key="(record,index) =>index"
        :data-source="transaction.transactiondetails"
        :pagination="false">
          <span slot="number" slot-scope="text,record,index" >{{index + 1}}</span>
          <span slot="total" slot-scope="text,record,index" >{{record.total}}</span>
          <template slot="footer"  slot-scope="currentPageData" class="footer footer-total-comisionista" style="margin-top:10px;">
            <div class="table-footer"><span><b>TOTAL PAGADO:</b></span><span><b>{{Number.parseFloat(transaction.total).toFixed(2)}}</b></span></div>
          </template>
        </a-table>
          <!--<div v-if="transaction.user.role_id==RT_COMMISSIONIST" class="total-comisionista">
            <span><b>TOTAL PAGADO cariño:</b></span><span><b>{{Number.parseFloat(transaction.total).toFixed(2)}}</b></span>
          </div>-->
          <div v-if="transaction.status == 0" class="description-extornado">
              <div><span><b>Fecha de Extornación:</b> {{transaction.date_delete}}</span></div>
              <span><b>OBSERVACIÓN: </b></span> 
              <span>{{transaction.message_delete}}</span>
          </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from "moment";
moment.locale('es');
const {RT_COMMISSIONIST} = require("../constants");
const print_columns_table = [
	{title:'N°.', key:'number',scopedSlots: { customRender: "number" } },
	{title:'DETALLE', dataIndex:'detail'},
	{title:'CANT.', dataIndex:'amount'},
	// {title:'MONTO', dataIndex:'total'},
	{title:'TOTAL', key:'total',scopedSlots: { customRender: "total" },align:'right'},
]

export default {
  props: ['transaction','company'],
  data() {
    return {
      moment,
      // columnas de impresión
			print_columns_table,
      RT_COMMISSIONIST
    };
  },
  mounted() {
    //console.log(window._asset);
  },
  methods: {
    handleChange(info) {
    
    },
  },
};
</script>
<style scoped>
/* print comprobant */
  .applying_flex{
    display: flex;
    justify-content: space-between;
  }
  #payment_print {
    margin-bottom: 20px;
  }

	.payment_print__header {
		display: flex;
		justify-content: space-between;
	}
	.payment_print__header__logo {
    height: 80px;
	}
  .payment_print__header__logo img{
    width: 60px;
  }

	.payment_print__header__data  {
		display: flex;
    text-align:right;
		flex-direction: column;
		font-size: .7em;
	}

	.payment_print__body {
    display: flex;
		flex-direction: column;
	}

	.payment_print__body span {
		line-height: 1.5em;
	}

	.payment_print__body table {
		margin-top: 10px
	}

	.payment_print__body__area {
		margin-top: 10px;
	}

	.payment_print__body__title {
		font-size: 1.2em;
		text-align: center;
		margin: 15px 0;
	}

  /** Table footer */
  .table-footer{
    text-align: right;
    float: initial;
    padding-right: 0em; 
  }
  .table-footer span:nth-child(1){
    margin-right: 70px;
  }
  .result-total{
    text-align: right;
  }
  .result-total span:nth-child(1){
		margin-right:20px;			
  }
</style>
