<template>

  <div id="print_notification">
               <div id=footer>
            <div class=page-number></div>
        </div>
    <!--<div class="header"> <img src="/images/logomuni.png"  alt="image logo"/> </div>-->
    <div class="container page">
 
        <!--
        <p style="line-height: 0; font-size: 10px;"><b style="font-size: 10px">Fecha: </b>{{date_impresion}}</p>
        <p style="line-height: 0; font-size: 10px;"><b style="font-size: 10px">Usuario: </b>{{notification_print.usuario.name}}</p>-->
        <div class="width">
            
            <div class="content-header">
                <div class="header">
                    <img :src="setting[3].value" alt="image logo" style="width:80px">
                    <p style="text-align:center; margin:0; padding:0; font-size:6px; font-weight: 800;">MUNICIPALIDAD PROVINCIAL</p>
                    <p style="text-align:center; margin:0; padding:0; font-size:6px; font-weight: 800;">DE LEONCIO PRADO</p>
                </div>
                <div class="content-description">
                    <h4>{{company.name}}</h4>
                    <p>RUC: {{company.ruc}}</p>
                    <!--<p><b>Tingo Maria - Perú</b></p>-->
                    <p>{{company.address}}</p>
                </div>
                <div class="header">
                    
                    <div>
                        <p style="text-align:center; margin:0; padding:0; font-size:10px;">Fecha: {{date_impresion}}</p>
                        <p style="text-align:center; margin:0; padding:0; font-size:10px;">Usuario: {{notification_print.usuario.name}}</p>
                    </div>
                    <div style="width:140px;border:1px solid #ccc;">
                        <p style="text-align:center; margin:0; padding:3px 0px; border-bottom:1px solid #ccc; background:#ddd;">AVISO</p>
                        <p style="text-align:center; margin:0; padding:3px 0px;">{{notification_print.code.slice(7, -5)}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="body">

            <h1 class="upper">NOTIFICACION - {{notification_print.concept.name}}</h1>
                <p style="padding:0; margin:0; text-align:center;" v-if="notification_print.status==0">(SUBSANADO)</p>
            <div>
                <div style="border: 1px solid #000; padding:3px 8px 3px 8px; margin-top:30px;">
                    <p style="margin:0; padding:3px 0px;">IDENTIFICACIÓN DEL DEUDOR TRIBUTARIO</p>
                    <div style="display: flex;">
                        <p style="width:181px; margin:0; padding:3px 0px; text-align:right;">Nombre o Razón Social:</p>
                        <p style="margin:0; padding:3px 0px;"><b style="padding-left:5px">{{notification_print.to.name}} {{notification_print.to.lastname}}</b></p>
                    </div>
                    <div style="display: flex;">
                        <p style="width:181px; margin:0; padding:3px 0px; text-align:right;">Documento de Identidad:</p>
                        <p style="margin:0; padding:3px 0px;"><b style="padding-left:5px">{{notification_print.to.dni}}</b></p>
                    </div>
                    <div style="display: flex;">
                        <p style="width:181px; margin:0; padding:3px 0px; text-align:right;">Domicilio Fiscal: </p>
                        <p style="margin:0; padding:3px 0px;"><b style="padding-left:5px">{{notification_print.to.address1}}</b></p>
                    </div>
                    
                    <div style="display: flex;" v-if="notification_print.stand_id && notification_print.stand.code">
                        <p style="width:181px; margin:0; padding:3px 0px; text-align:right;">Sector: </p>
                        <p style="margin:0; padding:3px 0px;"><b style="padding-left:5px">{{notification_print.stand.sector.name}}</b></p>
                    </div>
                    <div style="display: flex;" v-if="notification_print.stand_id && notification_print.stand.code">
                        <p style="width:181px; margin:0; padding:3px 0px; text-align:right;">Puesto: </p>
                        <p style="margin:0; padding:3px 0px;"><b style="padding-left:5px">{{notification_print.stand.code}}</b></p>
                    </div>
                    <div style="display: flex;" v-if="notification_print.stand.name">
                        <p style="width:181px; margin:0; padding:3px 0px; text-align:right;">Local: </p>
                        <p style="margin:0; padding:3px 0px;"><b style="padding-left:5px">{{notification_print.stand.name}}</b></p>
                    </div>
                </div>
                <p style="margin:10px 0px; padding:0px 0px;">Estimado Contribuyente:</p>
                <p style="margin:3px 0px 5px 0px; padding:0px 0px;">{{notification_print.content}}</p>
                <!--
                <div class="debt-list">
                    <table>
                        <thead> <tr> <th>Periodo</th> <th class="column-center">Concepto</th> <th>Monto</th>  </tr> </thead>
                        <tbody>
                            <tr v-for="(debt, index) in notification_print.debts" :key="index">
                                <td>{{moment(debt.date_at).format("YYYY-MM")}}</td>
                                <td class="column-center">{{ notification_print.concept.name }}</td>
                                <td class="column-right">{{debt.total.toFixed(2)}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr><th></th> <th class="column-center">Total</th><th class="column-right">{{total_print}}</th> </tr>
                        </tfoot>
                    </table>
                </div>
                -->

                <table>
                        <tr>
                            <th>AÑO</th>
                            <th>ENE</th>
                            <th>FEB</th>
                            <th>MAR</th>
                            <th>ABR</th>
                            <th>MAY</th>
                            <th>JUN</th>
                            <th>JUL</th>
                            <th>AGO</th>
                            <th>SET</th>
                            <th>OCT</th>
                            <th>NOV</th>
                            <th>DIC</th>
                            <th>DEUDA</th>
                        </tr>
                        <tr v-for="(debt, index) in notification_print.debts" :key="index">

                        </tr>
                       
                    </table>
                    <div style="text-align:right;">
                        <span><b style="font-size:11px;">TOTAL S/. </b>  </span><span> <b style="font-size:12px; padding-right:4px;">{{total_print}}</b></span>
                    </div>






                <div style="display:flex; flex-direction: column; align-items: center;">
                    <div style="width: 60%">
                        <div style="display:flex;">
                            <div style="width: 33%; border-left: 1px solid #000; border-bottom: 1px solid #000; border-top: 1px solid #000; background: #d9d9d9;">
                                <p style="text-align: center; margin: 4px 0px;"><b>Periodo</b></p>
                            </div>
                            <div style="width: 33%; border-left: 1px solid #000; border-bottom: 1px solid #000; border-top: 1px solid #000; background: #d9d9d9;">
                                <p style="text-align: center; margin: 4px 0px;"><b>Concepto</b></p>
                            </div>
                            <div style="width: 33%; border-left: 1px solid #000; border-right: 1px solid #000; border-bottom: 1px solid #000; border-top: 1px solid #000; background: #d9d9d9;">
                                <p style="text-align: right; padding-right:25px; margin: 4px 0px;"><b>Monto</b></p>
                            </div>
                        </div>
                    </div>
                    <div style="width: 60%">
                        <div v-for="(debt, index) in notification_print.debts" :key="index" 
                        style="display:flex;">
                            <div style="width: 33%; border-left: 1px solid #000; border-bottom: 1px solid #000;">
                                <p style="text-align: center; margin: 4px 0px;">{{moment(debt.date_at).format("YYYY-MM")}}</p>
                                </div>
                            <div style="width: 33%; border-left: 1px solid #000; border-bottom: 1px solid #000;">
                                <p style="text-align: center; margin: 4px 0px;">{{ notification_print.concept.name }}</p>
                                </div>
                            <div style="width: 33%; border-left: 1px solid #000; border-right: 1px solid #000; border-bottom: 1px solid #000;">
                                <p style="text-align: right; padding-right:25px; margin: 4px 0px;">{{debt.total.toFixed(2)}}</p></div>
                        </div>
                    </div>
                    <div style="width: 60%">
                        <div style="display:flex;">
                            <div style="width: 33%;  border-left: 1px solid #000; border-bottom: 1px solid #000;">
                                <p style="text-align: center; margin: 4px 0px;"></p>
                            </div>
                            <div style="width: 33%; border-left: 1px solid #fff; border-bottom: 1px solid #000;">
                                <p style="text-align: center; margin: 4px 0px;"><b>Total</b></p>
                            </div>
                            <div style="width: 33%; padding-right:25px; border-left: 1px solid #fff; border-right: 1px solid #000; border-bottom: 1px solid #000;">
                                <p style="text-align: right; margin: 4px 0px;"><b>{{total_print}}</b></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                
                
                <div class="signatures">
                    <div class="boss">   
                        <img class="signature_image" :src="setting[2].value" alt="image firma"/>
                        <p class="name upper">{{setting[0].value}}</p>
                        <p class="role upper"> {{setting[1].value}}</p>
                    </div>
                </div>
                <div style="padding-top:10px;">Avisos:</div>
                <p style="padding:0;margin:0;"><p v-html="setting[6].value" ></p>
            </div>

        </div> 
    </div>
     
  </div>
</template>
<script>
import moment from "moment";
import 'moment/locale/es';
moment.locale('es');
moment().format('LL');

import locale from 'ant-design-vue/es/date-picker/locale/es_ES';

import Repository from "../repositories/RepositoryFactory";
const CompanyRepository = Repository.get("company");
const SettingRepository = Repository.get("setting");
const {COMPANY_ID,PIT_CONCEPT_ID,TER_CONCEPT_ID,MAU_CONCEPT_ID,PNL_CONCEPT_ID,NCH_CONCEPT_ID} = require("../constants");
export default {
  props: ['notification_print','total_print'],
  data() {
    return {
      moment,
      company:{},
      locale,
      setting:[{},{},{},{},{},{},{},{}],
      PIT_CONCEPT_ID,
      TER_CONCEPT_ID,
      MAU_CONCEPT_ID,
      PNL_CONCEPT_ID,
      NCH_CONCEPT_ID,
        date_impresion:moment().format('DD-MM-YYYY HH:mm:ss'),
        counter:1,
        total_debt_per_year:0,
        debts_by_years:[],
    };
  },
  mounted() {
    this.fetchCompany();
    this.fetchSetting();
    this.sortDebtsByYear();
  },
  methods: {
    async fetchCompany(){
        const {data} = await CompanyRepository.get(COMPANY_ID); 
        this.company = data;
    },
    async fetchSetting(){
        const {data} = await SettingRepository.list();
        this.setting = data.data;
    },
    sortDebtsByYear(){
        /*for (let i = 0; i < this.notification_print.debts.length; i++) {
            console
        }*/
       // let market_sector_concept=[];
        //let debts_by_years=[];
        let items_fila_year=[];//todo lo que va en una fila de año
        let total_year=0;//total por año
        this.notification_print.debts.forEach((item, index, arr) => {
           // console.log("date",item.date_at,"total",item.total,"year",moment(item.date_at).format("YYYY"),"mes",moment(item.date_at).format("MM"));
            if(this.counter==1){
                items_fila_year.push(moment(item.date_at).format("YYYY"));
            }
            //market_sector_concept.push(item);
            while(this.counter!=moment(item.date_at).format("MM")){
                items_fila_year.push(0.00);
                this.counter++;
                if(this.counter==13){
                    this.counter=1;
                    items_fila_year.push(total_year);
                    this.debts_by_years.push(items_fila_year);
                    total_year=0;
                    items_fila_year=[];
                    items_fila_year.push(moment(item.date_at).format("YYYY"));
                }
            }
            if(this.counter==moment(item.date_at).format("MM")){
                total_year=+total_year+item.total;
                items_fila_year.push(item.total.toFixed(2));
                this.counter++;
            }
            if(this.counter==13){
                this.counter=1;
                items_fila_year.push(total_year);
                this.debts_by_years.push(items_fila_year);
                total_year=0;
                items_fila_year=[];
            }
        });
        while(this.counter!=13){
            items_fila_year.push(0.00);
            this.counter++;
            if(this.counter=13){
                items_fila_year.push(total_year);
                this.debts_by_years.push(items_fila_year);
            }
        }
      //  console.log("total arreglo",this.debts_by_years);
    }
  },
};
</script>
<style scoped>
/*# paginas*/
     #header,
    #footer {
    position: fixed;
    /*left: 0;
        right: 0;*/
        color: #aaa;
        font-size: 0.9em;
    }
    #header {
    top: 0;
        border-bottom: 0.1pt solid #aaa;
    }
    #footer {
    /*bottom: 0;*/
    top:30px;
    text-align:right;
    border-top: 0.1pt solid #aaa;
    }
    .page-number:before {
    content: "Pag. " counter(page);
    /* text-align:right;*/
    }


    *{ font-size:14px; }
    .header{  padding:0; margin:0 0 -40px 0;}
    .header div{
        /*display: inline-block;*/
    }
    .header img{
       /* max-height:60px;
        max-width:100%;*/
        object-fit:contain;
        /*height:70px;*/
        /*width:70px;*/
    }
   
    .content-header{display: flex; justify-content: space-between;}
    .content-header .content-description h4{ padding: 0; margin: 0; text-align: center; font-size: 15px;}
    .content-header .content-description p{ padding: 0; margin: 0; text-align: center;}
    h1{
        font-size:16px;
        text-align:center; padding:10px 0 0 0;
        margin:0px 0 0 0;
    }
    .upper{
        text-transform:uppercase;
    }
    .fecha-de-notificacion{
        padding-top: 20px;
    }
    table thead th{
        border-bottom:1px solid #ccc;
        border-top:1px solid #ccc;
        background:#ddd;
    }
    table tfoot th{
        border-top:1px solid #ccc;
        background:#ddd;
        padding:0 0px;
    }
    hr{
        background:#ccc;
        border:1px solid #ccc;
        width:97%;
    }
    .note{
        font-size:10px;
    }
    .column-center{
        text-align:center;
    }
    .column-right{
        text-align:right;
    }
    .column-end{text-align:end;}

    .signatures{
        padding-top:30px;
        padding-bottom:30px;
    }
    .signature_image{
        width:100px;
    }
    .signatures .boss{
        display:inline-block;
        width:60%;
        text-align:center;
    }
    .signatures .boss img{
        object-fit: contain;
        width: 80px; height: 80px;
    }
    .signatures .boss .name{
        border-top:1px dashed #ccc;
        margin:0; padding:0;
    }
    .signatures .boss .role{
        margin:0;
    }

    .debt-list table{
       margin:auto;
    }
    
    

      /*# paginas*/

</style>
