<template>
  <div id="print_fractionaries">
    <!--<div class="header"> <img src="/images/logomuni.png"  alt="image logo"/> </div>-->
    
    <div class="container">
        <p style="line-height: 0; font-size: 10px;"><b style="font-size: 10px">Fecha: </b>{{date_impresion}}</p>
        <p style="line-height: 0; font-size: 10px;"><b style="font-size: 10px">Usuario: </b>{{print_fractionarie.user.name}}</p>
        <div class="width">
            <div class="content-header">
                <div class="header">
                    <img :src="setting[3].value" alt="image logo" style="width:70px">
                </div>
                <div class="content-description">
                    <h4>{{company.name}}</h4>
                    <p>RUC: {{company.ruc}}</p>
                    <p><b>Tingo Maria - Perú</b></p>
                    <p>{{company.address}}</p>
                </div>
                <div class="header"><img :src="setting[7].value" alt="photo" style="width:120px;margin-left: -70px;"></div>
            </div>
        </div>    
        <h3 class="upper">CONVENIO FRACCIONAMIENTO DE {{print_fractionarie.concept.name}} {{print_fractionarie.code}}</h3>
        <p style="padding:0; margin:0; text-align:center;" v-if="print_fractionarie.status==0">(ANULADO)</p>
        <div class="body">
            <div class="blocks">
            
                <div class="block block-1" style="display:flex;"> 
                    <div class="col">
                        <div style="display:flex;"><label style="width: 120px;">TITULAR:</label> <span class="upper">{{print_fractionarie.titular.name}} {{print_fractionarie.titular.lastname}}</span> </div>
                        <div style="display:flex; align-items: flex-end; margin-bottom: 5px;"><label style="width: 120px;" v-if="print_fractionarie.titular.dni">DNI:</label><span style="width:72px; border-bottom: 1px solid #ccc;" v-if='print_fractionarie.titular.dni'>{{print_fractionarie.titular.dni}} </span><label v-if="print_fractionarie.titular.phone1" style="margin:0px 10px 0px 25px; display:flex; align-items: flex-end;">CEL: <span style="width:85px; margin-left:10px; font-weight: normal;">{{print_fractionarie.titular.phone1}}</span></label></div>
                        <div v-if="print_fractionarie.titular.address1" style="display:flex;"><label style="width: 120px;">DOMICILIO:</label> <span>{{print_fractionarie.titular.address1}}</span> </div>
                        <div v-if="print_fractionarie.titular.email" style="display:flex;"><label style="width: 120px;">CORREO:</label> <span>{{print_fractionarie.titular.email}}</span> </div> 
                    </div>
                    <div class="col" v-if="FRACTIONARY_TYPE_TER==print_fractionarie.fractionary_type_id ? false: FRACTIONARY_TYPE_NCH==print_fractionarie.fractionary_type_id ? false : FRACTIONARY_TYPE_MAU==print_fractionarie.fractionary_type_id ? false : true">
                        <div style="display:flex;"><label style="width: 120px;">{{FRACTIONARY_TYPE_PIT!=print_fractionarie.fractionary_type_id ? 'CONTRATANTE:' : 'INFRACTOR:'}}</label> <span  class="upper">{{print_fractionarie.representative.name}} {{print_fractionarie.representative.lastname}} </span> </div>
                        <div style="display:flex; align-items: flex-end; margin-bottom: 5px;"><label style="width: 120px;" v-if='print_fractionarie.representative.dni'>DNI:</label><span style="width:72px; border-bottom: 1px solid #ccc;" v-if='print_fractionarie.representative.dni'>{{print_fractionarie.representative.dni}} </span><label v-if="print_fractionarie.representative.phone1" style="margin:0px 10px 0px 25px; display:flex; align-items: flex-end;">CEL: <span style="width:85px; margin-left:10px; font-weight: normal;">{{print_fractionarie.representative.phone1}}</span></label></div>
                        <div v-if="print_fractionarie.representative.address1" style="display:flex;"><label style="width: 120px;">DOMICILIO:</label> <span>{{print_fractionarie.representative.address1}}</span></div>
                        <div v-if="print_fractionarie.representative.email" style="display:flex;"><label style="width: 120px;">CORREO:</label> <span>{{print_fractionarie.representative.email}}</span></div>
                    </div>
                </div>
                <!--cuando no hay el titular2-->
                <div class="block block-7" v-if="FRACTIONARY_TYPE_PIT==print_fractionarie.fractionary_type_id" style="margin-top:3px;"> 
                    <div v-if="print_fractionarie.titular2!=null">
                        <div class="col">
                            <div style="display:flex;"><label style="width: 120px;">TITULAR 2:</label> <span class="upper">{{print_fractionarie.titular2.name}} {{print_fractionarie.titular2.lastname}}</span> </div>
                            <div style="display:flex; align-items: flex-end; margin-bottom: 5px;"><label style="width: 120px;" v-if='print_fractionarie.titular2.dni'>DNI:</label><span style="width:72px; border-bottom: 1px solid #ccc;" v-if='print_fractionarie.titular2.dni'>{{print_fractionarie.titular2.dni}} </span><label v-if="print_fractionarie.titular.phone1" style="margin:0px 10px 0px 25px; display:flex; align-items: flex-end;">CEL: <span style="width:85px; margin-left:10px; font-weight: normal;">{{print_fractionarie.titular.phone1}}</span></label></div>
                            <div v-if="print_fractionarie.titular2.address1" style="display:flex;"><label style="width: 120px;">DOMICILIO:</label> <span>{{print_fractionarie.titular2.address1}}</span></div>
                            <div v-if="print_fractionarie.titular2.email" style="display:flex;"><label style="width: 120px;">CORREO:</label> <span>{{print_fractionarie.titular2.email}}</span></div>
                        </div>
                        <div class="col">
                            <div><label style="width: 145px;">PLACA DE RODAJE: </label><span  class="upper" style="width:228px;">{{print_fractionarie.description2}}</span> </div>
                            <div><label style="width: 120px;">INFRACCIÓN: </label><span>{{print_fractionarie.description3}}</span></div>
                            <div><label style="width: 120px;">PIT N°: </label><span>{{print_fractionarie.description}}</span></div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="col">
                            <div><label style="width: 145px;">PLACA DE RODAJE: </label><span  class="upper" style="width:205px;">{{print_fractionarie.description2}}</span> </div>
                            <div><label style="width: 120px;">INFRACCIÓN: </label><span>{{print_fractionarie.description3}}</span></div>
                        </div>
                        <div class="col">
                            <div><label style="width: 120px;">PIT N°: </label><span>{{print_fractionarie.description}}</span></div>
                        </div>
                    </div>  
                </div>

                <div class="block block-2" v-if="FRACTIONARY_TYPE_PIT!=print_fractionarie.fractionary_type_id">
                    <div class="col" v-if="print_fractionarie.stand_id">
                        <div><label style="width: 120px;">PUESTO/LOCAL:</label> <span>{{stand_print ? (stand_print.code ? stand_print.code : stand_print.name) : ''}}</span></div>
                    </div>
                    <div class="col" v-if="print_fractionarie.description">
                        <div v-if="print_fractionarie.description"><label style="width: 120px;">{{FRACTIONARY_TYPE_TER==print_fractionarie.fractionary_type_id ? 'INFORME: ':'UBICACIÓN: '}}</label> <span>{{print_fractionarie.description}}</span></div>
                    </div>
                </div>
                <div class="block block-3">
                    <div class="col"><label style="width: 120px;">CONCEPTO:</label><span>{{print_fractionarie.concept.code}} {{print_fractionarie.concept.name}}</span></div>
                    <div class="col" v-show="print_fractionarie.reference_description"><label style="width: 120px;">REFERENCIA:</label> <span>{{print_fractionarie.reference_description}}</span></div>
                </div>
                <div class="block block-4">
                    <div class="col"><label style="width: 120px;">F. Inicio:</label> <span>{{print_fractionarie.date_start}}</span> </div>
                    <div class="col" v-show="print_fractionarie.apply_date"><label style="width: 120px;">F. Aplicacion:</label><span>{{print_fractionarie.apply_date}}</span></div>
                </div>
                <div class="block block-5">
                    <div class="col"><label style="width: 120px;">Coutas:</label><span>{{print_fractionarie.quotes}}</span></div>
                    <div class="col"><label style="width: 120px;">Interes:</label><span>{{print_fractionarie.interest}}</span></div>
                </div>
                
            </div>
            <!--
            <div style="border: 1px solid #000;">
                <div class="block block-6">
                    <div class="col"><p class="label">Deuda:</p> <p class="span right">{{print_fractionarie.debt.toFixed(2)}}</p>  </div>
                    <div class="col large"><p class="label">Rec/Num:</p> <p class="span">{{print_fractionarie.initial_voucher}}</p>  </div>
                    <div class="col"><p class="label">C. Inicial:</p> <p class="span right">{{print_fractionarie.initial_amount.toFixed(2)}}</p>  </div>
                    <div class="col"><p class="label">Saldo a Fracc:</p> <p class="span right">{{print_fractionarie.fractionary_amount.toFixed(2)}}</p>  </div>
                </div>
            </div>-->
            <div class="flex-b">
                <div class="flex-b-item">
                    <p><b>Deuda:</b></p>
                    <p>{{print_fractionarie.debt.toFixed(2)}}</p>
                </div>
                <div class="flex-b-item">
                    <p><b>Rec/Num:</b></p>
                    <p>{{print_fractionarie.initial_voucher}}</p>
                </div>
                <div class="flex-b-item">
                    <p><b>C. Inicial:</b></p>
                    <p>{{print_fractionarie.initial_amount.toFixed(2)}}</p>
                </div>
                <div class="flex-b-item">
                    <p><b>Saldo a Fracc:</b></p>
                    <p>{{print_fractionarie.fractionary_amount.toFixed(2)}}</p>
                </div>
            </div>
            <div style="border-bottom: 1px solid #000;  border-top: 1px solid #000;
                        border-right: 1px solid #000;
                        border-left: 1px solid #000;">
                <div style="display:flex; justify-content:space-between; border-bottom: 1px solid #000; ">
                    <div style="width:10%;  border-right: 1px solid #000; background: #d9d9d9;">
                        <p style="text-align:center; margin-bottom: 4px; margin-top:4px;"><b>Periodo</b></p>
                    </div>
                    <div style="width:15%;  border-right: 1px solid #000; background: #d9d9d9;">
                        <p style="text-align:center; margin-bottom: 4px; margin-top:4px;"><b>Fecha</b></p>
                    </div>
                    <div style="width:15%;  border-right: 1px solid #000; background: #d9d9d9;">
                        <p style="text-align:center; margin-bottom: 4px; margin-top:4px;"><b>Saldo</b></p>
                    </div>
                    <div style="width:15%;  border-right: 1px solid #000; background: #d9d9d9;">
                        <p style="text-align:center; margin-bottom: 4px; margin-top:4px;"><b>Interes</b></p>
                    </div>
                    <div style="width:15%;  border-right: 1px solid #000; background: #d9d9d9;">
                        <p style="text-align:center; margin-bottom: 4px; margin-top:4px;"><b>Amort.</b></p>
                    </div>
                    <div style="width:15%;  border-right: 1px solid #000; background: #d9d9d9;">
                        <p style="text-align:center; margin-bottom: 4px; margin-top:4px;"><b>Pago</b></p>
                    </div>
                    <div style="width:15%; background: #d9d9d9;">
                        <p style="text-align:center; margin-bottom: 4px; margin-top:4px;"><b>Estado</b></p>
                    </div>
                </div>
                <div v-for="(item, index) in print_fractionarie.schedule" :key="index" style="display:flex; justify-content:space-between;">
                    <div style="width:10%;border-right: 1px solid #000;">
                        <p style="text-align:center; margin: 2px 0px 2px 0px;">{{index+1}}</p>
                    </div>
                    <div style="width:15%;border-right: 1px solid #000;">
                        <p style="text-align:center; margin: 2px 0px 2px 0px;">{{moment(item.date_at).format("DD/MM/YYYY")}}</p>
                    </div>
                    <div style="width:15%;border-right: 1px solid #000;">
                        <p style="text-align:right; padding-right: 15px; margin: 2px 0px 2px 0px;">{{item.pending_amount.toFixed(2)}}</p>
                    </div>
                    <div style="width:15%;border-right: 1px solid #000;">
                        <p style="text-align:right; padding-right: 15px; margin: 2px 0px 2px 0px;">{{item.interest.toFixed(2)}}</p>
                    </div>
                    <div style="width:15%;border-right: 1px solid #000;">
                        <p style="text-align:right; padding-right: 15px; margin: 2px 0px 2px 0px;">{{item.amort.toFixed(2)}}</p>
                    </div>
                    <div style="width:15%;border-right: 1px solid #000;">
                        <p style="text-align:right; padding-right: 15px; margin: 2px 0px 2px 0px;">{{item.total.toFixed(2)}}</p>
                    </div>
                    <div style="width:15%">
                        <p style="text-align:right; padding-right: 15px; margin: 2px 0px 2px 0px;">{{item.debt.payment_status==1 ? 'Pagado' : 'Pendiente'}}</p>
                    </div>
                </div>
                <div style="display:flex; justify-content:space-between;border-top: 1px solid #000;">
                    <div style="width:10%; border-right: 1px solid #fff;"></div>
                    <div style="width:15%; border-right: 1px solid #fff;"></div>
                    <div style="width:15%; border-right: 1px solid #fff;"></div>
                    <div style="width:15%;border-right: 1px solid #000;">
                        <p style="text-align:right; padding-right: 15px; margin: 2px 0px 2px 0px;">{{print_fractionarie.total_interest.toFixed(2)}}</p>
                    </div>
                    <div style="width:15%;border-right: 1px solid #000;">
                        <p style="text-align:right; padding-right: 15px; margin: 2px 0px 2px 0px;">{{print_fractionarie.fractionary_amount.toFixed(2)}}</p>
                    </div>
                    <div style="width:15%;border-right: 1px solid #000;">
                        <p style="text-align:right; padding-right: 15px; margin: 2px 0px 2px 0px;">{{print_fractionarie.total.toFixed(2)}}</p>
                    </div>
                    <div style="width:15%"></div>
                </div>
            </div>
            <!--
            <table>
                <thead>
                <tr><th class="column-center">Periodo</th><th class="column-center">Fecha</th><th class="column-right">Saldo</th><th class="column-right">Interes</th><th class="column-right">Amort.</th><th class="column-right">Pago</th><th class="column-right" style="padding-right:8px;">Estado</th> </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in print_fractionarie.schedule" :key="index"> <td class="column-center">{{index+1}}</td> <td class="column-center">{{moment(item.date_at).format("DD/MM/YYYY")}}</td> <td class="column-right">{{item.pending_amount.toFixed(2)}}</td><td class="column-right">{{item.interest.toFixed(2)}}</td><td class="column-right">{{item.amort.toFixed(2)}}</td><td class="column-right">{{item.total.toFixed(2)}}</td><td class="column-right" style="padding-right:8px;">{{item.debt.payment_status==1 ? 'Pagado' : 'Pendiente'}}</td></tr>
                </tbody>
                <tfoot>
                <tr> <th></th> <th></th> <th></th>
                <th class="column-right">{{print_fractionarie.total_interest.toFixed(2)}}</th>     
                <th class="column-right">{{print_fractionarie.fractionary_amount.toFixed(2)}}</th>
                <th class="column-right">{{print_fractionarie.total.toFixed(2)}}</th> 
                <th></th></tr>
                </tfoot>
            </table>-->
            <!--<div class="note"> viene de la configuracion
                <div>Nota:</div>
                <div>{{setting[5].value}}</div>
            </div>-->
            <div class="note" v-show="print_fractionarie.comment">
                <div>NOTA:</div>
                <div>{{print_fractionarie.comment}}</div>
            </div>
            <div class="signatures">
                <div class="representative" v-show="print_fractionarie.is_titular_signature===1">    
                    <p class="name upper">{{print_fractionarie.titular.name}} {{print_fractionarie.titular.lastname}}</p>
                    <p class="dni">DNI: {{print_fractionarie.titular.dni}}</p>
                    <span class="titular">TITULAR</span>
                </div>
                <div class="representative" v-show="print_fractionarie.is_representative_signature === 1">    
                    <p class="name upper">{{print_fractionarie.representative.name}} {{print_fractionarie.representative.lastname}}</p>
                    <p class="dni">DNI: {{print_fractionarie.representative.dni}}</p>
                    <span class="infractor">{{FRACTIONARY_TYPE_PIT==print_fractionarie.fractionary_type_id ? 'INFRACTOR' : 'CONTRATANTE'}}</span>
                </div>
            </div>
            <div class="note">
                <div><b>Base Legal:</b></div>
                <div style="word-break: break-all; resize: none;"><p v-html="setting[5].value" ></p></div>
            </div>
        </div>
    </div>
  </div>
</template>
<script>
import moment from "moment";
import 'moment/locale/es';
moment.locale('es');

import Repository from "../repositories/RepositoryFactory";
const CompanyRepository = Repository.get("company");
const SettingRepository = Repository.get("setting");
const {COMPANY_ID,FRACTIONARY_TYPE_PIT,FRACTIONARY_TYPE_TER,FRACTIONARY_TYPE_NCH,FRACTIONARY_TYPE_MAU} = require("../constants");
export default {
  props: ['print_fractionarie','stand_print'],
  data() {
    return {
      moment,
      company:{},
      date_impresion:moment().format('DD-MM-YYYY HH:mm:ss'),
      setting:[{},{},{},{},{},{},{},{}],
      FRACTIONARY_TYPE_PIT,
      FRACTIONARY_TYPE_TER,
      FRACTIONARY_TYPE_NCH,
      FRACTIONARY_TYPE_MAU
    };
  },
  mounted() {
    this.fetchCompany();
    this.fetchSetting();
  },
  methods: {
    async fetchCompany(){
        const {data} = await CompanyRepository.get(COMPANY_ID); 
        this.company = data;
    },
    async fetchSetting(){
        const {data} = await SettingRepository.list();
        this.setting = data.data;
    }
  },
};
</script>
<style scoped>
    *{ font-size:14px; }
   /* .container{margin:0 30px 0 30px;}*/
    .header{ margin-bottom: -15px; width: 50px;}
   /* .header img{ width: 50px;}*/
   /* .width{width:850px;}*/
    .content-header{display: flex; justify-content: space-between;}
    .content-header .content-description h4{ padding: 0; margin: 0; text-align: center; font-size: 15px;}
    .content-header .content-description p{ padding: 0; margin: 0; text-align: center; font-size: 14px}
    h3{width:850px;
        font-size:16px;
        text-align:center;
        padding: 0; margin: 10px 0 0 0;
    }
    .upper{
        text-transform:uppercase;
    }

    .flex-b{
        display:flex; margin-bottom:10px;
    }    
    .flex-b-item{
        width:25%; border-left: 1px solid #000;
        border-top: 1px solid #000;border-bottom: 1px solid #000;
    }
    .flex-b-item:last-child{
        border-right: 1px solid #000;
    }
    .flex-b-item p{
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .flex-b-item p:first-child{
        padding: 2px 0;
        border-bottom: 1px solid #000; background: #d9d9d9;
    }
    .blocks{
        border: 1px solid #000; padding:0 0 10px 20px; margin:15px 0 10px 0;
    }

   

    table{
        width:100%;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        border-left: 1px solid #000;
        margin-bottom:15px;
    }
    table thead th{
        border-bottom:1px solid #000;
        border-top:1px solid #000;
        background:#d9d9d9;
    }
    table tbody th{
        border-bottom: 1px solid #000;
    }
    table tbody th td{
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        
    }
    table tfoot th{
        border-top:1px solid #000;
        background:#d9d9d9;
        
    }
    hr{
        background:#ccc;
        border:1px solid #000;
        width:97%;
    }
    .note{
        font-size:14px;
        margin-top:20px;
    }
    .column-center{
        padding: 2.2px 0;
        text-align:center;
    }
    .column-right{
        text-align:right;
    }
    .block-1{margin-top: 20px;}
    .block .col{
        display:inline-block;
        width:49%;
        margin:0;
        padding: 0;
    }
    .block .col label{
        width:75px;
        display:inline-block;
        padding:2px;
        margin:2px 0;
        font-weight:bold;
    }
    .block .col span{
        width:280px;
        display:inline-block;
        padding:2px;
        border-bottom:1px solid #ccc;
        margin:0;
    }
    
    .block p{margin:0;padding:0;}

    .block-6{
        border-radius:5px;
        padding:10px;
        padding-top:30px;
    }
    .block-6 .col p.label{
        font-weight:bold;
    }
    .block-6 .col{
        width:18%;
        padding:10px 19px 10px 0;
        margin-right:15px;
    }
    .block-6 .col.large{
        width:27%;
    }
    .block-6 .col .span{
        padding:5px 10px;
        margin:0;
        border-bottom:1px solid #ccc;
    }
    .block-6 .col .span.right{
        text-align:right;
    }
    .signatures{
        padding-top:80px;
    }
    .signatures .representative{
        display:inline-block;
        width:40%;
        text-align:center;
    }
    .signatures .representative .name{
        border-top:1px dashed #ccc;
        margin:0; padding: 0;
    }
    
    .signatures .representative .dni{
        margin:0; padding: 0;
    }
    .signatures .representative .titular{
        margin:0; padding: 0;
    }
    .signatures .representative .infractor{
        margin:0; padding: 0;
    }
    .signatures{
        display: flex;
        justify-content: space-around;
    }
</style>
