<template>
    <div id="print_account_status">
        <div class="header-modal-report">
            
            <div class="header-modal-report--left">
                <img :src="asset('images/logomuni.png')" alt="image logo">
                <!--<img src="/images/logomuni.png" alt="image logo">-->
            </div>
            <div class="header-modal-report--right">
                <span style="font-size: 1.5em;font-weight: bold;">{{data_print.company.name}} </span>
                <span style="font-size: 1.3em;" >{{data_print.company.city}} - RUC. {{data_print.company.ruc}}</span>
                <span style="font-size: 1.3em;">Relación de Recaudación por Comisionista - {{data_print.commission_agent_name}}</span>
                <span style="font-size: 1.3em;">Generado el {{data_print.date_printing}}</span>
                <span style="font-size: 1.3em;">Del: {{data_print.date_range}}</span>
            </div>
        </div>
        <a-table
        :columns="data_print.columns"
        :scroll="{ x:'100%' }"
        :row-key="(record,index) => index"
        :data-source="data_print.lisTransactions"
        :pagination="false">
            <span slot="client" slot-scope="text,record">{{record.client.name}} {{record.client.lastname}}</span>
            <span slot="user" slot-scope="text,record">{{record.user.name}}</span>
            <span slot="client_dni" slot-scope="text,record"> {{record.client.dni}}</span>
            <span slot="status" slot-scope="text,record">{{record.status == '1' ? 'Pagado' : 'Anulado'}}</span>

            <template slot="footer">
                <div class="table-footer-principal" style="text-align: right; color:#000;"><b>Suma Total:</b> {{data_print.transactions_total}}</div>  
            </template>
        </a-table>
        <div v-if="data_print.totalByConcepts">
            <h2 class="table__sub-title">RESUMEN DE RECAUDACIÓN</h2>
            <div class="table2">
                <a-table 
                :columns="data_print.columns_calculation"            
                :data-source="data_print.totalByConcepts" 
                :pagination="false"
                :row-key="(record,index) => index"
                bordered 
                style="max-width:650px; margin: auto">
                </a-table>
            </div>
        </div>
        
    </div>
</template>
<script>

export default {
  props: ['data_print'],
  data() {
    return {
        date_range:null,
    };
  },
  mounted() {
      this.actualizar();
  },
  methods: {
      actualizar(){
          this.date_range=this.data_print.date_init ? this.data_print.date_init+' - '+ this.data_print.date_end:" - ";
      }
  },
};
</script>
<style scoped>
/* print comprobant */
    .header-modal-report { display:flex; }
    .header-modal-report--left img { width: 50px; }
    .header-modal-report--right {
        width:100%;
        display: flex;
        flex-direction: column;
        line-height: 1.5em;
        text-align: center;
    }
	  .table-footer-principal { text-align: center; }
    .table__sub-title {
        font-size: .8rem;
        text-align: center;
    }

</style>
