<template>

  <a-select 
  show-search
  :value="market_current_id"
  placeholder="Mercado..."
  :default-active-first-option="false"
  :show-arrow="true"
  :filter-option="false"
  :size="size"
  :not-found-content="null"
  @focus="handleFocus"
  @search="handleSearchSectors"
  @change="handleChangeMarkets" :allowClear="true">
    <a-select-option v-for="d in cmb_markets" :key="d.value">
      {{ d.text }}
    </a-select-option>
  </a-select>
</template>
<script>
import Repository from "../repositories/RepositoryFactory";
import querystring from 'querystring';
const SectorRepository = Repository.get("market");

let timeout;
let currentValue;
let temporal_list;

function fetchMarkets(current_id, callback) {
  if (timeout) {
    clearTimeout(timeout);
    timeout = null;
  }
  currentValue = current_id;
  	async function fake() {
      const {data} =  await SectorRepository.list({search:currentValue});
      if (currentValue === current_id) {
        const result = data.data;
        const tmp_data = [];
        temporal_list = result;
        result.forEach(item => {
          tmp_data.push({value: item.id,text: `${item.name}`});
        });
        callback(tmp_data);
		}

  	}
	timeout = setTimeout(fake, 300);
}

export default {
  props: ['market_id','size'],
  data() {
    return {
      market_current_id: this.market_id,
			cmb_markets:[],
    };
  },
  mounted() {
      this.market_current_id = this.market_id;
      this.handleSearchSectors(this.market_current_id);
    },
  methods: {
    
    handleSearchSectors(value) {
			fetchMarkets(value, data => (this.cmb_markets = data));
		},
		async handleChangeMarkets(value) {
      this.market_current_id = value;
			
      await fetchMarkets(this.market_current_id, data => (this.cmb_markets = data));
     // let market = this.market_current_id ? this.cmb_markets[this.market_current_id-1] : undefined;
      //this.$emit('handleSelectMarkets',market);
      let data_result = await temporal_list.find(e => e.id == this.market_current_id);
      this.$emit('handleSelectMarkets',data_result);
    },
    handleFocus() {
      fetchMarkets("", data => (this.cmb_markets = data));
    },
  },
};
</script>
<style>
.avatar-uploader > .ant-upload {
  width: 83%;
  height: 253px;
}
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.ant-upload.ant-upload-select-picture-card {
  background: #ffffff;
}

.ant-upload.ant-upload-select-picture-card.ant-upload-disabled {
  border: none;
}
</style>
