<template>
  <a-select 
    show-search
    mode="multiple"
    :value="gyre_identified"
    placeholder="Giro..."
    :default-active-first-option="false"
    :show-arrow="true"
    :size="size"
    :filter-option="false"
    :not-found-content="null"
    @search="handleSearchGyres"
    @change="handleChangeGyres"
	:allowClear="true"
    >
    <a-select-option v-for="d in cmb_gyres" :key="d.value">
      {{ d.text }}
    </a-select-option>
  </a-select>
</template>
<script>
import Repository from "../repositories/RepositoryFactory";
const GyreRepository = Repository.get("gyre");

let timeout;
let currentValue;

function fetchGyres(value,type, callback, market_id = null) {
	if (timeout) {
		clearTimeout(timeout);
		timeout = null;
	}
	currentValue = value;
	async function fake() {
		const params = type=='byid'?{id:currentValue}:{search:currentValue};
		const { data } = await (market_id ? GyreRepository.list_by_market({ market_id: market_id }) : GyreRepository.list(params));
		if (currentValue === value) {
			const result = data.data;
			const tmp_data = [];
			result.forEach(item => {
				tmp_data.push({value: item.id,text: `${item.name}`});
			});
			tmp_data.unshift({value: 0, text: 'TODOS'});
			callback(tmp_data);
		}
	}
	timeout = setTimeout(fake, 300);
}



export default {
	props: ['gyre_ids', 'size'],
	data() {
		return {
			gyre_identified: [],
			cmb_gyres:[],
			market_id: null,
		};
	},
  	mounted() {
		this.gyre_identified = this.gyre_ids;
		if(this.gyre_ids) this.handleSearchGyres(this.gyre_ids,'byid');
		else this.handleSearchGyres('','');
    },
	methods: {
    	handleSearchGyres(value,type,market_id = false) {
			this.market_id = market_id;
			fetchGyres(value, type, data => (this.cmb_gyres = data), this.market_id);
		},
		async handleChangeGyres(value) {
			this.gyre_identified = value;
			this.$emit('handleSelectGyres',this.gyre_identified);
		},
		clearCmbSectors(text) {
			this.gyre_identified = []
		},
	},
};
</script>
<style>
.avatar-uploader > .ant-upload {
  width: 83%;
  height: 253px;
}
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.ant-upload.ant-upload-select-picture-card {
  background: #ffffff;
}

.ant-upload.ant-upload-select-picture-card.ant-upload-disabled {
  border: none;
}
</style>
