<template>
	<a-select show-search :value="sector_current_id" :placeholder="placeholder" :default-active-first-option="false"
		:show-arrow="true" :filter-option="false" :size="size" :not-found-content="null" @focus="handleFocus"
		@search="handleSearchSectors" @change="handleChangeSectors" :allowClear="true">
		<a-select-option v-for="d in cmb_sectors" :key="d.value">
			{{ d.text.toLowerCase() }}
		</a-select-option>
	</a-select>
</template>
<script>
import Repository from "../repositories/RepositoryFactory";
import querystring from 'querystring';
const SectorRepository = Repository.get("sector");

let timeout;
let currentValue;
let temporal_list;

function fetchSectors(value, type, callback, market_id = null) {
	if (timeout) {
		clearTimeout(timeout);
		timeout = null;
	}
	currentValue = value;
	async function fake() {
		const params = type == 'byid' ? { id: currentValue } : { search: currentValue };
		const { data } = await (market_id ? SectorRepository.list_by_market({ market_id: market_id }) : SectorRepository.list(params));

		if (currentValue === value) {
			const result = market_id ? data : data.data;
			const tmp_data = [];
			temporal_list = result;
			result.forEach(item => {
				tmp_data.push({ value: item.id, text: `${item.name}` });
			});
			callback(tmp_data);
		}

	}
	timeout = setTimeout(fake, 300);
}



export default {
	props: ['sector_id', 'size'],
	data() {
		return {
			sector_current_id: this.sector_id,
			cmb_sectors: [],
			market_id: null,
			placeholder: 'Sector...',
		};
	},
	async mounted() {
		this.sector_current_id = this.sector_id;
		if (this.sector_id) await this.handleSearchSectors(this.sector_id, 'byid');
		else this.handleSearchSectors('', '');

	},
	methods: {

		handleSearchSectors(value, type, market_id = false) {
			this.market_id = market_id;

			fetchSectors(value, type, data => (this.cmb_sectors = data), this.market_id);
		},
		async handleChangeSectors(value) {
			this.placeholder = 'Sector...';
			this.sector_current_id = value;
			//await fetchSectors(value, '', data => (this.cmb_sectors = data), this.market_id);

			let data_result = await temporal_list.find(e => e.id == this.sector_current_id);

			this.$emit('handleSelectSectors', data_result);
		},
		handleFocus() {
			// fetchSectors("", "", data => (this.cmb_sectors = data));
		},
		clearCmbSectors(text) {
			//text=> placeholder
			this.placeholder = text;
			this.sector_current_id = null
		},
	},
};
</script>
<style>
.avatar-uploader>.ant-upload {
	width: 83%;
	height: 253px;
}

.ant-upload-select-picture-card i {
	font-size: 32px;
	color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
	margin-top: 8px;
	color: #666;
}

.ant-upload.ant-upload-select-picture-card {
	background: #ffffff;
}

.ant-upload.ant-upload-select-picture-card.ant-upload-disabled {
	border: none;
}

.v-select .dropdown-toggle button.clear {
	display: none;
}
</style>
