<template>

  <a-select 
  :value="current_id"
  placeholder="Tipo Fracci...."
  :default-active-first-option="false"
  :show-arrow="true"
  :filter-option="false"
  :size="size"
  :not-found-content="null"
  @change="handleChange" :allowClear="true">
    <a-select-option v-for="d in list" :key="d.value">
      {{ d.text }}
    </a-select-option>
  </a-select>
</template>
<script>
import FactoryRepository from "../repositories/RepositoryFactory";
import querystring from 'querystring';
const Repository = FactoryRepository.get("fractionarytype");

let timeout;
let currentValue;

function fetch(current_id, callback) {
  if (timeout) {
    clearTimeout(timeout);
    timeout = null;
  }
  currentValue = current_id;
  	async function fake() {
    // Observación, la busqueda de la persona se hace por id, puede funcionar mejor por dni
      const {data} =  await Repository.list({search:currentValue});
      if (currentValue === current_id) {
        const result = data.data;
        const tmp_data = [];
        result.forEach(item => {
        tmp_data.push({value: item.id,text: `${item.code} - ${item.name}`});
        });
        callback(tmp_data,result);
		}

  	}
	timeout = setTimeout(fake, 300);
}



export default {
  props: ['id','size'],
  data() {
    return {
      current_id: this.id,
      // cmbPersons
      list:[], //mostrar en el cobo-box
      list_types:[],
    };
  },
  mounted() {
      this.current_id = this.id;
      this.handleSearch(this.current_id);
    },
  methods: {
    handleSearch(value) {
			fetch(value, (data,list_types) => (this.list = data, this.list_types=list_types));
		},
		async handleChange(value) {
      this.current_id = value;
      let concept=this.current_id ? this.list_types.find(e=>e.id = value) : undefined;
      //fetch(this.current_id, data => (this.list = data));
      this.$emit('handleChange',concept);
    },
  },
};
</script>

