<template>

  <a-select 
  show-search
  :value="gyre_identified"
  placeholder="Giro..."
  :default-active-first-option="false"
  :show-arrow="true"
  :size="size"
  :filter-option="false"
  :not-found-content="null"
  @search="handleSearchGyres"
  @change="handleChangeGyres"
    >
    <a-select-option v-for="d in cmb_gyres" :key="d.value">
      {{ d.text }}
    </a-select-option>
  </a-select>
</template>
<script>
import Repository from "../repositories/RepositoryFactory";
import querystring from 'querystring';
const GyreRepository = Repository.get("gyre");

let timeout;
let currentValue;

function fetchGyres(value,type, callback) {
  if (timeout) {
    clearTimeout(timeout);
    timeout = null;
  }
  currentValue = value;
  async function fake() {
    // Observación, la busqueda de la persona se hace por id, puede funcionar mejor por dni
    const params = type=='byid'?{id:currentValue}:{search:currentValue};
    const {data} =  await GyreRepository.list( params );
		if (currentValue === value) {
      const result = data.data;
			const tmp_data = [];
			result.forEach(item => {
			tmp_data.push({value: item.id,text: `${item.name}`});
			});
			callback(tmp_data);
		}

  }
	timeout = setTimeout(fake, 300);
}



export default {
  props: ['gyre_id', 'size'],
  data() {
    return {
      gyre_identified: null,
      // cmbPersons
			cmb_gyres:[],
    };
  },
  mounted() {
      this.gyre_identified = this.gyre_id;
      if(this.gyre_id) this.handleSearchGyres(this.gyre_id,'byid');
      else this.handleSearchGyres('','');
    },
  methods: {
    
    handleSearchGyres(value,type) {
			fetchGyres(value, type, data => (this.cmb_gyres = data));
		},
		async handleChangeGyres(value) {
      // this.listDebtsTitular = [];
      if(value) this.gyre_identified = value;
			// if(value) this.transaction.gyre_id = value; // Para cuando no se le asigne el value al momento de crear el pago, trabaje con gyre_id en la edición
			
      fetchGyres(value,'', data => (this.cmb_gyres = data));
      //agregue un campo mas a la funcion fetchGyres de id para ubicar bien al giro
      this.$emit('handleSelectGyres',this.gyre_identified);
		},
  },
};
</script>
<style>
.avatar-uploader > .ant-upload {
  width: 83%;
  height: 253px;
}
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.ant-upload.ant-upload-select-picture-card {
  background: #ffffff;
}

.ant-upload.ant-upload-select-picture-card.ant-upload-disabled {
  border: none;
}
</style>
