<template>

  <a-select 
  show-search
  :value="stand_identified"
  placeholder="Seleccione..."
  :default-active-first-option="false"
  :show-arrow="true"
  :filter-option="false"
  :size="size"
  :not-found-content="null"
  @focus="handleFocus"
  @search="handleSearchStand"
  @change="handleChangeStand">
    <a-select-option v-for="d in cmb_stands" :key="d.value">
      <a-avatar v-if="!d.photo" src="https://icon-library.com/images/no-profile-pic-icon/no-profile-pic-icon-12.jpg" />
      <a-avatar v-if="d.photo" :src="d.photo+'?'+Math.random()" />

      {{ d.text.toUpperCase() }}
    </a-select-option>
  </a-select>
</template>
<script>
import Repository from "../repositories/RepositoryFactory";
import querystring from 'querystring';
const PersonRepository = Repository.get("person");

let timeout;
let currentValue;
let temporal_list;
let status_edit;//valor igual a 1 cuando hace un edita

function fetchStands(value,type, callback) {
  if (timeout) {
    clearTimeout(timeout);
    timeout = null;
  }
  currentValue = value;
  	async function fake() {
    // Observación, la busqueda del stand se hace por id, puede funcionar mejor por dni
      const params = type=='byid'?{id:currentValue}:{search:currentValue};
      const {data} = await PersonRepository.listPeopleForViewPayments(params);
      if (currentValue === value) {
        const result = data.data;
        const tmp_data = [];
        temporal_list = result;
        if(status_edit!=1){
          result.forEach(item => {
            tmp_data.push({value: item.id+' '+item.stand_id,text: `${item.market_code?item.market_code+' | ':''} ${item.sector_name?item.sector_name+' | ':''} ${item.stand_code?item.stand_code+' | ':''} ${item.stand_name?item.stand_name+' | ':''} ${item.name} ${item.lastname?item.lastname:''}`,photo:item.photo,stand_id:item.stand_id});
          });
        }else{
          let indice=0;
          result.forEach(item => {
            if(indice==0)//para seleccionar un solo registro pueda que traiga dos registros  al editar
              tmp_data.push({value: item.id,text: `${item.name} ${item.lastname?item.lastname:''}`,photo:item.photo,stand_id:item.stand_id});
            indice++;
           });
           status_edit=2;
        }
        
        callback(tmp_data);
		}

  	}
	timeout = setTimeout(fake, 300);
}



export default {
  props: ['client_id','size'],
  data() {
    return {
      stand_identified: this.client_id,
      // cmbPersons
      cmb_stands:[],
     // status_edit:0,
    };
  },
  async mounted() {
      this.stand_identified = this.client_id;
      if(this.client_id){await this.handleSearchStand(this.client_id,'byid'); status_edit=1;}
       else{await this.handleSearchStand('',''); status_edit=2;}
    },
  methods: {
    
    handleSearchStand(value,type) {
			fetchStands(value,type,data => (this.cmb_stands = data));
		},
	async handleChangeStand(value) {
     // this.stand_identified = value;
      if(value) this.stand_identified = value;
      await fetchStands(value,'', data => (this.cmb_stands = data));
//      let stand = this.stand_identified ? this.cmb_stands[this.stand_identified-1] : undefined;
      //let stand = temporal_list.find(e => e.id == this.stand_identified);
      if(value){
          let id_person_and_id_stand=value.split(' ');
          let banderaStand=+id_person_and_id_stand[1];
          for(let i=0;i<temporal_list.length;i++){
           if(banderaStand){
            if(+id_person_and_id_stand[0]===temporal_list[i].id && +id_person_and_id_stand[1]===temporal_list[i].stand_id){
              this.$emit('handleSelectStands',temporal_list[i]); break;
            }
           }else{
             if(+id_person_and_id_stand[0]===+temporal_list[i].id){
               this.$emit('handleSelectStands',temporal_list[i]); break;
             }
           } 
          }
      }else{
        //this.$emit('handleSelectStands',undefined);
      }
       
      //this.$emit('handleSelectStands',stand);
    },
    handleFocus() {
      fetchStands("","", data => (this.cmb_stands = data));
    },
  },
};
</script>
<style>
.avatar-uploader > .ant-upload {
  width: 83%;
  height: 253px;
}
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.ant-upload.ant-upload-select-picture-card {
  background: #ffffff;
}

.ant-upload.ant-upload-select-picture-card.ant-upload-disabled {
  border: none;
}
</style>
