<template>

  <a-select 
  show-search
  :value="stand_current_id"
  placeholder="Puesto..."
  :default-active-first-option="false"
  :show-arrow="true"
  :filter-option="false"
  :size="size"
  :not-found-content="null"
  @focus="handleFocus"
  @search="handleSearchStands"
  @change="handleChangeStands" :allowClear="true" :disabled="disabled">
    <a-select-option v-for="d in cmb_stands" :key="d.value">
      {{ d.text.toLowerCase() }}
    </a-select-option>
  </a-select>
</template>
<script>
import Repository from "../repositories/RepositoryFactory";
import querystring from 'querystring';
const StandRepository = Repository.get("stand");

let timeout;
let currentValue;
let sector_id;
let market_id;
let temporal_list;

function fetchStands(current_id, callback) {
  if (timeout) {
    clearTimeout(timeout);
    timeout = null;
  }
  currentValue = current_id;
  	async function fake() {
    // Observación, la busqueda de la persona se hace por id, puede funcionar mejor por dni
     // const {data} =  await SectorRepository.list({search:currentValue});
      const {data} =  await StandRepository.list({search:currentValue,sector_id:sector_id,market_id:market_id});
      if (currentValue === current_id) {
        const result = data.data;
        const tmp_data = [];
        temporal_list = result;
        result.forEach(item => {
          tmp_data.push({value: item.id,text: `${item.code?item.code+' - ':''} ${item.titular_name ? item.titular_name:' '} ${item.titular_lastname ? item.titular_lastname:' '} ${item.dni?item.dni:''}`});
        });
        callback(tmp_data);
		  }
  	}
	timeout = setTimeout(fake, 300);
}



export default {
  props: ['sector_id','size','stand_id','market_id','disabled'],
  data() {
    return {
      stand_current_id: this.stand_id,
     /* sector_id:this.sector_id,
      market_id:this.market_id,*/
	    cmb_stands:[],
    };
  },
  mounted() {
      this.stand_current_id = this.stand_id;
      sector_id=this.sector_id;
      market_id=this.market_id;
      this.handleSearchStands(this.stand_current_id);
    },
  methods: {
    
    handleSearchStands(value) {
        sector_id=this.sector_id;
        market_id=this.market_id;
			fetchStands(value, data => (this.cmb_stands = data));
	},
	async handleChangeStands(value) {
      this.stand_current_id = value;
      fetchStands(this.stand_current_id, data => (this.cmb_stands = data));
      let stand = await temporal_list.find(e => e.id == this.stand_current_id);
      this.$emit('handleSelectStands',stand);
    },
    handleFocus() {
      fetchStands("", data => (this.cmb_stands = data));
    },
  },
};
</script>
<style>
.avatar-uploader > .ant-upload {
  width: 83%;
  height: 253px;
}
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.ant-upload.ant-upload-select-picture-card {
  background: #ffffff;
}

.ant-upload.ant-upload-select-picture-card.ant-upload-disabled {
  border: none;
}
</style>
