<template>
    <div>
        <div class="content">
            <h1 class="content__title">REGISTRO DE COBRANZA DE COMISIONISTA</h1>
            <hr class="content__divider"/>
            <div class="presentation-form-content">
                <a-form-model layout="inline" :model="formData">
                    <a-form-model-item>
                        <a-form-model-item label="Comisionista:">
                            <a-select v-model="formData.middleman_id" style="width: 180px" placeholder="Seleccione..">
                                <a-select-option v-for="(item,index) in middlemanData" :value="item.id" :key="index" >
                                  {{item.name}}
                              </a-select-option>
                            </a-select>
                        </a-form-model-item>
                    </a-form-model-item>
                    <a-form-model-item>
                        <a-form-model-item label="Nro Recibo:">
                            <a-input v-model="formData.voucher_number" style="width: 150px"></a-input>
                        </a-form-model-item>
                    </a-form-model-item>
                    <a-form-model-item>
                        <a-form-model-item label="Nro Operación:">
                            <a-input v-model="formData.operation_number" style="width: 150px" ></a-input>
                        </a-form-model-item>
                    </a-form-model-item>
                    <a-form-model-item>
                        <a-form-model-item label="Fecha Recibo:">
                            <a-date-picker v-model="formData.voucher_date" format="DD/MM/YYYY" style="width:150px" placeholder="Seleccione fecha" />
                        </a-form-model-item>
                    </a-form-model-item>
                    <a-form-model-item>
                        <a-form-model-item label="Archivo:">
                            <file-component :file="formData.file" v-on:changeFile="onChangeFile" :key="formData.file" />
                        </a-form-model-item>
                    </a-form-model-item>
                </a-form-model>
            </div>
        </div>
        <div>
            <a-collapse>
                <a-collapse-panel key="1" header="MERCED CONDUCTIVA" :showArrow="false" >
                    <a-switch slot="extra" @click="handleClick">
                        <a-icon slot="checkedChildren" type="check" />
                        <a-icon slot="unCheckedChildren" type="close" />
                    </a-switch>
                    
                    <a-button type="primary">Agregar</a-button>
                    
                    <a-table :columns="columns_merced" :data-source="data_merced" :pagination="false" bordered>
                        <span slot="action" slot-scope="text, record" >
                            <a-divider type="vertical" />
                            <a href="javascript:;" @click="search(record.id)"><a-icon type="search" /></a>
                            <a-divider type="vertical" />
                            <a href="javascript:;" @click="edit(record.id)"><a-icon type="edit" /></a>
                            <a-divider type="vertical" />
                            <a-popconfirm
                                title="Seguro de eliminar merced conductiva?"
                                @confirm="() => remove(record.id)"
                            >
                                <a href="javascript:;"><a-icon type="delete" /></a>
                            </a-popconfirm>
                            <a-divider type="vertical" />
                        </span>
                    </a-table>
                    <a-button type="primary">Quitar de la Lista</a-button> <a-button type="primary">Guardar</a-button>
                </a-collapse-panel>
                <a-collapse-panel key="2" header="SISA - AMBULANTES" :showArrow="false" >
                    <a-switch slot="extra" @click="handleClick">
                        <a-icon slot="checkedChildren" type="check" />
                        <a-icon slot="unCheckedChildren" type="close" />
                    </a-switch>
                    
                    <p>los Ingresos desde el padron no seran cargados al comisionista</p>
                    <a-button type="primary">Agregar</a-button> <a-button type="primary">Agregar el padron</a-button>
                    
                    <a-table :columns="columns_merced" :data-source="data_merced" :pagination="false" bordered>
                        <span slot="action" slot-scope="text, record" >
                            <a-divider type="vertical" />
                            <a href="javascript:;" @click="search(record.id)"><a-icon type="search" /></a>
                            <a-divider type="vertical" />
                            <a href="javascript:;" @click="edit(record.id)"><a-icon type="edit" /></a>
                            <a-divider type="vertical" />
                            <a-popconfirm
                                title="Seguro de eliminar merced conductiva?"
                                @confirm="() => remove(record.id)"
                            >
                                <a href="javascript:;"><a-icon type="delete" /></a>
                            </a-popconfirm>
                            <a-divider type="vertical" />
                        </span>
                    </a-table>

                    <a-button type="primary">Guardar</a-button>

                </a-collapse-panel>
                <a-collapse-panel key="3" header="BAJA POLICIA - LIMP. PUB." :showArrow="false" >
                    
                    <a-switch slot="extra" @click="handleClick">
                        <a-icon slot="checkedChildren" type="check" />
                        <a-icon slot="unCheckedChildren" type="close" />
                    </a-switch>

                    <a-button type="primary">Agregar</a-button>
                    <a-table :columns="columns_merced" :data-source="data_merced" :pagination="false" bordered>
                        <span slot="action" slot-scope="text, record" >
                            <a-divider type="vertical" />
                            <a href="javascript:;" @click="search(record.id)"><a-icon type="search" /></a>
                            <a-divider type="vertical" />
                            <!-- <a href="javascript:;" @click="edit(record.id)"><a-icon type="edit" /></a>
                            <a-divider type="vertical" />
                            <a-popconfirm
                                title="Seguro de eliminar merced conductiva?"
                                @confirm="() => remove(record.id)"
                            >
                                <a href="javascript:;"><a-icon type="delete" /></a>
                            </a-popconfirm>
                            <a-divider type="vertical" /> -->
                        </span>
                    </a-table>

                    <a-button type="primary">Guardar</a-button>

                </a-collapse-panel>
                <a-collapse-panel key="4" header="TAQUILLA" :showArrow="false" >
                    <a-switch slot="extra" @click="handleClick">
                        <a-icon slot="checkedChildren" type="check" />
                        <a-icon slot="unCheckedChildren" type="close" />
                    </a-switch>
                    
                    <a-form-model layout="inline" :model="formData">
                        <a-form-model-item>
                            <a-form-model-item label="Monto S/.:">
                                <a-input v-model="formData.ticket_office" style="width: 100px"></a-input>
                                <a-button type="primary">Guardar</a-button>
                            </a-form-model-item>
                        </a-form-model-item>
                    </a-form-model>

                </a-collapse-panel>
                <a-collapse-panel key="5" header="PARQUEO" :showArrow="false" >
                    <a-switch slot="extra" @click="handleClick">
                        <a-icon slot="checkedChildren" type="check" />
                        <a-icon slot="unCheckedChildren" type="close" />
                    </a-switch>

                    <a-form-model layout="inline" :model="formData">
                        <a-form-model-item>
                            <a-form-model-item label="Monto S/.:">
                                <a-input v-model="formData.ticket_office" style="width: 100px"></a-input>
                                <a-button type="primary">Guardar</a-button>
                            </a-form-model-item>
                        </a-form-model-item>
                    </a-form-model>

                </a-collapse-panel>
                <a-collapse-panel key="6" header="DERECHO DE MESA - MERCADO" :showArrow="false" >
                    <a-switch slot="extra" @click="handleClick">
                        <a-icon slot="checkedChildren" type="check" />
                        <a-icon slot="unCheckedChildren" type="close" />
                    </a-switch>

                    <a-form-model layout="inline" :model="formData">
                        <a-form-model-item>
                            <a-form-model-item label="Monto S/.:">
                                <a-input v-model="formData.ticket_office" style="width: 100px"></a-input>
                                <a-button type="primary">Guardar</a-button>
                            </a-form-model-item>
                        </a-form-model-item>
                    </a-form-model>

                </a-collapse-panel>
                <a-collapse-panel key="7" header="DERECHO DE MATANZA - CAMAL" :showArrow="false" >
                    <a-switch slot="extra" @click="handleClick">
                        <a-icon slot="checkedChildren" type="check" />
                        <a-icon slot="unCheckedChildren" type="close" />
                    </a-switch>
                    
                    <a-form-model layout="inline" :model="formData">
                        <a-form-model-item>
                            <a-form-model-item label="Monto S/.:">
                                <a-input v-model="formData.ticket_office" style="width: 100px"></a-input>
                                <a-button type="primary">Guardar</a-button>
                            </a-form-model-item>
                        </a-form-model-item>
                    </a-form-model>

                </a-collapse-panel>
                <a-collapse-panel key="8" header="EXTRACCIÓN DE MATERIALES" :showArrow="false" >
                    <a-switch slot="extra" @click="handleClick">
                        <a-icon slot="checkedChildren" type="check" />
                        <a-icon slot="unCheckedChildren" type="close" />
                    </a-switch>

                    <a-form-model layout="inline" :model="formData">
                        <a-form-model-item>
                            <a-form-model-item label="Monto S/.:">
                                <a-input v-model="formData.ticket_office" style="width: 100px"></a-input>
                                <a-button type="primary">Guardar</a-button>
                            </a-form-model-item>
                        </a-form-model-item>
                    </a-form-model>

                </a-collapse-panel>
            </a-collapse>
        </div>
        <div class="summary"> 
            <p class="summary__title">RESUMEN DE COBRANZA DIARIA</p>
             <a-table :columns="columns" :data-source="data" :pagination="false" bordered>
            </a-table>
            <thead slot="footer" class="ant-table-thead">
                <tr>
                    <th style="width:300px" class="ant-table-row-cell-break-word"><span class="ant-table-header-column"><div><span class="ant-table-column-title">TOTAL</span><span class="ant-table-column-sorter"></span></div></span></th>
                    <th style="width:150px" class="ant-table-row-cell-last"><span class="ant-table-header-column"><div><span class="ant-table-column-title">945.82</span><span class="ant-table-column-sorter"></span></div></span></th>
                </tr>
            </thead>
            
            <a-button type="primary">Guardar Todo</a-button>
        </div>
    </div>
</template>
<script>
import moment from 'moment';
// import Repository from "../../repositories/RepositoryFactory";

const middlemanData = [
    {id:1, name: 'Sirila Crespo Rafael'},
    {id:2, name: 'Ramos Castilla Juan'},
    {id:3, name: 'Salas Urtegui Daniel'},
    {id:4, name: 'Auxiliar'},
    ] ;

const columns = [
  { title: 'CONCEPTO DE PAGO',dataIndex: 'payment_concept',key: 'payment_concept',width: 300},
  { title: 'MONTO S/.',dataIndex: 'amount',key: 'amount'},
];

const data = [
  { key: '1',payment_concept: 'Merced Conductiva',amount: 500},
  { key: '2',payment_concept: 'Ambulantes',amount: 200},
  { key: '3',payment_concept: 'Baja Policia',amount: 300},
  { key: '4',payment_concept: 'Taquilla',amount: 800},
  { key: '5',payment_concept: 'Parqueo',amount: 200},
  { key: '6',payment_concept: 'Derecho de Mesa',amount: 150},
  { key: '7',payment_concept: 'Derecho de Matanza',amount: 650},
  { key: '8',payment_concept: 'Extracción de Matanza',amount: 650},
];

const columns_merced = [
  { title: 'Mercado',dataIndex: 'market',key: 'market'},
  { title: 'Sector',dataIndex: 'sector',key: 'sector'},
  { title: 'Puesto',dataIndex: 'stand',key: 'stand'},
  { title: 'Tarifa',dataIndex: 'rate',key: 'rate'},
  { title: 'Conductor',dataIndex: 'driver',key: 'driver'},
  { title: 'Mes',dataIndex: 'month',key: 'month'},
  { title: 'Año',dataIndex: 'year',key: 'year'},
  { title: 'Monto a Liquidar',dataIndex: 'amount_settle',key: 'amount_settle'},
  { title: 'Seguimiento de Pagos',key: 'payment_tracking',scopedSlots: { customRender: "action" }},
];

const data_merced = [
  { key: '1',market: 'Mercado Modelo',sector: 'Cosmos',stand: 'C-20', rate: '1.00',driver: 'Dandy Scofield', month: 'Agosto', year: '2015', amount_settle: '5.0'},
];

export default {
    props:['clubid','format','isdisabled','report_activities'],
    data() {
        return {
           formData: {
                middleman_id: '',
                voucher_number: '',
            },
            middlemanData,
            data,
            data_merced,
            columns,
            columns_merced,
        };
    },
    mounted() {
    },
    methods: {
        onChangeFile(data){
            this.formData.file = data;
        },
         handleClick(event) {
            // If you don't want click extra trigger collapse, you can prevent this:
            // event.stopPropagation();
        },
        edit(data_id) {
           // console.log(data_id);
        },
        remove(data_id) {
           // console.log(data_id);
        },
        search() {
            
        }
    }
};
</script>
<style>

.content__title {
    font-size: .9rem;
}

.content__divider {
    margin: 5px 0;
}

.presentation-form-content {
    padding: 10px 0;
}

.ant-collapse-header {
    font-weight: bold;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
    float: left;
    margin-right: 5px;
}

.summary {
    width: 450px;
    margin: 0 auto;
    margin-top: 35px;
    text-align: center;
}

.summary__title {
    font-weight: bold;
}

.summary tr th {
    text-align: center;
}

.ant-table-footer {
    padding: 5px;
}

</style>
